
h1
	+font_title
	+css-lock(36,42,768,1200)
	line-height: 1.1
	&.h1-bigger
		+css-lock(36,64,768,1200)
h2
	margin-top: 0.8em
    margin-bottom: 0.3em
	+font_title
	+css-lock(24,36,768,1200)
	line-height: 43/36*1em

	.h2-wrapper_smaller &,
	&.h2-smaller
		margin-top: 1.4em
		margin-bottom: .3em
		font-size: 19px
		line-height: 25/19*1em
		+font-700
	small
		font-size: $fz-p2
		+font


h3
	margin-top: 0.8em
    margin-bottom: 0.3em
	+font_title
	+css-lock(20,24,768,1200)
	line-height: 29/24*1em
h4
	+font
	+css-lock(18,19,768,1200)
	line-height: 25/19*1em


html
	height: 100%

html
	font-size: $main-font-size
	line-height: $main-line-height


body
	margin: 0
	padding: 0
	color: $color-text
	background-color: $color-bg
	+font
	font-size: $main-font-size
	line-height: $main-line-height
	font-weight: $main-font-weight
	@extend %antialias
	width: 100%
	position: relative
	height: auto
	min-height: 100vh


img, svg
	max-width: 100%


svg
	fill: currentColor
	max-height: 100%

button, a
	cursor: pointer

a
	color: $color-link
	+font-700
	text-decoration: underline
	transition: $transition
	&:hover
		text-decoration: none

.pseudo-link
	color: $color-link
	text-decoration: underline

p
	margin-bottom: 1em

section
	margin-bottom: 3rem

.section_colored
	padding: 1px 2em
	border-left: 2px solid $color-secondary
	background-color: $color-secondary_light

.text-title
	+font-title
.ttu
	text-transform: uppercase
.layout
	position: relative
	display: flex
	flex-direction: column
	height: 100%
	&__header
		position: fixed
		z-index: 100
		width: 100%
		top: 0
		left: 0
	&__main
		padding-top: 80px
		flex-grow: 1
	&__footer
		flex-shrink: 0





.color-primary
    color: $color-primary
.color-primary_dark
    color: $color-primary_dark
.color-primary_light
    color: $color-primary_light

.color-secondary
    color: $color-secondary
.color-secondary_light
    color: $color-secondary_light
.color-secondary_light2
    color: $color-secondary_light2

.color-black
    color: $color-black
.color-gray
    color: $color-gray
.color-gray_light
    color: $color-gray_light
.color-red
    color: $color-red

.color-text
    color: $color-text
.color-white
    color: $color-white
.color-bg
    color: $color-bg
.color-link
    color: $color-link


.info
	margin: 0 5px
	display: inline-flex
	width: 15px
	height: 15px
	vertical-align: middle
	background-image: url(/assets/img/icons/info.svg)
	background-size: contain
	background-repeat: no-repeat
	background-position: center
	+hover
		cursor: pointer
	.sorting-table &
		padding: 8px
		display: inline


.info-block
	margin: 35px 0
	border-left: 2px solid $color-secondary
	background-color: $color-secondary_light
	font-size: $main-font-size
	&_quotes
		background-color: $color-secondary_light2
		.inner
			position: relative
			& > *
				position: relative
			&::before
				content: '“'
				position: absolute
				top: -11px
				left: 8px
				z-index: 0
				font-size: 120px
				line-height: 1
				color: $color-secondary_light

	&_inline-flex
		display: inline-flex
	.inner
		padding: 20px 30px
	.title
		margin-bottom: 10px
		font-weight: 700
		line-height: 25/14*1em
		+rmin(1023)
			max-width: 50%

	ul
		@extend %reset-list
		margin: 15px 0
		li
			margin-bottom: 15px

	&_discount
		display: flex
		position: relative
		.left
			padding: 35px 25px 25px
			flex: 1
		.right
			margin-left: auto
			display: flex
			flex-flow: column wrap
			+r(1023)
				position: absolute
				bottom: 0
				right: 0
				opacity: .3
			img
				margin-top: auto


.tooltip_templates
  display: none


.icon-check,
.icon-leaf
	fill: $color-primary
.icon-close
	fill: $color-red
.icon-snowflake,
.icon-link
	fill: $color-link

.aspect-youtube
	+aspect-ratio(560,315, true)
	iframe,
	video
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

iframe
	max-width: 100%
.contact-line
	padding: 25px 0px
	display: flex
	flex-flow: row wrap
	align-items: flex-start
	justify-content: space-around
	+rIn(768,1199)
		font-size: $main-font-size
	+rIn(768,1199)
    	--mainFz: 14px

	.color-gray
		margin-bottom: 5px
		display: block
	a
		color: $color-black
		text-decoration: none
		+r(767)
			&[href^="mailto"]
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
				max-width: 90%
				display: block
		&:hover
			text-decoration: underline
	.cl
		max-width: 230px
		@include rIn(768,1023)
			margin-bottom: 20px
			padding-left: 10px
			padding-right: 10px
			flex: 1 1 calc(25% - 10px)
		+r(767)
			margin-bottom: 15px
			flex: 1 1 50%
			max-width: 50%
			padding-left: 15px
		+r(330)
			flex: 1 1 100%
			max-width: 100%


.flags
	@extend %reset-list
	display: flex
	flex-flow: row wrap
	align-items: center
	li
		margin-right: 10px
		width: 25px
		height: auto


.iconed-text
	display: flex
	align-items: center
	flex-flow: row wrap
	.text
		padding-left: 20px
		flex: 1


.sticky-top
	position: sticky
	top: 80px
	z-index: 10

.lh-2
	line-height: 2

.checks-list
	margin-bottom: 40px
	li
		margin-bottom: 1rem
		.elem-icon
			line-height: inherit
			&::before
				top: 0.3em
	&_inside
		padding-left: 30px


.strike
	text-decoration: line-through


.simple-meter
	label,
	.label
		display: flex
		width: 100%
		position: relative
		align-items: center
	.meter
		flex: 1
		position: relative
		height: 5px
		margin-left: 15px
		background-color: $color-secondary_light
		span
			position: absolute
			height: 100%
			left: 0
			top: 0
			background-color: $color-secondary


svg
	&.icon
		&.icon_standart,
		&.icon-profits,
		&.icon-windmill,
		&.icon-delivery-truck,
		&.icon-tray,
		&.icon-dough,
		&.icon-chicken-2,
		&.icon-soup,
		&.icon-smoke,
		&.icon-comment,
		&.icon-waste,
		&.icon-diet_meat,
		&.icon-diet_vegetarian,
		&.icon-diet_organic,
		&.icon-diet_vegan,
		&.icon-diet_weight-loss,
		&.icon-diet_kosher
			width: 100%
			height: auto
			max-width: 40px
			max-height: 40px
		&_md
			max-width: 50px
			max-height: 50px
		&_xl
			width: 100%
			height: auto
			max-width: 75px
			max-height: 75px
			+r(1024)
				max-width: 50px
				max-height: 50px
		&_fill-secondary
			fill: $color-secondary


.company-logo
	&_md
		width: 210px
		img
			width: 100%


.clear-pseudo
	&::before,
	&::after
		content: none !important


.table-responsive
	+r(767)
		border: none


.remove-pseudo
	&::before,
	&::after
		content: none


.btn-promo-group
	display: inline-block
	.promo-up-btn
		border-top-right-radius: 15px
		font-size: $fz-p1
		font-weight: 500
		min-height: 50px
		width: 100%
		display: flex
		flex-flow: row wrap
		align-items: center
		justify-content: center
		line-height: 1.2
		& ~ .btn
			border-top-right-radius: 0px
		&_success
			background-color: $color-secondary_light2
			border: 1px solid rgba($color-secondary, 0.4)
			color: #63450f
		&_none
			background-color: #DEDEDE
			border: 1px solid #DEDEDE
			border-bottom-color: rgba($color-gray, .5)
			color: $color-gray


.img-white-info
	position: absolute
	display: inline-block
	min-width: 170px
	text-align: right
	bottom: -20px
	right: 25px
	background-color: white
	padding: 10px
	border-radius: 5px

.col-1-5
	flex: 1 1 100%
	max-width: 100%
	+rmin(1024)
		flex: 1 1 20%
		max-width: 20%
	+rIn(768,1023)
		flex: 1 1 33.3333%
		max-width: 33.3333%

.br-5
	border-radius: 5px


.inner-super-link
	position: relative
	a
		position: static
		&::after
			content: ''
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0

img[width]
	height: auto