---
title: 404
---
extends layouts/_layout
block content
    .nk-page404
        .container
            h1
                | Oops! That page can’t be found.
            .nk-page404__img
                +img('index/page-404','png','','alt')
            .nk-page404__bottom
                p.mb-5
                    | We are sorry you did not find what you were looking for. Please check out the&nbsp;
                    a(href="/") meal kit companies working in Ontario
                    | &nbsp;or click&nbsp;
                    a(href="https://mealkitscanada.ca/costs-and-cheapest-meal-kit/") here
                    | &nbsp;to read about meal kit costs. Or just go back to our&nbsp;
                    a(href="/") home page
                    |.
                .nk-page404__btns
                    a.btn.btn_lg.btn_blue-outline.btn_noshadow(href="https://mealkitscanada.ca/costs-and-cheapest-meal-kit/")
                        | Meal kit costs
                    a.btn.btn_lg.btn_blue.btn_noshadow(href="/")
                        | Ontario meal kits review
                    a.btn.btn_lg.btn_blue-outline.btn_noshadow(href="/")
                        | Home page