---
title: About us
---
extends layouts/_layout
block content
    .container.about
        .about__content
            section.whithout-hero
                h1
                    | About Us &amp; Contact Details
                p
                    | Hello, Fellow Hungry People!
                p
                    | This site started in 2016 as a food blog by Kyle Prevost, who enjoyed eating and journaling about his experiences with meal kits in Canada. Today we are a team of researchers who not only like to eat but also have a passion for collecting data, analyzing it, and sharing our findings with fellow Canadians who have an interest in meal kits. 
                p
                    | We’ve always enjoyed the eating aspect of food, much more than the whole cooking thing. While meal kits haven’t made us into 5-star chefs, they have allowed us—rookies in the kitchen—to make a wide variety of fresh, delicious, nutritious meals in only 30 minutes!
                p
                    | When we decided to try meal kits for the first time, we were looking for a solution to our dinnertime dilemma. We were very reluctant to take responsibility for planning a meal, shopping for ingredients, or do anything outside of our comfort zone. Meal kits have not only delivered dozens of excellent meals to our literal doorsteps, but they have also taught us the finer points of cooking certain types of food and really helped our ever-evolving quest to eat better.
                p
                    | After our meal kit epiphany, we decided to create a resource that explained what meal kits were and compared different options available throughout Canada. Part of creating the Ultimate Canadian Meal Kit Guide is that we had to eat a bunch of delicious food—not because we want you to understand—but in the name of accurate science-based food journalism!  
                p
                    | The potential problem was that not all of us have access to all of Canada’s meal kit options. As a result, we’ve created a team of reviewers to assist us in the building and updating of the current meal kit scene from coast-to-coast-to-coast. Check out our 
                    a(href="/hello-fresh-canada-review/") Hello Fresh Review 
                    | (the founder’s personal favorite food box subscription), 
                    a(href="/chefs-plate-review/") Chef’s Plate Review
                    |, and 
                    a(href="/goodfood-review/") Goodfood Review 
                    | for a look at the top three meal kit companies in Canada today.
                p
                    | Our goal statement is simple: We want to help Canadians make informed choices on the best meal kits for their taste buds, their wallets, and their precious time.
                .aspect-youtube.mb-3
                    iframe(width="100%" height="auto" src="https://www.youtube.com/embed/cuYLflMbSjU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
                p
                    | Any questions?  Drop me a line at {my first name}@mealkitscanada.ca and share your stories with me!
                a(href="/disclaimer/")
                    | Disclaimer can be found here

            include partials/comments

        .about__sidebar
            .about-form.box
                .about-form__title
                    | Contact form
                form
                    label.input-field
                        input(type="text" placeholder="Your Name")
                    label.input-field
                        input(type="text" placeholder="Your E-mail")
                    label.input-field
                        textarea(placeholder="Your Feedback Message")
                    label.input-field
                        input(type="submit" value="Submit")
