---
title: Will your health be determined by your genetics?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Will your health be determined by your genetics?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | Is your health going to be impacted by your nature (genetic markup) or nurture (your habits) to a larger degree? which this question doesn’t have a definite answer, and it heavily depends on the individual and his circumstances, it’s something worth wondering. After all, if it’s all about nature, then why bother adopting healthy habits? if it’s all about nurture, how can it be explained that many people who keep a strict diet and training regiment are die sooner than some who don’t?

                        p
                            | In this article we will try to address whether health is about genetics or nurture to our best ability.

                        .box.p-4.my-4
                            | Read more: 
                            a(href="http://comparednakits.com/the-truth-about-genetics-and-disease-is-it-nature-or-nurture/") is your health defined by your nature or nurture 
                            | on CompareDNAKits.com


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/will-your-health','png','','alt')

            p
                | BRCA mutations that lead to ovarian and breast cancers are the most known cancer mutation which the largest percentage of the female population testing for defects in them. In general, the prevalence of defects in these genes (BRCA1 and BRCA2)  is 0.1% among the general population, while the percent of women of who will go through breast cancer is 2% of the population. That means, that the vast majority of patients did not have BRCA mutations. Most of them will not have any known defects in other genes as well.
            ul.checks-list.checks-list_inside
                li
                    .elem-icon.elem-icon_good
                        | Some diseases, however, are purely genetic. This 
                        a(href="https://www.healthdirect.gov.au/genetic-disorders") list 
                        | demonstrates there are many birth defects which can occur before birth.
                li
                    .elem-icon.elem-icon_good
                        | Some diseases are a direct result of nurture. Diabetes type 2 is 
                        a(href="https://www.sentara.com/healthwellness/data/blogs/is-diabetes-hereditary-the-nature-vs-nurture-debate.aspx") associated 
                        | with obesity and is a direct result of it.
                li
                    .elem-icon.elem-icon_good
                        | Other diseases, we simply don’t know enough about. Parkinson’s disease is 
                        a(href="https://ghr.nlm.nih.gov/condition/parkinson-disease#inheritance") associated 
                        | with alterations in genes LRKK2 and SCNA, but the truth is that the inheritance pattern is unknown.
            p
                | The fact you have a disposition for a certain disease doesn’t mean that it will eventually turn into a disease, at all. 
                a(href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3821017/") Antioxidants 
                |, whose consumption falls under the “nurture” part of the equations, will fight DNA damage. Additoinally, here’s a concept called DNA methylation which essentially say that small methyl groups in the 
                a(href="https://en.wikipedia.org/wiki/DNA_methylation") DNA molecules 
                | can actively change its sequence – in other words, your DNA changes through the progress of your life – and what’s impacting it? truth, it’s all about nurture through nutrition, exercise, and sleep.



        // section
        section
            h2
                | Which food is best for my genetics?
            p
                |  One of the most important things you can consume is fiber. Most people, even in the richer parts of the globe, suffer from low levels of fiber, in spite of the fact it has been proven to be a direct way to prevent colon cancer and heart diseases. It has also been proved that fiber as a supplement is less effective than consuming it through food. Another important thing you should pay attention to is vitamins and minerals, which have shown direct significance towards reducing the chances autoimmune diseases.

            .row.justify-content-center
                .col-12.col-lg-11
                    .info-block
                        .inner
                            | If you are unable to cook yourself fresh food that contains all the nutritional elements which are important for your body, consider using 
                            a(href="https://mealkitscanada.ca/") meal kits
                            | which are built my nutrition experts.