---
title: Fresh Prep meal kit delivery service expands to Alberta
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart
            +icon('vs_cp1')
            +icon('vs_cp2')
            +icon('vs_cp3')
            +icon('vs_cp4')
            +icon('vs_gf1')
            h1.mb-2 Fresh Prep meal kit delivery service expands to Alberta
            .clearfix
                .block-float-right.d-none.d-lg-block.text-center.mb-3(style="width: 400px;")
                    +img('articles/contrib','jpg','','alt')
                    //- img(src=imgPath('articles/food-blogger.svg'), alt="")

                p #[a(href="https://www.freshprep.ca") Fresh Prep] is Vancouver’s homegrown meal kit delivery service and exists to deliver convenient and sustainable solutions to everyday food challenges.
                p Founded in 2015  by childhood friends Becky Brauer, Dhruv Sood and Husein Rahemtulla, Fresh Prep makes cooking easy by delivering pre-cut, pre-portioned ingredients to prepare fresh, quick and healthy meals to your door.
                p The meal delivery service is now expanding to Alberta, where we will continue to deliver meal kits made with love for food and the local community. The weekly menu consists of 10 meals with 5 vegetarian or vegan, and all ingredients come pre-cut and pre-portioned, eliminating many steps of the cooking process - making dinner time easier and quicker. Fresh Prep also offers a catalogue of Add-ons including quick ready to eat meals, salads, healthy snacks, juices and pantry staples.
                p From sourcing quality local goods, to delivering in reusable, recyclable and compostable packaging, we believe it’s possible to make convenient eating healthy and sustainable for the community we live in.
                p Currently, the meal delivery service company employs over 300 people in British Columbia and is constantly hiring. As part of its expansion to Alberta, Fresh Prep is opening a facility in Calgary, creating a boost to the local economy as well as an abundance of jobs and support for local Albertan businesses. Sustainability starts with suppliers; Fresh Prep supports those who use environmentally-friendly practices.


        // section
        section
            h2
                | Why Fresh Prep?
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('delivery-truck', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Local]
                        p Fresh Prep makes supporting local effortless, with over 75% of ingredients and Add-on items supplied by local companies.
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('care', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Sustainable]
                        p Ingredients are delivered in reusable, insulated cooler bags. Many recipes are delivered in the Zero Waste meal kit, to allow customers to enjoy a meal kit experience without the single-use plastic and waste.
            .box.mb-3.p-4
                .iconed-text.align-items-start
                    +icon('restraurant', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p #[strong Convenient]
                        p Fresh Prep makes it easy to eat a variety of delicious meals each week with the convenience of pre-chopped, pre-portioned ingredients, a variety of quick meals, salads, healthy snacks, and pantry staples.


        // section
        section
            h2
                | More than meal kits
            .info-block.mt-0
                .inner
                    p Fresh Prep’s Add-ons menu offers more options for breakfast, lunch, dinner, snacktime and dessert, keeping you fed all day long. Something delicious for everyone at the table, with new items added regularly. Developed in-house by the Fresh Prep culinary team, or carefully curated from local suppliers they love, including:
                    ul
                        li
                            .elem-icon.elem-icon_good
                                | Pie Junkie
                        li
                            .elem-icon.elem-icon_good
                                | Shef’s Fiery Kitchen
                        li
                            .elem-icon.elem-icon_good
                                | Turmeric
                    p Fresh Prep meal kits and Add-ons will be available for delivery in the following Alberta cities:
                    ul
                        li
                            .elem-icon.elem-icon_good
                                | Calgary
                        li
                            .elem-icon.elem-icon_good
                                | Edmonton
                        li
                            .elem-icon.elem-icon_good
                                | Red Deer


            .text-center
                a.btn.btn_primary.btn_lg(href="https://www.freshprep.ca/get-started" target=_blank rel="noindex nofollow")
                    | Back to the list of Meal kits coupons