---
title: Will Walmart or Amazon Start a Meal Kit Service in Canada?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Will Walmart or Amazon Start a Meal Kit Service in Canada?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | If you’ve seen the television spots or podcast advertisements for companies like Hello Fresh and Goodfood, then you might have wondered if heavy hitters like Walmart or Amazon were going to start a
                            a(href='https://mealkitscanada.ca/meal-kit-delivery/')  meal kit delivery service
                            | .
                        p
                            | Walmart and Amazon have started selling meal kits in the USA.  However, it’s important to note that the term “meal kits” can mean different things to different people.  For us here in Canada, Hello Fresh, Chefs Plate, and Goodfood have essentially defined the meal market as: 

                        ol.box-list-numbered
                            li.box
                                | Subscribe and enjoy a weekly box mailed to your home.
                            li.box
                                | Open box &amp; put the individual meal bags in your fridge.
                            li.box
                                | 30 minutes before supper, open your meal kit
                            li.box
                                | Chop/stir/bake/grill your delicious supper while 
                        p
                            |See our 
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                                | Hello Fresh Review
                            | , 
                            a(href='https://mealkitscanada.ca/chefs-plate-review/')
                                | Chefs Plate Review
                            | , and 
                            a(href='https://mealkitscanada.ca/goodfood-review/')
                                | Goodfood Review
                            | for more details about the 
                            a(href='https://mealkitscanada.ca/') best Canadian meal kits
                            | .


                        
                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/wallmart','png','','alt')



        // section
        section
            h2
                | What Does Walmart’s Meal Kit Service Look Like?
            p
                |  So far, Wal-Mart meal kits have only popped up in the USA – and don’t involve delivery to your house.  Even within that model, it can get a bit confusing as Wal-Mart has partnered with some existing
                a(href='https://mealkitscanada.ca/meal-kit-delivery/')
                    | meal kit delivery companies
                | such as Home Chef (not available in Canada) in addition to its own meal kits.
            p
                | Wal-Mart announced last year that they were going to be testing their meal kit produce in more than 2,000 locations.  The idea is that you can simply walk into the store and go to the deli section, or order online and pick it up later that day.  Their announcement stated that the global retailer would be focusing on three main niches within the meal kit world:

            .row.articles-inline-iconed-text.my-4
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('dough')
                        .text
                            p.mb-0
                                | Pre-portioned meals that require minimal cooking.
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('chicken-2')
                        .text
                            p.mb-0
                                | Ingredients that pair with the ever-popular classic rotisserie chicken.
                .col-12.col-md-4.mb-3
                    .iconed-text
                        +icon('soup')
                        .text
                            p.mb-0
                                | Ready-made dishes that just need to be heated up.


            p
                | A Walmart spokesperson went on the record in saying that, “We continue to expand our meals to go offering and customers can expect to enjoy some new menu options in the coming months.”  
            p
                | By looking at a wide variety of first-person accounts online, it appears that these options all fall under the “ready-made” option and are basically varieties of the “take home meal” that has been popping up in major grocers for several years now.
            p
                | Walmart meal kits are generally slightly cheaper than their meal kit competition in the USA – which makes sense given that there is no delivery cost to account for.  I’m actually surprised that they aren’t able to price their meals even lower given the scale that they operate on.
            p
                | Overall, I don’t think Walmart Canada’s meal kits are anything special, and are a long way from being a direct comparison to Hello Fresh and Chefs Plate.  It looks to me like they’re slightly expanding their rotisserie chicken-style meals, and using the term “meal kit” to drive to drive new customers. Personally, a massive part of the reason I love meal kits is the convenience to get them delivered to my house, and avoid shopping trips altogether!  Also, the wide variety of menus are vastly superior to what Walmart USA is putting on its shelves (hence their carrying a comparable company like Home Chef), so I would say it will be many years – if ever – before Walmart catches up to the rest of 
                a(href="") Canada’s meal kits
                |.
            p
                | If I were Hello Fresh or Goodfood, I’d be much more worried about…


        // section
        section 
            h2
                | Amazon Meal Kits – The Real Competition

            .row
                .col-12.col-lg-4.mb-3.text-center.order-lg-2
                    +img('articles/amazon','png','','alt')
                .col-12.col-lg-8
                    p
                        | If I was in charge of one of Canada’s meal kit delivery companies, I’d be most scared of a company that was the world leader is shipping logistics (getting stuff to your house FAST), and was quickly gaining experience in the world of groceries.
                    p
                        | Meet Amazon – the next big thing in… everything.
                    p
                        | While Amazon Canada does NOT currently stock or ship meal kits, it will likely launch some sort of grocery/meal kit hybrid at some point in the Great White North.
                    p
                        | In the last two years, the online retailer has purchased Whole Foods and has used that brand to launch their foray into meal kits.  At first they tested their service in three states, and recently announced that they planned to expand their meal kit offerings to more than a dozen states.  Clearly Amazon sees the potential that meal kits have in today’s time-strapped households that are willing to pay for convenience. You can pick up Amazon meal kits in Whole Foods stores and they are also available via AmazonFresh – But again, only in the USA.
                    p
                        | The reason that Amazon is such a scary competitor for Canada’s meal kits is that they have so much information on us as purchasers AND they have such a dominant role as THE company that delivers stuff to our homes.  IF Amazon decides to enter the meal kit market wholeheartedly, they will be major competitors.  
                    p
                        | I’m just not sure they will decide to go in that direction.  Amazon has so many moving parts that meal kits might be relatively “small potatoes” for them. (See what I did there!)
                    p
                        | We will keep this article updated if any new announcements are made, but it appears for the time being that Amazon meal kits and Walmart meal kits are at least a year or two away from coming to Canada.  
                