---
title: How Much Do Meal Kits Cost in Canada?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart
            .row
                .col-12.col-lg-9
                    h1.mb-2 How Much Do Meal Kits Cost in Canada?
                    .no-br
                        p When choosing a high-quality meal kit delivery service, it’s essential to make sure that the service is well-suited to your lifestyle and dietary preferences. However, most people who think about trying out meal kits also wonder about their cost. Everyone wants to eat delicious meals made from quality ingredients, but it’s not always easy to do so at an affordable price. This is why we’ve collected as much relevant information as possible about the prices of Canadian meal kits on this page.
                        p In this article, you will read about the factors that determine the cost of Canadian food delivery services, find out about shipping costs and taxes you will need to pay when ordering meal kit delivery in Canada, discover how meal kits compare to conventional grocery shopping and restaurant meals, and learn what the cheapest meal kit in Canada is.

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('articles/apple','png','','alt')


        // section
        section
            h2 Meal Kit Price Comparison
            p When choosing a meal kit delivery service, it’s crucial to understand how much you will be paying for it. You can use the tool below to see a detailed breakdown of all costs that go into meal kit subscription prices. For example, you can calculate the price of different meal kits depending on the number of recipes and servings in the box, see how much you will pay in total and per serving, compare how much shipping costs at each company, and more.

            //- .food-sub-sorting
            //-     +sortTable().sorting-table_v2


            .wrapper-sorting-table
                +sortTableT3()



        // section
        section
            h2 Who Are Meal Kits Good For?
            p As great as meal kits are, they are not for everyone and some people will get a lot more value out of them than others. In this section, we will explain who can benefit the most from getting a meal kit subscription service and help you figure out whether affordable meal kits are a good option for you.
            p We know that not everyone likes to cook. For some people, cooking is an entire experience that lets them show off their creativity in combining different flavors and textures. Others would rather spend an extra hour connecting with their partner, children, or pet, or simply taking a long bath. Most people are somewhere in the middle. If you are one of those people who doesn’t hate cooking but dislikes planning out your weekly meals, searching at length for recipes, and spending hours on grocery shopping, meal kits may be a great option for you.
            p A high-quality meal kit delivery service will solve many of your cooking problems, as you will get a chance to pick several delicious recipes from a pre-selected menu. Recipes used by meal kit companies are developed and selected by experienced chefs to ensure an amazing customer experience. Plus, all ingredients will arrive at your home pre-portioned and some companies even wash and cut them for you. This eliminates many of the more tedious and time-consuming chores that are typically associated with home cooking.
            p You will also benefit from ordering meal kits if you love trying new recipes and learning new cooking techniques, you enjoy feeding your family home-cooked meals every week, or you’re passionate about reducing the amount of food waste you create. Finally, affordable meal plans will also be perfect for people who want to spend less time cooking every night, as they allow you to get a delicious meal on the table in just 15 to 30 minutes.
            p Meal kits will be suitable for you if you:
            ul.list-4
                +blockIconText('dough') Want to eat a variety of foods
                +blockIconText('dough') Want to eat homemade meals
                +blockIconText('dough') Want to save time on meal planning
                +blockIconText('dough') Want to save time and gas on grocery shopping
                +blockIconText('dough') Want to try new recipes
                +blockIconText('dough') Want to get meals on the table quickly
                +blockIconText('dough') Want to reduce your household’s food waste
                +blockIconText('dough') Want to learn new cooking techniques
            p On the other hand, if you prefer researching or even creating new recipes, carefully picking out each piece of produce and cut of meat at the grocery store, and cooking complicated meals that require you to use multiple pans and elaborate cooking techniques every night, meal kits may not be a good option for you. Additionally, if you completely dislike cooking in general and would rather spend significant extra money to order take-out or go out to a restaurant every night, there’s a chance that you won’t enjoy meal kits as much.

        // section
        section
            h2 Factors That Influence Meal Kit Prices
            p The method used by meal kit companies to price their boxes depends on several factors, such as the number of meals and servings in a kit, the number of recipes in a plan you’re choosing meals from, and whether or not the recipe contains premium ingredients. We’ve decided to analyze how these factors influence the price per serving, with the goal of helping our readers understand how they can get the most value for their money.

            .row.mb-4.align-items-center
                .col-12.col-lg-7
                    h3 Relationship between the price per serving and the number of meals in a kit
                    p First, we analyzed the effect of the number of meals in one box on the price per serving. The results were close to what we anticipated: as you increase the number of recipes in a kit, the price per serving decreases. For example, if you purchase a box that contains only 1 recipe, you will pay $12.09 per serving, on average. But if you purchase a box with six or more, each serving will cost you only about $9.35. Three-recipe boxes were the only outlier, because on average they cost slightly more per serving than two-recipe boxes.
                .col-12.col-lg-5
                    .box
                        img.w-100(src="/assets/img/how-much-graphs/graph1.svg" width="443" height="244")


            .row.mb-4.align-items-center.flex-md-row-reverse
                .col-12.col-lg-7
                    h3 Relationship between the price per serving and the number of servings per meal
                    p We also analyzed how meal kit companies change their prices per serving depending on the number of people the box is meant for. For instance, if you purchase a box meant for 2 people, each recipe will have enough ingredients for 2 servings of that meal. Based on all the data we’ve analyzed, we can conclude that the more servings you purchase, the cheaper price per serving you will have to pay. If you order a box for just 1 or 2 people, you’ll have to pay an average of $11.46 per serving. However, adding additional servings will bring the average price per serving down to as low as $10.40.
                .col-12.col-lg-5
                    .box
                        img.w-100(src="/assets/img/how-much-graphs/graph2.svg" width="443" height="244")

            .row.mb-4.align-items-center
                .col-12.col-lg-7
                    h3 Relationship between the price per serving and the number of recipes offered in a plan
                    p Many meal kit companies offer customers a selection of different plans to choose meals from. For example, there are separate plans for vegetarians, vegans, pescatarians, etc. Each of these plans has a certain number of recipes you can choose from when putting together your weekly meal kit. For example, some plans have only 3 choices, while others have over 20 recipe options.
                    p We wanted to see how the number of choices you have in a plan influences the price of one serving. As you can see from the graph, there is really no clear correlation between the number of recipes in a plan and the price per serving. This could be due to the fact that there are other factors at play here, or there simply may not be enough plans to establish a clear-cut connection.
                .col-12.col-lg-5
                    .box
                        img.w-100(src="/assets/img/how-much-graphs/graph3.svg" width="443" height="377")
                        //- +newImg('how-much-graphs/graph3',{cls:'w-100', ext: 'jpg', retina: 1, lazy: 1, w: 458, h: 390})

            .info-block
                .inner
                    .iconed-text.align-items-start
                        +icon('omar', 'icon_fill-secondary icon_xl')
                        .text
                            h3.mt-0 Premium recipes
                            p Some boxes may also be more expensive because they include recipes that contain premium ingredients such as lobster, steak, seafood, etc. These recipes are perfect for self-identified foodies, people who want to celebrate a special occasion, or simply people who are bored with their current meal rotation and want to try something new. Naturally, premium meals cost more for the company to provide and customers will need to pay extra for them. The size of the surcharge will vary depending on the meal kit company, recipe type, and other factors.


        //section
        section
            h2 Cheapest Meal Kits in Canada
            p If you’re looking for the cheapest meal kit in Canada, you’re in the right place. Since many companies that carry out meal kit delivery in Canada are regional, the cheapest meal plans will vary across different parts of the country. Some of the cheapest meal kit companies, including HelloFresh and Chefs Plate, deliver their products to all provinces. Other meal kit companies have focused on one area of the country. Canadians who live in the western part of the country can take advantage of affordable meal plans from Fresh Prep, while people living on the east coast can enjoy cheap meal boxes by Cook It.

            +top-rating(5)

        //section
        section
            h2 Does the Cost of Meal Kits Include Taxes?
            .row
                .col-12.col-md-6.col-lg-7
                    p When calculating the cost of meal kits in Canada, an important consideration is that meal kits are subject to the same tax rules as other grocery products. Basically, what this means is that “essential” food and produce is tax-exempt (meaning you don’t pay taxes) whereas snack foods and non-essential grocery items do get taxes charged. However, the distinction between essential and non-essential foods can be unclear. Most meal kits are tax-free. The ones that do sell tax-bearing foods will either pay the tax themselves or lump it in with the “shipping and fees” surcharge.
                .col-12.col-md-6.col-lg-5
                    .info-block.mt-0
                        .inner
                            p All that to say, that when Hello Fresh tells me the price of the meal kit for the week (which I can easily skip with one click if I’m running a little low on moolah at the time) it is exactly the amount taken from my credit card – no sneaky fees or taxes tacked on!

        //section
        section
            h2 Meal kit shipping charges
            p Nobody likes to reach the final payment screen for an online purchase and then find out that they have to pay for shipping. However, knowing about the shipping costs upfront can help you find the most suitable meal kit in Canada for you and feel comfortable about its price. Fortunately, most meal kits in Canada offer free delivery, so you can save a few dollars by picking one of those companies.
            p Meanwhile, other companies do charge shipping costs, but not for every order. For example, Chefs Plate charges a delivery fee only if you’re buying their smallest two-person, two-recipe kit. Some companies, including HelloFresh, Fresh City Farms, and Rooted Meal Prep, always charge a fixed shipping fee. Finally, companies like Spud offer free shipping on orders over a certain amount. The general trend is that companies will incentivize people to buy more food in order to receive free shipping.

            h3 Advantages of meal kit delivery in rural areas
            p When you live in a small town or village, you gain some things but have to compromise on others. For instance, you may not be able to go to a large mall or fancy restaurant any time you want, and your local grocery store may not have a huge selection of exotic delicacies. However, this doesn’t mean that you can’t enjoy delicious food every week, as meal kit delivery in Canada can help you enjoy tasty and varied food in your home.

            .row
                mixin sBlock(icon)
                    .col-12.col-md-6.mb-4
                        .box.mb-4.px-3.pt-4.h-100
                            .iconed-text.align-items-start
                                +icon(icon, 'icon_fill-secondary icon_md icon_standart')
                                .text
                                    p.mb-0
                                        block

                +sBlock('path') The further you go from Canada’s big metro hubs, the more groceries cost, the slimmer the selection is, and the quicker the lack of freshness becomes an issue.
                +sBlock('home') This means that meal kits are more valuable to people in deep suburbs, exurbs, and especially the small towns and hamlets that hold 30%+ of Canada’s population. For the time being, though, only HelloFresh guarantees delivery to 95% of Canadians.
                +sBlock('delivery-truck2_inverted') While meal kits can solve many of these problems, you’ll have to check if certain meal kit companies deliver to your area. As meal kits become more popular across Canada, we believe that companies will expand their delivery grids.
                +sBlock('wallet') If you live in a more rural area and have been putting up with higher prices and lower grocery availability for a long time, it may be worth it to try experimenting with meal kits and learning about what they can offer.




            h3 Company recommended for rural residents
            +top-rating(2)

        //section
        section
            h2 Comparison of meal kit prices to grocery and restaurant meal costs
            .row
                .col-12.col-xl-7
                    p Most people have three choices when it comes to food: traditional home-cooked meals prepared with food from a grocery store, take-out or restaurant meals, and food prepared using a meal kit. When families contemplate which of these three options to choose, price is often one of the most important deciding factors. Here, we’ve calculated the average cost of meals prepared using grocery store food, meals from meal kits, and restaurant meals to help you make an informed decision.
                .col-12.col-xl-5
                    .box
                        img.w-100(src="/assets/img/how-much-graphs/graph4.svg" width="443" height="197")
                        //- +newImg('how-much-graphs/graph4',{cls:'w-100', ext: 'jpg', retina: 1, lazy: 1, w: 605, h: 270})


            ul.my-4
                li.box.mb-4.px-3.py-4
                    .iconed-text.align-items-start
                        +icon('grocery-prices', 'icon_fill-secondary icon_xl')
                        .text
                            h3.mt-0 Grocery prices
                            p To get an understanding of how much Canadians spend on groceries for one meal, we analyzed the results of an online Reddit survey on Canadian grocery spending. The survey was completed by 53 Canadians who provided their monthly grocery spending and the number of people in their household. Some respondents said that they spend very little on groceries because they rarely cook at home. Others reported very high grocery costs and noted that they included some restaurant meals in their total. After compiling and analyzing all the data, we’ve discovered that, on average, Canadians spend $257.16 per month on groceries for one person. However, 50% of responses were in the $175 - $300 range. If we assume that an average individual consumes 90 meals per month (3 meals per day for 30 days), the average cost of one serving made with grocery store ingredients is $2.86. 50% of people spend between $1.94 and $3.33 per serving per meal.

                li.box.mb-4.px-3.py-4
                    .iconed-text.align-items-start
                        +icon('dish-service', 'icon_fill-secondary icon_xl')
                        .text
                            h3.mt-0 Restaurant meal prices
                            p To get an accurate understanding of the average meal prices in Canadian restaurants, we conducted a meta-analysis of 8 studies that looked into prices at different cafes and restaurants in Canada. These 8 studies provided a total of 21 estimates of average restaurant prices. Meal price estimates ranged widely from as little as $6.00 to as much as $39 per meal. The average cost per meal was $18.90, but 50% of price estimates were between $11.00 and $23.50. Some factors that influenced these estimates included the meal type, restaurant class, location, and more. For instance, lunch meals were generally more expensive than breakfast but less expensive than dinner. Naturally, fast food establishments had the lowest prices while high-end restaurants offered the most expensive meals.

                li.box.mb-4.px-3.py-4
                    .iconed-text.align-items-start
                        +icon('box', 'icon_fill-secondary icon_xl')
                        .text
                            h3.mt-0 Meal kit prices
                            p Finally, we collected and analyzed up-to-date pricing information from 13 meal kit companies to calculate the average cost per serving. If a company charged customers for shipping separately, we factored that charge into the effective cost per serving. We used the prices for 200 combinations of meal plans, recipes, and servings in our calculations. Based on all of the data, the average cost of one meal kit serving is $10.80, but 50% of all combined prices fall between $9.80 and $12.02 per serving. Naturally, vegetarian meals were generally less expensive than recipes from meat and fish-based plans. The price per serving also becomes lower when you increase the number of meals and servings in a kit.

                li.box.mb-4.px-3.py-4
                    .iconed-text.align-items-start
                        +icon('light', 'icon_fill-secondary icon_xl')
                        .text
                            h3.mt-0 Conclusions
                            p  As you can see from our data, the cheapest option is food prepared with grocery store ingredients. Meal kit recipes cost a little more than grocery store food, but they are still significantly cheaper than restaurant meals. So if you often find yourself going to a restaurant or ordering food delivery because you don’t have time to cook in the evening, meal kits may be a great compromise to help reduce your food expenses while allowing your family to eat healthy, home-cooked meals every night.


        //section
        section
            h2 Meal kit coupons
            p If you’re looking for the cheapest meal kit delivery services in Canada, you definitely need to check out coupons offered by different companies, as these will usually allow you to get a great deal on your first few boxes. For instance, companies may offer a significant discount on your first order, or give you several free meals that will be added to your box when you use a certain promo code. The promo codes you will find below can help you try several cheap meal kits so you can figure out which one you like the most.

        include partials/coupon-table


        // section
        section
            h2 Case Study: Chefs Plate

            .mb-4
                .box.float-md-left.mr-md-4.mb-md-2(style="max-width: 450px")
                    img.w-100(src="/assets/img/how-much-graphs/graph5.svg" width="448" height="291")
                    //- +newImg('how-much-graphs/graph5',{cls:'w-100', ext: 'jpg', retina: 1, lazy: 1, w: 575, h: 374})

                p Let us consider Chefs Plate as a quick example. With Chefs Plate meal kits, the cost of each meal becomes lower when you increase the number of meals per week or the number of people the kit is meant for. For instance, if you order 2 meals per week for two people without using their promo, you will pay $11.50 per meal per person. This price includes shipping, which costs $6 per box when you order 2 meals for 2 people. Shipping is free for all other kits.
                p However, when you order more food, the per-serving price decreases. A kit for 2 people with 3-4 meals per week will cost $9.99 per meal. Alternatively, if you use the Chefs Plate promo to get 50% off your first order, you can get a box containing 2-4 meals per week for two people at $5.00 per meal.
                p If you order a kit for 4 people, you will pay $8.99 per meal when ordering 2-4 meals per week without a promo. New customers can get the same kit at $4.50 per meal with the promo code. In summary, ordering more portions and more meals can be an effective way to cut your per-serving costs, and combining this strategy with the promo codes can save you even more money.
                .text-center
                    a.btn.btn_primary.btn_lg(href="#") Visit Chefs Plate site


        // section
        section
            h2 Final Thoughts About the Cost of Meal Kit Delivery in Canada
            p Price is one of the most important factors people look at when selecting a meal kit. Naturally, we all want to get the best possible deal for our money. There are many things that influence the cost of meal kits. If you have a family with kids and want to get four or more recipes in your meal kit each week, you will pay less per serving than someone who lives alone or with a partner and only orders two-recipe boxes. Additionally, prices are affected by the inclusion of premium ingredients such as lobster and steak.
            p Beyond price comparisons within the world of meal kits, you are likely comparing the cost of meal kit delivery to the price of groceries or restaurant meals. Meal kits cost more than groceries but they are also much cheaper than food from a restaurant. Keep in mind that many meal kit companies offer special promos and discounts for new customers, so you can try meal kits without putting a strain on your budget. Many companies also provide free shipping and you generally don’t have to pay a tax on meal kit boxes.
            p All things considered, our answer to the question “Are meal kits worth it?” is a definitive yes. They are a great way to feed your family with tasty, affordable, and healthy meals without spending a ton of time on cooking and grocery shopping.
            .text-center
                a.btn.btn_primary.btn_lg(href="#") Cheapest meal kits in Canada