---
title: Meal kits during Coronavirus times
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            .row
                .col-12.col-lg-9
                    h1.mb-2 Meal kits during Coronavirus times
                    .no-br
                        p 
                            | Being stuck in-doors during lockdown has brought on various unintended consequences. Many are getting increasingly bored and anxious being alone with themselves all the time, whilst others are realising that as an introvert, the outside world slowing down has actually soothed their anxiety.
                        p
                            | What’s apparent though is that with most high street stores and restaurants closing, we’re being forced to rely on ourselves more for our food and entertainment. The Coronavirus pandemic has shined a light on how much most of us have been relying on eating out.
                        p
                            | These next few weeks or months are now the time to learn skills. There’s not much else to do, and the commercial world has recognised this. Normally costly services are now offering free courses, premium accounts for various productivity apps have become free, and so on.
                        p
                            | One thing that you can learn, and something that will always be free (ish), is how to cook better. Cooking delicious meals is something we all wish we could do, but many felt they don’t have time for. Well, now is the time. It’s great to look for skills that will boost your income, but what about your costs? Learning to cook is one of the largest life-changing skills that can result in tons of saved money.

                        

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('articles/covid','png','','alt')

        // section
        section
            h2
                | Leaning to cook — Where to start?
            p
                | If you’re looking to learn how to cook, then 
                a(href="https://mealkitscanada.ca/") meal kits
                |&nbsp; are a great place to start. Meal kits are essentially smart online grocery stores, where you order the meals you want to cook instead of individual items. The supplier themselves will send you the exact ingredients for the meal – and I mean exact.
            p
                | There’s no waste here. If your fish pie needs 2 garlics, you’re only getting 2 garlics. This goes for the herb seasonings too. It’s a super easy way to start cooking better because you can’t mess up the ingredients. Plus, they will send you the recipe. You’ll be amazed at what delicious meals you’re making and how easy it was.
            p
                | This is actually better than just clicking on 
                a(href="https://www.youtube.com/watch?v=zQm9Bk2bA_Q") Youtube videos
                |&nbsp; (we have our 
                a(href="https://www.youtube.com/watch?v=1XhpNYvFBjw") own channel too
                |!). Instead of watching someone cook something awesome, then have to go out and buy all the stuff for that one recipe (usually a bunch of herbs that you don’t have and will never use again), you can simply read a recipe. By deciding the meal you want to cook first, instead of choosing a tutorial on stuff you already have in stock, you will be more motivated.


        // section
        section
            h2
                | Are meal kits healthier and more ethical?
            p
                | It does help that most meal kit companies supply extremely fresh food. They usually have an emphasis on being an alternative to factory farmed, processed. This is mostly true, although there are of course implications that delivery has. The CO2 footprint isn’t as small as it could be, but we are in a time of global health pandemic right now with air pollution decreasing by the day – it’s justifiable to get your groceries delivered. Given that most of northern America and Canada drive to the shops anyway, it could arguably be more efficient for a courier to deliver everything in one go than for everyone to drive to the store independently.
            p
                a.btn.btn_primary.btn_noshadow.mr-3.mob-w-100.mb-3(href="/go/hellofresh" target='_blank' rel="noopener")
                    | Visit hellofresh website
                a.btn.btn_primary-outline.mob-w-100.mb-3(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                    | Read our Hello Fresh review
           
        // section
        section
            h2
                | Benefits of meal kits during the Coronavirus crisis
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('coronavirus', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong Spreading the virus
                        p
                            | Think about how many people you come into contact with when grocery shopping. You’re constantly squeezing past people in aisles, workers are stocking the shelves next to you, and you pay at the till where some scans each and every one of your items. If you’re on self-checkout, just think of the germs on the touch screen display.
                        p
                            | Meal kits avoid most of this. You don’t even need to answer the door to the courier, you can leave a note asking them to leave the box on your doorstep and walk away. There’s only the person that packed your food, but it’s likely they were doing it very quickly and with gloves on. This isn’t guaranteed, but there’s 
                            strong no doubt that going to the supermarket is more conducive to spreading the disease as opposed to meal kit delivery.
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('money', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong Save money &amp; ethics
                        p
                            | Given that there’s an imminent economic crash, as well as many being told not to go to work and earn money, it’s a good time to save money. In fact, we already are by not going out as much. Meal kits can be a great way to save money, as they force you to cook fresh ingredients instead of buying takeaways. What’s more is that you’re not buying an excessive amount.
                        p
                            | This isn’t only about not paying for stuff you don’t need, but about recognising that there’s going to be supply issues. Many vulnerable people cannot get their hands on essentials because they’re panic-bough out of stock. Meal kits help give people what they need, and reduce waste and stockpiling.
            .box.mb-3.p-3
                .iconed-text.align-items-start
                    +icon('infinite', 'icon_fill-secondary icon_standart icon_md')
                    .text
                        p
                            strong A lifetime skill
                        p
                            | Given that we finally have the time, this is a great time to learn one of life’s most important skills. Teach a man to fish, as they say, will prepare you for not only money-saving skills throughout your whole life, but it would also be the single biggest improvement to your health that you can make. Cardiovascular disease is the 
                            a(href="https://www.cdc.gov/heartdisease/facts.htm") biggest killer
                            |&nbsp; in the west, and food is at the heart of it. The years ahead of you will reap compounded results, and it’d be impossible to regret spending your time on.
