---
title: Are Meal Kits Greener – Creating Less Waste and Emissions?
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart 
            h1.mb-2 Are Meal Kits Greener – Creating Less Waste and Emissions?
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | The Environmental Impact of Meal Kits
                        p
                            | If you have ever purchased a meal kit, you likely did so for the health and convenience advantages meal kits provide. Compared to frozen meals or fast food, meal kits represent a much healthier, whole-foods option. Plus, having a box of ingredients delivered directly to your door definitely beats fighting the crowds at the grocery store.
                        p
                            | However, did you know that meal kits are also better for the environment?
                        p
                            | That’s right! According to a study from researchers at the University of Michigan, meal kits represent a significant decrease in environmental impacts compared to grocery shopping (in both the USA and Canada).

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/are-meal-kits-greener','png','','alt')

            
        // section
        section
            h2
                | The Study
            p
                |  According to Brent Heard and his colleges at the University of Michigan, many consumers are concerned about the amount of packaging used in meal kits. Compared to buying groceries in bulk at your local store, meal kits contain much more packaging. Within a meal kit, you are given a recipe-specific amount of each ingredient. While there is more packaging in meal kits, the researchers wanted to analyze the entire process used to create these kits.
            p
                | By comparing it to the process of buying groceries, the researchers found that this increase in packaging is largely offset by reductions in greenhouse gas emissions and decreased amounts of food waste generated by meal kits.
            p
                | Let’s look at each item in detail:

            .row
                .col-12.col-lg-6.mb-3
                    .box.box_h100.p-3
                        +icon('smoke','icon_md icon_fill-secondary')
                        p.mt-3
                            strong
                                | Greenhouse Gas Emissions
                        p
                            | When it comes to environmental impacts, greenhouse gas emissions are of utmost concern. Greenhouse gasses are currently flooding the atmosphere, raising the temperature of the globe significantly. While the production of plastic waste is still a concern, the researchers found a significant decrease in the release of greenhouse gases using meal kits.
                        p
                            | While this may come as a surprise, an analysis of the supply chain accounts for most of this difference. For instance, in one meal that was analyzed a decrease of over 30% was found using meal kits over the grocery store. Meal kits typically have drastically lower greenhouse emissions, because they skip an entire step in transportation.
                        p
                            | Grocery stores must get their produce from a distributor, which typically are transported in large refrigeration trucks. Meal kits, on the other hand, and delivered directly to your house from the distributor, and can use a more environmentally-friendly refrigeration pack to keep your box cold. Plus, you don’t have to drive to or from the grocery store, further reducing emissions. In all, this makes meal kits a much greener and environmentally conscious option!
                .col-12.col-lg-6.mb-3
                    .box.box_h100.p-3
                        +icon('waste','icon_md icon_fill-secondary')
                        p.mt-3
                            strong
                                | Food Waste
                        p
                            | Part of individually packing ingredients means a decrease in food waste. At the grocery store, you often have to buy more of an ingredient than will be used in any given recipe. This means that the rest of the ingredient often goes to waste. By considering this factor, the researchers were able to show that meal kits offer significantly less food waste compared to buying food at a grocery store.
                        p &nbsp;
                        p
                            | Further, the researchers found that food waste in grocery stores is much higher than that found in meal kit processing plants. Grocery stores must display fresh vegetables in an open-air setting, a feature which often causes food to go bad over time. Meal kit preparation facilities can better store and refrigerate food before processing, leading to less waste. Further, because of subscriptions to their plans, meal kit facilities can better anticipate the amount of food they need, leading to significantly less waste.
                        
        // section
        section
            h2
                | Other Meal Kit Advantages
            .row
                .col-12.col-lg-4.mb-3.text-center.order-lg-2
                    +img('articles/bag','png','','alt')
                .col-12.col-lg-8
                    p
                        | Besides being healthier for the environment, 
                        a(href='https://mealkitscanada.ca/') the best meal kits
                        |  are often better for your personal health. Compared to buying processed food, food from restaurants, or frozen foods, meal kits often contain fresh, whole-food ingredients. Science has shown that 
                        a(href='https://mealkitscanada.ca/the-importance-of-fresh-foods-vs-canned-and-frozen-food/') nutrients are significantly damaged by commercial food-processing techniques
                        | . Meal kits offer a simple and effective way to get fresh ingredients without having to go to the grocery store.

                    p
                        | Plus, even if you are a bad cook, meal kits come with easy-to-follow instructions for preparing each meal. Not only can anyone follow these recipes, but each meal kit also comes with all the ingredients you need. This includes small packages of seasonings and other items that you would typically have to buy in bulk at the store. For instance, if smoked paprika is not something you use on a regular basis, a meal kit will provide the perfect amount so none goes to waste. This is a great choice for consumers tired of their seasonings going stale on the shelf.


        // section
        section
            h2
                | Not Convinced?
            p
                | Try it for yourself! There are 
                a(href="https://mealkitscanada.ca/meal-kit-delivery/") deliveries all over Canada
                |! Compared to meal planning, grocery shopping, and trying to use bulk ingredients up, meal kits are an easy choice. There are now dozens of meal kit providers, offering various services. Some are suited to vegan diets, while others specialize in providing local foods at an affordable price. Try one out today to lower your environmental impact and get healthy, fresh ingredients!