---
title: Dinnertime
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 DinnrTime – The Great Social Startup that Never Made it
                    .no-br
                        p
                            | DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.
                        p
                            | In fact, DinnrTime was a smart startup that has identified the real desire and necessary in access to fresh and healthy food – the same thing nowadays&nbsp;
                            a(href='https://mealkitscanada.ca/') meal kit companies
                            |  and&nbsp;
                            a(href='https://mealkitscanada.ca/meal-kit-delivery/') prep meal deliveries
                            |  provide.
                        p
                            | The featured cook on DinnrTime’s website (dinnrtime.com) was&nbsp;
                            a(href='http://pattyjaviergomez.pressfolios.com/') Patty Javier Gomez
                            |  a well versed blogger and cook who continues contributing to the community (and is available for freelance writing!).

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/dinnertime','jpg','','alt')


        // section
        section
            h2
                | Here is what DinnrTime  wrote about Patty
            p
                | Patty is passionate about cooking nutritious food. As a Registered Holistic Nutritionist, she puts great care into the healthy and delicious meals she prepares. Patty is one of the very first Dinnrtime Chefs and has already begun sharing her inspired creations with food lovers in her neighbourhood.


        // section
        section
            h2
                | The concept of DinnrTime&nbsp;
                small.color-gray Taken from a failed&nbsp;
                    a(href="https://www.indiegogo.com/projects/dinnrtime-meal-sharing-community#/")
                        | IndieGoGo campaign
            p
                | The concept for DinnrTime was borne from a dilemma that we, and many other people, experience on a daily basis. After long days of work, sometimes you just don’t feel like cooking. Unfortunately, the most affordable and convenient options- fast food and mass produced frozen dinners- also happen to be the most unhealthy. At the same time, talented Home Chefs in smaller households are often forced to cook more than they need and are unable to reap the benefit of buying ingredients in larger quantities. The DinnrTime platform introduces the meal-sharing economy, so that everyone can eat healthier and more affordable home-cooked meals while reducing food waste. Our Values: DinnrTime.com is a local, social enterprise dedicated to making healthy, home-cooked meals more accessible, bringing communities together, reducing food waste, and reducing cost of living expenses.


        // section
        section
            h2
                | How did DinnrTime Fail
            p
                | The business model was pretty straightforward, a small commission taken out of each introduction between a customer and a home chef. Very fair and clear for both sides. So how come a smart startup in a growing business of fresh food delivery, in the pre-
                a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') HelloFresh
                |  era, failed? it may be that the market was not prepared for a revolutionary idea at this point in time, lacking resources or management, or personal issues that distracted the entrepreneurs.
