---
title: Disclaimer
---
extends layouts/_layout
block content
    .container
        section.whithout-hero.h2-wrapper_smaller.disclaimer-page
            h1
                | Disclaimer
            p
                | Disclaimer for website address: 
                span.pseudo-link http://mealkitscanada.com.
            h2 Affiliation
            p
                | We monetize our website through affiliating with meal kits providers. Hence, some of the links used on our website are 
                strong referral links that will generate income
                | . We feel this form of business monetiziation is a better alternative to incorporating distracting ads on our website.
            h2 Usage for any medical purpose
            p
                | We are not medical professional or nutrition specialists, and you should be aware that every person’s nutrition needs are unique to his or her condition. We recommend that if you suffer from a known medical issue, you should consult with a specialist before making any changes to your nutrition.
            h2 Cookies
            p
                | If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
            p
                | If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
            p
                | When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
            p
                | If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.
            p Additionally, we use cookies for Google Analytics.
            h2 Responsibility and fair usage
            p
                | We supply free information to readers but we do no provide any sort of advice, financial, legal, or otherwise. A user that will decide to use the information we have supplied for his decision making is doing so independently and we will not be held responsible for any consequences.
            
            h2.mb-3 What personal data we collect and why we collect it

            .box.box_iconed.mb-3
                .iconed-text
                    .pt-1
                        +icon('comment')
                    .text
                        h3.title Comments
                        p When visitors leave comments on the site we collect the data shown in the comments form, and also the visitor’s IP address and browser user agent string to help spam detection.
                        p An anonymized string created from your email address (also called a hash) may be provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the public in the context of your comment.

            .box.box_iconed.mb-3
                .iconed-text
                    .pt-1
                        +icon('picture')
                    .text
                        h3.title Media
                        p  If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.


            .box.box_iconed.mb-3
                .iconed-text
                    .pt-1
                        +icon('chat-option')
                    .text
                        h3.title Embedded content from other websites
                        p
                            | Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
                        p
                            | These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.
                    

            h2 How long we retain your data
            p
                | If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.
            p
                | For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.
            
            h2 What rights you have over your data
            p
                | If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.
            
            h2 Where we send your data
            p Visitor comments may be checked through an automated spam detection service.

