---
title: Elems
---
extends layouts/_layout
block content
    .container
        section
            h2
                | Plans table
            p
                | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore quidem mollitia, molestias nobis explicabo odio optio esse ea quasi veniam obcaecati minus dolorum quam tenetur fuga illo vitae! Dolor, aperiam.

            .plan-tables
                .plan-tables__item.pti
                    .pti__head.pti__head_left
                        a.company-logo__wrapper(href="#")
                            figure.company-logo
                                +img('logos/logo_chefs-plate','png','','alt')
                        .rating
                            span MKC rating
                            strong.color-secondary 98.2%
                        a.pti__company-link.pti__company-link_desktop(href="#") Hello Fresh Review
                    .pti__head.pti__head_right
                        .pti__promo.pti__promo_description
                            strong
                                span Promotion&nbsp;
                                span.color-primary $65 off
                        .pti__promo.pti__promo_code
                            span
                                | Promo code:&nbsp;
                            strong AFF65
                    .pti__col.pti__col_1
                        .pti__plan
                            .plan-name
                                | Quick &amp; Easy Plan
                            .plan-description
                                | Select up to four quick and easy recipes out of 22 meals each week
                    .pti__col.pti__col_2
                        table.pti__table
                            tr
                                th
                                    | Recipes per week
                                td
                                    .icons-line
                                        +icon('recipe')
                                        +icon('recipe')
                                        +icon('recipe')
                            tr
                                th
                                    | Number of people
                                td
                                    .icons-line
                                        +icon('man')
                                        +icon('man')
                            tr
                                th
                                    | Dishes in menu
                                td
                                    | 22
                    .pti__col.pti__col_3
                        table.pti__table
                            tr
                                th
                                    | Price / serving
                                td
                                    | $11.49
                            tr
                                th
                                    | Shipping
                                td
                                    | $9.99
                            tr
                                th
                                    | Price / weekly
                                td
                                    | $78.93
                    .pti__col.pti__col_4
                        a.pti__company-link.pti__company-link_mobile(href="#") Hello Fresh Review
                        a.btn.btn_primary.btn_lg(href="#")
                            | Visit Site
                .plan-tables__item.pti
                    .pti__head.pti__head_left
                        a.company-logo__wrapper(href="#")
                            figure.company-logo
                                +img('logos/logo_chefs-plate','png','','alt')
                        .rating
                            span MKC rating
                            strong.color-secondary 98.2%
                        a.pti__company-link.pti__company-link_desktop(href="#") Hello Fresh Review
                    .pti__head.pti__head_right
                        .pti__promo.pti__promo_description
                            strong
                                span Promotion&nbsp;
                                span.color-primary $65 off
                        .pti__promo.pti__promo_code
                            span
                                | Promo code:&nbsp;
                            strong AFF65
                    .pti__col.pti__col_1
                        .pti__plan
                            .plan-name
                                | Quick &amp; Easy Plan
                            .plan-description
                                | Select up to four quick and easy recipes out of 22 meals each week
                    .pti__col.pti__col_2
                        table.pti__table
                            tr
                                th
                                    | Recipes per week
                                td
                                    .icons-line
                                        +icon('recipe')
                                        +icon('recipe')
                                        +icon('recipe')
                            tr
                                th
                                    | Number of people
                                td
                                    .icons-line
                                        +icon('man')
                                        +icon('man')
                            tr
                                th
                                    | Dishes in menu
                                td
                                    | 22
                    .pti__col.pti__col_3
                        table.pti__table
                            tr
                                th
                                    | Price / serving
                                td
                                    | $11.49
                            tr
                                th
                                    | Shipping
                                td
                                    | $9.99
                            tr
                                th
                                    | Price / weekly
                                td
                                    | $78.93
                    .pti__col.pti__col_4
                        a.pti__company-link.pti__company-link_mobile(href="#") Hello Fresh Review
                        a.btn.btn_primary.btn_lg(href="#")
                            | Visit Site


