---
title: Best Organic Meal Kits in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            h1.mb-2 Introduction
            .clearfix
                .block-float-right.d-none.d-lg-block.text-center.min-w-400
                    img(src=imgPath('articles/food-blogger.svg'), alt="")
                .no-br
                    p In the modern era, eating food and surfing the Internet are two universal human traits. It therefore makes sense that in recent years, food blogging has grown from a niche hobby for culinary enthusiasts into a multi-million dollar industry. It doesn’t take much searching to find a food blog on the web, but it does take a lot of work to find the best food blogs on the web.
                    p Some blogs are made by food blogger beginners with lots of passion but less experience, while other blogs are run by true food blogger pros. We also know that food blogger recipes can be a great source of inspiration for future meals, but it can be hard to wade through all the options and find the very best food bloggers of Canada.
                    p To that end, MealKitsCanada has compiled the top ten Canadian food bloggers for your perusal. These range from simple recipe swapping to more advanced culinary pursuits like food tourism. Food bloggers are a diverse bunch with a wide variety of tastes, including vegan, vegetarian, and pescatarian diets as well as keto, paleo, low-carb, Mediterranean, and more.
                    p Whether you’re an aspiring professional chef or simply someone who likes to try new dishes for fun, there is a food blog out there for you. Read below to learn more about the ten best Canadian food bloggers.


        -
            function toPath(name){
                return '/assets/img/food-bloggers/' + name.replace(/ /g, '_')
            }
        -
            var bloggers = [
                {
                    name: 'Angela Liddon',
                    nik: 'Oh She Glows',
                    link: 'https://ohsheglows.com/',
                    socials: [387300,639500,78900],
                    text: 'This mouthwatering food blog was born when founder Barry Parsons decided to take the list of increasingly in-demand original recipes on his computer and publish them in a food blog format for his friends to access. When an ankle surgery left Barry unable to work at his regular job, he decided to create Rock Recipes, which has since grown into a powerhouse brand with several best-selling cookbooks and a popular newsletter. The blog includes a mix of hearty entrees and sweet desserts that cater to any taste. Rock Recipes is unique for its Newfoundland-inspired traditional desserts and seafood dishes. Some of Barry’s best snack recipes include Montreal Steak Spice Refrigerator Pickles, Strawberry Crumble, and Chocolate Cherry Oatmeal Cookies.'
                },
                {
                    name: 'Taylor Stinson',
                    nik: 'The Girl On Bloor',
                    link: 'https://thegirlonbloor.com/',
                    socials: [58200,60600,9700],
                    text: 'This fitness-oriented recipe blog is targeted at busy professionals struggling with finding the time to eat healthy. The Girl On Bloor is run by Taylor Stinson, who shares that she has struggled with weight loss in the past but started the blog to share healthy and easy-to-make recipes for people who are always on the go. Taylor organizes her recipes by method, diet, protein, holiday, and course, making it easy to search the blog for the exact recipes you want to see. The Girl On Bloor lists extensive meal prep options and other easy-prep, easy-cleanup meals like her Creamy Basic Chicken Skillet and her Instant Pot Cilantro Lime Pulled Chicken Tacos. In addition, Taylor shares clever techniques for making affordable, homemade versions of popular restaurant beverages, such as her Vanilla Sweet Cream Cold Brew Starbucks Copycat drink.'
                },
                {
                    name: 'Stacie Vaughan',
                    nik: 'Simply Stacie',
                    link: 'https://www.simplystacie.net/',
                    socials: [214099,16700,65900],
                    text: 'This photography-centered food blog, managed by Stacie Vaughan, pairs Stacie’s passion for great food with her love of photography. Simply Stacie includes a broad assortment of desserts such as Brownie Bottom Cheesecake, but also features lunch and dinner options like Busy Day Soup and Oven Baked Chicken Wings. Stacie shares that her food philosophy is built on creativity and variety that allows her whole family to enjoy delicious home-cooked meals together. The blog website also offers a free ebook with the very best Simply Stacie dishes, as well as free printable recipes for kitchen use.'
                },
                {
                    name: 'Ashley Fehr',
                    nik: 'The Recipe Rebel',
                    link: 'https://www.thereciperebel.com/',
                    socials: [1400000,164000,3092],
                    text: 'The Recipe Rebel, created by Ashley Fehr, is dedicated to challenging preconceived notions about what food should look like and fusing family traditions with new culinary innovations. Ashley adapts the recipes based on how much time you have available to cook, so The Recipe Rebel includes techniques for both quick-and-easy methods like instant pots and air fryers, but also worth-the-wait style dishes that can be made with a slow cooker. Some of our favorite examples include the Air Fryer Salmon, Baked Chicken Caprese, and Taco Mac recipes, each of which offer tips and tricks to adapt the meal to your needs.'
                },
                {
                    name: 'Barry Parsons',
                    nik: 'Rock Recipes',
                    link: 'https://www.rockrecipes.com/',
                    socials: [154700,10900,28500],
                    text: 'This mouthwatering food blog was born when founder Barry Parsons decided to take the list of increasingly in-demand original recipes on his computer and publish them in a food blog format for his friends to access. When an ankle surgery left Barry unable to work at his regular job, he decided to create Rock Recipes, which has since grown into a powerhouse brand with several best-selling cookbooks and a popular newsletter. The blog includes a mix of hearty entrees and sweet desserts that cater to any taste. Rock Recipes is unique for its Newfoundland-inspired traditional desserts and seafood dishes. Some of Barry’s best snack recipes include Montreal Steak Spice Refrigerator Pickles, Strawberry Crumble, and Chocolate Cherry Oatmeal Cookies.'
                },
                {
                    name: 'Aimee Wimbush-Bourque',
                    nik: 'Simple Bites',
                    link: 'https://simplebites.net/',
                    socials: [40900,37600,14400],
                    text: 'This family-oriented, environmentally-conscious food blog features the recipes and culinary experiences of Aimée Wimbush-Bourque. Aimée shares her family’s passion for urban homesteading and other living-off-the-land organic food practices. Simple Bites includes easy-to-make recipes that dedicate special attention to cooking with the whole family, with pages like Simple Recipes Kids Can Make (For Mom). Beyond her blog, Aimée has published two cookbooks that promote healthy cooking habits. Simple Bites mixes modern conveniences with traditional food-making techniques to create the best possible culinary experiences. Enjoy nutritious dishes like Aimée’s Spiced Taco Beef with Beans and Quinoa, or read through recipe collections like The Best Asparagus Recipes to learn how to take your healthy eating to the next level.'
                },
                {
                    name: 'Joanna Cismaru',
                    nik: 'Jo Cooks',
                    link: 'https://www.jocooks.com/',
                    socials: [835000,224000,2081],
                    text: 'Jo Cooks was created by Joanna Cismaru, a self-taught food blogger who’s passionate about exploring new recipes and sharing her discoveries with the world. This blog features a diverse array of yummy desserts like Homemade Bounty Bars, and also boasts a wide assortment of entrees, including new spins on old classics like Caesar Salad. You’ll also note some uniquely Canadian recipes like the Halifax Donair for that special local flavor. If you’re looking for a paper copy of some of these delicious treats, look no further than The Big Book of Jo’s Quick & Easy Meals which features 200 of the best recipes from Jo Cooks.'
                },
                {
                    name: 'Ayngelina',
                    nik: 'Bacon is Magic',
                    link: 'https://www.baconismagic.ca/',
                    socials: [22935,25000,37200],
                    text: 'Bacon is Magic is an international food blog managed by Ayngelina, whose passion is travelling to new and exotic places for an authentic culinary experience. If you’ve always wanted to travel and experience new cultures but certain countries and cuisines have forever been out of reach, here is your chance to fix that. Travel around the world from your own kitchen and enjoy Nicaraguan desserts and Ecuadorian drinks, then come home and try new adaptations on Canadian favorites like pickled ramps. Bacon is Magic is part travel blog and part food blog, but above all it’s dedicated to helping its readers explore different countries’ cultures by eating the very same food that the locals do. '
                },
                {
                    name: 'Meghan Telpner',
                    nik: 'MeghanTelpner',
                    link: 'http://meghantelpner.com/blog',
                    socials: [31700,26600,13600],
                    text: 'Meghan Telpner’s eponymous blog is dedicated to holistic healthy living. While the core of the blog is organic food recipes like Paleo Turkey Lettuce Cups, Meghan also writes about business, beauty care, meditation, and general life advice gathered from her own experiences. Indeed, Meghan has furthered her nutritionist career by founding the Academy of Culinary Nutrition to promote healthy eating. Meghan’s view on food expands beyond the kitchen and into the garden and wilderness, with articles like Best Wild Foods: Guide to Harvesting and Preserving. Finally, Meghan’s blog is committed to promoting family-friendly eating with recipes like Best Toddler (and Parent!) Approved Gluten-Free Paleo Zucchini Muffins.'
                },
                {
                    name: 'Julie Van Rosendaal',
                    nik: 'Dinner With Julie',
                    link: 'https://www.dinnerwithjulie.com/',
                    socials: [20000,40200,29500],
                    text: 'This artsy food blog is run by Julie Van Rosendaal, a culinary professional with decades of experience in cooking, baking, catering, and even teaching others about food by being a regular speaker on the Calgary Eyeopener radioshow. Julie is a passionate researcher of home food and the culture of families and communities making food to share with each other. Her most recent cookbook is titled Dirty Food: Sticky, Saucy, Gooey, Crumbly, Messy, Shareable and is available online now. Dinner with Julie is a veritable gold mine of globally sourced recipes for breakfast, lunch, dinner, and everything in between. Julie even runs a podcast called Crispy Bits where she partners with various guests to discuss the art and science of cooking.'
                },
            ]

        section
            ul.blogger-list
                each item in bloggers
                    li.box.blogger-list__item.bl-item
                        .bl-item__header
                            .left
                                .bl-item__blogger
                                    .bl-item__blogger-avatar
                                        +img(toPath(item.name).replace('/assets/img/','') + '/avatar', 'png', '', item.nik)
                                    .bl-item__blogger-text
                                        a.bl-item__blogger-nik(href!=item.link target=_blank rel="nofollow")!= item.nik
                                        i.bl-item__blogger-name!= 'by ' + item.name
                            .right
                                ul.bl-item__socials
                                    each socItem, i in item.socials
                                        li
                                            if i === 0
                                                img(src="/assets/img/food-bloggers/fb.svg", alt="")
                                                span.count!=socItem
                                            if i === 1
                                                img(src="/assets/img/food-bloggers/insta.svg", alt="")
                                                span.count!=socItem
                                            if i === 2
                                                img(src="/assets/img/food-bloggers/tw.svg", alt="")
                                                span.count!=socItem
                        .bl-item__body
                            p!=item.text
                        .bl-item__footer
                            -
                                var x = 1
                            while x <= 10
                                .img-wrapper
                                    img(src!=toPath(item.name) + '/dish_' + x + '.jpg', alt="")
                                - x++






        section
            h2 Conclusion
            p In compiling this list, we conducted a detailed statistical analysis of every blog’s web traffic and social media presence. We have scoured the Internet for these food blogger names to check that we didn’t miss a single one. We have analyzed food bloggers on Instagram, Facebook, and Twitter as well as regular food blogger websites. Even food blogger hashtags have not escaped our attention as we looked to see which food bloggers in Canada have been gaining the most traction. This resulted in a carefully considered list that looks at blogs from several platforms, not just one single source. We made sure to include a mix of well-established Canadian food blogs and more up-and-coming blogs that have recently been heating up.
            p If one or more of these food bloggers have piqued your interest, we’re happy that we were able to help connect you to them. If none of these Canadian food bloggers match your style or preferences, no worries—but be sure to check back soon, because our rankings are dynamic and we are always on the lookout for new and exciting food bloggers. In our experience, it can be extra special to keep up with a food blogger in your own city, and we’ve identified food bloggers out of Toronto, Vancouver, Calgary, Halifax, and more. You can even start your own food blog to share your culinary ideas and experiences with the rest of the world.


