---
title: Food subscription boxes
---
extends layouts/_layout
block content
    .container.foodbox__wrapper
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Best Food Subscription Boxes 2020
                    .no-br
                        p
                            | Welcome to Meal Kits Canada, where we review and compare the wide array of meal kits in Canada, with the intent of helping you decide which is the best meal kit delivery service for you. We have enjoyed tasting meal kits from coast-to-coast (it’s a tough job, but someone had to do it!) and have decided to rate the meal kit contenders in the areas of taste and freshness, the diversity of meals on the menu, the ease of cooking, clarity of recipe directions, and finally, a compilation of the company’s reputation from a wide variety of online meal kit reviews and interviews, plus our own consumer experiences.
                        p
                            | We believe meal kit deliveries can help you maintain a healthy lifestyle with less time and effort than ever before. Our exclusive promo codes make it cheaper than ever to try one (or several) of Canada’s leading meal kit delivery services and to find out if removing the constant burden of “What’s for supper?” is worth it for you!


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('index/hero','png','','alt')


        // section
        section.mb-5
            h2
                | Top Three Canadian Food Subscription Boxes
            style.
                /*chefs plate style*/
                .top-3 .ptp-plan-bg-chef::after {
                    background-image: url(https://mealkitscanada.ca/assets/img/logos/logo_chefs-plate.png);
                }
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_chefs .ptp-button::before{
                    content: '50% OFF this \0a and next week!';
                }
                /*end chefs plate style*/


                /*hello fresh style*/
                .top-3 .ptp-plan-bg-hf::after {
                    background-image: url(https://mealkitscanada.ca/wp-content/uploads/company/logo/1_logo_hello-fresh_2021_4_1_hello-fresh.svg);
                }
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_hf .ptp-button::before{
                    content: 'Get 50% Off across \0a your first 3 Orders';
                }
                /*end fresh style*/


                /*freshprep style*/
                .top-3 .ptp-plan-bg-gf::after {
                    background-image: url(https://mealkitscanada.ca/wp-content/uploads/company/logo/7_logo_freshprep_7_logo_freshprep.svg);
                }
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_gf .ptp-button::before{
                    content: '3 free meals, \0aup to 75% value';
                }
                /*end freshprep style*/


                /*cook it style*/
                .top-3 .ptp-plan-bg-ct::after {
                    background-image: url(https://mealkitscanada.ca/wp-content/uploads/company/logo/21_logo_CookIt_21_logo_CookIt.svg);
                }
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_ct .ptp-button::before{
                    content: 'Get 50% Off, \0aup to 75% value';
                }
                /*end cook it style*/

            +top3()
            +top3('cookit')
            p
                | There are over a dozen food subscription box companies in Canada—but there are three large providers that dominate the industry right now. They are Hellofresh, Chef’s Plate, and Goodfood. Here’s our current comparison of how “The Big 3” stack up against some of their regional competition.
            p
                | Check out our Hello Fresh Review, Chef’s Plate Review, and Goodfood Review for a more in-depth look at each of these services.

        // section
        section.mb-5
            h2
                | Who Are We?
            .row
                .col-12.col-md-6.col-lg-7
                    p
                        | We are a team of researchers who go above and beyond the simple listings of promotional materials. Our goal is to provide you with objective information about monthly food subscription boxes in Canada. For this purpose, not only do we try all the subscription boxes ourselves to make our own opinion and share personal experiences, but we also collect and analyze data about the companies. We check their credibility and reputation, plan availability, meal variety, and many other useful details that would help you find the best food subscription boxes for you and your family.

                .col-12.col-md-6.col-lg-5
                    +img('index/who-are-we','jpg','','alt')

        // section
        section.mb-5
            h2
                | How Much Do Food Subscription Boxes Cost In Canada?
            p
                | As you can see from the chart below, food subscription boxes are not absolutely the cheapest way to purchase basic groceries. It makes sense when you think about the cost of shipping a box to your house.

            .food-sub-sorting
                include partials/sorting-table_fs

            p
                | The real question that you should probably ask yourself is not how much food subscription boxes cost, but rather, are you getting a good value deal for your money?

        // section
        section.advantages.mb-5
            .row
                .col-12.col-md-8.col-lg-9
                    h2.mb-4.mt-0
                        | Consider the following benefits that we were willing to pay a bit more for:
                    ul.advantages__list
                        li
                            .iconed-text
                                img(src=imgPath('icons/timer.svg'), alt="")
                                .text
                                    p
                                        | Peace of mind. You will always know what’s for dinner. You will need to plan your menu once a week with a few clicks, or you can have the same meals each week if you really like them.
                        li
                            .iconed-text
                                img(src=imgPath('icons/money.svg'), alt="")
                                .text
                                    p
                                        | Saving time. You will not have to go grocery shopping for your dinner anymore. Everything will be planned, measured, organized, and shipped to you based on your preferences.
                        li
                            .iconed-text
                                img(src=imgPath('icons/pizza.svg'), alt="")
                                .text
                                    p
                                        | Saving space. You won’t need to store any additional food in your fridge or pantry, except maybe for snacks. All food subscription boxes in Canada ship you just enough food per serving and will replenish your supply weekly.
                        li
                            .iconed-text
                                img(src=imgPath('icons/dishe.svg'), alt="")
                                .text
                                    p
                                        | Saving the planet. Since you are not driving to the store, you are saving gas and reducing air pollution. Most monthly food subscription boxes in Canada are recyclable, their ice packs are reusable, and food waste is drastically reduced since you are not buying more groceries than you need.
                .col-12.col-md-4.col-lg-3.d-none.d-md-block.text-center
                    +img('food-sub/phone','png','','alt')

                .col-12
                    .pl-4
                        // begin info-block
                        .info-block.mt-0
                            .inner
                                p
                                    | When you consider all the factors, food subscription boxes in Canada give you a pretty good bang for your buck. Depending on what you’re looking for, the cost of your subscription food box will range from $5-$13 per serving. The variables being how many meals you ordered, if you prefer vegetarian, and what company you choose to go with.

            p
                | While there is an obvious convenience factor at play for all Canadians, I’ve found that friends that live in suburban/exurban and rural communities get the most value for their money when it comes to food boxes because the costs of produce are already much higher in those areas, plus you often can’t find many of the ingredients that an inventive meal kit recipe might include!



        // section
        section.mb-5
            h2
                | Getting Started With a Food Subscription Box
            .row
                .col-12.col-md-4.col-lg-3
                    +img('food-sub/delivery','png','','alt')

                .col-12.col-md-8.col-lg-9
                    p
                        | As one might expect from app-based companies, their sign up process is simple. You hook a credit card up (like any other subscription box service), and you’re good to go.
                    p
                        | Depending on the meal kit company, you’re likely to have the option of a two-person meal option and a four-person “family size.” There will usually be a pool of 5-8 options each week that you can choose 2-4 meals from. Your food subscription box will show up each week and have the ingredients for each meal pre-portioned in each bag for you. Some meal kit providers assume that you have access to common ingredients such as sugar, oil, and salt. The rest of what you need to cook the meal, including all spices, will come in individual packages as seen below. We have yet to receive produce that was not fresh after nine months of opening our food boxes. The most negative thing that we’ve had occur is that our basil slightly froze when it was  -45 outside this past winter—but I’m willing to live with that since it was on our doorstep for 5+ hours that day!
                    p
                        | Each week you’ll receive some version of a recipe card that is virtually dummy-proof in your food subscription box, along with a fully insulated and cooled parcel full of delicious food.

        // section
        section.expirience.mb-5
            h2
                | Why My Family Loves Our Food Subscription Box: Personal Experience
            .expirience__inner
                ul.expirience__list
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/bread.svg'), alt="")
                            .text
                                p
                                    | It’s FREE to try! The only thing better than sliced bread? FREE sliced bread!
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/carrot.svg'), alt="")
                            .text
                                p
                                    | Guaranteed fresh produce. While all of our meals have been fresh, we’ve been especially impressed by the quality cuts of meat.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/cart.svg'), alt="")
                            .text
                                p
                                    | Far fewer trips to the grocery store—a chore that just seems infinitely harder at the end of a workday!
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/wallet.svg'), alt="")
                            .text
                                p
                                    | Less wasted food, less ordering in, and fewer restaurant visits means MORE money in our pocket and less guilt!
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/yes.svg'), alt="")
                            .text
                                p
                                    | We easily say “yes” to new foods that we'd likely try anyway if we went through the time-consuming process of looking up recipes.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/plan.svg'), alt="")
                            .text
                                p
                                    | Planning the next week’s meals takes five minutes or less with a super easy-to-use app.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/washing.svg'), alt="")
                            .text
                                p
                                    | We’re paying for “Intro to Cooking 101,” and then followup advanced cooking classes. If you want some new ideas on how to combine ingredients, or never really understood why you sear something before baking it, then use your food subscription box recipes as your textbook to a better you.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/cooking.svg'), alt="")
                            .text
                                p
                                    | Healthy eating isn’t a chore anymore. The recipes are great (as you’d expect when they’re created and tested by dozens of pro chefs) and are designed with health in mind.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/brain.svg'), alt="")
                            .text
                                p
                                    | The mental grind of worrying about supper every night is GONE. I literally don’t think about supper until 30 minutes before it has to be on the table.
                    li.box
                        .iconed-text
                            img(src=imgPath('icons/solid.svg'), alt="")
                            .text
                                p
                                    | It has helped our marital-chore balance sheet because I’m much more inclined to do my fair share when it doesn’t involve being super organized and prepared ahead of time. My wife would put this as the #1 reason!

        // section
        section.mb-5
            h2
                | Frequently Asked Questions about Food Subscription Boxes in 2020
            .accordion#accordion1
                .accordion__item
                    .accordion__head
                        | 1) Will food boxes be okay in the heat? Do I have to worry if my box is outside or not refrigerated?
                    .accordion__body
                        p
                            | Every food box that we’ve received has been very cool when we’ve opened it. In fact, just to test it out, we left a box in +30 degrees Celsius for a whole afternoon. Upon opening it at 7 PM, over half of the ice packs were still frozen solid. The bottom line here is that these boxes are over-engineered.

                .accordion__item
                    .accordion__head
                        | 2) Can I skip a week or cancel once I’m signed up?
                    .accordion__body
                        p
                            | No!  All prices include delivery charge.

                .accordion__item
                    .accordion__head
                        | 3) Is there a delivery charge?
                    .accordion__body
                        p
                            | At this time Hello Fresh does not have specialized options in these areas. The closest you’ll find is the vegetarian option. They do say that they are working on adding these options to their lineup.

                .accordion__item
                    .accordion__head
                        | 4) Do I have to be home to get delivery? If I’m not—then what?
                    .accordion__body
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, nihil explicabo earum voluptas incidunt laboriosam magni libero, ducimus aperiam voluptatibus ad ab. Veniam quibusdam esse quidem ad, tempora saepe impedit.

                .accordion__item
                    .accordion__head
                        | 5) Are food subscription boxes bad for the environment?
                    .accordion__body
                        p
                            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam nam in cumque modi iure veritatis? Quia veniam deserunt ea aliquam, eaque necessitatibus culpa facere labore nam tempora omnis provident! Blanditiis?

                .accordion__item
                    .accordion__head
                        | 6) Are ingredients organic or locally sourced?
                    .accordion__body
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dignissimos repudiandae vero quisquam, iure facilis quas quo ex quasi esse quidem omnis voluptates quos temporibus repellendus dolorem ipsam repellat pariatur!

                .accordion__item
                    .accordion__head
                        | 7) Are there vegetarian, keto, or gluten-free food subscription boxes?
                    .accordion__body
                        p
                            | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae officiis culpa expedita saepe animi, dicta enim fuga delectus temporibus asperiores voluptate officia ex voluptatibus illum quod amet molestiae? Laborum, distinctio.

                .accordion__item
                    .accordion__head
                        | 8) How big are the portions?
                    .accordion__body
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis temporibus debitis ab aperiam magnam inventore delectus rem esse suscipit velit, quaerat voluptatem error tempore expedita voluptatum nostrum eos sunt nobis!

                .accordion__item
                    .accordion__head
                        | 9) Are the meals easy to cook?
                    .accordion__body
                        p
                            | Like any other type of courier delivery, there are always options.  Obviously it’s easiest if someone is at home to accept the box during the day; however, HelloFresh can also drop the box off wherever you specify in your delivery instructions.


        // section
        section.promoutions.mb-5
            h2
                | Exclusive Promo Offer Codes – Try a Food Subscription Box for FREE!
            .row
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Hello Fresh Promotion
                            span.color-primary
                                | $50 in Free Groceries
                        p
                            | Get $65 Off across your first 3 recipe boxes with HelloFresh, including free shipping on your first order: Use code AFF65 (or click below)
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Chefs Plate Promotion
                            span.color-primary
                                | 60% OFF Today!
                        p
                            | Get 60% off your first order of the Veggie Box with Chefs Plate today. Use code VEGGIECHEF60
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Chefs Plate Promotion
                            span.color-primary
                                | 50% OFF Today!
                        p
                            | Get 50% off any box using promo code 2020MKC50
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions.ab-promoutions_white
                        .ab-promoutions__title
                            | Discount
                            span.color-primary
                                | $60 off
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id facilisis felis commodo. Quisque eu nisl libero
                        a.btn.btn_gray(href='#')
                            | Visit website – No Unique Promotion


