---
title: Project icons
---
extends layouts/_layout
block content
    .container.simple-article
        .hero_standart
            h1.mb-2 PROJECT ICONS

        // section
        style.
            .icon.icon_fill-secondary.icon_xl{
                max-width: 75px;
                max-height: 75px;
            }
            .icon-wrapper{
                width: 75px;
                height: 75px;
                margin: 0 auto;
            }
        section
            -
                var icons = ['wallet','delivery-truck2_inverted','home','light','box','dish-service','2users','3users','4users','beef','bell','bell_disable','care','carrot','chat-option','check','cheese','chicken','chicken-2','chicken-3','circle-full','circle-part','close','comment','coronavirus','delivery-truck','delivery-truck2','diet_kosher','diet_meat','diet_organic','diet_vegan','diet_vegetarian','diet_weight-loss','dish','dough','fb','fish','grocery-prices','infinite','inst','leaf','libra','link','mail','man','meal-kits','meat','money','mushroom','omar','pan','path','picture','pinterest','pork','profit','question','ready-to-eat','recipe','restraurant','seafood','sheep','smoke','snowflake','soup','subscription','thumbs-down','thumbs-up','tray','turkey','tw','user','vegetables','vs','vs_cp1','vs_cp2','vs_cp3','vs_cp4','vs_fp1','vs_fp2','vs_gf1','vs_gf2','vs_gf3','vs_hf1','vs_hf2','vs_hf3','vs_hf4','vs_hf5','vs_hf6','waste','windmill','youtube']
                var sortIcons = icons.sort()
            .row
                each item in sortIcons
                    .col-6.col-md-4.col-lg-2.mb-4
                        .box.text-center.pt-3
                            .icon-wrapper
                                +icon(item,'icon_fill-secondary icon_xl')
                            p!=item
