---
title: InspiredCooking My Favorite Cookbook & Story
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 InspiredCooking: My Favorite <br class="d-none d-md-block"/>Cookbook & Story
                    .no-br
                        p
                            | DinnrTime was an online marketplace, active between 2014 and 2016, that brought together a trusted community of food lovers who are open to making new friends, exploring new dishes and experiencing different cultures. The concept was to give ordinary people access healthy, affordable alternatives to fast food and packaged dinners, including local and organic options, allowing customers to indulge in the convenience and comfort of a home-cooked meal without having to do the grocery shopping, prepping, cooking and cleaning.

                        .info-block.info-block_quotes.info-block_inline-flex.ml-md-4.mr-md-4.my-3
                            .inner
                                p.mb-0
                                    | The best cookbook of its kind … The best edited cookbook of the year … One of our Top 10 cookbooks of 2016.” — Best of Food & Wine with Anthony Gismondi and Kasey Wilson

                .col-lg-4.d-none.d-lg-block.text-center.position-relative
                    +img('articles/julia-pelish','jpg','','alt')
                    .img-white-info
                        .ttu Julia Pelish - Brijbassi
                        div Love, Laughter and Light


        // section
        section
            h2
                | The inspiration story of ADRIAN BRIJBASSI &amp; JULIA PELISH
            .row
                .col.col-12.col-md-8.col-xl-9
                    p
                        | For people who are struggling with the horrible disease, food becomes somewhat of an obstacle. Through treatments, one’s appetite is decreasing or increasing drastically (very individual). Most people who undergo cancer treatments lose every bit of interest in food, but to some who adore food – this may be a source of great comfort.
                    p
                        | Known journalist  Adrian Brijbassi started writing InspireCooking together with his wife and colleague Julia Pelish Brijbassi shortly after she was diagnosed with brain cancer. Julia, who was a journalist and photographer herself, wanted to create a cookbook that has two major principles – be healthy and raise money for an important cause – fighting cancer.
                    p
                        | Chefs from across the country were extremely receptive and participated in this superb project sharing some of their favourite (healthy) meals:
                .col.col-12.col-md-4.col-xl-3
                    .info-block.info-block_quotes.mt-lg-1
                        .inner
                            p.mb-0
                                | “Inspired Cooking isn’t just a cookbook — it’s also a collection of heartfelt real life stories of people’s lives and loves and what happens when cancer strikes.”
                            p.mb-0.text-right
                                i (CBC)

            h5.mb-3
                strong CHEFS Featured on InspiredCooking:
            ul.white-boxes-list
                li CHRIS AERNI
                li ANGUS AN
                li JASON BANGERTER
                li WARREN BARR
                li VICTOR BARRY
                li NED BELL
                li ANDREA CARLSON
                li JEREMY CHARLES
                li PATRICE DEMERS
                li CONNIE DESOUSA
                li JOHN JACKSON
                li ROB GENTILE
                li STEFAN HARTMANN
                li JACKIE KAI ELLIS
                li DALE MACKAY
                li ROGER MOOKING
                li ROY OH
                li ANTONIO PARK
                li MICHAEL SMITH
                li VIKRAM VIJ
                li JAMES WALT

            p
                | Sadly, Julia Pelish Brijbassi died in March 2016, before the book was complete.
            p
                | Adrian Brijbassi, her husband and co-author, hopes this book will help raise awareness to healthy eating to prevent disease, as well as raise awareness and funding to fight the disease.
            p
                | The couples’ chosen organization for donations is&nbsp;
                strong
                    a(href='https://www.inspirehealth.ca/') https://www.inspirehealth.ca/
                    | ,
                | &nbsp;a not-for-profit supportive cancer care organization approved by the BC Ministry of Health.
            p
                strong
                    | We at&nbsp;
                    a(href='https://mealkitscanada.ca/') Meal Kits Canada
                    |  will make a contribution in Julia’s name to honour her inspirational story.


        // section
        section
            h2
                | Partners and methodology:
            p
                | InspireHealth and Vacay.ca have teamed with Fresh Air Publishing to create a cookbook focused on providing healthy recipes and expert nutritional resources for all Canadians. We have selected 20 of the leading chefs from across Canada to relate their stories about the importance of nutrition in their lives and their work. The cookbook will be on retail shelves such as Chapters and Indigo and online retailers such as Amazon by late 2016. Proceeds will be used to fund InspireHealth’s initiative of providing top level supportive cancer care for Canadians.
            h5.mb-3
                strong The all star team behind the book
            .row
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu JULIA PELISH
                        p.mb-0
                            | Vacay.ca’s co-founder and one of Canada’s leading travel photographers, Julia conceived the idea of Inspired Cooking and was an InspireHealth member.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu ADRIAN BRIJBASSI
                        p.mb-0
                            | Adrian has won several awards, including NATJA gold prizes and created the Top 50 Restaurants in Canada Guide.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu PETTI FONG
                        p.mb-0
                            | A SATW award winner, Petti works for CBC Vancouver and is an expert in cutting-edge video technology.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu RENÉE SUEN
                        p.mb-0
                            | Renée is food and culinary travel writer based in Toronto who contributes to Toronto Life, Sing Tao’s EliteGen, Toronto Star and Globe &amp; Mail.
                .col.col-1-5.mb-3
                    .box.p-3.h-100
                        h6
                            strong.ttu ROD CHARLES
                        p.mb-0
                            | Rod is a Managing Partner at Vacay.ca and the former travel editor of the Huffington Post.
