---
title: Kosher and Halal Meal Delivery in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-9
                    h1.mb-2 Kosher and Halal Meal Delivery in Canada
                    .no-br
                        p
                            | There are very many dietary restrictions that meal kit companies have to consider in order to better serve their customers. Today their clients are looking not only for regular food choices but also for vegetarian, vegan, kosher, halal, low calorie, low fat, low carb, keto, paleo, and other diet restrictions. We have already discussed&nbsp;
                            a(href="https://mealkitscanada.ca/vegetarian-meals-and-meal-plans-in-canada/") vegetarian
                            | &nbsp;and&nbsp;
                            a(href="https://mealkitscanada.ca/vegan-meals-and-meal-plans-in-canada/") vegan
                            | &nbsp;meal plans. Now we would like to see how meal kit delivery companies take into consideration kosher and halal meal requests.


                .col-lg-3.d-none.d-lg-block.text-center
                    +img('articles/meal-prep-delivery','jpg','','alt')


            p &nbsp;


        section
            h2
                | What is kashrut?
            p
                | Food is considered kosher only if it was cooked according to kashrut. Kashrut (also kashruth or kashrus, כַּשְׁרוּת‎) is a set of Jewish dietary laws that regulate the preparation and cooking of food. These laws are numerous and complex, so we will mention only the main principles:
            // begin info-block
            .info-block
                .inner
                    .title
                        | The benefits of ready-to-eat meal prep services are similar to those of ready-to-cook meal kit companies:
                    ul
                        li
                            .elem-icon.elem-icon_good
                                | Only certain types of mammals, birds, and fish meet the criteria of kashrut. Such animals as swine, crayfish, crabs, lobsters, and others are forbidden, and eating their flesh is prohibited.
                        li
                            .elem-icon.elem-icon_good
                                | Kosher mammals should be slaughtered in a certain way, known as shechita. Animal blood is not kosher and cannot be consumed. To eliminate blood before cooking, the meat is salted and soaked in water before it is permissible to use.
                        li
                            .elem-icon.elem-icon_good
                                | Meat and meat products may never be mixed with milk or milk products. According to kashrut, meat and milk should be stored separately and cooked using separate equipment.
            p &nbsp;


        section
            h2
                | Kosher meals
            p
                | Kosher meals are those that are cooked with kosher products. They may contain kosher meat, such as beef, bison, or lamb; kosher poultry, such as chicken, goose, duck, or turkey; kosher fish; and derivatives of animal products, such as gelatin. Non-animal products that were processed on equipment used to process meat are regarded as meat. Kosher meat meals cannot contain any milk products.
            p
                | Kosher meals that do not contain any meat may contain dairy products, such as milk, butter, or cheese. Non-dairy products that were processed on equipment used for dairy products are also regarded as milk or milk products.
            p
                | Kosher meals that contain neither meat nor milk are called pareve. These include such products as fish, eggs, grains, fruit, and produce. They are only considered pareve if they are not mixed with or cooked using the equipment previously used for meat or milk products.
            p &nbsp;

        section
            h2
                | Halal meals
            p
                | Halal is an Arabic word that means “permissible” or “lawful” in English. This term is associated with Islamic dietary laws, especially the processing and preparation of meat according to these laws and requirements. For a meal to be halal, it must not contain alcohol of any kind.
            p
                | As a rule, most kosher meals that do not contain alcohol are also halal.
            p &nbsp;

        section
            h2
                | Similarities and differences between kosher and halal food
            p
                | While researching the subject, we have noticed certain similarities between kosher and halal food. For example, all animals permitted by kashrut are also halal, such as bovines, but pork is prohibited in both cultures. The same rules apply to fish. The sea animals that are considered kosher are also halal. These similarities would make it easier for meal kit companies to offer kosher and halal meal plans to their customers.
            p
                | The main difference between kosher and halal food is that halal meals may not contain any alcohol. However, for meal kit companies, this is not an issue because they don’t offer any alcohol in their meals anyway.
            p
                | Other differences between kosher and halal meals include food processing restrictions: meat and milk should be processed separately for kosher meals, but not for halal meals. Also, the list of animals prohibited by kashrut is more restrictive. Only mammals that chew the cud and have cloven hooves are kosher. Thus some animals such as the horse, camel, and rabbit are halal but not kosher. Again, for meal kit companies, that will not make much difference because they don’t offer any horse, camel, or rabbit meat anyway.
            p &nbsp;

        section
            h2
                | Kosher and halal meal delivery in Canada
            p
                | There are not many meal kit companies with kosher meal plans or halal meal plans in Canada. However, there are other options, such as ready-to-eat subscription services and restaurants that deliver kosher or halal meals to the customers’ homes. Currently, these services are available mostly in Ontario and are very scarce in other provinces.
            h3.mt-4
                | Kosher meal delivery services
            // table kosher
            .table-responsive.mb-4
                -
                    var tableList2 = [
                        {
                            company: 'Kosher box',
                            link: 'https://kosher-box.com/',
                            halal: true,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2016',
                            covered: 'globally',
                            dishesMenu: '20',
                            p_week: '?',
                            p_serving: '$9-$23',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Savours gourmet',
                            link: 'https://www.savoursgourmet.ca/',
                            halal: false,
                            types: [{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'ready-to-eat', name: 'Ready to eat'},{icon: 'meal-kits', name: 'Meal kits'}],
                            year: '2016',
                            covered: 'ON',
                            dishesMenu: '100',
                            p_week: '?',
                            p_serving: '$6-$22',
                            promo: '$25 off ',
                            promoInfo: '$25 OFF Your order of $200 or more'
                        },

                        {
                            company: 'Paradise Kosher',
                            link: 'https://www.paradisekosher.com/',
                            halal: true,
                            types: [{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2013',
                            covered: 'QC',
                            dishesMenu: '100',
                            p_week: '?',
                            p_serving: '?',
                            promo: '',
                            promoInfo: ''
                        },

                        {
                            company: 'JR Kosher',
                            link: 'https://www.jrkosher.com/',
                            halal: true,
                            types: [{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'ready-to-eat', name: 'Ready to eat'},{icon: 'meal-kits', name: 'Meal kits'}],
                            year: '2005',
                            covered: 'ON, QC',
                            dishesMenu: '100',
                            p_week: '$96-$240',
                            p_serving: '$3-$60',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Kosher Gourmet',
                            link: 'https://www.koshergourmet.ca/',
                            halal: true,
                            types: [{icon: 'restraurant', name: 'Restraurant'},{icon: 'delivery-truck2', name: 'Delivery'}],
                            year: '2010',
                            covered: 'ON',
                            dishesMenu: '11',
                            p_week: '$75-$120',
                            p_serving: '$7-$10',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Mazon Kit',
                            link: 'https://www.mazonkit.com/',
                            halal: true,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'meal-kits', name: 'Meal kits'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2020',
                            covered: 'QC or USA?',
                            dishesMenu: '?',
                            p_week: '?',
                            p_serving: '$25-$35',
                            promo: '',
                            promoInfo: ''
                        },

                    ]
                table.table_kosher.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th.vam
                                | Company
                            th
                                | Kosher
                            th
                                | Service and <br/>meal types
                            th
                                | Year
                            th
                                | Covered Provinces
                            th
                                | Dishes in menu
                            th
                                | Price / weekly
                            th
                                | Price / serving
                            th
                                | Promo
                    tbody
                        each item, i in tableList2
                            tr
                                td
                                    span!=item.company
                                        | &nbsp;
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content2-table_${i}`)
                                            +icon('link')
                                td
                                    if(item.halal)
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content2-halal_full`)
                                            +icon(`circle-full`)
                                    else
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content2-halal_part`)
                                            +icon(`circle-part`)
                                td
                                    each subitem, subindex in item.types
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content2-types_${i}_${subindex}`)
                                            +icon(`${subitem.icon}`)
                                td!=item.year

                                td!=item.covered

                                td!=item.dishesMenu

                                td!=item.p_week

                                td!=item.p_serving

                                td
                                    if(item.promo)
                                        span!=item.promo
                                        i.info(data-tooltip-content=`#tooltip_content2-promo_${i}`)
                                    else
                                        span.color-gray n/a
                .tooltip_templates
                    .links
                        each item, i in tableList2
                            div(id!=`tooltip_content2-table_${i}`)
                                span!=item.link
                    .promo
                        each item, i in tableList2
                            if(item.promo)
                                div(id!=`tooltip_content2-promo_${i}`)
                                    span!=item.promoInfo
                    .types
                        each item, i in tableList2
                            each subitem, subindex in item.types
                                div(id!=`tooltip_content2-types_${i}_${subindex}`)
                                    span!=subitem.name
                    .halal
                        div(id!='tooltip_content2-halal_full')
                            span All kosher
                        div(id!='tooltip_content2-halal_part')
                            span Kosher options
            //end table kosher

            p
                | Apparently, cooking kosher meals at home is not an easy task, so many people prefer to order kosher food from restaurants or supermarkets. For meal kit lovers, there is currently only one meal kit company, Kosher Box, which delivers kosher meal kits in Canada. There is also a Mazon Kit company, but they are currently in the process of gaining certification for kosher meals.
            p
                | Other kosher meal delivery options include various restaurants and specialty stores with catering and delivery options. In Ontario, these include Kosher Gourmet, Savours Gourmet, and JR Kosher. In Quebec, there are Paradise Kosher and JR Kosher. In other provinces, no kosher restaurant food delivery is available at the moment.


            h3.mt-4
                | Halal meal delivery services
            // table halal
            .table-responsive.mb-4
                -
                    var tableList = [
                        {
                            company: 'Freshprep',
                            link: 'https://www.freshprep.ca/',
                            halal: false,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'meal-kits', name: 'Meal kits'}],
                            year: '2014',
                            covered: 'BC',
                            dishesMenu: '10',
                            p_week: '$25-$136',
                            p_serving: '$10-13',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Halal meals',
                            link: 'https://www.halalmeals.ca/',
                            halal: false,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2020',
                            covered: 'ON',
                            dishesMenu: '16',
                            p_week: '$40-$108',
                            p_serving: '$11-$14',
                            promo: '10% for referral',
                            promoInfo: 'Refer your friends to us, and you can save 10% on your next purchase'
                        },
                        {
                            company: 'Halal Plates',
                            link: 'https://www.halalplates.com/',
                            halal: false,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'meal-kits', name: 'Meal kits'}],
                            year: '2017',
                            covered: 'ON',
                            dishesMenu: '?',
                            p_week: '?',
                            p_serving: '?',
                            promo: '25% off 1st order',
                            promoInfo: 'SIGN UP TODAY: GET 25% OFF OF YOUR FIRST DELIVERY WITH COUPON MY25'
                        },
                        {
                            company: 'House cook',
                            link: 'https://housecook.ca/',
                            halal: true,
                            types: [{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2020',
                            covered: 'ON',
                            dishesMenu: '11',
                            p_week: '$50',
                            p_serving: '$1-$15',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Clean meals',
                            link: 'https://cleanmeals.ca/',
                            halal: true,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2018',
                            covered: 'ON',
                            dishesMenu: '26',
                            p_week: '$78-$168',
                            p_serving: '$10-$15',
                            promo: 'Save 13%-21%',
                            promoInfo: 'Subscriptions. You Save 13% - 21%'
                        },
                        {
                            company: 'F45 Meals',
                            link: 'https://f45meals.ca/',
                            halal: true,
                            types: [{icon: 'subscription', name: 'Subscription'},{icon: 'ready-to-eat', name: 'Ready to eat'}],
                            year: '2020',
                            covered: 'AB, ON',
                            dishesMenu: '',
                            p_week: '$170-$294',
                            p_serving: '',
                            promo: '',
                            promoInfo: ''
                        },
                        {
                            company: 'Nuba',
                            link: 'https://www.nuba.ca/',
                            halal: false,
                            types: [{icon: 'restraurant', name: 'Restraurant'},{icon: 'delivery-truck2', name: 'Delivery'},{icon: 'meal-kits', name: 'Meal kits'}],
                            year: '2006',
                            covered: 'BC',
                            dishesMenu: '12',
                            p_week: '$49-$145',
                            p_serving: '$4-$7',
                            promo: '',
                            promoInfo: ''
                        },

                    ]
                table.table_kosher.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th.vam
                                | Company
                            th
                                | Halal
                            th
                                | Service and <br/>meal types
                            th
                                | Year
                            th
                                | Covered Provinces
                            th
                                | Dishes in menu
                            th
                                | Price / weekly
                            th
                                | Price / serving
                            th
                                | Promo
                    tbody
                        each item, i in tableList
                            tr
                                td
                                    span!=item.company
                                        | &nbsp;
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content-table_${i}`)
                                            +icon('link')
                                td
                                    if(item.halal)
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content-halal_full`)
                                            +icon(`circle-full`)
                                    else
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content-halal_part`)
                                            +icon(`circle-part`)
                                td
                                    each subitem, subindex in item.types
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content-types_${i}_${subindex}`)
                                            +icon(`${subitem.icon}`)
                                td!=item.year

                                td!=item.covered

                                td!=item.dishesMenu

                                td!=item.p_week

                                td!=item.p_serving

                                td
                                    if(item.promo)
                                        span!=item.promo
                                        i.info(data-tooltip-content=`#tooltip_content-promo_${i}`)
                                    else
                                        span.color-gray n/a
                .tooltip_templates
                    .links
                        each item, i in tableList
                            div(id!=`tooltip_content-table_${i}`)
                                span!=item.link
                    .promo
                        each item, i in tableList
                            if(item.promo)
                                div(id!=`tooltip_content-promo_${i}`)
                                    span!=item.promoInfo
                    .types
                        each item, i in tableList
                            each subitem, subindex in item.types
                                div(id!=`tooltip_content-types_${i}_${subindex}`)
                                    span!=subitem.name
                    .halal
                        div(id!='tooltip_content-halal_full')
                            span All halal
                        div(id!='tooltip_content-halal_part')
                            span Halal options

            // end table halal

            p
                | Currently, the only meal kit company that offers halal meal plans is Halal Plates, which is available in Ontario only.&nbsp;
                a(href="https://mealkitscanada.ca/fresh-prep-review/") Fresh Prep
                | &nbsp;has some halal meals on their menu, but no halal plans. There are multiple subscription services, such as Halal Meals, House Cook, and Clean Meals, that deliver ready-to-eat halal food to their customers in Ontario. F45 Meals is currently available in Ontario and Alberta. In British Columbia, there is a Nuba restaurant that offers halal options available for delivery in a limited area.

        section
            h2
                | Kosher and halal food certification in Canada
            p
                | How do kosher and halal observers make sure that the food they consume is actually kosher or halal? For kosher food, the largest certification body in the country is the Kashruth Council of Canada. All kosher restaurants and meal delivery services need to be certified by this organization.
            p
                | For halal food, the two largest organizations that supervise producers who follow halal practices and provide food certification are the Islamic Food and Nutrition Council of Canada and the Halal Monitoring Authority. Both organizations are located in the Greater Toronto Area.
            p &nbsp;

        section
            h2
                | Final words about kosher and halal food in Canada
            p
                | Overall, we can say that Canadians have access to kosher and halal meal delivery in Canada, especially in Ontario. Other provinces have very limited availability at this time, but supply will grow with demand. Among meal kit companies, there is currently one that delivers kosher meals, Kosher Box, and one that offers halal meal plans, Halal Plates. While Kosher Box delivers globally, Halal Plates is now available only in Ontario. Other popular meal kit delivery companies, such as&nbsp;
                a(href="https://mealkitscanada.ca/hello-fresh-canada-review/") Hello Fresh
                | ,&nbsp;
                a(href="https://mealkitscanada.ca/goodfood-review/") GoodFood
                | , and&nbsp;
                a(href="https://mealkitscanada.ca/chefs-plate-review/") Chefs Plate
                | &nbsp;offer pork-free meals and meals where meat and milk products do not mix in any way, but they are not kosher or halal certified.
            p &nbsp;
