---
title: Longos
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.mb-5
                .col-12.col-lg-9
                    h1.mb-2 Longo’s Meal Kits
                    .no-br
                        p
                            | Apparently, meal kit companies are not the only ones selling meal kits. As the market keeps growing, some supermarkets such as Longo’s, decided to have a share of it as well. There are differences and similarities in meal kits service from the companies that specialize in it and Longos meal kits that we will discuss below.

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('longos/intro','jpg','','alt')

            // 4 cards
            -
                var cards = [
                    {
                        uptitle: 'Grocery Chai',
                        links: false,
                        name: 'Longos',
                        logo: 'longos',
                        link: 'hellofresh',
                        table: [
                            {
                                fieldname : 'Price per serving',
                                value     : '$8-$20'
                            },
                            {
                                fieldname : 'Number of people',
                                value     : '3'
                            },
                            {
                                fieldname : 'Number of plans',
                                value     : 'n/a'
                            },
                            {
                                fieldname : 'Number of meals',
                                value     : '2-6'
                            },
                            {
                                fieldname : 'Plans for Vegetarians',
                                value     : 'close'
                            },
                            {
                                fieldname : 'List Of Allergens',
                                value     : 'close'
                            },
                            {
                                fieldname : 'Google Rating',
                                value     : '4'
                            },
                        ]
                    },
                    {
                        uptitle: 'Meal Kits Company',
                        links: true,
                        name: 'Hello Fresh',
                        logo: 'hello-fresh',
                        link: '/go/hellofresh',
                        table: [
                            {
                                fieldname : 'Price per serving',
                                value     : '$10-$12'
                            },
                            {
                                fieldname : 'Number of people',
                                value     : '2'
                            },
                            {
                                fieldname : 'Number of plans',
                                value     : '3'
                            },
                            {
                                fieldname : 'Number of meals',
                                value     : '6-22'
                            },
                            {
                                fieldname : 'Plans for Vegetarians',
                                value     : 'check'
                            },
                            {
                                fieldname : 'List Of Allergens',
                                value     : 'check'
                            },
                            {
                                fieldname : 'Google Rating',
                                value     : '4.5'
                            },
                        ]
                    },
                    {
                        uptitle: 'Meal Kits Company',
                        links: true,
                        name: 'Chefs plate',
                        logo: 'chefs-plate',
                        link: '/go/chefsplate',
                        table: [
                            {
                                fieldname : 'Price per serving',
                                value     : '$9-$10'
                            },
                            {
                                fieldname : 'Number of people',
                                value     : '2'
                            },
                            {
                                fieldname : 'Number of plans',
                                value     : '3'
                            },
                            {
                                fieldname : 'Number of meals',
                                value     : '4-15'
                            },
                            {
                                fieldname : 'Plans for Vegetarians',
                                value     : 'check'
                            },
                            {
                                fieldname : 'List Of Allergens',
                                value     : 'check'
                            },
                            {
                                fieldname : 'Google Rating',
                                value     : '3.5'
                            },
                        ]
                    },
                    {
                        uptitle: 'Meal Kits Company',
                        links: true,
                        name: 'Goodfood',
                        logo: 'good-food',
                        link: '/goodfood-review',
                        table: [
                            {
                                fieldname : 'Price per serving',
                                value     : '$9-$14'
                            },
                            {
                                fieldname : 'Number of people',
                                value     : '2'
                            },
                            {
                                fieldname : 'Number of plans',
                                value     : '4'
                            },
                            {
                                fieldname : 'Number of meals',
                                value     : '3-5'
                            },
                            {
                                fieldname : 'Plans for Vegetarians',
                                value     : 'check'
                            },
                            {
                                fieldname : 'List Of Allergens',
                                value     : 'close'
                            },
                            {
                                fieldname : 'Google Rating',
                                value     : '2.5'
                            },
                        ]
                    },
                ]
            .row.vcb__wrapper#vcbSlider
                each item in cards
                    .col-12.col-md-6.col-lg-3.mb-3
                        .box.box_vertical-card.vcb
                            .vcb__header
                                .vcb__uptitle!= item.uptitle
                                if(item.links)
                                    a(href=`${item.link}` target='_blank' rel="noopener")
                                        figure.company-logo
                                            +img(`logos/logo_${item.logo}`,'png','',`${item.uptitle} ${item.name}`)
                                else
                                    figure.company-logo
                                        +img(`logos/logo_${item.logo}`,'png','',`${item.uptitle} ${item.name}`)
                            .vcb__body
                                table.table_two-col
                                    each innerItem, i in item.table
                                        if(i == 1)
                                            tr
                                                th!= innerItem.fieldname
                                                td.text-right
                                                    if(innerItem.value > 2)
                                                        +icon('user')
                                                        +icon('2users')
                                                        +icon('3users')
                                                    else
                                                        +icon('2users')
                                                        +icon('4users')

                                        else if(i == 4 || i == 5)
                                            tr
                                                th!= innerItem.fieldname
                                                td.text-right
                                                    +icon(`${innerItem.value}`)
                                        else if(i == 6)
                                            tr
                                                th!= innerItem.fieldname
                                                td.text-right
                                                    +stars(`${innerItem.value}`)
                                        else
                                            tr
                                                th!= innerItem.fieldname
                                                td.text-right!= innerItem.value
                            .vcb__footer
                                if(item.links)
                                    a.btn.btn_lg.btn_primary.btn_noshadow.mob-w-100(href=`${item.link}` target='_blank' rel="noopener")
                                        | Visit Site
                                else
                                    a.btn.btn_lg.btn_noshadow.mob-w-100(disabled)
                                        | Not available via MKC



            // end 4 cards


        // section
        section
            h2
                | Is Longos a meal kit company?
            p
                | Even though Longos meal kits have gained popularity among customers, we cannot say that it is a meal kit company in the traditional sense of the word. First and foremost, this is a supermarket where you can buy your groceries, and in addition, you can also order a meal kit that will come to you pre-assembled according to the recipe that you select, ready to cook.
            p
                | Why would you choose to buy a meal kit vs. a similar set of groceries? First of all, a meal kit comes with a recipe, so you won’t need to spend time browsing YouTube and recipe sites for lunch or dinner ideas. Secondly, all of the ingredients of the meal kit come pre-measured, so you won’t buy anything extra and won’t have to discard any unused groceries, thus reducing the overall waste of food.
            p
                | Unlike the majority of meal kit companies where the minimum order is for two people, Longos meal kits are also available for just one person. There are about ten new recipes each week to choose from, with the caloric intake ranging from 290 to 850 calories per meal. The prices run $8 to $20 per serving, which is comparable to other meal kit companies as well. And in addition to the lunch and dinner meal kit, you can also order a Breakfast Bundle that consists of eggs, yogurt, oatmeal, juice, and other traditional breakfast items.


        // section
        section
            h2
                | How do Longos meal kits compare to other meal kit companies?
            p
                | The concept for DinnrTime was borne from a dilemma that we, and many other people, experience on a daily basis. After long days of work, sometimes you just don’t feel like cooking. Unfortunately, the most affordable and convenient options- fast food and mass produced frozen dinners- also happen to be the most unhealthy. At the same time, talented Home Chefs in smaller households are often forced to cook more than they need and are unable to reap the benefit of buying ingredients in larger quantities. The DinnrTime platform introduces the meal-sharing economy, so that everyone can eat healthier and more affordable home-cooked meals while reducing food waste. Our Values: DinnrTime.com is a local, social enterprise dedicated to making healthy, home-cooked meals more accessible, bringing communities together, reducing food waste, and reducing cost of living expenses.
            .table-responsive.mb-4
                table.table_longos1.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th
                            th
                                | Longos
                            th
                                | Meal Kit Companies
                    tbody
                        tr
                            td
                                | What do they sell?
                            td
                                | Groceries and meal kit
                            td
                                | Meal kits
                        tr
                            td
                                | Is it a subsription service?
                            td
                                | No, select recipes every week
                            td
                                | Yes, auto extends
                        tr
                            td
                                | How is it packaged?
                            td
                                | Cooler
                            td
                                | Insulated box with ice packs
                        tr
                            td
                                | How it is delivered?
                            td
                                | Need to select a window which may be changed, must be present for delivery
                            td
                                | Any time on a specific day, no need to be present
                        tr
                            td
                                | Do you need to order weekly?
                            td
                                | Yes, you need to select recipes every time
                            td
                                | You can select recipes or they will be assigned to you based on your previous choices
                        tr
                            td
                                | Can you customize your order?
                            td
                                | You can choose a customizable Pick Your Own kit
                            td
                                | You can only change the number of recipes and servings per week
                        tr
                            td
                                | How wide is the selection?
                            td
                                | 8-10 meals per week
                            td
                                | Varies by company form 3 to over 20 meal per week
                        tr
                            td
                                | Where do they deliver?
                            td
                                | Ontario
                            td
                                | The Big 3 deliver all over Canada, local companies deliver in certain areas only

            p
                | While Longos meal kits have a lot in common with conventional meal kit companies such as&nbsp;
                a(href="https://mealkitscanada.ca/hello-fresh-canada-review/") HelloFresh
                | &nbsp;or&nbsp;
                a(href="https://mealkitscanada.ca/zestykits-canada-review/") Zesty Kits
                | , there are a lot of differences that do not allow us to consider Longo’s a meal kit company. Longos meal kits are just a side business for the retail company that mostly sells groceries, and is not a subscription service like most&nbsp;
                a(href="https://mealkitscanada.ca/") meal kit companies in Canada
                |.
            p
                | While the majority of meal kit companies will ship their meals automatically on a certain day of the week, this is not the deal with Longos meal kits. Longos meal kits will not be delivered automatically every week; customers will need to order them individually each time. To expedite the order, they may save their previously ordered meal kits in “Favorites,” but in order to receive them, they will need to process the order manually each time.
            p
                | Once you subscribe to a meal kit company, you select the number of servings and the number of recipes you would like to select each week. You subscribe to a plan, which includes the types of meals that you prefer. It can be a Vegetarian Plan that includes plant-based meals only or a Family plan that has kid-friendly meals. You can choose the recipes, or they will be chosen for you according to your preferences and based on your previous orders. With Longos meal kits, you will need to make your selection weekly. Specialty meals, such as vegetarian or kid-friendly, may not be available each week.


        // section
        section
            h2
                | Longos meal kits delivery
            p
                | The conventional meal kit companies ship their meal kits in a well-insulated box with an ice pack to ensure that the food inside will stay fresh long enough until the customer is ready to unpack and refrigerate it. While Longos meal kits are delivered in a cooler, the delivery person does not leave the cooler with the meal but takes it back with them.
            p
                | When you order a meal kit from a regular meal kit company, such as&nbsp;
                a(href="https://mealkitscanada.ca/chefs-plate-review/") Chefs Plate
                |, you don’t have to be at home to get the package; it will be delivered to your door in an insulated box and left there. However, Longos meal kits cannot be left on the porch for a significant amount of time, so you have to be at home to receive them. This causes a certain amount of inconvenience, considering that Longo’s can change the delivery time. At the moment, Longos&nbsp;
                a(href="https://mealkitscanada.ca/meal-kit-delivery/") meal kit delivery
                | &nbsp;is available in Ontario only.

        // section
        section
            h2
                | Longos meal kit types

            .table-responsive.mb-4
                table.table_longos2.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th
                                | Kit Type
                            th
                                | Impress
                            th
                                | Build Your Own
                            th
                                | Express
                            th
                                | Singles

                    tbody
                        tr
                            td
                                | Time
                            td
                                | 25-35 min
                            td
                                | 10 min
                            td
                                | 10 min
                            td
                                | 20 min
                        tr
                            td
                                | Price
                            td
                                | $19.99
                            td
                                | $11.99
                            td
                                | $10.99
                            td
                                | $8
                        tr
                            td
                                | Serves
                            td
                                | 2
                            td
                                | 2
                            td
                                | 2
                            td
                                | 1

            p
                | There are several types of Longos meal kits: Impress, Build Your Own, Express, and Singles.
            p
                | Impress is the most traditional meal kit that is very similar to meal kits from other companies. The customers have eight chef-inspired recipes to choose from. They will receive the recipe they chose with step-by-step instructions and all the necessary ingredients. It will take about half an hour to cook a meal for two. It is perfect for those who would like to impress their date or a partner with a gourmet dinner for a fraction of the restaurant price. Impress meal kits start from $19.99 for two servings.
            p
                | Build Your Own meal kits include four ingredients: carbs (rice or pasta or potatoes, etc.), proteins (meat or fish or poultry, etc.), vegetables, and a sauce that can be mixed and matched according to the customer’s taste. A Build Your Own meal kit for two starts at $11.99.
            p
                | Express meal kits are for those customers who don’t like to spend much time in the kitchen. There are three recipes available each week, for example, Chicken Linguine, Pad Thai, or Sweet Teriyaki Chicken. Each of these recipes will take ten minutes or less to cook, and there are two servings included in each kit. The prices start at $10.99.
            p
                | What makes Longos meal kits different from the majority of meal kits is the Singles option that offers delicious meals for one person that can be cooked in 20 minutes or less. A sample variety of options includes Kansas City Steak, Greek-Feta Stuffed Pepper, Herb & Garlic Tofu with Ratatouille, Mediterranean Chicken, Jerk Chicken, or Santorini Chicken. The prices start at $8. You can see other weekly options to choose from below.

            .table-responsive.mb-4
                table.table_longos3.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th
                                | Meals
                            th
                                | Longos Signature<br/> Meal Kit, Chicken<br/> Pad Thai
                            th
                                | Longos Signature<br/> Meal Kit, Chicken<br/> Pad Thai
                            th
                                | Longos Signature Meal<br/> Kit, Roasted Garlic & Red<br/> Pepper Chicken Linguin
                            th
                                | Longos Signture<br/> Meal Kit, Spaghetti<br/> With Garlic Shrimp
                            th
                                | Longos Signture<br/> Meal Kit, Penne<br/> Primavera
                            th
                                | Longos Signature Meal<br/> Kit, Orecchiette With<br/> Sausage & Rapini

                    tbody
                        tr
                            td
                                | Price
                            td
                                | $12.99
                            td
                                | $12.99
                            td
                                | $12.99
                            td
                                | $12.99
                            td
                                | $12.99
                            td
                                | $12.99
                        tr
                            td
                                | Time
                            td
                                | 950 g
                            td
                                | 800 g
                            td
                                | 850 g
                            td
                                | 695 g
                            td
                                | 910 g
                            td
                                | 770 g
                        tr
                            td
                                | Calories
                            td
                                | 380
                            td
                                | 230
                            td
                                | 290
                            td
                                | 820
                            td
                                | 420
                            td
                                | 850
                        tr
                            td
                                | Serving Size
                            td
                                | 303 g
                            td
                                | 250 g
                            td
                                | 280 g
                            td
                                | 349 g
                            td
                                | 455 g
                            td
                                | 385 g


        // section
        section
            h2
                | Final words about Longos meal kits
            p
                | While Longo’s is not a traditional meal kit company, Longos meal kits have a great chance to gain popularity among customers. For some, not having to subscribe to a weekly plan is more of a plus than a minus as they prefer to buy their meal kits occasionally rather than on a regular basis. Another big advantage of Longos meal kits is that they are available in a single serving, which is great for the growing population of young adults who live on their own.
            p
                | The variety, nutritional value, and price of Longos meal kits are comparable to some conventional meal kit companies with the exception of vegan, vegetarian, and kid-friendly meals, which are not available at Longos. Hopefully, these meals will be included in their future menus.
            p
                | Another disadvantage of Longos meal kits is that they need to be unpacked and refrigerated as soon as possible because their delivery packaging is not insulated well enough. This may not be an obstacle for those who work from home and can receive deliveries personally.
            p
                | Overall, we can say that if you live in Ontario and shop at Longo’s, you may find Longos meal kits to be a great option for dinner, whether you want to impress your significant other or just cook a quick dinner for yourself.
