---
title: Home
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Meal Kits in Canada 2020
                    .no-br
                        p
                            | Welcome to Meal Kits Canada, where we review and compare the wide array of meal kits in Canada, with the intent of helping you decide which is the best meal kit delivery service for you. We have enjoyed tasting meal kits from coast-to-coast (it’s a tough job, but someone had to do it!) and have decided to rate the meal kit contenders in the areas of taste and freshness, the diversity of meals on the menu, the ease of cooking, clarity of recipe directions, and finally, a compilation of the company’s reputation from a wide variety of online meal kit reviews and interviews, plus our own consumer experiences.
                        p
                            | We believe meal kit deliveries can help you maintain a healthy lifestyle with less time and effort than ever before. Our exclusive promo codes make it cheaper than ever to try one (or several) of Canada’s leading meal kit delivery services and to find out if removing the constant burden of “What’s for supper?” is worth it for you!


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('index/hero','png','','alt')


        // section
        section.top-rating__wrapper
            h2
                | Top 7 Best Companies June, 18th, 2020

            //- include partials/top-rating
            +top-rating(7)

        // section
        section
            .row
                .col-12
                    h2
                        | Rating Methodology
                .col-12.col-md-6.col-lg-7
                    p
                        | Our goal is not only to offer you meal kit reviews but also to provide you with a valid comparison tool that would help you select the best meal kit delivery service in your area. For each company, we have created a rating that is objectively based on the following categories: Company Reputation, Plans and Meals, Delivery and Flexibility, and Support and Usability.
                    p
                        | The leading three meal kit companies in Canada include Hellofresh, Chefs Plate, and GoodFood. In order to create meal kit reviews, we collected data from the company website as well as customer reviews from the consumer reporting sites. In addition, we’ve ordered, cooked, and enjoyed the meal kits sent out by these three companies for several months to create our own impression. For some of the smaller and more regional meal kit services in Canada, we’ve had to rely on the experiences of our family and/or friends who live in those areas.
                .col-12.col-md-6.col-lg-5
                    .box.mb-4.py-2.px-4.sticky-top
                        table.table-simple.table-simple_custom-header.table-simple_custom-footer
                            thead
                                tr
                                    th
                                        | Section Name
                                    th.text-right
                                        | Rated items
                            tbody
                                tr
                                    td
                                        | Company reputation
                                    td.text-right
                                        | 6
                                tr
                                    td
                                        | Plans and Meals
                                    td.text-right
                                        | 9
                                tr
                                    td
                                        | Delivery and Flexibility
                                    td.text-right
                                        | 12
                                tr
                                    td
                                        | Support and Usability
                                    td.text-right
                                        | 6
                            tfoot
                                tr
                                    td
                                        | Total
                                    td.text-right
                                        | 33

        // section
        section
            h2
                | Compare the top 10 rated meal kits companies
            .box.mb-5
                include partials/companies-table

        // section
        section
            h2
                | Who Are We?
            .row
                .col-12.col-md-6.col-lg-7.mb-4
                    p
                        | My name is Kyle Prevost, and I’m the guy voted least likely to ever have a cooking website in his high school yearbook! Truth be told, I’ve always enjoyed the eating aspect of food, much more than the whole cooking thing.
                    p
                        | When my wife and I decided to try meal kits for the first time, we were looking for a solution to our dinner time dilemma. The essential problem was that my wife was a great cook, and I was not. I was very reluctant to take responsibility for planning a meal, shopping for ingredients, or doing anything outside of my comfort zone. As a result, my wife would understandably mention from time to time that it would be nice to have some help in the dinner department.
                    p
                        | Fast forward some years later—and while meal kits haven’t made me into a 5-star chef, they have allowed me (a rookie’s rookie in the kitchen) to make a wide variety of fresh, delicious, and nutritious meals in only 30 minutes.
                    p
                        | Meal kits have not only delivered dozens of excellent meals to our literal doorstep, but they have also taught me the finer points of cooking certain types of food and really helped my ever-evolving quest to eat better.
                    p
                        | Finally, I decided to implement a more scientific approach to meal kit reviews. Now we are a team of researchers who collect and analyze data about meal kit services. We objectively rate the companies, compare them, and present our findings in such a way that would help you make the right choice for you and your family!
                    a.blue-link(href="#")
                        |   Click here to read more about us and contact us

                .col-12.col-md-6.col-lg-5
                    +img('index/who-are-we','jpg','sticky-top','alt')

        // section
        section
            h2
                | My Top 10 Reasons to Try Meal Kits
            .row
                // left block top 10 reason
                .col-12.col-md-6
                    ul.iconed-list.iconed-list_md.mt-0
                        li
                            .elem-icon.elem-icon_good
                                | Your first order comes at a price cheaper than groceries!

                        li
                            .elem-icon.elem-icon_good
                                | New ideas and tasty recipes to spice up your supper menu rotation.

                        li
                            .elem-icon.elem-icon_good
                                | ZERO stress about planning meals or grocery shopping!

                        li
                            .elem-icon.elem-icon_good
                                | Instant healthy eating that doesn’t sacrifice taste.

                        li
                            .elem-icon.elem-icon_good
                                | Simply skip any weeks that you’re away or would rather do your own thing.

                        li
                            .elem-icon.elem-icon_good
                                | No food waste to feel guilty about or depress us when we open our fridge.

                        li
                            .elem-icon.elem-icon_good
                                | Delivery right to your door—no dealing with lines or parking lots!

                        li
                            .elem-icon.elem-icon_good
                                | Easy-to-follow recipes and instructions that even a rookie (like yours truly) can master.

                        li
                            .elem-icon.elem-icon_good
                                | Less spending on restaurants and spoiled food means more cash in your pocket.

                        li
                            .elem-icon.elem-icon_good
                                | More time to relax and spend with family > more time cooking from scratch.

                    .ab
                        .iconed-text
                            .pl-3
                                img(src=imgPath('icons/sand-clock.svg'), alt="")
                            .text
                                strong
                                    | The best part?
                                p.mb-0
                                    | I still don’t have to worry about supper until it’s time to cook!

                // right block top 10 reason
                .col-12.col-md-6
                    .box.p-3
                        p
                            | I get to have my cake and eat it too! (Although, there hasn’t actually been a cake-for-supper recipe yet …)
                        p
                            | Because meal kits such as those put out by meal kit providers like HelloFresh, Chefs Plate, and Goodfood have eased the stress of dinner time in our family so much, I thought that I would share our revelation with the rest of Canada, and provide a place to compare all of Canada’s meal kit options.
                        p
                            | The vast majority of our meal kit reviews are done on a firsthand basis. While I personally have subscribed to Canada’s largest food box services, there is a limit (even for me!) to what I can eat each week. Consequently, some of the reviews are provided by my close friends who live in cities across Canada. Since there are several regional Canadian meal kit providers that can only to deliver to parts of the country I don’t live in, I’ve done my best to track down trustworthy friends in each area who will detail their firsthand experiences for us. As we are able to try more companies, we will post more information and meal kit reviews below.


        // section diets
        section
            h2 Meal Kits for Special Diets
            p For those customers that follow special diets, have specific food preferences, or watch their weight, some meal kit companies create menus that consider these cases. Below we reviewed various diets and meal preferences and grouped the companies according to the types of meal kits they offer.
            .row
                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_meat', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/meat-lovers-diet/") Diets for meat lovers
                            p.mb-0 Whether you follow a special protein-rich diet or simply love meat and poultry, here are the companies that offer Meat plans to their customers.
                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_vegetarian', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/vegetarian-meals-and-meal-plans-in-canada/") Vegetarian Meals
                            p.mb-0 For vegetarians and their supporters, we found and reviewed meal kit companies that offer the best vegetarian meal kits in Canada.
                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_organic', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/best-organic-meal-kits-in-canada/") Organic Meals
                            p.mb-0 For those customers who want to learn more about the benefits and disadvantages of organic food meal kits, we created this page.

                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_vegan', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/vegan-meals-and-meal-plans-in-canada/") Vegan Meals
                            p.mb-0 There are not very many meal kit companies that offer vegan plans, but we managed to find some. You can sign up for a vegan meal plan or adapt vegetarian meals to your diet needs.
                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_weight-loss', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/best-weight-loss-meal-kits/") Weight Loss
                            p.mb-0 Did you know that you could reach your weight loss goals with meal kits? Here we review some meal kit companies that offer meal and meal plans for weight loss.
                .col-12.col-md-6.col-lg-4.mb-3
                    .iconed-text.align-items-start.box.py-3.pr-3.h-100.inner-super-link
                        .pl-3
                            +icon('diet_kosher', 'icon_fill-secondary icon_md')
                        .text
                            a(href="https://mealkitscanada.ca/kosher-and-halal-meal-delivery-in-canada/") Kosher and Halal
                            p.mb-0 If you are looking for kosher or halal meal delivery services, look no further. Here we created a list of companies that deliver certified kosher and halal meals in Canada.





        section.video__section
            .row.justify-content-between.remove-pseudo.align-items-center
                .col-auto
                    h2 Video Meal Kit Reviews
                .col-auto.videoSliderArrows__wrapper
                    #videoSliderArrows.videoSliderArrows
            .row#videoSlider
                .col-12.col-md-6.col-lg-4.mb-4
                    .aspect-youtube
                        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/1XhpNYvFBjw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='allowfullscreen')
                .col-12.col-md-6.col-lg-4.mb-4
                    .aspect-youtube
                        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/y0J3LoXjpl8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='allowfullscreen')
                .col-12.col-md-6.col-lg-4.mb-4
                    .aspect-youtube
                        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/krUTR35YekA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='allowfullscreen')
                .col-12.col-md-6.col-lg-4.mb-4
                    .aspect-youtube
                        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/llDBVKBo0-4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='allowfullscreen')
                .col-12.col-md-6.col-lg-4.mb-4
                    .aspect-youtube
                        iframe(width='100%', height='auto', src='https://www.youtube.com/embed/HU29G1_1ScY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='allowfullscreen')

            .row.justify-content-center
                .col.col-md-auto.my-4
                    a.ab.video-popup(href='https://www.youtube.com/channel/UCMqQxJnLcuGyvBTSudGAk5g/featured', target='_blank', rel='noopener ')
                        .iconed-text.p-2
                            .pl-3
                                img(src='/assets/img/icons/youtube.svg', alt='')
                            .text
                                strong Watch Video Reviews on our YouTube Channel


        // section
        section.promoutions
            h2
                | Meal Kit Promotions in Canada 2020
            .row
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Hello Fresh Promotion&nbsp;
                            strong.color-primary
                                | $50 in Free Groceries
                        p
                            | Get $65 Off across your first 3 recipe boxes with HelloFresh, including free shipping on your first order: Use code AFF65 (or click below)
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Chefs Plate Promotion&nbsp;
                            strong.color-primary
                                | 60% OFF Today!
                        p
                            | Get 60% off your first order of the Veggie Box with Chefs Plate today. Use code VEGGIECHEF60
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions
                        .ab-promoutions__title
                            | Chefs Plate Promotion&nbsp;
                            strong.color-primary
                                | 50% OFF Today!
                        p
                            | Get 50% off any box using promo code 2020MKC50
                        a.btn.btn_primary(href='#')
                            | Claim Now
                .col-12.col-md-6.mb-4
                    .ab.ab-promoutions.ab-promoutions_white
                        .ab-promoutions__title
                            | Discount&nbsp;
                            strong.color-primary
                                | $60 off
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id facilisis felis commodo. Quisque eu nisl libero
                        a.btn.btn_gray(href='#')
                            | Visit website – No Unique Promotion


        // section
        section
            h2
                | Vis a Vis
            p
                | In order to help you better understand which company is the right one for you, we have created Vis-a-Vis pages. We took the best meal kit delivery services and compared them to each other. The idea is not to give you a definite answer on which meal kit service is better and which is worse, but rather to highlight the similarities and differences between companies as well as their unique features. For example, one company may offer a low carb plan, while the other has a big variety of vegetarian options. It is for you to decide which company suits you better.
            .row
                .col-12.col-md-6.mb-4
                    .box.box_vs
                        .box_vs__top
                            figure.company-logo
                                +img('logos/logo_chefs-plate','png','','alt')
                            span.vs vs
                            figure.company-logo
                                +img('logos/logo_good-food','png','','alt')
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur exercitationem ea vero maiores magnam dolores alias, corrupti amet reprehenderit iusto praesentium itaque quae odio quidem pariatur, esse odit doloremque sequi.
                        a.blue-link(href="#")
                            | Chefs Plate vs Good Food
                .col-12.col-md-6.mb-4
                    .box.box_vs
                        .box_vs__top
                            figure.company-logo
                                +img('logos/logo_hello-fresh','png','','alt')
                            span.vs vs
                            figure.company-logo
                                +img('logos/logo_good-food','png','','alt')
                        p
                            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur exercitationem ea vero maiores magnam dolores alias, corrupti amet reprehenderit iusto praesentium itaque quae odio quidem pariatur, esse odit doloremque sequi.
                        a.blue-link(href="#")
                            | HelloFresh Vs GoodFood


        // section
        section
            h2
                | Frequently Asked Questions:
            .accordion#accordion1
                .accordion__item
                    .accordion__head
                        | What is the difference between companies? How can I choose the best one?
                    .accordion__body
                        p
                            | There are several large meal kit delivery companies that operate in Canada. Companies on our list offer many options to cover all your needs, and yes, some plans can seem pretty similar.
                        p
                            | In order to decide what the best food subscription box is for you, you should pay attention, among other things, to variates of meals and ingredients in a box—special dietary options (gluten-free, vegetarian, vegan, etc.), frequency of delivery, number of eaters, and customization options. You can usually check it out on the company website. It also can be useful to read reviews online.
                        p
                            | Note that not all companies can deliver in your area. Also, some companies offer a trial free box.

                .accordion__item
                    .accordion__head
                        | Which subscription box is the best?
                    .accordion__body
                        p
                            | The best subscription boxes for you will have the meals that you like, as many as you like per week. Hopefully, you have multiple food delivery services in your area and can pick the one that fits your needs best.

                .accordion__item
                    .accordion__head
                        | Do all of the meal kit companies deliver anywhere in Canada?
                    .accordion__body
                        p
                            | The answer is a resounding "no." Meal delivery in Canada varies by the city and by the region. Read our meal kit delivery guide to learn about availability. We have already created small, local guides for food delivery service in specific regions like Toronto, Vancouver, Montreal, Calgary, and Edmonton, even Winnipeg

                .accordion__item
                    .accordion__head
                        | Is there a delivery charge?
                    .accordion__body
                        p
                            | The majority of food delivery services do not charge any additional fees. Everything is included in the price of your subscription boxes. In rare cases, a food delivery charge up to $9 is added to that price.

                .accordion__item
                    .accordion__head
                        | Do I have to be home to get my meal kit delivery? What if I'm not home—am I out of luck?
                    .accordion__body
                        p
                            | You do not have to be home to get your food delivery. The "rules" for your food subscription boxes are basically the same as for a couriered package of any kind. It's obviously easiest if you are home (and some meal kit companies will actually text you your delivery time) to accept the package. Otherwise, it will be left on your front step, back step, or porch.
                        p
                            | If you live in a condo or apartment, it will likely be left with your mail management system.
                        p
                            | If you're quite nervous about having your meal kit left out where someone could be tempted to try it for themselves, we recommend having it mailed directly to your workplace or making friends with a local business that is on your daily commute.
                        p
                            | The insulated meal kit boxes are truly smell-proof, and there is very little risk of thawing. The engineering principles behind these cooled boxes are sound! Most food delivery service companies will work with you to find a solution as well.


                .accordion__item
                    .accordion__head
                        | How long will the meal kit stay cold on my doorstep and fresh in my fridge?
                    .accordion__body
                        p
                            | It is highly recommended to refrigerate your food delivery boxes as soon as possible. However, as we tested different subscription boxes, we noticed that your home-fresh foods can sit on your doorstep for quite some time in summer and still be frozen. All the food delivery service companies that bring fresh meals to your door package them carefully.

                .accordion__item
                    .accordion__head
                        | Do you have Keto, Paleo, Gluten-free, Halal, and Kosher options?
                    .accordion__body
                        p
                            | The Big Three meal kit companies all include a lot of vegetarian options that would be your best bet if you want to go with healthy meals. Some niche regional companies such as Fresh City also offer a little more choice in the paleo/organic realm. However, keto, paleo, kosher, halal, and gluten-free meal delivery is not available at the moment.

                .accordion__item
                    .accordion__head
                        | Are there any offers for vegetarians and vegans?
                    .accordion__body
                        p
                            | Yes, some companies have plans for vegetarians, while others have a choice of individual dishes for vegetarians and vegans.

                .accordion__item
                    .accordion__head
                        | What is a meal plan?
                    .accordion__body
                        p
                            | A meal plan is a standard subscription option provided by a company to cover the most common requirements. There are vegetarian, low-carb, and family-friendly plans. Usually, meal plan subscriptions can be customized.

                .accordion__item
                    .accordion__head
                        | How many dishes are on the company menu?
                    .accordion__body
                        p
                            | You can choose from 10-20 dishes per week, depending on the company. HelloFresh menu has 22 dishes, and the GoodFood menu has three to 12 dishes.

                .accordion__item
                    .accordion__head
                        | How big are the meal kit portions?
                    .accordion__body
                        p
                            | The meal kit portion size may vary based on the caloric intake. For example, if we take HelloFresh's portion size, some vegetarian options may look bigger because they need more mass to maintain the same caloric intake as the meat options. In any case, the portion size is big enough for an average person, and the caloric intake is maintained consistently throughout the meal kits.

                .accordion__item
                    .accordion__head
                        | Are meals easy to cook?
                    .accordion__body
                        p
                            | Yes! The vast majority of the meals are straightforward to cook. Even if you are completely new to cooking, the illustrated “how-to” instructions that accompany each recipe will guide you to the successful result if you follow them carefully.

                .accordion__item
                    .accordion__head
                        | What is the cooking time?
                    .accordion__body
                        p
                            | The predicted cooking time varies from 15 minutes for easy meals to 40+ min for more complicated ones. The time that you spend cooking will also depend on your experience. In case you are new to the kitchen, add approximately 20% more to the predicted time.


        // section
        section.area
            h2
                | Canada’s Best Meal Kits Service Area
            .row
                .col-12.col-md-6
                    .area__map.sticky-top
                        img(src=imgPath('maps/service-area-map.svg'), alt="")
                .col-12.col-md-6
                    p
                        | Canada is known as a country with too much geography, which is great, but it causes certain logistic difficulties to the meal kit delivery services. There is only one company so far, Hello Fresh, that offers delivery almost anywhere in Canada. Other companies limit meal kit delivery areas to certain provinces or even certain cities.
                    p
                        | For example, Toronto residents can enjoy meal kits from Hello Fresh, Goodfood, Chefs Plate, and Miss Fresh, in addition to several regional companies, while residents of Winnipeg, Regina, and Saskatoon can only enjoy meal kits from the Big Three companies with only one local competitor—Zesty Kits. Visit our Meal Kit Delivery page and enter your zip code to find out more about the best meal kit service in your area.

                    a.btn.btn_lg.btn_yellow(href='#')
                        | Meal Kits Deliveries by Areas in Canada

            include partials/box-area


        // section
        section.articles
            h2
                | Knowledge is power!
            p.text-bigger
                | Learn more about the best home delivery meal kits in our articles below:

            include partials/articles-list


        // section
        section
            h2
                | Our Mission
            .row
                .col-12.col-md-6.col-lg-7
                    p
                        | MealKitsCanada.ca is a personalized Canadian meal kit review and comparison platform that helps you discover your next favorite meal kit delivery company in just a few clicks.
                    p
                        | Affiliate Disclosure: We do feature affiliate links on this website. These affiliate links allow us to earn commissions and to keep producing useful meal kit reviews—without subjecting readers to endlessly-annoying pop-up and banner ads.
                    p
                        | If you’ve tried one of Canada’s meal kit delivery services, we’d love to hear from you. Send us your meal kit review and share your thoughts! Our “best meal kit in Canada” rating is dynamic, and we continue to record data and opinions from coast-to-coast in order to enhance the quality and depth of MealKitsCanada.
                    .ab.ab-intext
                        strong
                            | Site Disclaimer:
                        p
                            | Do not use nutritional information and recommendations on this website if you suffer from a serious condition.
                    p
                        | Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours, and you cannot pay to be listed higher).
                .col-12.col-md-6.col-lg-5
                    +img('index/leader','jpg','','alt')
