---
title: Meal Prep Delivery in Canada
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Meal Prep Delivery in Canada
                    .no-br
                        p There are two types of meal kits in Canada: ready-to-cook and ready-to-eat. Which type do you prefer? Ready-to-cook meal kits, such as those provided by #[a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hellofresh], #[a(href='https://mealkitscanada.ca/chefs-plate-review/') Chefs Plate], and #[a(href='https://mealkitscanada.ca/zestykits-canada-review/') Zesty Kits], and other meal kit delivery companies, include illustrated recipes with detailed instructions and all the necessary ingredients, sometimes organic. Using this kit, you can cook a restaurant-quality meal for yourself, your partner, or your family, in about 30 minutes, and have a gourmet dinner for a fraction of the restaurant price.
                        p Alternatively, ready-to-eat meal prep services deliver food that has already been cooked and, in some cases, frozen or air-chilled. All you need to do is to heat it up, and voila, dinner is ready!


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('articles/meal-prep-delivery','jpg','','alt')


        // section
        section.top-rating__wrapper
            h2
                | The Best Meal Prep Companies in Canada

            .table-responsive.mb-4
                -
                    var tableList = [
                        {
                            company: 'Crave Healthiness',
                            link: 'https://cravehealthiness.ca/',
                            year: '2020',
                            province: 'BC',
                            rating: '5',
                            dishesMenu: '15',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$22-$43',
                            pServing: '$22-$43',
                            promo: '',
                            promoInfo: '',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'One Life Meals',
                            link: 'https://www.onelifemeals.com/',
                            year: '2015',
                            province: 'ON',
                            rating: '5',
                            dishesMenu: '30',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$79.3',
                            pServing: '$10-$16',
                            promo: '',
                            promoInfo: "",
                            medal: 'Best in Ontario',
                            medalShortText: 'ON',
                            medalLink: '#medal-bio'
                        },
                        {
                            company: 'Lean On Meals',
                            link: 'https://leanonmeals.ca/',
                            year: '2016',
                            province: 'AB',
                            rating: '4.9',
                            dishesMenu: '16',
                            boxes: false,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$53',
                            pServing: '$4-$15',
                            promo: '',
                            promoInfo: '',
                            medal: 'Best value for the money',
                            medalShortText: 'VM',
                            medalLink: '#medal-bvftm'
                        },
                        {
                            company: '2 Guys With Knives',
                            link: 'https://2guyswithknives.com/',
                            year: '2016',
                            province: 'BC',
                            rating: '4.9',
                            dishesMenu: '10',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$33-$160',
                            pServing: '$8-$16',
                            promo: '20% off',
                            promoInfo: "Receive 20% off of your first order with promo code	#IMNEW",
                            medal: 'Best small company',
                            medalShortText: 'SC',
                            medalLink: '#medal-bsc'
                        },
                        {
                            company: 'Planted Meals',
                            link: 'https://www.plantedmeals.ca/',
                            year: '2020',
                            province: 'BC',
                            rating: '4.9',
                            dishesMenu: '20',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$45-$50',
                            pServing: '$9-$10',
                            promo: 'Free Delivery',
                            promoInfo: "Free Delivery Over 8 Meals",
                            medal: 'Best vegetarian',
                            medalShortText: 'V',
                            medalLink: '#medal-bv'
                        },
                        {
                            company: 'OTR Meals',
                            link: 'https://otrmeals.com/',
                            year: '2016',
                            province: 'ON',
                            rating: '4.9',
                            dishesMenu: '33',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$165-$170',
                            pServing: '$9-$17',
                            promo: '5% OFF',
                            promoInfo: "Subscribe & Save 5%",
                            medal: 'Best eco-friendliness',
                            medalShortText: 'EF',
                            medalLink: '#medal-bef'
                        },
                        {
                            company: 'Power Kitchen',
                            link: 'https://www.powerkitchen.ca/',
                            year: '2017',
                            province: 'ON',
                            rating: '4.9',
                            dishesMenu: '24',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$40-$310',
                            pServing: '$7-$18',
                            promo: '5% off',
                            promoInfo: '5% Off on Weekly Subscription',
                            medal: 'Best for fitness',
                            medalShortText: 'F',
                            medalLink: '#medal-bff'
                        },
                        {
                            company: 'Mealpro',
                            link: 'https://www.mealpro.net/',
                            year: '2013',
                            province: 'BC, QC',
                            rating: '4.8',
                            dishesMenu: '29',
                            boxes: true,
                            dishes: false,
                            fresh: true,
                            pWeekly: '$160-$200',
                            pServing: '$10-$16',
                            promo: '$5 off',
                            promoInfo: 'Enjoy $5 OFF on your first order. Get your unique gift code',
                            medal: 'Best in British Columbia',
                            medalShortText: 'BC',
                            medalLink: '#medal-bibc'
                        },
                        {
                            company: 'Fit Menu',
                            link: 'https://fitmenu.biz/',
                            year: '2017',
                            province: 'QC',
                            rating: '4.5',
                            dishesMenu: '70',
                            boxes: true,
                            dishes: false,
                            fresh: true,
                            pWeekly: '$66-$221',
                            pServing: '$11-$16',
                            promo: '18% off',
                            promoInfo: '18% OFF',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'We Cook Meals',
                            link: 'https://www.wecookmeals.ca/',
                            year: '2020',
                            province: 'QC',
                            rating: '4.1',
                            dishesMenu: '14',
                            boxes: false,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$81-$329',
                            pServing: '$10-$12',
                            promo: '$20 off',
                            promoInfo: 'GET YOUR $20 OFF ON YOUR FIRST ORDER',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Chomp Vegan Eatery',
                            link: 'https://www.chompveganeatery.com/',
                            year: '2011',
                            province: 'BC',
                            rating: '4.5',
                            dishesMenu: '15',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$14-$149',
                            pServing: '$2-$16',
                            promo: '5-25% off',
                            promoInfo: 'On sale: 5%-25% OFF',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Les 3 Maitres Gourmands',
                            link: 'http://les3maitresgourmands.com/',
                            year: '2014',
                            province: 'QC',
                            rating: '4.7',
                            dishesMenu: '80',
                            boxes: false,
                            dishes: true,
                            fresh: true,
                            pWeekly: '?',
                            pServing: '$4 - $19',
                            promo: '$20 off',
                            promoInfo: "<p>Promo#1 – For a limited time, give us a try and receive $20 off your first order. Promo Code “Gourmand20” (minimum order of $100 before taxes).</p><p>Promo #2 – Receive a $5 gift-certificate for every 150$ spent.</p>",
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Antoine.ca',
                            link: 'http://antoine.ca/',
                            year: '2013',
                            province: 'QC',
                            rating: '4.8',
                            dishesMenu: '8',
                            boxes: false,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$85',
                            pServing: '$5-$18',
                            promo: 'Points',
                            promoInfo: "<p>Chaque dollar que vous dépensez vous donne droit à deux points (1 $ dépensé = 2 points).<p/><p>Une fois que vous aurez accumulé 1 000 points, vous obtiendrez un crédit applicable à vos futures commandes.</p>",
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Saveurs Santé',
                            link: 'https://www.saveurssante.com/',
                            year: '2006',
                            province: 'BC',
                            rating: '4.3',
                            dishesMenu: '70',
                            boxes: true,
                            dishes: true,
                            fresh: false,
                            pWeekly: '$125-$150',
                            pServing: '$5-$25',
                            promo: '4.5% off',
                            promoInfo: "4.5% OFF",
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Fresh mtl',
                            link: 'https://freshmtl.ca/',
                            year: '2014',
                            province: 'QC',
                            rating: '4.3',
                            dishesMenu: '50',
                            boxes: false,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$12-$100',
                            pServing: '$3.5-$14',
                            promo: '5%-20% OFF ',
                            promoInfo: "The more you order, the more you save!",
                            medal: 'Best in Quebec',
                            medalShortText: 'QC',
                            medalLink: '#medal-biq'
                        },
                        {
                            company: 'Todays menu',
                            link: 'https://todaysmenu.ca/',
                            year: '2002',
                            province: 'ON',
                            rating: '4',
                            dishesMenu: '121',
                            boxes: false,
                            dishes: true,
                            fresh: false,
                            pWeekly: '$125',
                            pServing: '$5-$18',
                            promo: '',
                            promoInfo: "",
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'eFresh Meals',
                            link: 'https://efreshmeals.ca/',
                            year: '2015',
                            province: 'ON',
                            rating: '4',
                            dishesMenu: '15',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$80-$253',
                            pServing: '$11-$13',
                            promo: '25% off',
                            promoInfo: 'Use Code "TRY25OFF" For 25% Off Your First Order',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: "Yogi's Kitchen",
                            link: 'https://www.yogiskitchen.ca/',
                            year: '2018',
                            province: 'BC',
                            rating: '4',
                            dishesMenu: '100',
                            boxes: true,
                            dishes: false,
                            fresh: true,
                            pWeekly: '$52-$81',
                            pServing: '$11-$13',
                            promo: '$185 OFF',
                            promoInfo: 'Get $160+$25 OFF on Three Months Subscription - Code YKVS185',
                            medal: 'Best Selection',
                            medalShortText: 'S',
                            medalLink: '#medal-bs'
                        },
                        {
                            company: 'Live fit food',
                            link: 'https://livefitfood.ca/',
                            year: '2019',
                            province: 'ON, BC, QC',
                            rating: '4',
                            dishesMenu: '112',
                            boxes: true,
                            dishes: true,
                            fresh: true,
                            pWeekly: '$96-$159',
                            pServing: '$7-$14',
                            promo: '5% off',
                            promoInfo: 'Subscribe & save 5%!',
                            medal: 'Best delivery',
                            medalShortText: 'D',
                            medalLink: '#medal-bd'
                        },
                        {
                            company: 'la Boite du Chef',
                            link: 'http://laboiteduchef.ca',
                            year: '2017',
                            province: 'QC',
                            rating: '3.4',
                            dishesMenu: '7-13',
                            boxes: true,
                            dishes: false,
                            fresh: true,
                            pWeekly: '$110-$180',
                            pServing: '$11-$18',
                            promo: '17% off',
                            promoInfo: '17% off meal boxes.',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                        {
                            company: 'Heart to Home Meals',
                            link: 'https://www.hearttohomemeals.ca/',
                            year: '2015',
                            province: 'AB, ON, NS',
                            rating: '3.5',
                            dishesMenu: '210',
                            boxes: false,
                            dishes: true,
                            fresh: false,
                            pWeekly: '?',
                            pServing: '$3-$10',
                            promo: '',
                            promoInfo: '',
                            medal: '',
                            medalShortText: '',
                            medalLink: ''
                        },
                    ]
                table.table_meal-prep.table-simple.table-simple_stripped-2.table-simple_f-line-padding.table-simple_mobile-sticky--left.table-simple_custom-header
                    thead
                        tr
                            th.vam
                                | Company
                            th.medal-wrapper
                            th
                                | Year<br/>Est.
                            th
                                | Serviced<br/>Provinces
                            th
                                | Google<br/>rating
                            th
                                | Dishes<br/>in&nbsp;menu
                            th
                                | Subs.<br/>boxes
                            th
                                | Order<br/>by dish
                            th
                                | Fresh&nbsp;or<br/>frozen
                            th
                                | Price/<br/>weekly
                            th
                                | Price/<br/>serving
                            th
                                | Promo<br/>
                    tbody
                        each item, i in tableList
                            tr
                                td
                                    span!=item.company
                                        | &nbsp;
                                        i.js-tooltipster(data-tooltip-content=`#tooltip_content-table_${i}`)
                                            +icon('link')
                                td.medal-wrapper
                                    if item.medal !== ''
                                        .medal.js-tooltipster(data-tooltip-content=`#tooltip_content-table-medal_${i}`)
                                            .medal__bg
                                            .medal__text!=item.medalShortText

                                td!=item.year
                                td!=item.province
                                td
                                    +stars(`${item.rating}`)
                                td!=item.dishesMenu
                                td
                                    if(item.boxes)
                                        +icon('check')
                                td
                                    if(item.dishes)
                                        +icon('check')
                                td
                                    if(item.fresh)
                                        +icon('leaf')
                                    else
                                        +icon('snowflake')
                                td!=item.pWeekly
                                td!=item.pServing
                                td
                                    if(item.promo)
                                        span!=item.promo
                                        i.info(data-tooltip-content=`#tooltip_content-promo_${i}`)
                                    else
                                        | No promo
                .tooltip_templates
                    .links
                        each item, i in tableList
                            div(id!=`tooltip_content-table_${i}`)
                                span!=item.link
                    .promo
                        each item, i in tableList
                            if(item.promo)
                                div(id!=`tooltip_content-promo_${i}`)
                                    p!=item.promoInfo
                    .medal
                        each item, i in tableList
                            if(item.medal)
                                div(id!=`tooltip_content-table-medal_${i}`)
                                    p!=item.medal
                                    a(href!=item.medalLink) Click more details


            p
                | There are many meal prep companies in Canada. However, the majority of them are local, which is great on the one hand. This means that companies like Live Fit Food in Ontario and Lean On Meals in Alberta use locally-grown seasonal produce from nearby farms, and customers support local businesses. On the other hand, meal prep in #[a(href="https://mealkitscanada.ca/toronto-meal-kits-review/") Toronto] may differ significantly from meal prep in Montreal or Ottawa, while the biggest ready-to-cook meal kit companies deliver the same kits all over the country.
            p
                | The good news is that the ready-to-eat meal prep delivery business is growing, and some companies, like MealPro or Heart to Home Meals, are already delivering in more than one province. MealPro is now available in British Columbia and Quebec, while Heart to Home Meals can be ordered in Alberta, Ontario, and Nova Scotia.
            p
                | Meal variety and availability vary a lot from company to company. Some smaller companies, like La Boite Du Chef or Antoine.ca in #[a(href="https://mealkitscanada.ca/montreal-and-quebec-meal-kits-review/") Quebec], only offer 7-13 meals, while such companies as Les 3 Maitres Gourmands that serves Quebec, and Live Fit Food that offers prepared meal delivery in Toronto, have more than 80 meals on their menus. The biggest menu on the meal prep market, over 200 meals, is now offered by Heart to Home Meals. Some companies offer meal prep plans or subscriptions, while others sell the meals individually.
            p &nbsp;


        // section #medals
        section
            h2
                | Special Awards
            p To help customers find the very best ready-to-eat meal delivery companies for their needs, and also to commend the best-performing Canadian meal delivery companies, our team is excited to publish our 2021 MealKitsCanada awards! We gathered data on 95 Canadian companies that deliver ready-to-eat meals of all different kinds. We examined positive and negative customer reviews, menu option variety, and price ranges to find the very best meal kits for each of our award categories.
            -
                var medals = [
                    {
                        medal: 'Best<br/> in Ontario',
                        medalLink: 'medal-bio',
                        text: 'Out of 37 different ready-to-eat meal delivery companies in Ontario, the winner of the MealKitsCanada Best in Ontario Award is One Life Meals. This company is also ranked in the top 5 of meal delivery companies nationwide. One Life Meals offers prepared meal delivery to Greater Toronto Area residents, with meals delivered on Sundays and Wednesdays. The company focuses on healthy eating and fitness-oriented diets.'
                    },
                    {
                        medal: 'Best<br/> in Quebec',
                        medalLink: 'medal-biq',
                        text: "Our MealKitsCanada Best in Quebec Award goes to FreshMTL, which beat out 13 other Quebec-based companies for this distinction. This company got its start back in 2014 by selling fruit juice, but quickly expanded to salads and then to delivering entire meals. FreshMTL has combined their juice expertise with their meal prep skills to build a popular meal delivery service that has something to satisfy everyone's tastes."
                    },
                    {
                        medal: 'Best in British Columbia',
                        medalLink: 'medal-bibc',
                        text: "After thoroughly examining 21 companies operating out of British Columbia, we are proud to announce MealPro as the MealKitsCanada Best in British Columbia winner.  The company offers a 16-dish and a 20-dish weekly plan, with the latter having a discounted delivery charge. MealPro has committed to supporting sustainable and environmentally-friendly practices for sourcing their food. All ingredients are non-GMO."
                    },
                    {
                        medal: 'Best<br/> vegetarian',
                        medalLink: 'medal-bv',
                        text: "Many meal delivery companies offer vegetarian plans, but we only found 5 companies in Canada that bill themselves as entirely vegetarian. From these 5, we are pleased to announce Planted Meals as our MealKitsCanada Best Vegetarian winner! Despite being just a year old, this company has already built up impressively high reviews, which come as no surprise given their diverse menu and affordable prices. "
                    },
                    {
                        medal: 'Best<br/> small company',
                        medalLink: 'medal-bsc',
                        text: "We are excited to present our MealKitsCanada Best Small Company award to 2 Guys With Knives. This small business prides themselves on using the highest quality cuts of meat and organic local produce from natural and environmentally-friendly sources. 2 Guys With Knives say that quality matters, and their customers agree: reviews have been extremely positive with special praise for the taste and quality of the meals."
                    },
                    {
                        medal: 'Best<br/> delivery',
                        medalLink: 'medal-bd',
                        text: "Our MealKitsCanada Best Delivery award goes, without a doubt, to LiveFit Foods. This meal delivery company has built a loyal base of customers across Canada thanks to their quick, efficient, and reliable delivery services. Customers reported that on the few instances when there were delivery problems, LiveFit Foods representatives were very responsive and quickly resolved the issue. New customers receive free shipping."
                    },
                    {
                        medal: 'Best<br/> Selection',
                        medalLink: 'medal-bs',
                        text: "With over 100 items on their menu, our MealKitsCanada Best Selection award goes to Yogi’s Kitchen. This company’s focus on South Asian cuisine has won them extensive praise for their exquisite flavors and unique spice combinations. Yogi’s Kitchen offers 4 different meal packages and three different meal plans based on the type and quantity of food desired. The company offers free delivery for all customers."
                    },
                    {
                        medal: 'Best eco-friendliness',
                        medalLink: 'medal-bef',
                        text: "When it comes to environmentally-conscious eating, few companies match the standard set by On The Run Meals, which is why they’re the winners of the MealKitCanada Best Eco-Friendliness award. This company avoids processed food in favor of local, ethically sourced, organic, and non-GMO ingredients. On The Run Meals also stands out with their thoughtfully designed packaging, all of which is either biodegradable or recyclable."
                    },
                    {
                        medal: 'Best value for the money',
                        medalLink: 'medal-bvftm',
                        text: "Meal delivery services can get pretty expensive, so it’s important to get your money’s worth. Our MealKitsCanada Best Value award goes to Lean On Meals, a company that offers tasty meals at an affordable price and strives to make sure that their customers are satisfied with the service. Lean On Meals is unique for their no-questions-asked refund guarantee, though the company warns that this program should not be abused."
                    },
                    {
                        medal: 'Best<br/> for fitness',
                        medalLink: 'medal-bff',
                        text: "Meal kit food can often be so good that you find yourself putting on a few extra pounds. Our MealKitsCanada Best Fitness award goes to Power Kitchen, a company that aims to please with their healthy and delicious fitness-driven menu items. This company offers customized meal plans that combine various meal boxes to meet each client’s own fitness goals, whether they’re looking to bulk up, build muscle tone, or slim down."
                    },
                ]
            each item in medals
                -
                    var clearName = item.medal.replace('<br/>','')
                .row.medal-info.mb-4(id!=item.medalLink)
                    .col-12.col-md-auto
                        .medal.medal_big.mx-auto.mx-md-0
                            .medal__bg
                            .medal__text!=item.medal
                    .col-12.col-md-auto
                        h3!=clearName
                        p!=item.text
        section
            h2
                | Is Meal Prep in Canada Expensive?
            p
                | While the overall idea of meal prep boxes sounds appealing, some Canadians may think that it would be too expensive to order meal prep delivery. What we can see from the table above is that the #[a(href="https://mealkitscanada.ca/costs-and-cheapest-meal-kit/") cost] of meal prep boxes varies from just $2 per serving at Chomp Vegan Eatery that serves British Columbia, to as high as $25 per serving at Saveurs Santé in Quebec. On average, you can order a meal prep box for about $11-$15 per serving, which is comparable to ready-to-cook meal kit prices.
            p &nbsp;

        section
            h2
                | The Benefits of Meal Prep Delivery in Canada
            .row.justify-content-center
                .col-12
                    // begin info-block
                    .info-block
                        .inner
                            .title
                                | The benefits of ready-to-eat meal prep services are similar to those of ready-to-cook meal kit companies:
                            ul
                                li
                                    .elem-icon.elem-icon_good
                                        | When you subscribe to a meal prep plan, you don’t have to think about what’s for dinner anymore
                                li
                                    .elem-icon.elem-icon_good
                                        | You save time on meal planning, grocery shopping, and cooking
                                li
                                    .elem-icon.elem-icon_good
                                        | You try new cuisine and broaden your taste horizons
                                li
                                    .elem-icon.elem-icon_good
                                        | You support local businesses and local farms by getting locally-raised produce
                                li
                                    .elem-icon.elem-icon_good
                                        | You reduce food waste
            p
                | The only major difference between getting a ready-to-cook meal kit or a ready-to-eat meal prep service is that you won’t get any new cooking skills since you don’t have to cook, just heat the meal up.
            p &nbsp;

        section
            h2
                | Final Words About Meal Prep Delivery in Canada
            p
                | Meal prep delivery services in Canada are on the rise. In big cities, people are very busy. They prefer to save time anywhere they can. Meal prep companies give them this opportunity by delivering food that has already been cooked and only needs to be heated to consume, and Canadians appreciate it. The majority of companies don’t freeze their meals, making them as close to home-made meals as possible.
            p Some meal prep companies choose a small niche and deliver specialized menus, such as vegetarian, organic, keto, kosher, or halal meals.
            p While there are no nationwide meal prep companies at the moment, almost every big city in Canada has at least one available to the residents. All you need to do is search for “meal prep near me,” and you are likely to find one. You will have an option to buy individual meals or subscribe to one of the meal prep plans to have a weekly delivery. In case you prefer to cook your own food and eat it fresh from the stove, check out our #[a(href="https://mealkitscanada.ca/") meal kit reviews].
            p &nbsp;
