---
title: Meat Lovers Diet Page
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-9
                    h1.mb-2 Meat Lovers Diet Page
                    .no-br
                        p
                            | While the vegetarian diet gains popularity among fellow Canadians, the majority of meal kit customers still love meat and fish and consume it regularly. We have already reviewed&nbsp;
                            a(href="https://mealkitscanada.ca/vegetarian-meals-and-meal-plans-in-canada/") vegetarian
                            | &nbsp;and vegan diets as well as such specialty foods as&nbsp;
                            a(href="https://mealkitscanada.ca/kosher-and-halal-meal-delivery-in-canada/") kosher and halal
                            |, and now it is time to review diets for meat lovers. We have selected the most popular diets that allow meat, poultry, fish, and seafood consumption and reviewed the meal kit companies that serve the followers of these diets.

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('meat-diet/hero','jpg','','alt')


        // section
        section
            h2
                | Best meal kits for meat lovers
            p
                | These companies offer the best kits for meal lovers. Some of them offer meal kits that include meat, vegetables, grains, and spices, while others, like Papa Earth, deliver meat and fish only.
            +top-rating(2)


        // section
        section
            h2
                | Meat-lover diets
            p
                | Similar to the variety of vegetarian diets, there is a huge variety of diets for meat lovers. Below we look closely at the most popular diets that allow and encourage having meat on the everyday menu.

            .row
                .col-12.col-lg-7
                    h3
                        | Carnivore Diet
                    p
                        | The carnivore diet consists of animal-based foods only. It includes beef, pork, lamb, chicken, turkey, duck, goose, organ meats, all types of fish, and seafood. It also allows for consuming butter, lards, bone marrow, and heavy cream. For all carnivore diet followers, it is important to get the best quality ethical meat that was raised on the free-run or free-range without any antibiotics, pesticides, and herbicides.
                    p
                        | One of the best companies on the Canadian market that delivers ethical meat boxes is Papa Earth. The boxes come in three sizes, a small one for a single person, a medium one for 2-3 people, and a large one for families. Each box can be customized or curated. The customized box will contain all the items that you select, and curated boxes contain items selected for you by the Papa Earth team. The company offers different types of high-quality, ethical meat, fish, seafood, and butter.
                .col-12.col-lg-5.pt-4
                    +img('meat-diet/carnivore-diet','jpg','w-100','Carnivore Diet')
            p &nbsp;

            .row
                .col-12.col-lg-5.order-lg-1.order-2.pt-4
                    +img('meat-diet/keto-diet','jpg','w-100','Keto Diet')

                .col-12.col-lg-7.order-lg-2.order-1
                    h3
                        | Keto Diet
                    p
                        | The ketogenic diet, or keto, for short, is another diet that consists mostly of animal-based foods. It includes all foods from the carnivore diet plus nuts, seeds, some vegetables, and healthy oils. The goal of the ketogenic diet is to reach ketosis, a metabolic state in which the body uses fat instead of carbs to generate energy.
                    p
                        | So far, there are no meal kit companies that would offer keto meals. However, such companies as&nbsp;
                        a(href="https://mealkitscanada.ca/chefs-plate-review/") Chefs Plate
                        | &nbsp;offer Meat and Vegetable boxes that might fit the keto profile. Carbs such as pasta or potatoes can be easily avoided in any case because they are packed separately.
            p &nbsp;

            .row
                .col-12.col-lg-7
                    h3
                        | Low Carb High Fat Diet
                    p
                        | The Low Carb High Fat (LCHF) diet is low in carbohydrates, moderate in proteins, and high in fats. It is not as restrictive as the carnivore or keto diet and allows up to 100 grams of daily carbs. The main principle of the LCHF diet is to consume fewer carbs and replace them with healthy fats. The recommended foods for the LCHF diet are eggs, oils, fatty fish, fatty meat, non-starchy vegetables, berries, nuts, seeds, and spices.
                    p
                        | For the LCHF diet followers, it is much easier to find a suitable meal kit because many types of food are allowed. To help you make a selection, some companies, e.g.,&nbsp;
                        a(href="https://mealkitscanada.ca/hello-fresh-canada-review/") HelloFresh
                        |, mark their meals as Carb Smart if they contain 50 grams of carbohydrates or less. These include Sesame Roasted Chicken Salad or Italian Meatballs and Chickpeas, to name a few.
                .col-12.col-lg-5.pt-4
                    +img('meat-diet/low-carb-diet','jpg','w-100','Low Carb High Fat Diet')
            p &nbsp;

            .row
                .col-12.col-lg-5.order-lg-1.order-2.pt-4
                    +img('meat-diet/paleo-diet','jpg','w-100','Paleo Diet')

                .col-12.col-lg-7.order-lg-2.order-1
                    h3
                        | Paleo Diet
                    p
                        | The paleo diet includes foods and vegetables that could be obtained by hunting and gathering in the past and limits foods that became available with the development of farming. It allows lean meats, fish, seafood, fruits, vegetables, nuts, and seeds and recommends to avoid dairy products, legumes, and grains.
                    p
                        | It would be tricky to find a meal kit for the paleo diet followers. However, it is not impossible. It would be easier for them to go with small local&nbsp;
                        a(href="https://mealkitscanada.ca/meal-kit-delivery/") meal kit delivery
                        | &nbsp;companies, e.g.,&nbsp;
                        a(href="https://mealkitscanada.ca/zestykits-canada-review/") ZestyKits
                        | &nbsp;in Saskatchewan, because sometimes they allow some customization in their meal kits.
            p &nbsp;

            .row
                .col-12.col-lg-7
                    h3
                        | Atkins Diet
                    p
                        | The Atkins diet is named after the physician Dr. Robert C. Atkins, who wrote a book about it in 1972. Similar to leto and LCHF diets, the Atkins diet is high in protein and fats and low in carbs. The diet is split into four different stages: induction, balancing, fine-tuning, and balancing. These stages are based on how many grams of carbs you are allowed to eat, from 20 grams per day at induction to as many as your body can tolerate without regaining weight at the maintenance stage.
                    p
                        | To start this diet, you can order a box from Papa Earth with high-quality protein and supplement it with green salads. As you gradually progress through stages, you either add more products from other food groups to the Papa Earth boxes or try such meal kit companies as&nbsp;
                        a(href="https://mealkitscanada.ca/goodfood-review/") GoodFood
                        | &nbsp;or HelloFresh that include items from all food groups in their kits.
                .col-12.col-lg-5.pt-4
                    +img('meat-diet/atkins-diet','jpg','w-100','Atkins Diet')
            p &nbsp;



        // section
        section
            h2
                | Meat – Lover Diets Comparison
            p
                | Here is the comparison of all the different types of diets for meat lovers mentioned above. Naturally, they all allow meat and fish, some of them allow certain types of vegetables, legumes, and nuts, but all of them do not recommend consuming any grains if your goal is to lose weight. For weight maintenance, grains are allowed in limited quantities.

            .table-responsive.mb-4
                -
                    var tableList = [
                        {
                            product: 'Meat & Poultry',
                            carnivore: 'check',
                            keto: 'check',
                            lchf: 'check',
                            paleo: 'check',
                            atkins: 'check'
                        },
                        {
                            product: 'Fish & Seafood',
                            carnivore: 'check',
                            keto: 'check',
                            lchf: 'check',
                            paleo: 'check',
                            atkins: 'check'
                        },
                        {
                            product: 'Eggs & Dairy',
                            carnivore: 'close',
                            keto: 'Some',
                            lchf: 'check',
                            paleo: 'Some',
                            atkins: 'check'
                        },
                        {
                            product: 'Vegetables',
                            carnivore: 'close',
                            keto: 'Some',
                            lchf: 'Some',
                            paleo: 'Some',
                            atkins: 'Some'
                        },
                        {
                            product: 'Fruits & Berries',
                            carnivore: 'close',
                            keto: 'Some',
                            lchf: 'Some',
                            paleo: 'check',
                            atkins: 'Some'
                        },
                        {
                            product: 'Nuts',
                            carnivore: 'close',
                            keto: 'Some',
                            lchf: 'Some',
                            paleo: 'check',
                            atkins: 'check'
                        },
                        {
                            product: 'Legumes',
                            carnivore: 'close',
                            keto: 'close',
                            lchf: 'Some',
                            paleo: 'check',
                            atkins: 'Some'
                        },
                        {
                            product: 'Grains',
                            carnivore: 'close',
                            keto: 'close',
                            lchf: 'close',
                            paleo: 'close',
                            atkins: 'close'
                        },

                    ]
                table.table-simple.table_meat-diets.table-simple_stripped-2.table-simple_mobile-sticky--left.table-simple_f-line-padding
                    thead
                        tr
                            th.vam
                                | Type of Food/Diet
                            th
                                | Carnivore
                            th
                                | Keto
                            th
                                | LCHF
                            th
                                | Paleo
                            th
                                | Atkins

                    tbody
                        each item, i in tableList
                            tr
                                td
                                    span!=item.product
                                td
                                    if item.carnivore == 'Some'
                                        | Some
                                    else
                                        +icon(item.carnivore)
                                td
                                    if item.keto == 'Some'
                                        | Some
                                    else
                                        +icon(item.keto)
                                td
                                    if item.lchf == 'Some'
                                        | Some
                                    else
                                        +icon(item.lchf)
                                td
                                    if item.paleo == 'Some'
                                        | Some
                                    else
                                        +icon(item.paleo)
                                td
                                    if item.atkins == 'Some'
                                        | Some
                                    else
                                        +icon(item.atkins)



        // section
        section
            h2
                | The Bottom Line
            p
                | While the vegetarian movement slowly gains popularity, the majority of Canadians still love to eat meat. There is a huge variety of meat-lover diets, but for all of them, it is highly preferable to buy high-quality, ethical meat from local companies. It is not always easy to find this type of meat in the supermarkets. This is when companies like Papa Earth come in handy. They deliver the best quality products from the local ethical meat farms to your doorstep, saving you time, and supporting your diet goals.
            p
                | To keep your diet balanced, it is important to include different food types in your meals. The majority of meal kit companies develop well-balanced menus that would fit both vegetarian and meat-lover diets. Please check our meal kit company reviews and make educated choices!
