---
title: MKC by areas
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Meal Kits Deliveries by Areas in Canada
                    .no-br
                        p
                            | When looking at meal kit delivery options across a country as large as Canada, it is difficult to provide an exact analysis of specific neighborhoods. It does not help that Canada’s meal prep services do not provide maps of their delivery areas, and instead ask you to input your specific postal code to see if they work in your area.
                        p
                            | Below is an updated map of where each of Canada's meal kit delivery areas encompasses, what we are doing is fleshing out exactly what companies operate in what cities.  Now, if you live in a bedroom community or exurb of these cities, it's still unlikely that most of the meal prep delivery companies will deliver to your area (check out our&nbsp;
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh review
                            |  to look into your best option if don't live right inside an urban centre).


                .col-lg-4.d-none.d-lg-block.text-center
                    img(src=imgPath('maps/mkc-by-areas.svg'), alt="")

        section.section-eat-map
            | [eat_map]

        // section
        section
            h2
                | Prepared meal delivery service is available for you.
            .row
                .col-12.col-lg-6
                    p
                        | We were curious to know the eating habits of fellow Canadians and how the meal prep companies take them into consideration. After analyzing the questionnaires, we found some interesting results.
                    p
                        | The average household in Canada is two to three people, and 70% of household members prefer to eat some meals—usually dinners—together. An average Canadian spends 91 minutes on eating two meals a day. Almost 70% of Canadian residents are buying or willing to buy their groceries online. On average, it takes them 31 minutes to shop for their groceries and 42 minutes to cook dinner.
                    p
                        | Meal prep companies eliminate grocery shopping time and reduce cooking time to 20 or 30 minutes, depending on the recipe. That’s about 45 minutes of free time for those Canadians who prefer to use meal prep services in their area!
                    p
                        | Those Canadians who already use meal prep services agree that meal kits save time (65%) and expose them to new cuisines, recipes, and flavors (73%). Even the 9.4% of Canadians who don’t eat meat agree that meal prep companies expand their horizons in terms of new food experiences. Almost every meal prep delivery company in Canada offers either separate meals for vegetarians or the whole meal prep plan that consists of vegetarian recipes only.
                    p
                        | Overall, we can say that meal prep companies respond well to the needs and interests of Canadians. They help save time on cooking and grocery shopping, and at the same time provide great culinary experiences for both meat-eaters and vegetarians.

                .col-12.col-lg-6
                    style.
                        @media (max-width: 767px){
                            .table_two-col.table_two-col_m520{
                                min-width: 520px;
                            }

                        }
                    h4
                        | Canadians' eating habits and opinions, 2019 - 2020
                    .box.mb-4
                        .table-responsive
                            table.table_two-col.table_two-col_m520
                                tr
                                    th
                                        | Average household size
                                    td
                                        | 2.5 persons

                                tr
                                    th
                                        | Eating some meals with a partner
                                    td
                                        | 70%

                                tr
                                    th
                                        | Average meals per day
                                    td
                                        | 2

                                tr
                                    th
                                        | Average time spent grocery shopping
                                    td
                                        | 31 minutes

                                tr
                                    th
                                        | Average time spent preaparing a dinner
                                    td
                                        | 42 minutes

                                tr
                                    th
                                        | Average time spent on eating
                                    td
                                        | 91 minutes

                                tr
                                    th
                                        | Vegetarians and vegans
                                    td
                                        | 9.4%

                                tr
                                    th
                                        | Influenced by nutrition info when buying food
                                    td
                                        | 58%

                                tr
                                    th
                                        | Buying or willing to buy groceries online
                                    td
                                        | 69%

                                tr
                                    th
                                        | Agree that meal kits save time
                                    td
                                        | 65%

                                tr
                                    th
                                        | Agree meal kits expose to new cuisines
                                    td
                                        | 73%

        //- p &nbsp;

        section
            h2
                | Our Meal Prep Delivery Guides by City
            p
                | At the same time that we're working on developing our meal prep delivery map, we’re also working on developing city-specific guides. As of 2020, three food prep delivery services dominate the overall market—&nbsp;
                a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh
                |,&nbsp;
                a(href='https://mealkitscanada.ca/chefs-plate-review/') Chefs Plate
                |, and&nbsp;
                a(href='https://mealkitscanada.ca/goodfood-review/') Goodfood
                |. We call them "The Big 3" which In addition, they are also available coast-to-coast. (Metro grocery-owned&nbsp;
                a(href='https://mealkitscanada.ca/miss-fresh-review/') Miss Fresh
                | &nbsp;is also available in most Canadian urban markets.)
            p
                | Along with these larger companies, regional contenders have popped up across Canada. The more we continue to learn about and test these meal prep delivery companies in Canada, the greater MealKitsCanada will continue to become as we update it. If you are particularly fond of one of these smaller regional competitors—or if you own one—
                a(href="https://mealkitscanada.ca/about/") drop us a line
                |, and we can chat!
            //- p
            //-     | The best meal kit companies in&nbsp;
            //-     strong Toronto
            //-     | &nbsp;are Hello Fresh, Goodfood, Chefs Plate, and Miss Fresh, in addition to several regional companies.
            //- p
            //-     | The best meal prep companies in&nbsp;
            //-     strong Calgary and Edmonton
            //-     | &nbsp;are The Big 3 plus two smaller local meal kit delivery firms: Rooted and Spud.
            //- p
            //-     | The best meal prep services in&nbsp;
            //-     strong Montreal and Quebec
            //-     | &nbsp;are The Big 3, Miss Fresh, and a smaller local company, COOK It.
            //- p
            //-     | The best meal prep delivery companies in&nbsp;
            //-     strong Vancouver
            //-     | &nbsp;include The Big 3 plus the local Eat Your Cake, Fresh Prep, FUUD, 2 Guys With Knives, and The Good Stuff.
            //- p
            //-     | The best meal kits in&nbsp;
            //-     strong Winnipeg, Regina, and Saskatoon,
            //-     | &nbsp;are offered by The Big 3 with only one local competitor—Zesty Kits.
            //- p
            //-     | The best meal prep companies in&nbsp;
            //-     strong Halifax and the Maritimes
            //-     | &nbsp;are The Big 3 companies together with Sauté, available partially in the region.


            include partials/box-area


        section
            h2
                | Summary
            p
                | Overall, the vast majority of Canadians now have access to at least one meal prep delivery service. If you’re fortunate enough to live in Toronto, you have access to 7+, while the majority of Canadian urban centers now offer at least one local-based alternative in addition to The Big 3 nation-wide options. With meal kits predicted to massively increase in popularity over the next few years given their success in Europe and the USA, there is little doubt that increased competition will push prepared meal delivery companies to refine their services and offer them to as many Canadians as possible. Keep returning to our meal kit delivery guide for the latest updates as the industry continues to expand.