---
title: Home
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row
                .col-12.col-lg-9
                    h1.mb-2 Plated Review 2020
                    .no-br
                        p
                            | As one of the biggest American meal kit companies, together with Blue Apron and Home Chef, many Canadians have been wondering if Plated is in Canada yet, or when Plated will be delivering meal kits to their home province.
                        p
                            | The answers are: No, and … It will not.
                        p
                            | Read our most recommended meal kits reviews instead! there are great companies offering everything Home Chef does with a strong Canadian orientation and up-to-par service and quality.
                        p
                            a.mr-3(href='https://mealkitscanada.ca/hello-fresh-canada-review/')
                                span
                                    | Hello Fresh Review
                            a.mr-3(href='https://mealkitscanada.ca/chefs-plate-review/')
                                span
                                    | Chefs Plate Review
                            a(href='https://mealkitscanada.ca/goodfood-review/')
                                span
                                    | Goodfood Review
                .col-lg-3.d-none.d-lg-block
                    .logo-country.box.mb-2
                        +img('logos/logo_plated-red','jpg','logo-country__logo','alt')
                   

        // section
        section.top-rating__wrapper
            +top-rating(2)

          
        // section
        section
            h2
                | Plated Review: Editorial Notes
            p
                | These days, Plated is owned by Albertsons (a large grocery chain) after it was 
                a(href="#") purchased in 2017 for over $200 Million
                |. The chain is experimenting with including meal kits on its shelves but has not substantively changed the core business of ordering meal kits online.
            p
                | The company started with much more humble origins, however. In the summer of 2011, Josh Hix and Nick Taranto decided that supper needed to be done differently. For a while, the only thing they changed was their bank account balances as they invested a ton of cash into the company with little to show for it except for hard-won experience.
            p
                | Their big break came when they managed to get on the entrepreneurial media juggernaut TV show Shark Tank in 2014. Dallas Mavericks owners and tech guru Mark Cuban did a deal on the show—but when the two sides couldn’t agree on final terms, fellow Shark, Kevin O’Leary stepped in and provided a round of funding. After the episode aired, Plated got many new subscriptions and was off to the races. Their biggest competitors down in the USA are Blue Apron and Home Chef (neither of which is in Canada right now either) as well as the international meal kit king: Hello Fresh.


        // section
        section
            h2
                |  Plated Review: Credibility and Reputation
            .row
                .col-12.col-lg-5
                    p Plated meal kit company ceased its operation in 2019. The last order delivery date was November 26, 2019. The company promptly processed the refund to those customers who ordered their kits beyond this date.
                    p Plated did not leave the market completely. It has grown into a comprehensive culinary brand with a wide selection of meal kits that can be purchased in Northern California Safeway stores.
                    p Plated used to offer thirty recipes to choose from every week, including vegetarian options. The customers could subscribe to one of the three plans and order two to four meals for two to four people per week. Today, customers can still purchase these meals, but not directly from the company. They need to go to the supermarket or order delivery via local grocery shopping and delivery companies.
                .col-12.col-lg-7
                    .company-table
                        //table 1
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Price per serving
                                    td
                                        .color-primary
                                            | $7 - $9
                                tr
                                    th
                                        | Weekly Total
                                    td
                                        .color-primary
                                            | $35.96 -$323.64
                                tr
                                    th
                                        | Shipping
                                    td
                                        .color-primary
                                            | $7 - $14
                                tr
                                    th
                                        | Number of plans
                                    td
                                        | No different plans
                                tr
                                    th
                                        | Veggie options?
                                    td
                                        +icon('check')
                        //end table 1

                        //table 2
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Number of meals to choose from each week
                                    td
                                        img.company-table__icon(src=imgPath('icons/bread-and-meal.svg'), alt="")
                                        | 22
                                tr
                                    th
                                        | Recipes per week
                                    td
                                        img.company-table__icon(src=imgPath('icons/recipe-book.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Number of people
                                    td
                                        img.company-table__icon(src=imgPath('icons/users.svg'), alt="")
                                        | 2-6
                                tr
                                    th
                                        | Сooking time (min)
                                    td
                                        img.company-table__icon(src=imgPath('icons/clock.svg'), alt="")
                                        | 10 - 60 min
                        //end table 2

                        //table 3
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | BBB Rating
                                    td
                                        | A+
                                tr
                                    th
                                        | Google Rating
                                    td
                                        | 3.4
                                tr
                                    th
                                        | Downloadable App
                                    td
                                        | Yes
                        //end table 3




          
        // section
        section
            h2
                | Plated in Canada vs. Hello Fresh, Chefs Plate, and Goodfood
            .row
                .col-12.col-lg-7.order-md-2.order-lg-2
                    p
                        | While it’s not easy to do the Plated vs. Chefs Plate or Plated vs. Goodfood comparisons due to the fact they don’t compete head-to-head in any markets, there is one Canadian meal kit company that does go toe-to-toe down in the US: Hello Fresh.
                    p
                        | Now, obviously, the Hello Fresh vs. Plated comparison is only slightly relevant to Canadians because the American market is so much different from ours. That said, I think that one can draw some conclusions on the relative quality of Hello Fresh’s offerings in Canada, as well as what a possible matchup might look like if Plated ever came to Canada.
                    p
                        | In reading several dozen Plated vs. Hello Fresh comparison articles and reviews from down in the States, it should come as no surprise that two massive meal kit companies are very comparable. Hello Fresh did win out roughly 75% of the time on overall taste, but clearly, there is room for reasonable eaters to disagree on that subjective measure! It seemed that Plated generally had an advantage when it came to offering more elaborate “finer dining” recipes, while Hello Fresh nudged ahead in areas such as price, and overall fresh quality of produce. 

                    
                .col-12.col-lg-5.order-md-1.order-lg-2.text-center.mb-3
                    +img('versus/libra4','png','','alt')

            .row.justify-content-center
                .col-12.col-lg-11
                    .info-block.mt-0
                        .inner
                            p
                                | The most interesting advantage that Plated had (mentioned in almost every single review) was that they included desert! It seems like this was a big win. Personally, I eat more than my fair share of dessert—even when it’s not delivered to my door—but that’s just me. Plated also had more recipes to choose from each week. Almost all of the reviews noted that if you were looking for portion size per dollar, then Hello Fresh was the better bet (and also easier to cook).

        // section
        section
            h2.mb-2 Excellent Canadian Meal Kit Options to Try Instead of Plated
            .row
                .col-12.col-lg-8
                    .no-br
                        p
                            | I actually had several Plated ads pop up on my social media feeds (maybe it tracked me when I was traveling in the USA), and I will say that the pictures looked tasty. I’m hoping that Plated comes to Canada sooner rather than later because more competition is always good for the consumer. 
                        p
                            | For the time being, Plated has not released any information on if or when they will come north. Our opinion is that they are fighting pretty hard for market share in the American market, and trying to figure out if they can make the grocery store + meal kit marriage happen. Consequently, Canada is “small potatoes” for them right now.
                        p
                            | That said, see what great Canada-wide meal kit delivery options exist by checking out our 
                            a(href='https://mealkitscanada.ca/chefs-plate-review/') Chefs Plate Review
                            |, 
                            a(href='https://mealkitscanada.ca/goodfood-review/') Goodfood Review
                            |, and 
                            a(href='https://mealkitscanada.ca/hello-fresh-canada-review/') Hello Fresh Review
                            |. We include our exclusive promo offer codes that make it cheaper than groceries to give each of Canada’s best meal kits a trial period in your kitchen!
                .col-lg-4.d-none.d-lg-block.text-center
                    +img('index/hero','png','','alt')
                    
        
        // section
        section
            h2
                | Frequently Asked Questions:
            .accordion#accordion1
                .accordion__item
                    .accordion__head
                        | Can I buy Plated meal kits in Canada?
                    .accordion__body
                        p
                            | No, they are only sold in the USA in Northern California supermarkets.

                .accordion__item
                    .accordion__head
                        | Does Plated plan to come to the Canadian market?
                    .accordion__body
                        p
                            | The best subscription boxes for you will have the meals that you like, as many as you like per week. Hopefully, you have multiple food delivery services in your area and can pick the one that fits your needs best.

              
        // section
        section
            h2
                | The Bottom Line
            p
                | Even though Plated did not succeed as a meal delivery company, it found its niche on the market by selling meal kits in the US supermarkets. Hopefully, it will make its way to the Canadian market one day. In the meanwhile, feel free to try Canada meal delivery companies, and don’t forget to use the coupons!
