---
title: review
---
extends layouts/_layout
block content
    .container.review
        // begin review top
        noscript
            style.
                .review__top.js-replace-review{opacity: 1 !important;}
        .review__top.js-replace-review(style="opacity:0")
            .row
                .col-12.col-md-6.col-lg-4
                    .review-box.box
                        .review-box__top
                            img.review__logo(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/16_logo_cook-it_16_logo_cook-it.svg" alt="Cook It")
                        .review__rating
                            .top
                                span
                                    | Overall rating&nbsp;
                                b.color-secondary
                                    | 80.1%
                            .bottom
                                +stars('4')
                            .sub
                                | Updated on May 27, 2020
                        hr
                        .js-map-text-position-1
                            .js-move-map
                                .review__map
                                    .review-short__title Delivery area
                                    img(src=imgPath('maps/hf-map.svg'), alt="")
                        .noaff-btn
                            .noaff-btn__inner
                                .noaff-btn__title Not Available via MKC
                                a.btn.btn_yellow.review-box__btn.js-helper-hidden(href="#top-rating")
                                    | Click here to view alternatives

                .col-12.col-md-6.col-lg-8
                    .js-map-text-position-2
                        .js-move-text.review-text-wrapper
                            h1.review__title
                                | Fresh Prep Review 2020
                            p
                                | Check out our quick comparison table below to use our free promo offer code AFF65, and read the rest of our HelloFresh review for more details on Canada’s most popular meal kit company.
                            p
                                | As meal kit delivery services have gotten more popular across Canada in 2019 and into 2020, several competitors have popped up in Canada’s urban centers, but for many rural areas, HelloFresh is the only option available. However, it has been the tasty options and life-changing convenience that has had us raving about the service and recommending it to our friends and family!

                    .row
                        .col-12.col-lg-8.mb-4
                            .review__vote.box
                                .text
                                    div
                                        | HelloFresh Ratings by Our Readers
                                    .smaller.color-gray
                                        | Cast your vote by selecting either button
                                .btns
                                    button.up(data-reader-vote-type="positive" data-reader-vote-url="/rhw_api_voting_v3.php?id=1")
                                        +icon('thumbs-up')
                                        | 10
                                    button.down(data-reader-vote-type="negative" data-reader-vote-url="/rhw_api_voting_v3.php?id=1")
                                        +icon('thumbs-down')
                                        | 6

                        .col-12.col-lg-4.mb-4
                            .review__sitelink.review__sitelink_aff.box
                                div
                                    | Official website:
                                | www.freshprep.ca

                        .col-12.col-lg-6.mb-4
                            .box.review-short
                                .review-short__title
                                    | Plans for
                                ul.review-short__list
                                    li
                                        .elem-icon.elem-icon_good
                                            | Own independent delivery system
                                    li
                                        .elem-icon.elem-icon_good
                                            | All vegetables are pre-cut
                                    li
                                        .elem-icon.elem-icon_good
                                            | Solid cooler bag construction
                                    li
                                        .elem-icon.elem-icon_good
                                            | Produce sourced from Vancouver area
                                    li
                                        .elem-icon.elem-icon_bad
                                            | Online chat not supported
                                    li
                                        .elem-icon.elem-icon_good
                                            | Meat sometimes comes frozen

                                .review-short__line

                                .review-short__title
                                    | Price ranges

                                .review-short__half
                                    | $78 - $165 / week
                                .review-short__half
                                    | $9.69  - $11.49 / serving

                        .col-12.col-lg-6.mb-4
                            .box.review-proscons
                                .review-short__title
                                    | Pros and Cons
                                ul.review-proscons__list
                                    li
                                        .elem-icon.elem-icon_good
                                            | Easily skip weeks as needed
                                    li
                                        .elem-icon.elem-icon_good
                                            | Wide delivery service area
                                    li
                                        .elem-icon.elem-icon_good
                                            | Reusable packaging
                                    li
                                        .elem-icon.elem-icon_good
                                            | Large variety of meals
                                    li
                                        .elem-icon.elem-icon_good
                                            | Calorie info provided
                                    li
                                        .elem-icon.elem-icon_bad
                                            | Individual packaging – environmental concern

                        .col-12.review-coupon__wrapper
                            .ab.review-coupon.review-coupon_text-biggers.mb-2
                                | No exclusive promotions available via MKC


        // end review top

        // section
        section#top-rating
            h2
                | Our Top-Rated Alternatives to Fresh Prep
            +top-rating(3)


        // section
        section
            h2
                | Editorial Notes
            p
                | No matter if you are single or have a family, vegetarian or not, Hello Fresh menu has an option for you. Out of three delicious plans and a good variety of meals, you will always have something to choose from. You will always have an answer to the most asked question in the Universe, “What’s for dinner?”
            p
                | HelloFresh meals are delivered almost everywhere in Canada. In case you need to skip a week, you are welcome to do so with just a couple of clicks. When you receive your meal kits, they will be thoroughly packed. Please don’t forget to return all the reusable packaging.
            p
                | Use the HelloFresh coupon AFF65 to receive $65 off your first three orders!
            .ab.ab-t1
                .left
                    h2.ab__title
                        | CoVID-19 Safety Measures
                    ul.ab__list
                        li
                            .elem-icon.elem-icon_good
                                | Food safety checks
                        li
                            .elem-icon.elem-icon_good
                                | Food suppliers monitored
                        li
                            .elem-icon.elem-icon_good
                                | Drivers wear masks and gloves
                        li
                            .elem-icon.elem-icon_good
                                | Vehicles disinfected regularly
                        li
                            .elem-icon.elem-icon_good
                                | No-contact delivery
                        li
                            .elem-icon.elem-icon_good
                                | Employee health checks
                .right
                    +img('decor/covid20','png','','covid19')



        // section
        section#credibility
            h2
                | HelloFresh: Credibility and Reputation
            .row
                .col-12.col-lg-7
                    p
                        | HelloFresh started eight years ago in Germany and quickly expanded its operation to Austria, Belgium, Luxemburg, the Netherlands, the United Kingdom, Switzerland, Canada, USA, Australia, and New Zealand. HelloFresh Canada branch started operations in 2016. Since that time, they have quickly expanded to become the biggest meal kit service company in Canada. Ian Brooks, the Canadian CEO, stated that Hellofresh can deliver fresh food to dinner tables nearly a week faster than top-end supermarkets. Virtually guaranteeing that you are getting the freshest food available to consumers, no matter where you live. Hellofresh has considerable experience in food logistics after running meal kit services on several continents around the world, and by cutting out the middleman when it comes to getting food from the field to your plate ASAP!
                    p
                        | Two unique aspects of Hellofresh are the ability to deliver nearly anywhere in Canada, and their commitment to environmental responsibility. Unlike all of Canada’s other meal kit companies, Hellofresh is available in most bedroom communities and rural areas. If you live outside of our major urban centers, you know how hard it can be to get custom services like meal kits delivered to your house. (An argument can be made that meal kits are actually most valuable to rural customers who have to deal with higher grocery prices, much less fresh produce, and comparatively sparse selections.)
                    p
                        | Additionally, Hellofresh has taken the lead in trying to minimize the environmental impact when it comes to meal kits. The truth is that one of the drawbacks to meal kits is that their individual packaging makes for a lot of waste relative to buying produce in the traditional manner. That said, Hellofresh has done an excellent job making nearly every piece of packaging recyclable and has pioneered a freezer bag recycling program where they pick up last week’s freezer bags instead of simply having you throw them out.

                .col-12.col-lg-5
                    .box.mb-4.sticky_top
                        table.table_two-col
                            tr
                                th
                                    | Established in
                                td
                                    | 2016
                            tr
                                th
                                    | Registered in

                                td
                                    | Toronto, ON
                            tr
                                th
                                    | CEO

                                td
                                    | Dominik Richter
                            tr
                                th
                                    | Clients in Canada

                                td
                                    | 90,000
                            tr
                                th
                                    | BBB grade
                                td
                                    | A-
                            tr
                                th
                                    | Independent rating
                                td
                                    +stars('4.5')
                                    span.color-gray (Google)



        // section
        section#plans
            h2
                | HelloFresh Meal Plans and Menus
            p
                | Like most meal kit providers, Hello Fresh has several plans available, depending on your needs.
            p
                | Each week you will get to choose from 7-8 recipe options from the Hello Fresh menu. It bears repeating that choosing your options is incredibly simple, as the Hello Fresh app is as smooth as one would expect from the biggest meal kit provider in the world. It involves roughly four taps of the phone, and you can plan next week’s meals in under two minutes! My wife and I will often plan three weeks at once when we remember to do it.
            p
                | If you ever want to skip a week or two because you’re away from home, or just want to save a few bucks, it’s very easy to do so via the app.
            p
                | After nine months with HelloFresh, we’ve seen roughly 15-20 recipes ever repeated in the menu (and considering that we ordered almost all of them again, it’s likely because they were quite popular). Here’s our Hello Fresh review of the most recent plans available:

            // sort table
            .sorting-table.mb-5#sortTable
                .sorting-table__triggers
                    .triggers
                        .triggers__title
                            | Recipes per week
                        .triggers__inner
                            label.trigger
                                input(type="radio", name="week" value="3w" checked)
                                span 3
                            label.trigger
                                input(type="radio", name="week" value="4w")
                                span 4
                    .triggers
                        .triggers__title
                            | Number of people
                        .triggers__inner
                            label.trigger
                                input(type="radio", name="people" value="2p" checked)
                                span 2
                            label.trigger
                                input(type="radio", name="people" value="4p")
                                span 4
                .sorting-table__inner
                    .sorting-table__top
                        //- .left
                        .line
                            .cl
                                |
                            .cl_s
                                .color-gray
                                    | Proto plan
                                    .info(data-tooltip-content="#tooltip_content")
                            .cl_s
                                .color-gray
                                    | Family plan
                                    .info(data-tooltip-content="#tooltip_content")
                            .cl_s
                                .color-gray
                                    | Veggie plan
                                    .info(data-tooltip-content="#tooltip_content")
                        .line
                            .cl
                                | Price per serving
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $10.33
                                span(data-filter_week='3w' data-filter_people='2p') $11.49
                                span(data-filter_week='4w' data-filter_people='4p') $9.69
                                span(data-filter_week='4w' data-filter_people='2p') $11.25
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $10.33
                                span(data-filter_week='3w' data-filter_people='2p') $11.49
                                span(data-filter_week='4w' data-filter_people='4p') $9.69
                                span(data-filter_week='4w' data-filter_people='2p') $11.25
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $10.33
                                span(data-filter_week='3w' data-filter_people='2p') $11.49
                                span(data-filter_week='4w' data-filter_people='4p') $9.69
                                span(data-filter_week='4w' data-filter_people='2p') $11.25
                        .line
                            .cl
                                | Shipping
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $9.99
                                span(data-filter_week='3w' data-filter_people='2p') $9.99
                                span(data-filter_week='4w' data-filter_people='4p') $9.99
                                span(data-filter_week='4w' data-filter_people='2p') $9.99
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $9.99
                                span(data-filter_week='3w' data-filter_people='2p') $9.99
                                span(data-filter_week='4w' data-filter_people='4p') $9.99
                                span(data-filter_week='4w' data-filter_people='2p') $9.99
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $9.99
                                span(data-filter_week='3w' data-filter_people='2p') $9.99
                                span(data-filter_week='4w' data-filter_people='4p') $9.99
                                span(data-filter_week='4w' data-filter_people='2p') $9.99
                        .line
                            .cl
                                | Weekly Total
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $133.95
                                span(data-filter_week='3w' data-filter_people='2p') $78.93
                                span(data-filter_week='4w' data-filter_people='4p') $165.03
                                span(data-filter_week='4w' data-filter_people='2p') $99.99
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $133.95
                                span(data-filter_week='3w' data-filter_people='2p') $78.93
                                span(data-filter_week='4w' data-filter_people='4p') $165.03
                                span(data-filter_week='4w' data-filter_people='2p') $99.99
                            .cl_s
                                span(data-filter_week='3w' data-filter_people='4p') $133.95
                                span(data-filter_week='3w' data-filter_people='2p') $78.93
                                span(data-filter_week='4w' data-filter_people='4p') $165.03
                                span(data-filter_week='4w' data-filter_people='2p') $99.99

                    //- .sorting-table__divider
                    //-     a.js-toggle(href="#" data-target="#detail")
                    //-         | CLose details

                    //- .sorting-table__detail

                    //-     .line
                    //-         .cl
                    //-             .icon-line
                    //-                 .icon
                    //-                     img(src=imgPath('icons/wheat.svg'), alt="")
                    //-                 .text
                    //-                     | Southwestern-Style Pork Tacos
                    //-         .cl_s
                    //-             +icon('check')
                    //-         .cl_s
                    //-             +icon('check')
                    //-         .cl_s
                    //-             +icon('close')
                    //-     .line
                    //-         .cl
                    //-             .icon-line
                    //-                 .icon
                    //-                     img(src=imgPath('icons/plant.svg'), alt="")
                    //-                 .text
                    //-                     | Squash and Caramelized Onion Flatbread
                    //-         .cl_s
                    //-             +icon('check')
                    //-         .cl_s
                    //-             +icon('check')
                    //-         .cl_s
                    //-             +icon('close')
                    //-     .line
                    //-         .cl
                    //-             .icon-line
                    //-                 img.icon(src=imgPath('icons/pie.svg'), alt="")
                    //-                 .text
                    //-                     | Easy Cottage Pie
                    //-         .cl_s
                    //-             .icon
                    //-                 +icon('check')
                    //-         .cl_s
                    //-             .icon
                    //-                 +icon('check')
                    //-         .cl_s
                    //-             .icon
                    //-                 +icon('check')

                        //- .right
                        // end sort table


            h3
                | HelloFresh Pronto Plan: 3 or 4 recipes per week, for 2 people
            p
                | This is the most popular plan from HelloFresh, and it’s the one we currently subscribe to. There are always 1-2 vegetarian options included in the Hello Fresh menu, and a wide variety of different meats cycled through (not four different types of chicken each week). People who are more experienced than me will likely be able to prepare the majority of these meals in 30 minutes. It sometimes takes me 40 minutes or so. The Pronto Plan starts at $12.50. You can instantly save $65 across three orders with the Hello Fresh coupon code
                b AFF65.


            // begin banner
            .ab.ab-discount#promotion
                .left
                    h2.ab__title
                        | Discount
                        span.color-primary
                            | &nbsp;$65 discount available
                    p
                        | Get a total of $65 off for your first 3 recipe boxes from HelloFresh, including free shipping on your first order
                    .btns
                        .btn.btn_primary.btn_lg
                            | Claim Now
                        .discount
                            img.icon(src=imgPath('icons/discount.svg'), alt="")
                            .text
                                .color-gray
                                    | Discount code
                                .code
                                    | 65OFFHELLO

                .right
                    +img('decor/discount','png','ab__img ab__img-hf','discount')
                // end banner


            .row
                .col-12.col-lg-6.col-xl-7
                    h3.mt-lg-0
                        | HelloFresh Veggie Plan: 3 recipes per week, for 2 people
                    p
                        | Eating more vegetarian is all the rage these days—and for good reason! It’s not only healthier (when done correctly), it’s also easier on the environment. The Hello Fresh website says that “Our Veggie Plan involves an abundance of seasonal produce, hearty grains, and vegetarian-friendly proteins. It’s specially designed with our vegetarian friends in mind, although we have a feeling even the most loyal meat-lovers will fall in love with the wide variety of creative and flavorful recipes.” The per-serving cost of the HelloFresh Veggie Plan is $12.33. Savings of $65 across three orders are available with the Hello Fresh coupon code
                        b AFF65.
                    h3.mt-5
                        | HelloFresh Family Plan: 3 recipes per week, for 4 people

                    p
                        | This is the best value-per-serving plan that Hello Fresh offers at $10.31 per serving (per-person, per-meal). After sending millions of meal kit boxes out around the world, HelloFresh claims that they have perfected the art of easy-to-prepare meals that kids will enjoy. Recipes are created with the family in mind, as spice levels are easy to control. I don’t have children, so I can’t personally vouch for this. While families will no doubt notice the price increase on their grocery bill, I think the massive luxury of having all of your dinner preparation needs taken care of would be exponentially greater with a family to think of. Plus, the healthy side takes on a new dimension if you use your meal kit to replace even 1-2 fast food nights per month! Don’t forget to save $65 with the HelloFresh promo code
                        b AFF65.


                .col-12.col-lg-6.col-xl-5
                    .box.table-responsive
                        table.table_two-col
                            tr
                                th
                                    | Cooking skills needed
                                td
                                    | Basic

                            tr
                                th
                                    | Ingredients sourced from
                                td
                                    | Canadian farms

                            tr
                                th
                                    | Vegetarian restrictions
                                td
                                    | Select with plan
                            tr
                                th
                                    | Exlude an ingredient (e.g. pork)
                                td
                                    | Restrict in settings
                            tr
                                th
                                    | Calorie range
                                td
                                    | Choose by meal
                            tr
                                th
                                    | Low carb options
                                td
                                    | Choose by meal

                            tr
                                th
                                    | Allergy restrictions
                                td
                                    | Choose by meal





        // section
        section.founder
            .row
                .col-12.col-md-auto.col-md-4
                    figure.founder__img.founder__img_round
                        +img('layout/founder-zc','png','','Sarah Balfour')
                        figcaption.color-gray.text-center.mt-2
                            i Sarah Balfour
                .col.founder__text.col-md-8
                    h2.mt-0
                        | Customer’s Personal Experience
                    p.founder__subtitle
                        | We are always curious to know what current clients think about the company’s service. For this purpose, we interviewed one of ZestyKits customers:
                    p
                        b What is your name and where are you from?
                        br
                        | Sarah Balfour from Regina, Saskatchewan.
                    p
                        b How did you find ZestyKits and why you decided to join?
                        br
                        | I found ZestyKits through the wonderful business community in Regina – my boyfriend rushed home to tell me about a locally made meal kit made by two sisters he had just met at a local networking event. We had already been considering the larger chain meal kit options as we tend to keep our calendar pretty jam-packed and we were never really cooking besides huge one night a week meal prep and take out TBH. Now that we knew of Regina’s hand made, locally sourced dietician planned menu there were no excuses. We had to order.
                    p
                        b How long have you been a ZestyKits customer?
                        br
                        | 2 years and 1 month
                    p
                        b What plan do you prefer and why?
                        br
                        | We started off with the Vegetarian plan, my thought process was we understood how to cook meals with meat but did not really understand eating vegetarian or vegan. With the global need of lessening carbon footprints, I should learn how to enjoy vegetarian and vegan food. After about 6 months I moved to the Clean Food plan and enjoy the local meat supplied and have allowed it to influence my meat shopping habits as I learned so many ways to be inspired for Vegetarian meals and also not feel the need to automatically put meat on everything.
                    p
                        b How many portions a week do you order?
                        br
                        | We get 2 portions for 3 meals a week.
                    p
                        b
                            | Could you please tell us about the delivery and packaging?
                            br
                        | The meal kits are hand delivered each week to my door at the time I selected, mine arrive at 10:00 am on Sundays. If I happen to be out I stash a cooler on my doorstep for them to put it in until I get home. The packing is really simple and easy to recycle each week. Each meal is packaged in a separate box with ingredients and health facts noted. Inside you will find a collection of the fresh, seasonal, and pre-sized packaged ingredients.
                        span
                    p
                        b
                            | How long does it take you to cook a meal, on average? What problems did you encounter?
                            br
                        | The average time to prepare and cook the average ZestyKit is about 30-35 minutes. My issue is I don’t listen to instructions and read the whole recipe and steps first – I just charge in and quite often get it wrong. With ZestyKits every about 5th meal has a brand new flavor profile or method introduced and I often don’t pay attention to the tips and tricks.
                    p
                        b What are your favorite meals and why?
                        |  Top 3: 1. Pea Pistou Linguine – I love it because it has the freshest flavors with the snow peas and other simple delicious ingredients, 2. Roasted Beet, Arugula & Balsamic Pizza – I love it because it showed me how simple eating vegetarian could be without looking for meat substitutes, 3.
                        span
                            | Mustard Ramen bowl – This is a meal I would never have the guts to attempt to make or buy ingredients for but it is so delicious and easy to make now that I know.
                    p
                        b Did you communicate with ZestyKits customer service since you signed up?
                        b How did it go?
                        br
                        | Yes, when I first signed up I had a lot of questions about trying out the Vegetarian meal kits and how best to incorporate that change into my household, I was also contacted for a consultation to make sure that change was working and when it wasn’t helped me adapt my order. Since then I have had customer service contact me by phone, email, and a handwritten note through a variety of check-ins, holiday celebrations, and thanks from the business.

                    .double-slider

                        .slider#sliderCompanyDishesTop
                            figure
                                +img('company-dishes/zestykits','jpg','','zestykits')
                            figure
                                +img('company-dishes/tacos','jpg','','tacos')
                            figure
                                +img('company-dishes/pasta','jpg','','pasta')
                            figure
                                +img('company-dishes/pizza','jpg','','pizza')
                            figure
                                +img('company-dishes/what-in-the-box','jpg','','boxes')
                            figure
                                +img('company-dishes/quinoa-bowl','jpg','','quinoa bowl')
                            figure
                                +img('company-dishes/pad-see-ew','jpg','','Pad see ew')

                        .slider#sliderCompanyDishesBottom
                            figure
                                +img('company-dishes/zestykits','jpg','','zestykits')
                            figure
                                +img('company-dishes/tacos','jpg','','tacos')
                            figure
                                +img('company-dishes/pasta','jpg','','pasta')
                            figure
                                +img('company-dishes/pizza','jpg','','pizza')
                            figure
                                +img('company-dishes/what-in-the-box','jpg','','boxes')
                            figure
                                +img('company-dishes/quinoa-bowl','jpg','','quinoa bowl')
                            figure
                                +img('company-dishes/pad-see-ew','jpg','','Pad see ew')


        // section
        section#terms
            h2
                | Terms and Fine Print
            .row
                .col-12.col-md-8.col-lg-8.col-xl-7.mb-4
                    .box.table-responsive
                        h4.table_two-col-otitle
                            | Delivery
                        table.table_two-col
                            tr
                                th
                                    | Delivery area
                                td
                                    | AB, BC, MB, NB, NL, NS, ON, PE, QC, SK

                            tr
                                th
                                    | Home delivery
                                td
                                    | Yes

                            tr
                                th
                                    | Work delivery
                                td
                                    | Yes

                            tr
                                th
                                    | Must be present for delivery
                                td
                                    | No

                            tr
                                th
                                    | Delivery window
                                td
                                    | 8am-8pm

                            tr
                                th
                                    | Box stays cold for
                                td
                                    | 12 hours


                .col-12.col-md-4.col-lg-4.col-xl-5.mb-4
                    +img('review/terms','png','terms-img','HF')

                .col-12.mb-4
                    p
                        | HelloFresh will deliver the meal kit to your doorstep sometime between 8 am and 8 pm once a week. Delivery is available in ON, BC, AB, SK, PE, NB, NS, and MB. You can get Hello Fresh meals almost anywhere in Canada, from Toronto and Montreal to Calgary and Edmonton! You don’t have to be at home to receive your HelloFresh meal kit. It will be left for you at your door.

                .col-12.col-md-4.col-lg-3.mb-4
                    +img('review/product','png','product-img','HF')

                .col-12.col-md-8.col-lg-9.mb-4
                    .box.table-responsive
                        h4.table_two-col-otitle
                            | Flexibility
                        table.table_two-col
                            tr
                                th
                                    | Switch between plans
                                td
                                    | Yes

                            tr
                                th
                                    | Minimum subscription length
                                td
                                    | 1 week

                            tr
                                th
                                    | How to cancel subscription
                                td
                                    | Online account

                            tr
                                th
                                    | Extra charge for skipping week
                                td
                                    | No

                            tr
                                th
                                    | Weekly deadline to cancel/skip
                                td
                                    | Wednesday

                            tr
                                th
                                    | Auto-renewal
                                td
                                    | Yes

                            tr
                                th
                                    | Personalization options
                                td
                                    | Number of people, recipes per week


                .col-12.mb-4
                    p
                        | As soon as you sign up for HelloFresh, you enroll in a weekly, auto-renewing meal kit subscription. You can select a plan out of three options and customize the number of people and recipes per week. Your meal kit will be delivered on a certain day of the week. In case you would like to skip a week, you should notify the company. There is no charge for skipping a week or for switching to a different plan.



        // section
        section#support
            h2
                | Support and Usability
            p
                | HelloFresh is a well-established international food delivery company with a solid reputation. You can make your orders online on their website, or you can use a mobile app. In addition, you can also quickly check out any of your old recipes (which are automatically cataloged), check/change the status of future weeks, etc.
            p
                | In case you encounter any issues and need help, HelloFresh customer support is easily accessible via various means of communication. You can easily reach customer support by phone, by email, via social networks, and by regular mail.

            .box.mb-5
                .contact-line
                    .cl
                        .color-gray
                            | Phone
                        strong
                            a(href="tel:(855) 272-7002")
                                | (855) 272-7002
                    .cl
                        .color-gray
                            | Email
                        strong
                            a(href="mailto:hello@hellofresh.ca")
                                | hello@hellofresh.ca
                    .cl
                        .color-gray
                            | Online chat
                        strong
                            +icon('close')
                    .cl
                        .color-gray
                            | Social media
                        .socials.socials_yellow
                            a.socials__item(href="#")
                                +icon('fb')
                            a.socials__item(href="#")
                                +icon('inst')
                            a.socials__item(href="#")
                                +icon('tw')
                    .cl
                        .color-gray
                            | Downloadable App
                        strong
                            +icon('check')
                    .cl
                        .color-gray
                            | Address
                        strong
                            | 2 - 41 Dovercourt Rd, Toronto, ON M6J 3C2



        // section
        section
            .row.justify-content-center
                .col-12.col-md-11
                    .row
                        .col-12.col-lg-8
                            h2
                                | HelloFresh App Review
                            p
                                | After all my bragging above, I thought I’d quickly show you what you will be looking at when you check out the Hello Fresh App.
                            p
                                | As you can see, selecting your meals for the week is two-click-easy!
                            p
                                | You can also quickly check out any of your old recipes (which are automatically catalogued) check/change the status of future weeks, etc.
                            .row
                                .col-12.col-lg-9
                                    .box.mb-4
                                        table.table_two-col
                                            tr
                                                th
                                                    | Producer
                                                td
                                                    | Hellofresh SE

                                            tr
                                                th
                                                    | Available for
                                                td
                                                    | All ages

                                            tr
                                                th
                                                    | Price
                                                td
                                                    | Free

                                            tr
                                                th
                                                    | Play Store rating
                                                td
                                                    +stars(4)

                                            tr
                                                th
                                                    | App Store rating
                                                td
                                                    +stars(4.5)

                                            tr
                                                th
                                                    | Total downloads
                                                td
                                                    | 40,000

                                            tr
                                                th
                                                    | Languages
                                                td
                                                    ul.flags
                                                        li.tooltip-title(title="English")
                                                            img.icon(src=imgPath('countries/en.svg'), alt="en")
                                                        li.tooltip-title(title="Dutch")
                                                            img.icon(src=imgPath('countries/nl.svg'), alt="nl")
                                                        li.tooltip-title(title="French")
                                                            img.icon(src=imgPath('countries/fr.svg'), alt="fr")
                                                        li.tooltip-title(title="German")
                                                            img.icon(src=imgPath('countries/de.svg'), alt="de")
                                                        li.tooltip-title(title="Swedish")
                                                            img.icon(src=imgPath('countries/se.svg'), alt="se")

                        .col-12.col-md-4.d-md-none.d-lg-block
                            .right.lazy-slider-wrapper
                                .slider.lazy-slider
                                    .slide.cover.flex
                                        img.icon(src=imgPath('review/img-app-1.png'), alt="")
                                    .slide.cover.fpng
                                        img.icon(src=imgPath('review/img-app-2.png'), alt="")
                                    .slide.cover.flex
                                        img.icon(src=imgPath('review/img-app-1.png'), alt="")
                                    .slide.cover.flex
                                        img.icon(src=imgPath('review/img-app-2.png'), alt="")
                                .swiper-button__wrapper
                                    .swiper-button.swiper-button_prev
                                        i.chevron-right
                                    .swiper-button.swiper-button_next
                                        i.chevron-left




        // section
        section.mt-5#faq
            h2
                | Frequently Asked Questions:
            .accordion#accordion1
                .accordion__item
                    .accordion__head
                        | How long will the meal kit stay cold on my doorstep and fresh in my fridge?
                    .accordion__body
                        p
                            | Forever. Not literally, but your food can sit on your doorstep in the hottest sun the Canadian prairies have to offer (+30 degrees Celsius) and still be very chilled when you bring it in. I tested this with my first package because I was worried about the obvious negative consequences. That specific time, the freezer bags were roughly 30% thawed. Almost every other time (even in summer), when I opened my Hello Fresh box, the freezer bags/meat part of the kit was still 100% frozen!
                        p
                            | I have read online on a couple of other HelloFresh review pieces, about the odd time where food was not at its ideal ripeness when opened. I personally have not seen that at all. Even “fussy goods” like avocados have been excellent for us. The cuts of meat especially have been of the highest quality.
                        p
                            | The only fly in the ointment that I can personally report after nearly a year with HelloFresh is that one time when it was -42 degrees Celsius, our parsley leaves got semi-frozen and didn’t look particularly appetizing when we opened one kit. All-in-all, that’s not a bad worst-case scenario from where I’m coming from. The world isn’t meant to operate in -42!
                        p
                            | The bottom line is that HelloFresh is a massive company that delivers food boxes all around the world—in all climates. They’re pros at this stuff.

                .accordion__item
                    .accordion__head
                        | Is there a delivery charge?
                    .accordion__body
                        p
                            | No!  All prices include delivery charge.

                .accordion__item
                    .accordion__head
                        | Do you have Keto, Paleo, Gluten-free, Halal, and Kosher options?
                    .accordion__body
                        p
                            | At this time Hello Fresh does not have specialized options in these areas. The closest you’ll find is the vegetarian option. They do say that they are working on adding these options to their lineup.

                .accordion__item
                    .accordion__head
                        | Do I have to enter a credit card to take advantage of your “Free” offer?
                    .accordion__body
                        p
                            | Yes.  Like most subscription services, Hello Fresh really wants your business.  They know the best way to get your business is to have you enter in your info on Day 1, and if you like it, you’ll be less likely to take your info out, than to put it in after the fact.
                        p
                            | At the end of the day, if you’re complaining about free food, I’m not sure we’re ever going to understand one another!

                .accordion__item
                    .accordion__head
                        | Do I have to be home to get my HelloFresh delivery? What happens if I’m not home?
                    .accordion__body
                        p
                            | Like any other type of courier delivery, there are always options.  Obviously it’s easiest if someone is at home to accept the box during the day; however, HelloFresh can also drop the box off wherever you specify in your delivery instructions.
                        p
                            | Hello Fresh also recommends asking a helpful neighbour or local business to receive the box on your behalf.  Personally, I’ve recommended to lots of people to simply get your week’s meals delivered at work. I’ve never detected a strong sent from the box, and I know for a fact that the ice pack + engineered box combo will hold up all day in +30 Degree heat.  (I tried it the first week just because I’m overly cautious with food.) Consequently, just snagging the box at work and carrying it home with you can save you a lot of time. Finally, most apartment buildings now have some sort of couriered package delivery system in place, and arrangement can almost always be made.

                .accordion__item
                    .accordion__head
                        | Where are HelloFresh ingredients sources, and is their food organic?
                    .accordion__body
                        p
                            | I have to admit that this isn’t my area of passion.  As a dude that lives in a pretty harsh environment, I’m pretty lenient when it comes to criticizing how my avocados got to me!
                        p
                            | That said, here’s what HelloFresh has to say about the matter:
                        p
                            | “Here at HelloFresh, we pride ourselves on providing our customers with fresh, high-quality ingredients. We work with suppliers all across Canada and source local ingredients wherever possible.”
                        p
                            | and
                        p
                            | “The focus of HelloFresh is on helping our customers make those first steps towards cooking well-balanced meals at home. While we source organic whenever possible, what we do concentrate on is what produce looks and tastes best. We also use many of the “Clean 15” ingredients in our boxes.
                        p
                            | We work with trusted, experienced, and sustainable business partners to ensure high quality, seasonal, and farm-sourced produce is delivered to our customers at peak freshness.
                        p
                            | Eating organic is certainly one way of eating better; however, the focus with HelloFresh is more on helping customers have a positive cooking experience in the kitchen.”




        // section
        section.my-5
            .row
                .col-12.col-md-6.col-lg-8
                    h2
                        | The Bottom Line
                    p
                        |HelloFresh is hands down, our favorite meal kit delivery service in Canada. Users have a lot of choice in terms of meal planning, ingredients are consistent with the highest quality, it’s well packaged, and honestly—tasty, in spite of being healthy! Plus, they get top marks for their commitment to recyclable packaging and cooler pack retrieval program.
                    p
                        | There are small things to fix, but overall, Hello Fresh delivers an excellent culinary experience to your doorstep, whether it’s in Toronto, in Calgary, or anywhere in between. We hope our HelloFresh Canada review will help you make the right decision. Ready to order? Don’t forget HelloFresh promo code
                        b AFF65!
                    .ab.review-coupon
                        .review-coupon__icon
                            img(src=imgPath('icons/persent.svg'), alt="")
                        .review-coupon__save
                            strong
                                span
                                    | Save
                                span.color-primary
                                    | $65
                        .review-coupon__text
                            | Get a total of $65 off for your first 3 recipe boxes from HelloFresh
                        .review-coupon__btn
                            a.btn.btn_secondary(href="#")
                                | Get promotion

                .col-12.col-md-6.col-lg-4
                    .review-box.review-box_lastline.box
                        .review-box__top
                            +img('logos/logo_hello-fresh','png','review__logo','alt')
                        .review__rating
                            .top
                                span
                                    | Overall rating&nbsp;
                                b.color-secondary
                                    | 98.2%
                        hr
                        .review-box__bottom
                            .mb-2
                                | Updated on May 27, 2020
                            .review__line
                                .left
                                    | Company Reputation
                                .right
                                    +stars('5')
                            .review__line
                                .left
                                    | Plans and Meals
                                .right
                                    +stars('4.5')
                            .review__line
                                .left
                                    | Delivery and Flexibility
                                .right
                                    +stars('5')
                            .review__line
                                .left
                                    | Support and Usability
                                .right
                                    +stars('5')
                            .my-2 &nbsp;
                            a(href="#").btn.btn_primary.btn_lg.review-box__btn.js-helper-hidden
                                | Visit website



    .helper-sticky__wrapper.helper-sticky__wrapper_noaff
        .container
            .helper-sticky
                .nav
                    ul
                        li
                            a(href="#credibility")
                                | Credibility
                        li
                            a(href="#plans")
                                | Plans
                        li
                            a(href="#promotion")
                                | Promotion
                        li
                            a(href="#terms")
                                | Terms
                        li
                            a(href="#support")
                                | Support
                        li
                            a(href="#faq")
                                | FAQ
                .noaff-btn
                    .noaff-btn__inner
                        .noaff-btn__title Not Available via MKC
                        a.btn.btn_yellow.review-box__btn(href="#top-rating")
                            | Click here to view alternatives