---
title: Sun basket Review 2021
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row
                .col-12.col-lg-8
                    .hero-subtitle
                        | Sun basket Review 2021
                    h1.mb-2 Is Sun basket Coming to Canada?
                    .no-br
                        p
                            | If you’re looking for a Blue Apron review for Canada, the sad news is that the review would only read: Coming Soon! Or we certainly hope so.
                        p
                            | Truthfully, no one is sure if Blue Apron will ever come to Canada. While they are likely the largest meal kit company in the United States—sending out eight million meals per month across the country—they haven’t yet made any noise about coming to Canada. And with their company having some troubles retaining their US market share, I would hazard a guess that the USA will continue to be their primary focus for the time being. You as a customer may keep asking their support if they are comping to Canada any time soon, and then – who knows? Your demand may create their supply.

                .col-lg-4.d-none.d-lg-block
                    .logo-country.box.mb-2.p-5
                        +img('countries/usa','jpg','logo-country__flag','alt')
                        +img('logos/logo_blue-apron','png','logo-country__logo','alt')


        // section
        section.top-rating__wrapper
            h2
                | Top 7 Best Companies June, 18th, 2020

            +top-rating(2)

            p
                | Pat was so successful that the massive Kroger grocery chain recently purchased the company for upwards of $250 Million!  With plans to put Home Chef meal kits in their 2,700+ supermarket locations, Kroger Co. is not messing around!  Robert Clarck, the Senior Vice President of Merchandising at Krogers stated, Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share.  Perhaps that means one day making a move into the Canadian market?
            p
                | Clearly the company has the capital behind it to stretch its wings a bit and aggressively pursue market share.  Perhaps that means one day making a move into the Canadian market?

        // section
        section
            h2
                | Home Chef in Canada vs Chefs Plate, Goodfood and Hello Fresh
            .row
                .col-12.col-lg-7.order-md-2.order-lg-2
                    p
                        | Until Home Chef Canada becomes a reality, feel free to check out our in-depth looks at Canada’s largest meal kit companies.  Our Hello Fresh Review, Chefs Plate Review, and Goodfood Review cover the “Big 3” of national chains.  We also compare regional entities such as Saskatchewan’s Zesty Kits and Toronto’s Fresh City Farms.
                    p
                        | It’s tough to directly meal kit delivery companies like Chefs Plate or Goodfood to Home Chef because they don’t compete head-to-head in any markets.  The one Canadian option that does directly compete with Home Chef is Hello Fresh. After reading several firsthand reviews about comparing their offerings in the USA.  The following points might be worth mentioning (keeping in mind that Home Chef might offer a very different product to Canadians if they ever came north of the border).
                    ul.checks-list.checks-list_inside
                        li
                            .elem-icon.elem-icon_good
                                | Home Chef offers more choices each week.  Their fifteen recipes are seven more than Hello Fresh consistently offers.
                        li
                            .elem-icon.elem-icon_good
                                | All the websites gave these two companies the highest marks out of all the meal kits that they tested when it came to overall food quality of their ingredients.  Taste and freshness were excellent for both. Hello Fresh had a slight edge when it came to making “no added hormones” and “antibiotic-free” claims.
                        li
                            .elem-icon.elem-icon_good
                                | Both Home Chef and Hello Fresh have easy to use apps and websites that make the customer experience super easy.
                        li
                            .elem-icon.elem-icon_good
                                | One area that Home Chef appears to excel in is their “add-on” ability.  This is likely due to their partnership with Krogers. Items like a smoothie or a 5-minute lunch are options that Hello Fresh just doesn’t have on their menu.
                        li
                            .elem-icon.elem-icon_good
                                | Hello Fresh is slightly cheaper.


                .col-12.col-lg-5.order-md-1.order-lg-2.text-center.mb-3
                    +img('versus/libra4','png','','alt')


            p
                | There’s only so much that one can glean from this comparison of how meal kits stack up in another country, as the logistics of delivering fresh food in a densely-populated country like the USA are radically different from our wide-open Canadian landscape.  All the same, it’s good to know that Hello Fresh (by far the largest Canadian meal kit provider) can go toe-to-toe with any of the bigshots from down south.
            p
                | Anecdotally, I always find it interesting that the American meal kit options aren’t even cheaper than the plans we see in Canada.  If you think about the purchasing power difference between the Canadian Dollar and the American Dollar, as well as the sheer economy of scale, one would think the USA companies would be able to cut prices even more.
            p
                | Stay tuned to Meal Kits Canada, as we’ll be the first ones with the news if Home Chef comes to Canada (or any other American-based competitors decide to enter the Canadian meal kit delivery market)!


        // section
        section
            h2
                |  Title for table
            .row
                .col-12.col-lg-5
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio facilis repellat eaque nihil dolores, consectetur nam delectus tempora numquam temporibus eos impedit rerum voluptate praesentium, non sint corporis exercitationem ex.
                .col-12.col-lg-7
                    .company-table
                        //table 1
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Price per serving
                                    td
                                        .color-primary
                                            | Starting at $10.99 / servin
                                tr
                                    th
                                        | Weekly Total
                                    td
                                        .color-primary
                                            | $22- $44
                                tr
                                    th
                                        | Shipping
                                    td
                                        .color-primary
                                            | ??
                                tr
                                    th
                                        | Number of plans
                                    td
                                        | 10
                                tr
                                    th
                                        | Veggie options?
                                    td
                                        +icon('check')
                        //end table 1

                        //table 2
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Number of meals to choose from each week
                                    td
                                        img.company-table__icon(src=imgPath('icons/bread-and-meal.svg'), alt="")
                                        | 17
                                tr
                                    th
                                        | Recipes per week
                                    td
                                        img.company-table__icon(src=imgPath('icons/recipe-book.svg'), alt="")
                                        | 2-4
                                tr
                                    th
                                        | Number of people
                                    td
                                        img.company-table__icon(src=imgPath('icons/users.svg'), alt="")
                                        | 2-4
                                tr
                                    th
                                        | Сooking time (min)
                                    td
                                        img.company-table__icon(src=imgPath('icons/clock.svg'), alt="")
                                        | 15-45 min
                        //end table 2

                        //table 3
                        .company-table__card.box.table-responsive
                            table.table_two-col
                                tr
                                    th
                                        | Established
                                    td
                                        | 2014
                                tr
                                    th
                                        | BBB Rating
                                    td
                                        | A- (NOT BBB ACCREDITED)
                                tr
                                    th
                                        | Google Rating
                                    td
                                        | 3.3
                                tr
                                    th
                                        | Downloadable App
                                    td
                                        | Yes
                        //end table 3


