---
title: Home
---
extends layouts/_layout
block content
    .container
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-8
                    h1.mb-2 Toronto Meal Kits Review 2020
                    .no-br
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare nisi, et imperdiet blandit auctor sed. Adipiscing lorem molestie senectus nisl, feugiat consectetur. Faucibus auctor dictumst nullam sapien hac fermentum. Nec vestibulum, sit ullamcorper diam. Morbi elementum at habitasse integer imperdiet lectus aenean at. In cursus eu morbi euismod porta tellus amet aenean leo. Ac lectus ultrices cursus ornare duis molestie. Enim nisl arcu, etiam orci. Sed eget sed quisque interdum neque nam feugiat lacus id.
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare nisi, et imperdiet blandit auctor sed. Adipiscing lorem molestie senectus nisl, feugiat consectetur. Faucibus auctor dictumst nullam sapien hac fermentum. Nec vestibulum, sit ullamcorper diam. Morbi elementum at habitasse integer imperdiet lectus aenean at. In cursus eu morbi euismod porta tellus amet aenean leo. Ac lectus ultrices cursus ornare duis molestie. Enim nisl arcu, etiam orci. Sed eget sed quisque interdum neque nam feugiat lacus id.


                .col-lg-4.d-none.d-lg-block.text-center
                    +img('review/bag-with-flag','png','','alt')


        // section
        section.top-rating__wrapper#topRating
            h2
                | Canada’s Best Meal Kits – July, 11th, 2020

            //- include partials/top-rating
            +top-rating(2)
            p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare nisi, et imperdiet blandit auctor sed. Adipiscing lorem molestie senectus nisl, feugiat consectetur. Faucibus auctor dictumst nullam sapien hac fermentum. Nec vestibulum, sit ullamcorper diam. Morbi elementum at habitasse integer imperdiet lectus aenean at. In cursus eu morbi euismod porta tellus amet aenean leo. Ac lectus ultrices cursus ornare duis molestie. Enim nisl arcu, etiam orci. Sed eget sed quisque interdum neque nam feugiat lacus id.


        // section
        section
            h2
                | Background on Toronto Area and Meal Kits Industry
            .row.mb-3
                .col-12.col-lg-8
                    .box.mb-4.py-2.px-4
                        .table-responsive
                            table.table-simple.table-simple_light(style="min-width:450px;")
                                thead
                                    tr
                                        th
                                        th
                                            | Value
                                        th
                                            | Rank (of 9)
                                tbody
                                    tr
                                        th
                                            | Population
                                        td
                                            | 14,446,515
                                        td
                                            | 1
                                    tr
                                        th
                                            | Food stores per 100,000 ppl
                                        td
                                            | 66
                                        td
                                            | 8
                                    tr
                                        th
                                            | Farms per 100,000 ppl
                                        td
                                            | 343
                                        td
                                            | 7
                                    tr
                                        th
                                            | Average family size
                                        td
                                            | 2.9
                                        td
                                            | 4
                                    tr
                                        th
                                            | Experience difficulties with food budget
                                        td
                                            | 35%
                                        td
                                            | 8
                                    tr
                                        th
                                            | Eating fruits/vegies 5+ times a day
                                        td
                                            | 27%
                                        td
                                            | 4
                                    tr
                                        th
                                            | Time spent eating per day
                                        td
                                            | 84
                                        td
                                            | 7
                                    tr
                                        th
                                            | Vegans and vegetarians
                                        td
                                            | 10.9%
                                        td
                                            | 1

                .col-lg-4.d-none.d-lg-block.text-center
                    +img('demo/placeholder-2','png','','alt')

            p
                | In a recent interview, Conal Gould HelloFresh’s Canadian head of procurement stated that while they are a truly international company, HelloFresh works with local producers to supply the ingredients for their high quality meals, saying:
            p
                | “This is the food that we prepare and share with our families and friends, using the highest quality, locally-sourced ingredients, which lead to the most delicious meals […] There is no denying that many Canadians are skipping the trip to the grocery store.”
            p
                | What I really like about HelloFresh is that I’m guaranteed to be the recipient of a product/service that has been refined for years across massive markets that include the USA, UK, Australia, New Zealand, Germany, Belgium and the Netherlands.  The company delivers over 15 million meals every single month! You know what you’re getting with these guys, and what you’re getting is the top of the pyramid when it comes to meal kits from around the world.
            p
                | The other unique consideration for HelloFresh is that they don’t just deliver to Canadians that live right inside the city limits of Toronto, or other Canadian urban centres.  In fact, it’s difficult to find a place that they don’t deliver to. Certainly anywhere in the GTA is fair game, and the company states that they now include delivery to 95% of Canadians.  I can personally vouch for this as I live “in the middle of nowhere” and get my HelloFresh order like clockwork each week.

            .info-block
                .inner
                    h3
                        | What Is a Meal Kit?
                    p
                        | If you’re already familiar with meal kits or food subscription boxes and simply want to compare your Toronto-specific options to find the best meal kit in Toronto, feel free to scroll down.
                    p
                        | If you’re new to the world of a delicious stress-reducing box being delivered right to your door, please allow me to pull back the curtains!
                    p
                        | This is what my weekly HelloFresh order looks like.  A hardy, insulated box with cooler packs in it, arrives at my doorstep every week.  It is packed with meals that I pre-selected in roughly three-and-a-half minutes using the super easy HelloFresh app on my phone.  It has every item (aside from a few household basics like milk, sugar, cooking oil, and salt) that will be needed to cook an item.
                    p
                        | I simply need to cut open the box, place each bag in the fridge, toss the meat products in the “meats” section of my refrigerator, and I don’t have to think about my supper meals for the week until 30 minutes before they need to be on the table!
                    p
                        | Some folks claim yoga, tai-chi, or meditation is supposed to help stress.  Maybe I’m doing those things wrong, but for my family, meal kits have done much more to make us happier and healthier than any of this “new age stuff”.  HelloFresh dinners have not only allowed me to free up val
                    p
                        | You can start thinking about supper 30 minutes before it needs to be on the table.  That freed up mental space is incredibly valuable in my life! To know that a high-quality, healthy meal is simply waiting for me to show up, chow up, bake up – is a major stress/anxiety reducer for me and my family.
                    p
                        | It’s tough to beat what the big three in Canada have to offer, and if you live in Alberta, but not close to Calgary or Edmonton, then HelloFresh is likely your only option when looking at meal kits delivery in 2019.  Personally, I subscribe to HelloFresh due to the fact that I love their consistency and smooth processes. I know that as the world’s biggest meal kit company, that the experiences that they’ve gained delivering on several continents will come in handy as they expand in Canada.

        // section
        section
            h2
                | Global Canadian Meal Kit Companies Servicing Ontario
            .box.mb-5.p-4
                .row.justify-content-center.justify-content-md-between.align-items-center.mb-3.clear-pseudo
                    .col-auto.mb-2
                        a(href="/go/hellofresh" target='_blank' rel="noopener")
                            figure.company-logo.company-logo_md
                                +img('logos/logo_hello-fresh','png','','alt')
                    .col-auto.mb-2
                        a.btn.btn_primary.btn_noshadow.btn_lg.mob-w-100(href='/go/hellofresh'  target='_blank' rel="noopener")
                            | Visit Hello Fresh Toronto
                p
                    | In a recent interview, Conal Gould HelloFresh’s Canadian head of procurement stated that while they are a truly international company, HelloFresh works with local producers to supply the ingredients for their high quality meals, saying:
                p
                    | “This is the food that we prepare and share with our families and friends, using the highest quality, locally-sourced ingredients, which lead to the most delicious meals […] There is no denying that many Canadians are skipping the trip to the grocery store.”
                p
                    | What I really like about HelloFresh is that I’m guaranteed to be the recipient of a product/service that has been refined for years across massive markets that include the USA, UK, Australia, New Zealand, Germany, Belgium and the Netherlands.  The company delivers over 15 million meals every single month! You know what you’re getting with these guys, and what you’re getting is the top of the pyramid when it comes to meal kits from around the world.
                p
                    | The other unique consideration for HelloFresh is that they don’t just deliver to Canadians that live right inside the city limits of Toronto, or other Canadian urban centres.  In fact, it’s difficult to find a place that they don’t deliver to. Certainly anywhere in the GTA is fair game, and the company states that they now include delivery to 95% of Canadians.  I can personally vouch for this as I live “in the middle of nowhere” and get my HelloFresh order like clockwork each week.

            .box.mb-5.p-4
                .row.justify-content-center.justify-content-md-between.align-items-center.mb-3.clear-pseudo
                    .col-auto.mb-2
                        a(href="/go/chefsplate" target='_blank' rel="noopener")
                            figure.company-logo.company-logo_md
                                +img('logos/logo_chefs-plate','png','','alt')
                    .col-auto.mb-2
                        a.btn.btn_primary.btn_noshadow.btn_lg.mob-w-100(href='/go/chefsplate' target='_blank' rel="noopener")
                            | Visit Chefs Plate Toronto
                p
                    | In a recent interview, Conal Gould HelloFresh’s Canadian head of procurement stated that while they are a truly international company, HelloFresh works with local producers to supply the ingredients for their high quality meals, saying:
                p
                    | “This is the food that we prepare and share with our families and friends, using the highest quality, locally-sourced ingredients, which lead to the most delicious meals […] There is no denying that many Canadians are skipping the trip to the grocery store.”
                p
                    | What I really like about HelloFresh is that I’m guaranteed to be the recipient of a product/service that has been refined for years across massive markets that include the USA, UK, Australia, New Zealand, Germany, Belgium and the Netherlands.  The company delivers over 15 million meals every single month! You know what you’re getting with these guys, and what you’re getting is the top of the pyramid when it comes to meal kits from around the world.
                p
                    | The other unique consideration for HelloFresh is that they don’t just deliver to Canadians that live right inside the city limits of Toronto, or other Canadian urban centres.  In fact, it’s difficult to find a place that they don’t deliver to. Certainly anywhere in the GTA is fair game, and the company states that they now include delivery to 95% of Canadians.  I can personally vouch for this as I live “in the middle of nowhere” and get my HelloFresh order like clockwork each week.

            .box.mb-5.p-4
                .row.justify-content-center.justify-content-md-between.align-items-center.mb-3.clear-pseudo
                    .col-auto.mb-2
                        a(href='#' disabled)
                            figure.company-logo.company-logo_md
                                +img('logos/logo_good-food','png','','alt')
                    .col-auto.mb-2
                        a.btn.btn_lg.top-rating__btn.top-rating__buttons-item-1(disabled)
                            | Not available via MKC
                p
                    | In a recent interview, Conal Gould HelloFresh’s Canadian head of procurement stated that while they are a truly international company, HelloFresh works with local producers to supply the ingredients for their high quality meals, saying:
                p
                    | “This is the food that we prepare and share with our families and friends, using the highest quality, locally-sourced ingredients, which lead to the most delicious meals […] There is no denying that many Canadians are skipping the trip to the grocery store.”
                p
                    | What I really like about HelloFresh is that I’m guaranteed to be the recipient of a product/service that has been refined for years across massive markets that include the USA, UK, Australia, New Zealand, Germany, Belgium and the Netherlands.  The company delivers over 15 million meals every single month! You know what you’re getting with these guys, and what you’re getting is the top of the pyramid when it comes to meal kits from around the world.
                p
                    | The other unique consideration for HelloFresh is that they don’t just deliver to Canadians that live right inside the city limits of Toronto, or other Canadian urban centres.  In fact, it’s difficult to find a place that they don’t deliver to. Certainly anywhere in the GTA is fair game, and the company states that they now include delivery to 95% of Canadians.  I can personally vouch for this as I live “in the middle of nowhere” and get my HelloFresh order like clockwork each week.


        // section
        section
            h2
                | Compare the top 10 rated meal kits companies
            .box.mb-5
                include partials/companies-table
            p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos fugiat eum neque doloremque nemo aspernatur quia beatae, quis vitae. Consequatur aliquid molestias dolores sit iure sed quas neque quis optio.
            p
                | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos fugiat eum neque doloremque nemo aspernatur quia beatae, quis vitae. Consequatur aliquid molestias dolores sit iure sed quas neque quis optio.

        // section
        section
            h2
                | Overall Review of Toronto Meal Kit Scene
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, autem voluptatem perferendis minima, a culpa sed assumenda eos sequi voluptate laudantium, sint quisquam reprehenderit nesciunt iste repellendus architecto odio. Iure.
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, autem voluptatem perferendis minima, a culpa sed assumenda eos sequi voluptate laudantium, sint quisquam reprehenderit nesciunt iste repellendus architecto odio. Iure.
            p
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, autem voluptatem perferendis minima, a culpa sed assumenda eos sequi voluptate laudantium, sint quisquam reprehenderit nesciunt iste repellendus architecto odio. Iure.
            .text-center.mt-4
                a.btn.btn_primary.btn_lg(href="#topRating")
                    | Back to Vancouver’s Best Meal Kits


