---
title: Versus
---
extends layouts/_layout
block content
    .container.versus
        .hero_standart
            .row.align-items-center
                .col-12.col-lg-9
                    h1.mb-2 Chefs Plate vs. Good Food
                    .no-br
                        p
                            | As two of the three biggest meal kit delivery companies in Canada, our readers asked that we do a direct Chefs Plate vs Good Food comparison. (Check out our Hello Fresh Review for the other major Canadian meal kit company and Good Food vs. Hello Fresh comparison.)
                        p
                            | Both Chefs Plate and Good Food are battling to be the low-price leaders when it comes to meal kits in Canada. To be honest, both are offering overall very comparable products. That said, there are some unique attributes that may be key in your decision to go with one over the other. Before making your final decision, you can also check out our full, in-depth Chefs Plate Review and/or our Good Food Review.

                .col-lg-3.d-none.d-lg-block.text-center
                    +img('versus/libra3','png','','alt')


        // section
        section.versus__table
            h2
                | Easy Chefs Plate vs. Goodfood Comparison

            // begin v-table
            .table-responsive
                table.v-table
                    thead
                        tr
                            th
                            th
                                +img('logos/logo_chefs-plate','png','v-table__logo','alt')
                            th
                                +img('logos/logo_good-food','png','v-table__logo','alt')
                    tbody
                        tr
                            th
                                | Established
                            td
                                | 2013
                            td
                                | 2016
                        tr
                            th
                                | Delivery area
                            td
                                | AB, BC, MB, NB, NS, ON, PE, SK
                            td
                                | AB, BC, MB, NB, NS, ON, PE, QC, SK

                        tr
                            th
                                | Number of meals to choose from each week
                            td
                                | 15
                            td
                                | 3-12
                        tr
                            th
                                | Сooking time (min)
                            td
                                | 15 min
                            td
                                | 20 min
                        tr
                            th
                                | BBB Rating
                            td
                                | B+
                            td
                                | No rating
                        tr
                            th
                                | Google Rating
                            td
                                +stars('4.1')
                            td
                                +stars('4.2')
                        tr
                            th
                                | Downloadable App
                            td
                                +icon('close')
                            td
                                +icon('close')
                        tr
                            th
                                | Price per serving
                            td
                                | $5.00
                            td
                                | $10.33
                        tr
                            th
                                | Weekly Total (3 Recipes, 2 people)
                            td
                                | $29.97
                            td
                                | $61.95
                        tr
                            th
                            td
                                .btn-promo-group
                                    .promo-up-btn.promo-up-btn_success
                                        | Get a total of $100 off for <br/>your first 4 recipe boxes
                                    a(href="/go/chefsplate" target="_blank" rel="noopener noreferrer").btn.btn_primary.btn_lg.my-0
                                        | Claim Promo Now
                            td
                                .btn-promo-group
                                    .promo-up-btn.promo-up-btn_none None
                                    a.btn.btn_lg.my-0(disabled="disabled") No promo available
            // end v-table

        p Chefs Plate is, on average, the lowest-priced meal kit in Canada. In addition, Chefs Plate offers Canada’s best meal kit promo code. You can get a 50% discount or up to eight plates free if you order the family size kit. These great promotions and affordable prices made Chefs Plate the second most popular kit in the country, next to Hello Fresh, and Good Food is the third.
        p Chefs Plate was established earlier than Good Food, but Good Food offers wider coverage. Both companies offer a comparable number of meals to choose from and comparable cooking time. Chefs plate has a purely-vegetarian subscription, while Good Food has more low-carb options.

        // begin banner
        .ab.ab-info
            h3.ab__title
                | Quick Conclusions
            p
                | If you are in Quebec or Atlantic Canada and want to support a locally-based company—or if you are looking for the absolute lowest cost way to feed a 4-person family with meal kits (the cost savings is about two dimes per portion), then Goodfood will likely be the way to go.
            p
                | In all other cases, I believe that Chefs Plate has a substantial advantage. They have an excellent promo code offer that you can use to try them out (just click the link below), and they consistently offer 15+ recipes to choose from each week. Additionally, it has to be factored in that with Hello Fresh now partnering with Chefs Plate, the combined logistical power of that company should ensure that Chefs Plate gets the freshest produce to your door as quickly as possible going forward. The deciding factor for you might be as simple as the convenience advantage that the Chefs Plate app and website brings to the table.
            p
                | Click this
                a(href="#") promotional link
                | and insert one of the Chefs Plate promo codes below to become eligible for the discount offer.

        // section
        section.versus__table.mt-5
            h2
                | Chefs Plate vs. Good Food Meal Choices
            // begin v-table
            .table-responsive
                table.v-table
                    thead
                        tr
                            th
                            th
                                +img('logos/logo_chefs-plate','png','v-table__logo','alt')
                            th
                                +img('logos/logo_good-food','png','v-table__logo','alt')
                    tbody
                        tr
                            th
                                | Mutton, Lamb
                            td
                                | 0
                            td
                                +emoji(1,'sheep')
                        tr
                            th
                                | Pork
                            td
                                +emoji(3,'pork')
                            td
                                +emoji(6,'pork')
                        tr
                            th
                                | Beef
                            td
                                +emoji(3,'beef')
                            td
                                +emoji(4,'beef')
                        tr
                            th
                                | Chicken
                            td
                                +emoji(2,'chicken')
                            td
                                +emoji(4,'chicken')
                        tr
                            th
                                | Vegetables
                            td
                                +emoji(3,'vegetables')
                            td
                                +emoji(1,'vegetables')
                        tr
                            th
                                | Mushrooms
                            td
                                +emoji(1,'mushroom')
                            td
                                +emoji(2,'mushroom')
                        tr
                            th
                                | Seafood
                            td
                                +emoji(2,'seafood')
                            td
                                +emoji(3,'seafood')
                        tr
                            th
                                | Turkey
                            td
                                +emoji(1,'turkey')
                            td
                                +emoji(1,'turkey')
                        tr
                            th
                                | Cheese
                            td
                                +emoji(2,'cheese')
                            td
                                +emoji(2,'cheese')
                        tr
                            th
                                | Low Carb Plan
                            td
                                +icon('close')
                            td
                                +icon('check')
                        tr
                            th
                                | List Of Allergens
                            td
                                +icon('check')
                            td
                                +icon('close')
                        tr
                            th
                                | Calories Per Serving
                            td
                                .simple-meter
                                    label
                                        span
                                            | 400
                                        .meter
                                            span(style="width: 90%;")
                                br
                                a(href="/go/chefsplate" target="_blank" rel="noopener noreferrer").btn.btn_primary.btn_lg.review-box__btn
                                    | Visit website
                            td
                                .simple-meter
                                    label
                                        span
                                            | 350
                                        .meter
                                            span(style="width: 70%;")
            // end v-table

            p
                | Overall, Chefs Plate and Good Food offer comparable meal options in terms of a variety of meat, poultry, seafood, and vegetables. The recipes are also comparable in terms of caloric intake. Good Food offers 350 calories per serving, while Chefs Plate meals are 400 calories per serving. Chefs Plate takes good care of those customers who have food allergies by offering a list of allergens to them. With Good Food, this list is not available at the moment.


        //end versus-table

        section.pb-5
            h2
                | What You Get With Either Chefs Plate or Goodfood
            p
                | I thought that it was worth noting here that these two leading Canadian food subscription boxes have much more in common than not. The main question you should ask yourself is not what the best Canadian meal kit is, but whether your meal kits are a perfect fit for you.
            p
                | While my family preferred the taste of Chef’s Plate vs the taste of Goodfood, it’s key to understand that taste is subjective. In addition to trying these meal kits personally, we’ve talked many of our friends and family into trying these meal kits and giving us their opinions. Finally, in order to make this Chefs Plate vs Good Food review as comprehensive as possible, we scanned review sites, YouTube unboxings, and various social media platforms to get as many first-hand looks as possible. While Chef’s Plate seemed to win out roughly 75% of the time based on taste, there were several Canadians that preferred Goodfood. Many reviewers had only tried three meals of each, which isn’t a big enough sample size to be relevant, in my opinion.

            .row.justify-content-center
                .col-12.col-lg-11
                    // begin info-block
                    .info-block
                        .inner
                            .title
                                | Regardless of if you decided to go with Goodfood or Chef’s Plate, you will be signing up for getting the following awesome life changes in your weekly meal kit box:
                            ul
                                li
                                    .elem-icon.elem-icon_good
                                        | The instant relief of coming up with something fresh, delicious, and nutritious every night—grocery shopping and meal planning are all done!
                                li
                                    .elem-icon.elem-icon_good
                                        | Substantial choices available to select each week (nothing is locked in).

                                li
                                    .elem-icon.elem-icon_good
                                        | Locally-sourced food that cuts out the middleman and gets food from producers to you much quicker than grocery stores do!

                                li
                                    .elem-icon.elem-icon_good
                                        | Both Chef’s Plate and Goodfood offer 15-20 minute “quick cook meals” as well as more traditional 30-minute options.

                                li
                                    .elem-icon.elem-icon_good
                                        | High-grade packaging that keeps your food fresh and is recyclable.

                                li
                                    .elem-icon.elem-icon_good
                                        | More money in your pocket as you throw out less food and cut down on restaurant spending!

                                li
                                    .elem-icon.elem-icon_good
                                        | Easy subscription options that allow you to easily skip a delivery, change your order weekly, or control your delivery destination.
                    // end info-block
            p
                | My family has been eating meal kits for over 15 months now, and they’ve changed our whole relationship with supper. While we obviously don’t eat meal kits every single night, it is such a great feeling to have both my wife and I come home from a crazy day at work, and not have to look at each other in a panic as each prays the other one has a supper plan. It’s well worth the extra buck or two per meal that meal kits cost relative to groceries to only worry about supper 30 minutes before it has to be on the table—and to know it’s going to be healthy and fresh!