// width
=r($width)
  @media only screen and (max-width: $width + "px")
    @content

=rmin($width)
  @media only screen and (min-width: $width + "px")
    @content

// height
=rh($height)
  @media only screen and (max-height: $height + "px")
    @content

=rhmin($height)
  @media only screen and (min-height: $height + "px")
    @content

=rIn($width, $width2)
	@media (min-width: $width + "px") and (max-width: $width2 + "px")
    @content

=rhIn($height, $height2)
	@media (min-width: $height + "px") and (max-width: $height2 + "px")
    @content

=rhw($width, $height)
  @media (max-width: $width + "px") and (max-height: $height + "px")
    @content
=rminhw($width, $height)
  @media (min-width: $width + "px") and (min-height: $height + "px")
    @content
=rminw_hmax($width, $height)
  @media (min-width: $width + "px") and (max-height: $height + "px")
    @content
=rminw_hIn($width, $height, $height2)
  @media (min-width: $width + "px") and (min-height: $height + "px") and (max-height: $height2 + "px")
    @content


@mixin css-lock($min-size: 1, $max-size: 1.4, $min-width: 20, $max-width: 100, $property: font-size, $unit: px)
  #{$property}: #{$max-size}#{$unit}
  #{$property}: calc(#{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})))
  @media (max-width: #{$min-width}#{$unit})
    #{$property}: #{$min-size}#{$unit}
  @media (min-width: #{$max-width}#{$unit})
    #{$property}: #{$max-size}#{$unit}

=fs($sizeValue: 16)
  font-size: $sizeValue + px
  font-size: $sizeValue / 10 + rem

=text-overflow
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

=hover
  .no-touch &:hover
    @content

%pseudo
  position: relative
  &:before,&:after
    content: ' '
    position: absolute
    top: 0
    left: 0
=pseudo
  @extend %pseudo

=coverdiv
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

=cover
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%

=bg-size($width: 100%, $height: 100%)
  background-size: $width $height

// retina, also available as +hdpi
=retina
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
    @content

// vertical-align at center
=vcenter
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

// inline vertical align
=vm
	display: inline-block
	vertical-align: middle
//simple gradient
=g($color1, $color2)
  background-image: linear-gradient($color1, $color2)

=gh($color1, $color2)
  background-image: linear-gradient(left, $color1, $color2)

// font-family
=font($alias, $name)
  @font-face
    font-family: $alias
    src: url("../fonts/" + $name + ".woff2") format("woff2"), url("../fonts/" + $name + ".woff") format("woff")
    font-weight: normal
    font-style: normal
    font-display: swap
// to use:
//+font(black, cytiapro-black-webfont)

// ROTATE
=rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0)
  transform: rotate($deg + deg)
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand')

// TRANSITION

=tr($what)
  transition: $what

=hide-text
  font: 0/0 a
  text-shadow: none
  color: transparent

=hidetext
  +hide-text


// IMPORTANT!!!! REQUIRES SPACES BETWEEN ELEMENTS, NO SUCH STUFF: </li><li>
=justify
  text-align: justify
  line-height: 0
  font-size: 0
  text-justify: newspaper
  text-align-last: justify
  &:after
    content: ""
    display: inline-block
    width: 100%
    height: 0px
    visibility: hidden
    overflow: hidden
=vertical
  text-align: center
  font-size: 0
  &:before
    content: ""
    display: inline-block
    vertical-align: middle
    width: 0
    height: 100%

=clr
  &:after
    content: " "
    display: table
    clear: both


=placeholder-color($color)
  &::placeholder
    color: $color

=placeholder
  &::placeholder
    @content

=gray
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale")
  // Firefox 10+
  filter: gray
  // IE6-9
  -webkit-filter: grayscale(100%)
  // Chrome 19+ & Safari 6+
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(grayScale=1)"

=gray-half
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0.5'/></filter></svg>#grayscale")
  // Firefox 10+
  filter: gray alpha(opacity = 50)
  // IE6-9
  -webkit-filter: grayscale(50%)
  // Chrome 19+ & Safari 6+

=gray-zero
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale")
  -webkit-filter: grayscale(0%)

=unselectable
  user-select: none

=nosel
  +unselectable

=prevent-text
  word-break: break-all
  word-break: break-word
  hyphens: auto

=font-smoothing($val: antialiased)
  font-smoothing: $val

=selection
  & ::selection
    @content
=sel
  +selection

=gpu
  transform: translate3d(0, 0, 0)

=scrollbar
  &::-webkit-scrollbar
    @content

=scrollbar-track
  &::-webkit-scrollbar-track
    @content

=scrollbar-thumb
  &::-webkit-scrollbar-thumb
    @content

=scrollbar-track-piece
  &::-webkit-scrollbar-track-piece
    @content

//triangle
=arr($width, $height, $bg, $direction)
  width: 0px
  height: 0px
  border-style: solid
  @if $direction == t
    border-width: 0 $width / 2 + px $height + px $width / 2 + px
    border-color: transparent transparent $bg transparent
  @if $direction == r
    border-width: $height / 2 + px 0 $height / 2 + px $width + px
    border-color: transparent transparent transparent $bg
  @if $direction == b
    border-width: $height + px $width / 2 + px 0 $width / 2 + px
    border-color: $bg transparent transparent transparent
  @if $direction == l
    border-width: $height / 2 + px $width + px $height / 2 + px 0
    border-color: transparent $bg transparent transparent
  @if $direction == tl
    border-width: $height + px $width + px 0 0
    border-color: $bg transparent transparent transparent
  @if $direction == tr
    border-width: 0 $width + px $height + px 0
    border-color: transparent $bg transparent transparent
  @if $direction == br
    border-width: 0 0 $height + px $width + px
    border-color: transparent transparent $bg transparent
  @if $direction == bl
    border-width: $width + px 0 0 $height + px
    border-color: transparent transparent transparent $bg
// example
// +arr(500,50, #000, l)
// +arr(500,50, #000, bl)

=chevron($width, $height, $bg, $direction, $hovered:0, $unit: px, $weigth: 1)
  width: $width + $unit
  height: $height + $unit
  color: $bg
  position: relative
  display: inline-block
  &::before,
  &::after
    content: ''
    position: absolute
    z-index: 1
    background-color: currentColor
    backface-visibility: hidden
    transition: all .23s

  @if $direction == bottom
    &::before,
    &::after
      top: 100%
      height: $weigth + $unit
      width: 50%
    &::before
      right: 50%
      transform-origin: 100% 50%
    &::after
      left: 50%
      transform-origin: 0% 50%
    &::before
      transform: rotate(45deg)
    &::after
      transform: rotate(-45deg)
  @if $direction == top
    &::before,
    &::after
      top: 0%
      height: $weigth + $unit
      width: 50%
    &::before
      right: 50%
      transform-origin: 100% 50%
    &::after
      left: 50%
      transform-origin: 0% 50%
    &::before
      transform: rotate(-45deg)
    &::after
      transform: rotate(45deg)

  @if $direction == left
    &::before,
    &::after
      top: 50%
      right: 0
      height: $weigth + $unit
      width: 100%
    &::before,
    &::after
      transform-origin: 100% 50%
    &::before
      transform: rotate(45deg)
      top: calc(50% + 1px)
    &::after
      transform: rotate(-45deg)

  @if $direction == right
    &::before,
    &::after
      top: 50%
      right: 0
      height: $weigth + $unit
      width: 100%
    &::before,
    &::after
      transform-origin: 0% 50%
    &::before
      transform: rotate(-45deg)
      top: calc(50% + 1px)
    &::after
      transform: rotate(45deg)


  @if $hovered == 1
    &::before,
    &::after
      will-change: height
      transition: height .23s ease
    &:hover
      cursor: pointer
      &::before,
      &::after
        height: 2px

=rotate($var)
  transform: rotate($var+deg)

=blur($var)
  filter: blur($var)

=better-blur($radius)
  filter: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='a' x='0' y='0' width='1' height='1' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur stdDeviation='#{$radius}' result='b'/%3E%3CfeMorphology operator='dilate' radius='#{$radius}'/%3E %3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='b'/%3E%3C/feMerge%3E%3C/filter%3E %3C/svg%3E#a")

=scale($var)
  transform: scale($var)

=counter($var, $sep)
  counter-reset: list + $var
  > li
    &:before
      content: counter(list + $var) $sep
      counter-increment: list + $var

=f($name, $font-size: null, $letter-spacing: null)
  $font-family: null
  @if $name == "l"
    $font-family: "light"
  font-family: $font-family
  font-weight: normal
  @if $font-size != null
    font-size: $font-size + px
  @if $letter-spacing != null
    letter-spacing: ($letter-spacing / 1000) + em


=font-face($font-family,$alias, $file-path, $weight: normal, $style: normal, $asset-pipeline: false )
    @font-face
        font-family: $font-family
        font-weight: $weight
        font-style: $style
        src: url("#{$file-path}.eot")
        src: local("#{$font-family} #{$alias}"), local('#{$font-family}-#{$alias}'),
        url("#{$file-path}.eot?#iefix") format('embedded-opentype'),
        url("#{$file-path}.woff") format('woff2'),
        url("#{$file-path}.woff") format('woff'),
        url("#{$file-path}.ttf") format('truetype')


=center($axis)
  @if $axis == both
    +vcenter
  @else if $axis == h
    position: absolute
    left: 50%
    transform: translateX(-50%)
  @else if $axis == v
    position: absolute
    top: 50%
    transform: translateY(-50%)

=translate($x,$y)
  transform: translate($x,$y)

=scale($x)
  transform: scale($x)

=transition($x)
  transition: $x

=size($x,$y)
  width: $x
  height: $y

=f_rowFixed($width, $side: right)
  @if $side == right
    margin-right: $width
    width: auto

    &>.bRowFluid_dynamic 
      width: 100%
      float: left
    
    &>.bRowFluid_fixed 
      width: $width
      margin-right: -$width !important
      float: left
  @else if $side == left
    margin-left: $width
    width: auto
    &>.eRowFluid_dynamic
      width: 100%
      float: left
    
    &>.eRowFluid_fixed
      width: $width
      margin-left: -$width !important
      float: left
  
/// https://csshexagon.com/ finalized Evsukov Nikolay
= hexagon($size, $color, $shadow: 0, $border: 0, $border-width: 0, $border-color: 0) 
  position: relative
  width: $size 
  height: ($size * 0.577)
  background-color: $color
  margin: ($size * 0.2886) 0
  @if $shadow != 0
    box-shadow: $shadow
  @if $border != 0 
    border-left: $border-width solid $border-color
    border-right: $border-width solid $border-color

  &:before,
  &:after 
    content: ""
    position: absolute
    @if $shadow != 0
      z-index: 1
      width: ($size * 0.7071)
      height: ($size * 0.7071)
      background-color: inherit
      left: ($size * 0.1464)
      transform: scaleY(0.5774) rotate(-45deg)
      box-shadow: $shadow
    @if $border != 0 
      z-index: 1
      width: ($size * 0.7071)
      height: ($size * 0.7071)
      transform: scaleY(0.5773) rotate(-45deg)
      background-color: inherit
      left: ($size * 0.15 - $border-width)

  &:before 
    @if $shadow != 0
      top: -($size * 0.3535)
    @if $border != 0 
      top: -($size * 0.3535)
      border-top: ($border-width * 1.4142) solid $border-color
      border-right: ($border-width * 1.4142) solid $border-color

  &:after 
    @if $shadow != 0
      bottom: -($size * 0.3535)
    @if $border != 0 
      bottom: -($size * 0.3535)
      border-bottom: ($border-width * 1.4142) solid $border-color
      border-left: ($border-width * 1.4142) solid $border-color
    
  & > .hexagon-inner
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    left: 0
    width: $size 
    height: ($size * 0.5773)
    background-color: inherit
    z-index: 2
    @if $border != 0 
      top: ($border-width * 0.5773)
      width: $size - ($border-width * 2)
      height: ($size * 0.5773) - $border-width

// todo - fix this
= simple-hex($size, $color)
  position: relative
  width: $size 
  height: ($size * 0.5773)
  background-color: $color
  margin: ($size * 0.2886) 0
  &:before,
  &:after 
    content: ""
    position: absolute
    width: 0
    border-left: ($size / 2)
    border-right: ($size / 2)
  &::before
    bottom: 100%
    border-bottom: ($size * 0.2886) solid $color
  &::after
    top: 100%
    width: 0
    border-top: ($size * 0.2886) solid $color

// example
// <div class="hexagon"><span>hex text</span></div>

// .hexagon 
//    +simple-hex(300px, #f00)  simple hex
//    or
//    +hexagon(135px, #f00, 0 , 1, 2px, #ddd) with border
//    or
//    +hexagon(135px, #f00, 0 0 10px rgba(0,0,0,.75),)  with shadow
    
%antialias
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  
%reset-btn 
  border: 0
  border-radius: 0
  box-shadow: none
  background: none
  padding: 0
  margin: 0
  outline: none
  text-decoration: none
  cursor: pointer
  text-align: center
  -webkit-appearance: none
  -moz-appearance: none


%reset-list
  padding: 0
  margin: 0
  list-style: none

%flex-center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

=aspect-ratio($w, $h, $pseudo: false)
  $padding: unquote($h / $w * 100 + '%')
  position: relative

  @if $pseudo 
    &::before 
      content: ""
      display: block
      width: 100%
      padding-top: $padding
      
  @else 
    padding-top: $padding


=rotated-text($num-letters: 100, $angle-span: 180deg, $angle-offset: 0deg)
  $angle-per-char: $angle-span / $num-letters
  @for $i from 1 through $num-letters
    .char#{$i} 
      +transform(rotate($angle-offset + $angle-per-char * $i))
// example
// div.text
//   span.char1 T
//   span.char2 e
//   span.char3 x
//   span.char4 t