@import url("https://use.typekit.net/jjf1rbe.css");
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:wght@700&display=swap');
// @font-face
//     font-family: 'CenturyGothic'
//     src: url('../../fonts/CenturyGothic.eot')
//     src: url('../../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),url('../../fonts/CenturyGothic.ttf') format('truetype'),url('../../fonts/CenturyGothic.woff') format('woff'),url('../../fonts/CenturyGothic.woff2') format('woff2')
//     font-weight: normal
//     font-style: normal

:root{
    --mainFz: 16px;
    @include r(450){
        --mainFz: 14px;
    }
}


$main-font-size: var(--mainFz);
$fz-m1: calc(var(--mainFz) - 1px);
$fz-m2: calc(var(--mainFz) - 2px);
$fz-p1: calc(var(--mainFz) + 1px);
$fz-p2: calc(var(--mainFz) + 2px);



$main-line-height: 1.785;
$main-font-weight: 400;

@mixin font{
    font-family: 'Muli', sans-serif;
    // font-family: 'CenturyGothic', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin font_i{
    font-family: 'Muli', sans-serif;
    // font-family: 'CenturyGothic', sans-serif;
    font-weight: 400;
    font-style: italic;
}

@mixin font_title{
    font-family: adobe-caslon-pro, serif;
    font-weight: 600;
    font-style: normal;
}

@mixin font_title-bold{
    font-family: 'Libre Caslon Text', serif;
    font-weight: 700;
    font-style: normal;
}

@mixin font-700{
    font-family: 'Muli', sans-serif;
    // font-family: 'CenturyGothic', sans-serif;
    font-weight: 700;
}



$color-primary: #00A852;
$color-primary_dark: #019348;
$color-primary_light: #CCDEB0;

$color-secondary: #FFB635;
$color-secondary_light: #FFE8BD;
$color-secondary_light2: #FFF4E0;

$color-black: #262626;
$color-gray: #989898;
$color-gray_light: #DEDEDE;
$color-red: #F82B50;

$color-text: #07093B;
$color-white: #ffffff;
$color-bg: #f9f9f9;
$color-link: #4378FF;


$transition: all .4s ease;

$radius: 5px;

