.about{
    display: flex;
    flex-flow: row wrap;
    @include rmin(1024){
        &__content{
            padding-right: 30px;
            flex: 1 1 calc(100% - 270px);
            max-width: calc(100% - 270px);
            flex-basis: calc(100% - 270px);
        }
        &__sidebar{
            flex: 1 1 270px;
            max-width: 270px;
        }
    }
    &__content{}
    &__sidebar{
        margin-top: 80px;
        @include r(1023){
            margin: 0 auto 60px;
            width: 100%;
            max-width: 350px;
        }
        @include r(767){
            margin: 30px auto;
            order: -1;
        }
        .about-form{
            padding: 20px;
            position: sticky;
            top: 100px;
            bottom: 30px;
            &__title{
                margin-top: 0;
                margin-bottom: .3em;
                font-size: 24px;
                line-height: 29/24*1em;
                @include font-700;
            }
        }
    }

    &__sidebar{
        .input-field + .input-field ~ .text-center>.input-field{
            display: flex;
            align-items: center;
            justify-content: center;
            input{
                display: inline-flex !important;
                align-items: center;
                justify-content: center;
                line-height: 1 !important;
            }
        }
    }
}

.input-field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    input:not([type="submit"]),
    textarea{
        padding: 0 20px;
        font-size: $fz-m1;
        line-height: 50px;
        height: 50px;
        display: block;
        width: 100%;
        border-radius: $radius;
        background-color: lighten($color-gray_light, 9%);

    }
    textarea{
        min-height: 100px;
        resize: vertical;
        border: none;
        @include rmin(1024){
            min-height: 200px;
        }
    }
    input[type="submit"]{
        @extend .btn;
        @extend .btn_primary;
        width: 100%;
    }
}