.icon-dotted{
    margin-bottom: 10px;
    display: block;
    position: relative;
    width: 100%;
    min-height: 45px;
    color: $color-secondary;
    &:not(.icon-dotted_last){
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: calc(100% - 70px);
            border-top: 1px dashed currentColor;
        }
    }
    @include r(767){
        &.icon-dotted_last{
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                width: calc(100% - 70px);
                border-top: 1px dashed currentColor;
            }
        }
    }
    .icon{
        width: 100%;
        height: auto;
        max-width: 45px;
        max-height: 45px;
        fill: currentColor;
    }
}

.articles-inline-iconed-text{
    .iconed-text{
        align-items: inherit;
        .icon{
            width: 100%;
            height: auto;
            max-width: 40px;
            max-height: 40px;
            fill: $color-secondary;
        }
    }
}

.blogger-list{
    &__item{
        margin-bottom: 1.8em;
    }
}
.bl-item{
    font-size: var(--mainFz);
    padding: 1.8em;
    @include r(767){
        padding: 1.3em;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include r(767){
            flex-wrap: wrap;
        }
        .left{

        }
        .right{
            @include r(767){
                padding: 1em 0;
                font-size: 80%;
            }
        }
    }
    &__blogger{
        display: flex;
        align-items: center;
        &-avatar{
            width: 80/16*1em;
            height: 80/16*1em;
            border-radius: 50%;
            overflow: hidden;
        }
        &-text{
            padding-left: 1em;
        }
        &-nik{
            display: block;
            line-height: 1.3;
            font-size: 21/16*1em;
        }
        &-name{
            display: block;
            line-height: 1.3;
        }
    }
    &__socials{
        display: flex;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            .count{
                padding-left: .5em;
            }
            &:not(:last-child){
                margin-right: 1.5em;
            }
        }
    }

    &__body{

    }
    &__footer{
        display: flex;
        justify-content: flex-start;
        @include rmin(1024){
            justify-content: space-between;
        }
        @include r(1023){
            overflow-x: auto;
            width: 100%;
        }
        .img-wrapper{
            border-radius: 5px;
            @include aspect-ratio(100,93,true);
            display: block;
            overflow: hidden;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
            }
            @include r(767){
                flex: 0 0 calc(25% - .5em);
                max-width: calc(25% - .5em);
                // &:not(:nth-child(-n + 4)){
                //     display: none;
                // }
            }
            @include rIn(768,1023){
                flex: 0 0 calc(16.6% - .5em);
                max-width: calc(16.6% - .5em);
                // &:not(:nth-child(-n + 6)){
                //     display: none;
                // }
            }
            @include r(1023){
                margin-right: 0.3em;
            }
            @include rIn(1024,1199){
                flex: 0 0 calc(10% - .5em);
                max-width: calc(10% - .5em);
            }
            @include rmin(1200){
                flex: 0 0 calc(10% - 1em);
                max-width: calc(10% - 1em);
            }
        }
    }
}

.block-float-right{
    margin: 0 0 0 1em;
    float: right;
    @include r(1023){
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}
.min-w-400{
    min-width: 400px;
}

.list-4{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
    @include rIn(768,1023){
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    @include r(767){
        display: block;
        .box{
            margin-bottom: 1rem;
        }
    }
    p{
        margin-bottom: 0;
    }
    .box{
        padding: 10px;
        padding-left: 15px;
    }
    .iconed-text{
        height: 100%;
    }
}