.hero-discount-img{
    overflow: hidden;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -40px;
    img{
        transform-origin: 50% 50%;
        transform: scale(1.4);
    }
}

.table_discount{
    --mainFz: 14px;
    font-size: $fz-m1;
    @include r(1023){
        min-width: 1100px;
    }
    &.table_discount--higher{
        tbody{
            td{
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
    th,td{
        padding: 8px 10px;
        background-color: $color-white;
        th:first-child &:first-child{
            border-top-left-radius: 5px;
        }
        tr:last-child &:first-child{
            border-bottom-left-radius: 5px;
        }
        th:last-child &:last-child{
            border-top-right-radius: 5px;
        }
        tr:last-child &:last-child{
            border-bottom-right-radius: 5px;
        }
        @include rmin(1024){
            white-space: nowrap;
        }
    }
    th{
        padding-top: 20px;
        font-size: $main-font-size;
        line-height: 140%;
        color: #7E7E7E;
        font-weight: 400;
        .th-title{
            text-transform: uppercase;
            font-size: $fz-m2;
            text-align: center;
            letter-spacing: .05em;
            @include rmin(1024){
                white-space: nowrap;
            }
        }
    }
    td{
        vertical-align: middle;
        .half{
            align-items: center;
            justify-content: center;
            display: flex;
        }
        &:last-child{
            .duplet,
            .half{
                justify-content: flex-start;
            }
        }
    }
    tr:nth-child(even) td{
        background-color: #FBFBFB;
    }
    .first-column{
        vertical-align: middle;
        position: sticky;
        left: 0;
        z-index: 1;
        @include rmin(1024){
            width: 140px;
        }
        .text{
            margin: 0 20px 0 30px;
            @include r(1023){
                margin: 0 0 0 20px;
            }
        }
        .company-logo{
            margin: 0 20px 0 30px;
            max-width: 115px;
            text-align: center;
            @include r(1023){
                margin: 0 0 0 20px;
            }
            img{
                max-height: 50px;
            }
        }
        // & + th,
        // & + td{
        //     text-align: center;
        // }
    }
    .second-column{
        max-width: 161px;
        padding-top: 14px;
        vertical-align: bottom;
        .triplet{
            position: static;
            &::before{
                content: '';
                position: absolute;
                // left: -6px;
                left: 0;
                width: 1px;
                height: 40px;
                bottom: 10px;
                border-left: 1px dashed #DEDEDE;
            }
            &::after{
                content: '';
                position: absolute;
                right: 0;
                width: 1px;
                height: 40px;
                bottom: 10px;
                border-left: 1px dashed #DEDEDE;
            }
        }

    }
    .third-column{
        padding-top: 14px;
        vertical-align: bottom;
    }
    i.info{
        margin: -2px 5px 0;
    }
    thead tr > *{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px dashed #DEDEDE;
        }
        &:last-child{
            &::before{
                content: '';
                position: absolute;
                // left: -6px;
                left: 0;
                width: 1px;
                height: 40px;
                bottom: 10px;
                border-left: 1px dashed #DEDEDE;
            }
        }
    }
    thead tr > .first-column{
        &::after{
            width: calc(100% - 30px);
            left: 30px;
        }
    }
}

.duplet,
.triplet,
.quartet,
.qvintet{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    .half{
        flex: 1 1 50%;
        max-width: 50%;
        &:first-child {
            max-width: 80px;
        }
    }
    .part{
        flex: 1 1 25%;
        max-width: 25%;
    }
    .wide{
        flex: 1 1 65%;
        max-width: 65%;
    }
    .smaller{
        flex: 1 1 35%;
        max-width: 35%;
    }

    .th-title{
        flex: 1 1 100%;
        max-width: 100%;
    }
}
th{
    .duplet{
        .half:last-child{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 1px;
                height: 15px;
                bottom: 3px;
                border-left: 1px dashed #DEDEDE;
            }
        }
    }
    &.third-column{
        padding-left: 0;
        padding-right: 0;
    }
    .quartet{
        .part{
            padding-left: 5px;
            padding-right: 5px;
        }
        .part:not(:first-child){
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                width: 1px;
                height: 15px;
                bottom: 3px;
                border-left: 1px dashed #DEDEDE;
            }
        }
    }
}