.disclaimer-page{
    .iconed-text{
        align-items: flex-start;
        svg{
            width: 40px;
            height: 40px;
            fill: $color-secondary;
        }
    }
    .box_iconed{
        .title{
            margin-top: 0;
            margin-bottom: .3em;
            font-size: $fz-p2;
            line-height: 25/16*1em;
            @include font-700;
        }
    }

}