.food-sub-sorting{
    width: 100%;
    display: block;
    // overflow-x: auto;
    @include rIn(1024,1199){
        overflow-x: auto !important;
    }
    .sorting-table{
        // min-width: 600px;
        @include rIn(1024,1199){
            min-width: 1200px;
            font-size: $main-font-size;
            --mainFz: 14px;
            .cl_s{
                text-align: left;
                display: block !important;
            }
        }
        &__triggers{
            max-width: calc(100vw - 27px);
            @include r(1023){
                --mainFz: 14px;
            }
        }
    }

}
.advantages{
    &__list{
        li{
            margin-bottom: 30px;
            min-height: 80px;
        }
    }
}
.expirience{
    &__inner{

    }
    &__list{
        @include rmin(1024){
            column-count: 2;
            gap: 30px;
        }
        .box{
            margin-bottom: 20px;
            padding: 20px;
            padding-bottom: 0;
            break-inside: avoid;
        }
        .iconed-text{
            align-items: flex-start;
        }
    }
}