.companies-table{
    width: 100%;
    overflow-x: auto;
    display: block;
    font-size: $main-font-size;
    --mainFz: 14px;
    table{
        th{
            min-width: 120px;
        }
    }
    // food-sub-sorting
    .sorting-table{

        @include r(767){
            .cl_s{
                min-width: calc(50vw - 36px);
                max-width: calc(50vw - 36px);
            }
            &[data-plans="2"]{
                .sorting-table__top{
                    min-width: calc(100vw - 30px);
                }
            }
            &[data-plans="3"]{
                .sorting-table__top{
                    min-width: calc(150vw - 50px);
                }
            }
            &[data-plans="4"]{
                .sorting-table__top{
                    min-width: calc(200vw - 75px);
                }
            }
            &[data-plans="5"]{
                .sorting-table__top{
                    min-width: calc(250vw - 100px);
                }
            }
            &[data-plans="6"]{
                .sorting-table__top{
                    min-width: calc(300vw - 125px);
                }
            }
        }
    }
}

.iconed-list{
    &_md{
        li{
            margin-bottom: 15px;
        }
        .elem-icon{
            padding-left: 2em;
        }
    }
}


.video-popup{
    border-radius: 0px 15px;
    border-width: 2px;
    @include hover{
        cursor: pointer;
    }
}

.sticky_top{
    position: sticky;
    top: 80px;
}

.area{
    &__inner{
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: $main-font-size;
        --mainFz: 15px;
        @include r(1199){
            --mainFz: 14px;
        }
    }
}

.video__section{
    .videoSliderArrows{
        display: flex;
        width: 80px;
        &__wrapper{
            @include r(767){
                margin-left: auto;
                margin-bottom: 20px;
            }
        }
    }
    .slick-arrow{
        width: 40px;
        height: 40px;
        border: 1px solid;
        color: $color-secondary;
        margin-right: -1px;
        background-color: $color-secondary_light2;
        transition: $transition;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.slick-disabled{
            opacity: .2;
        }
        @include hover{
            background-color: $color-secondary;
            color: $color-white;
            cursor: pointer;
        }
        &_prev{
            border-bottom-left-radius: 15px;
            left: 0;
        }
        &_next{
            border-top-right-radius: 15px;
            right: 0;
        }
        .chevron-right{
            @include chevron(10,15,currentColor, right)
        }
        .chevron-left{
            @include chevron(10,15,currentColor, left)
        }
        &:focus{
            outline: none;
        }

    }
}
.vam{
    vertical-align: middle;
}


.nk-page404{
    text-align: center;
    &__img{
        margin: 30px auto;
    }
    &__bottom{
        margin: 0 auto 70px;
        max-width: 750px;
    }
    &__btns{
        display: flex;
        justify-content: space-around;
        @include r(767){
            justify-content: center;
            flex-wrap: wrap;
            .btn{
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}

.fl-screen-reader-text{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}


.block-withCircleDecor{
    position: relative;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 105%;
        border-radius: 50%;
        background-color: rgba(255, 182, 53, 0.1);
        top: 50%;
        transform: translateY(-50%);
        left: -100px;
    }
}