.review {
    @include rIn(768,1199){
        --mainFz: 14px;
    }
    &__top {
        padding-top: 50px;
        margin-bottom: 50px;

        @include r(767) {
            padding-top: 15px;
        }

        &.load {
            transition: opacity 0.2s ease-in-out;
            opacity: 1 !important;
        }
    }

    &__rating {
        margin-bottom: 20px;
        text-align: center;

        .top {
            font-size: $fz-p2;

            b {
                font-size: 150%;
                font-weight: 700;
            }
        }

        // .sub{
        //     color: $color-gray;
        // }
        .stars {
            margin: 10px auto;
        }

        // .stars__list::after{
        //     content: '(Google)';
        // }
    }
    &__logo{
        max-height: 95px;
    }

    &__map {
        text-align: center;
        max-width: 90%;
        margin: 0 auto 40px;
        .review-short__title{
            margin-bottom: -10px;
            text-align: left;
        }
        @include rIn(768,1023){
            margin-bottom: 26px;
        }
        img{
            transform: scale(1.2);
        }
    }

    &__vote,
    &__sitelink {
        font-size: $main-font-size;
        padding: 10px 20px;
        height: 100%;
    }

    &__vote {
        display: flex;
        align-items: center;
        justify-content: space-between;


        .text {
            flex-grow: 1;
        }

        .btns {
            flex-shrink: 1;
            text-align: center;
            @include r(767){
                white-space: nowrap;
                transform: scale(.8);
            }

            button {
                @extend %reset-btn;
                margin: 0 5px;
                font-size: $fz-p2;
                transition: $transition;

                &.up {
                    color: $color-primary;

                    &:hover,
                    .active,
                    &:active {
                        color: $color-primary_dark;
                    }
                }

                &.down {
                    color: $color-gray;

                    &:hover,
                    .active,
                    &:active {
                        color: $color-red;
                    }
                }
            }
        }

        .icon-thumbs-up,
        .icon-thumbs-down {
            margin-right: 7px;
            width: 23px;
            height: 23px;
            fill: currentColor;
        }
    }

    &__sitelink {
        a {
            color: $color-link;
        }
    }


}

.noaff-btn{
    text-align: center;
    --mainFz: 15px;
    @include rIn(768,1199){
        --mainFz: 14px;
    }
    &__inner{
        padding: 10px;
        display: inline-block;
        flex-flow: row wrap;
        border-radius: 0 15px;
        background-color: rgba($color-gray_light, .4);
        .review-box__btn{
            margin-bottom: 0;
            padding: 5px 10px;
            display: inline-flex;
            font-size: $fz-m1;
        }
    }
    &__title{

        font-size: $fz-m1;
        color: $color-gray;
    }
}



.review-box {
    @include r(767){
        margin-bottom: 45px;
    }
    &__top {
        // padding: 40px 30px 30px;
        padding: 0 30px;
        text-align: center;
    }

    &__btn {
        display: block;
        margin: 0 auto 26px;
        box-shadow: none;
        padding: 17px 15px;
        max-width: 220px;
    }
    .noaff-btn{
        &__inner{
            margin-bottom: 25px;
        }
        &__title{
            margin-bottom: 5px;
        }
    }


    &_lastline {
        @include rIn(768,1199){
            --mainFz: 13px;
        }
        .review-box__top {
            padding: 40px 30px 10px;
            max-width: 80%;
            margin: auto;
        }

        .review-box__bottom {
            padding: 10px 20px 20px;
            font-size: $main-font-size;
        }

    }

    .review__line {
        margin: 5px auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    //js elem
    .review-text-wrapper{
        padding: 20px 15px;
    }
}

.review-short,
.review-proscons {
    height: 100%;
    padding: 20px 15px;

    &__title {
        margin-bottom: 9px;
        @include font_title;
        font-size: $fz-p2;
    }
}

.review-short {
    @include rIn(768, 1023) {
        width: calc(200% + 30px);
        right: 0;
        position: relative;
        margin-left: calc(-100% - 30px);
    }

    &__list {
        @extend %reset-list;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        font-size: $fz-m1;

        li {
            margin-bottom: 18px;
            flex: 1 1 auto;
            line-height: 1.2;

            @include rIn(1023, 1199) {
                flex: 1 1 50%;
                max-width: 50%;
            }
        }
    }

    &__line {
        margin-bottom: 14px;
        display: block;
        width: 100%;
        height: 1px;
        border-top: 1px dashed $color-gray_light;
    }

    &__half {
        margin-right: 20px;
        flex: 1 1 auto;
        width: auto;
        display: inline-block;
        font-size: $fz-m1;
    }
}

.review-proscons {
    @include rIn(768, 1023) {
        width: 100%;
        margin-left: calc(-100% - 30px);
    }

    &__list {
        @extend %reset-list;
        font-size: $fz-m1;

        li {
            margin-bottom: 13px;

            .elem-icon_bad {
                color: $color-gray;
            }
        }
    }
}

.review-coupon__wrapper {
    @include rIn(768, 1023) {
        max-height: 1px;
    }

    .review-coupon {
        @include rIn(768, 1023) {
            transform: translateY(calc(-100% - 20px))
        }
    }
}

.founder {
    padding: 60px 0;

    &__img {

        @include rmin(768){
            max-width: 255px;
        }
        &_round{
            img{
                border-radius: 50%;
            }
        }
        figcaption{
            display: block;
            flex: 1 1 100%;
        }
        @include rIn(768, 1023) {
            position: sticky;
            top: 40px;
        }

        @include r(767) {
            margin: 0 auto 40px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            & + figcaption{
                position: relative;
                transform: translateY(-25px);
            }
            img{
                align-self: center;
            }
        }
    }
}

.terms-img,
.product-img {
    @include rIn(768, 1023) {
        position: sticky;
        top: 0;
    }
    @include r(767){
        margin: 0 auto;
        display: block;
    }
}

.helper-sticky__wrapper {
    padding: 20px 15px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: opacity .23s ease;
    opacity: 1;
    width: 100%;
    background-color: $color-white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    @media (max-width: 750px) and (orientation: landscape){
        display: none;
    }

    &_noaff{

        @include r(991){
            justify-content: center;
            .nav{
                display: none;
            }
        }
        .noaff-btn{
            &__inner{
                display: flex;
                align-items: center;
            }
            &__title{
                margin-right: 15px;
            }
            @include r(767){
                width: 100%;
                &__inner{

                    width: 100%;
                    flex-flow: column wrap;
                }
            }
            @include r(991){
                margin: 0 auto;

            }

        }
    }

    .helper-sticky{
        display: flex;
        flex-flow: row wrap;
        @include rIn(768,1199){
            --mainFz: 14px;
        }
        .nav{
            flex: 1;
            @include r(1023){
                flex: 1 1 100%;
                overflow-x: auto;
                margin-bottom: 5px;
            }
            ul{
                margin: 0;
                display: flex;
                flex-flow: row wrap;
                @include r(1023){
                    display: block;
                    justify-content: center;
                    white-space: nowrap;
                }
                li{
                    @include r(1023){
                        display: inline-block;
                    }
                    a{
                        margin: 0 20px;
                        padding: 15px 0;
                        display: block;
                        font-size: $fz-p1;
                        line-height: 18px;
                        text-align: center;
                        color: $color-text;
                        text-decoration: none;
                        font-weight: 400;
                        @include r(767){
                            margin: 0 10px;
                        }
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .btn{
            margin: 0 0 0 auto;
            @include r(767){
                margin: 0 auto;
            }
        }
    }
    &.is-hidden {
        opacity: 0;
    }

    @include r(767) {
        padding: 10px 0;

        .button:nth-last-child(2),
        .button+.button {
            display: block;
            max-width: calc(50% - 15px) !important;
            min-width: 1px;
            padding-left: 8px;
            padding-right: 5px;
        }

    }
    @media (max-width: 1023px) and (orientation: landscape){
        padding: 10px 0px;
        .container{
            max-width: 100%;
        }
        .helper-sticky{
            .nav{
                flex: 1;
                ul li a{
                    margin: 0 10px;
                }
            }
            .btn{
                min-width: 100px;
                padding: 5px 15px;
                min-height: 1px;
                align-self: center;
                font-size: $main-font-size;
            }
        }
    }

}



/// review company
.hero-subtitle{
    margin-bottom: 0.5em;
    color: $color-gray;
    font-size: 18px;
    line-height: 1.2;
}
.logo-country{
    position: relative;
    &__flag{
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        z-index: 1;
        @include r(767){
            width: 65px;
        }
    }
}

.company-table{
    &__card{
        margin-bottom: 10px;
        table.table_two-col{
            min-width: 370px;
            td:last-child{
                width: 200px;
            }
            .color-primary{
                font-weight: 700;
            }
        }
    }
    &__icon{
        margin-right: 10px;
        width: 23px;
    }
}

.double-slider{
    .slick-slide{
        &:focus{
            outline: none;
        }
        img{
            margin: 0 auto;
        }
    }
    [id="sliderCompanyDishesBottom"]{
        &.slick-initialized{
            // position: absolute;
            // width: 100%;
            // top: 100%;
            // left: 0;
        }
        .slick-slide{
            margin-bottom: 0;
            border: 10px solid transparent;
            max-height: 250px;
        }

    }

    .slick-arrow{
        position: absolute;
        top: 50%;
        z-index: 2;
        width: 40px;
        height: 40px;
        border: 1px solid;
        color: $color-secondary;
        margin-right: -1px;
        background-color: $color-secondary_light2;
        transition: $transition;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include hover{
            background-color: $color-secondary;
            color: $color-white;
            cursor: pointer;
        }
        &_prev{
            border-bottom-left-radius: 15px;
            left: 0;
        }
        &_next{
            border-top-right-radius: 15px;
            right: 0;
        }
        .chevron-right{
            @include chevron(10,15,currentColor, right)
        }
        .chevron-left{
            @include chevron(10,15,currentColor, left)
        }
        &:focus{
            outline: none;
        }

    }
    .slick-dots{
        margin: 20px auto 0;
        text-align: center;
        li{
            display: inline-block;
            width: 15px;
            height: 15px;
            width: .9375rem;
            height: .9375rem;
            background-color: #fff;
            border: 1px solid $color-secondary;
            border-radius: .125rem;
            &:hover{
                cursor: pointer;
            }
            &.slick-active{
                background-color: $color-secondary;
            }
            button{
                font-size: 0px;
                background-color: transparent;
                border: none;
            }
            & + li{
                margin-left: 5px
            }
        }
    }
}


.vcb{
    &__wrapper{
        @include rIn(1024,1199){
            --mainFz: 14px;
        }
        &.row{
            @include r(1199){
                margin-left: -10px;
                margin-right: -10px;
                [class^="col"]{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }
    }
    &__header{
        padding: 20px 10px;
        text-align: center;
        color: $color-gray;
        font-size: $fz-m2;
        border-bottom: 1px solid #DEDEDE;
    }
    .company-logo{
        margin: 0 auto;
        display: flex;
        max-width: 150px;
        height: 60px;
        align-items: center;
        justify-content: center;
    }
    &__body{
        padding: 10px 15px;
        @include rIn(1024,1199){
            padding: 10px;
        }
        .table_two-col{
            margin: 0;
            width: 100%;
            max-width: 100%;
            font-size: $fz-m1;
            td,
            th{
                white-space: nowrap;
            }
            .stars__item{
                margin-right: 0;
                @include rIn(1024,1199){
                    width: 10px;
                    height: 10px;
                }
                @include r(767){
                    width: 10px;
                    height: 10px;
                }
            }
        }
        .icon-user,
        .icon-2users,
        .icon-3users,
        .icon-4users{
            margin-left: 3px;
            fill: $color-secondary;
        }
    }
    &__footer{
        padding: 0 10px 20px;
        text-align: center;
        .btn{
            @include rIn(1024,1199){
                transform: scale(.8);
            }
        }
    }
}
.table-simple{
    &.table_longos1{
        th:first-child{
            width: 180px;
        }
    }
    &.table_longos1,
    &.table_longos2{
        --mainFz: 15px;
        font-size: var(--mainFz);
        min-width: 800px;
        line-height: 1.6;
    }
    &.table_longos3{
        min-width: 1100px;
        --mainFz: 14px;
        font-size: var(--mainFz);
        th{
            vertical-align: middle;
        }
    }
}


//
.box-on-regional-review{
    &::before,
	&::after{
		content: none !important
    }
    @include r(1023){
        .col-auto {
            max-width: 100%;
        }
        .btn{
            white-space: normal;
            font-size: $main-font-size;
            padding-left: 15px;
            padding-right: 15px;
            line-height: 1.4;
        }
    }
}


.most-popular-recipes{
    &__icon{

    }
    &__title{
        font-size: $fz-m2;
        line-height: 25/14*1em;
    }
}