.versus{
    &__table{
        .table-responsive{
            margin: 15px 0 50px;
        }
        @include r(767){
            .table-responsive{
                overflow: visible;
            }
            .v-table{
                position: relative;
                text-align: center;
            }
            .v-table thead tr >*:first-child,
            .v-table tbody tr >*:first-child{
                margin-top: 1px;
                position: absolute;
                width: 100%;
            }
            .v-table tbody tr >*:first-child{
                background-color: #fff;
            }
            .v-table thead tr >*:not(:first-child){
                vertical-align: middle;
                position: sticky;
                top: 80px;
                background-color: #fff;
                z-index: 3;
            }
            .v-table thead tr >*:nth-child(2){
                &::after{
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    right: 0;
                    top: 0;
                    background-color: #f2f2f2;
                }
            }
            .v-table thead tr >*:not(:first-child),
            .v-table tbody tr >*:not(:first-child){
                width: calc(50vw - 15px);
                max-width: calc(50vw - 15px);
                &:not(:last-child){
                    border-right: 1px solid #f2f2f2;
                }
            }
            .v-table tbody tr >*:not(:first-child){
                position: relative;
                padding-top: 40px;
                border-left: 0;
                border-right: 0;
                border-top: 1px solid rgba(222, 222, 222, 0.5);
            }
            .v-table tbody tr{
                &:nth-child(odd){
                    background-color: inherit;
                }
                &:last-child{
                    background-color: inherit;
                    & >*:nth-child(2){
                        padding: 15px 5px 15px 10px;
                    }
                    & >*:last-child{
                        padding: 15px 10px 15px 5px;
                    }
                    .btn-promo-group{
                        max-width: 100%;

                    }
                    .btn{
                        min-width: 1px;
                        padding: 10px 15px;
                        max-width: 100%;
                        width: 100% ;
                        font-size: $fz-m2;
                    }
                    .promo-up-btn{
                        font-size: $fz-m1;
                    }
                    .simple-meter{
                        position: relative;
                        transform: translateY(30px);
                        label{
                            flex-flow: row wrap;
                            & > span{
                                flex: 1 1 100%;
                                max-width: 100%;
                            }
                        }
                        .meter{
                            margin-left: 0;
                            flex: 1 1 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .emoji{
                flex-wrap: wrap;
                & > span{
                    margin: 0;
                    flex: 1 1 100%;
                    max-width: 100%;
                }
                &__items{
                    margin: 0 auto;
                    max-width: 80%;
                    justify-content: center;
                }
            }
            .v-table__logo{
                margin: 0 auto;
                min-width: 1px;
                max-width: 85%;
                max-height: 90%;
                display: block;
            }
        }
    }
}

.versus-single{
    padding: 100px 0;
    @include css-lock(30,100,350,1500, padding-block);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--mainFz);
    @include rIn(768,1023){
        justify-content: space-around;
    }
    @include r(767){
        --mainFz: 12px;
        align-items: stretch;
        justify-content: space-between;
        .box{
            height: 100%;
        }
    }

    &__center{
        @include css-lock(56,72,350,1500);
        color: $color-gray;
        .vs-text{
            margin: 0 1em;
            width: 1em;
            height: 1em;
            fill: currentColor;
        }
        @include rIn(768,1023){
            .vs-text{
                margin: 0;
            }
        }
        @include r(767){
            display: none;
        }
    }
    &__right,
    &__left{
        @include r(767){
            flex: 1 1 49%;
            max-width: 49%;
        }
        .box > p:nth-child(2){
            text-align: center;
        }
    }

    .box{
        padding: 25px 30px;
        @include r(767){
            padding: 15px 5px;
        }
        ul{
            li{
                margin-bottom: .5em;
                position: relative;
                padding-left: 2em;
                display: flex;
                align-items: center;
                @include r(767){
                    padding-left: 0;
                }
                .icon{
                    position: absolute;
                    left: 0;
                    @include r(767){
                        display: none;
                    }
                }
                span{
                    flex: 1;
                }
            }
        }
        .icon{
            &.cd_1{
                left: .15em;
                width: 1.2em;
                height: 1.2em;
            }
            &.cd_1_scaled{
                transform: scale(1.3);
            }
        }
        .promo-up-btn{
            padding-block: .7em;
            @include r(767){
                padding: .6em;
            }
            &_desktop-smaller{
                @include rmin(1024){
                    font-size: calc(var(--mainFz) - 2px);
                }
            }
        }
        .versus-single-list{
            max-width: 240px;
            line-height: 1.5;
        }
        .btn-promo-group{

            @include r(767){
                width: 100%;
                br{
                    display: none;
                }
                --mainFz: 10px;
                .btn,
                .btn.btn_lg{
                    width: 100%;
                    padding: .3em 1em;
                    min-width: 1px;
                }
            }
        }
    }
    &__icon{
        display: inline-block;
        background-position: center;
        width: 1.6em;
        height: 1.6em;
        position: absolute;
        left: 0;
        &_cp-vs-gf-1{
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.31641 8.37866C6.76412 8.37866 6.31641 8.82638 6.31641 9.37866V24.3787C6.31641 24.9309 6.76412 25.3787 7.31641 25.3787H26.3164C26.8687 25.3787 27.3164 24.9309 27.3164 24.3787V20.3787H18.3164C17.7641 20.3787 17.3164 19.9309 17.3164 19.3787V14.3787C17.3164 13.8264 17.7641 13.3787 18.3164 13.3787H27.3164V9.37866C27.3164 8.82638 26.8687 8.37866 26.3164 8.37866H7.31641Z' fill='%23FFB635'/%3e%3cpath d='M24.4477 7.93604L24.002 6.27245C23.859 5.73899 23.3107 5.4224 22.7772 5.56535L13.9297 7.93604L24.4477 7.93604Z' fill='%23FFB635'/%3e%3cpath d='M20.2142 5.48562L19.3531 3.99409C19.0769 3.5158 18.4653 3.35193 17.987 3.62807L10.6992 7.83569L11.4436 7.83569L20.2142 5.48562Z' fill='%23FFB635'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.3164 14.3787C18.7641 14.3787 18.3164 14.8264 18.3164 15.3787V18.3787C18.3164 18.9309 18.7641 19.3787 19.3164 19.3787H27.3164C27.8687 19.3787 28.3164 18.9309 28.3164 18.3787V15.3787C28.3164 14.8264 27.8687 14.3787 27.3164 14.3787H19.3164ZM20.8164 15.8787C20.5403 15.8787 20.3164 16.1025 20.3164 16.3787V17.3787C20.3164 17.6548 20.5403 17.8787 20.8164 17.8787H21.8164C22.0925 17.8787 22.3164 17.6548 22.3164 17.3787V16.3787C22.3164 16.1025 22.0925 15.8787 21.8164 15.8787H20.8164Z' fill='%23FFB635'/%3e%3cpath d='M10.0883 15.3303V14.8303H9.58827H7.07465H6.57465V15.3303V22.1556H4.76562H3.55852L4.41207 23.0091L7.96687 26.5639L8.32042 26.9175L8.67398 26.5639L12.2288 23.0091L13.0823 22.1556H11.8752H10.0883V15.3303Z' fill='%23FFB635' stroke='white'/%3e%3c/svg%3e");
        }
        &_cp-vs-gf-2{
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='9.5' cy='21.2854' r='2.5' fill='%23FFB635'/%3e%3ccircle cx='22.5' cy='21.2854' r='2.5' fill='%23FFB635'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 7.06201C4.44772 7.06201 4 7.50973 4 8.06201V19.062C4 19.6143 4.44772 20.062 5 20.062H6.21976C6.71588 18.7323 7.99736 17.7854 9.5 17.7854C11.0026 17.7854 12.2841 18.7323 12.7802 20.062H18C18.5523 20.062 19 19.6143 19 19.062V8.06201C19 7.50973 18.5523 7.06201 18 7.06201H5Z' fill='%23FFB635'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21 12.062C20.4477 12.062 20 12.5097 20 13.062V17.062C20 17.6143 20.4477 18.062 21 18.062H23.9458C24.2905 18.062 24.611 18.2396 24.7938 18.532L26.2608 20.8793C26.4738 21.2201 27 21.0692 27 20.6673V13.062C27 12.5097 26.5523 12.062 26 12.062H21ZM23.3 13.062C23.1343 13.062 23 13.1963 23 13.362V15.762C23 15.9277 23.1343 16.062 23.3 16.062H25.7C25.8657 16.062 26 15.9277 26 15.762V13.362C26 13.1963 25.8657 13.062 25.7 13.062H23.3Z' fill='%23FFB635'/%3e%3cpath d='M12.8581 22.8046L12.858 22.8034L12.2744 15.4481C12.2744 15.4479 12.2743 15.4477 12.2743 15.4474C12.2178 14.7129 11.5994 14.1411 10.8633 14.1411H9.71005H9.44427H9.21005H8.94427H5.42175H5.15597H4.92175H4.65597H3.50273C2.76693 14.1411 2.14832 14.7126 2.09172 15.4463C2.0917 15.4465 2.09168 15.4468 2.09166 15.447L1.50774 22.8045L1.50763 22.8058C1.45182 23.534 1.704 24.2576 2.20016 24.7932L2.20018 24.7932C2.69623 25.3286 3.39833 25.6357 4.12863 25.6357H10.2374C10.9677 25.6357 11.6698 25.3286 12.1659 24.7932L12.1659 24.7932C12.6621 24.2575 12.9143 23.5338 12.8581 22.8046Z' fill='%23FFB635' stroke='white'/%3e%3cpath d='M9.04712 19.1704L7.07088 21.1466C6.99625 21.2212 6.89842 21.2587 6.80062 21.2587C6.70279 21.2587 6.60499 21.2212 6.53035 21.1466L5.60414 20.2204C5.45487 20.0711 5.45487 19.8294 5.60414 19.6801C5.75342 19.5308 5.99543 19.5308 6.14445 19.6801L6.80064 20.336L8.50684 18.6298C8.65586 18.4808 8.89787 18.4808 9.04715 18.6298C9.1964 18.7791 9.1964 19.0211 9.04712 19.1704Z' fill='white'/%3e%3cpath d='M4.15625 14.6411V15.1411H4.65625H5.42203H5.92203V14.6411V14.5893C5.92203 13.8941 6.48828 13.3278 7.1833 13.3278C7.87833 13.3278 8.44458 13.8941 8.44458 14.5893V14.6411V15.1411H8.94458H9.71033H10.2103V14.6411V14.5893V14.5893C10.2103 12.9198 8.85294 11.562 7.18328 11.562C5.51362 11.562 4.15625 12.9198 4.15625 14.5893V14.6411Z' fill='%23FFB635' stroke='white'/%3e%3c/svg%3e ");
        }
        &_cp-vs-gf-3{
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4 20.4653C4 19.913 4.44772 19.4653 5 19.4653H7.36311V27.3126H4V20.4653Z' fill='%23FFB635'/%3e%3cpath d='M8.48438 14.8601C8.48438 14.3078 8.93209 13.8601 9.48437 13.8601H11.8475V27.3126H8.48438V14.8601Z' fill='%23FFB635'/%3e%3crect x='12.9648' y='9.37598' width='4.48415' height='17.9366' rx='1' fill='%23FFB635'/%3e%3cpath d='M14.4999 3.70711C14.8904 3.31658 15.5236 3.31658 15.9141 3.70711L20.2275 8.02047C20.8575 8.65044 20.4113 9.72758 19.5204 9.72758H15.207L10.8937 9.72758C10.0028 9.72758 9.55659 8.65044 10.1866 8.02047L14.4999 3.70711Z' fill='%23FFB635'/%3e%3ccircle cx='20.8161' cy='18.3441' r='6.22622' fill='%23FFB635' stroke='white'/%3e%3cpath d='M23.0584 19.3228C23.0584 19.7772 22.9107 20.1624 22.6155 20.4783C22.3255 20.7942 21.9301 21.002 21.4292 21.1017V21.5577C21.4292 21.8339 21.2053 22.0577 20.9292 22.0577H20.7904C20.5142 22.0577 20.2904 21.8339 20.2904 21.5577V21.1433C19.7522 21.0923 19.2901 20.9629 18.9041 20.7551C18.7015 20.6461 18.6375 20.3961 18.7275 20.1844L18.8 20.0138C18.9242 19.7218 19.2855 19.6219 19.5768 19.7478C19.8406 19.8618 20.1154 19.9335 20.4011 19.9629V18.7243C20.0478 18.6301 19.7473 18.5248 19.4995 18.4084C19.257 18.2865 19.0514 18.1091 18.8827 17.8764C18.7139 17.6436 18.6296 17.3388 18.6296 16.962C18.6296 16.5186 18.7825 16.1335 19.0883 15.8065C19.3941 15.4795 19.7948 15.2634 20.2904 15.1581V14.7104C20.2904 14.4343 20.5142 14.2104 20.7904 14.2104H20.9292C21.2053 14.2104 21.4292 14.4343 21.4292 14.7104V15.1415C21.7297 15.1858 22.0092 15.2606 22.2675 15.3659C22.3907 15.4125 22.5029 15.4634 22.6041 15.5184C22.7961 15.6228 22.8503 15.8604 22.7653 16.0617L22.6765 16.2722C22.5545 16.5612 22.2006 16.6634 21.9152 16.5334C21.7201 16.4444 21.5265 16.3795 21.3343 16.3385V17.5854C21.6823 17.6796 21.9749 17.7849 22.2122 17.9013C22.4494 18.0122 22.6498 18.184 22.8132 18.4167C22.9766 18.6439 23.0584 18.946 23.0584 19.3228ZM20.1006 16.8622C20.1006 17.0396 20.2007 17.1837 20.4011 17.2945V16.3884C20.3062 16.4327 20.2324 16.4965 20.1797 16.5796C20.1269 16.6627 20.1006 16.7569 20.1006 16.8622ZM21.3343 19.8548C21.503 19.7551 21.5874 19.6027 21.5874 19.3976C21.5874 19.2425 21.503 19.1205 21.3343 19.0319V19.8548Z' fill='white'/%3e%3c/svg%3e ");
        }
        @include r(767){
            display: none;
        }
    }
}

._desktop-smaller{
    @include rmin(1024){
        font-size: calc(var(--mainFz) - 2px) !important;
    }
}