.what-is-mealkits{
    &__container{
        --mainFz: 18px;
        font-size: var(--mainFz);
        h1{
            margin-bottom: 1em;
            @include css-lock(36,64,450,1920);
            text-align: center;
            @include font_title-bold;
        }
        h2{
            margin-bottom: 0.5em;
            @include css-lock(30,52,450,1920);
            text-align: center;
            @include font_title-bold;
        }
        .info-block{
            font-size: $fz-p1;
        }
        .iconed-text{
            font-size: 18px;
        }
        .box{
            .head{
                display: flex;
                line-height: 1.2;
                align-items: center;
            }
        }
        .ab.ab-coupon{
            @include rmin(1024){
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                max-width: 100%;
                .ab-coupon__icon{
                    width: 55px;
                    img{
                        width: 100%;
                    }
                }
                .ab-coupon__title{
                    margin: 0;
                    flex: 0 0 auto;
                    width: auto;
                    align-items: center;
                    &-inner{
                        .title{

                            display: inline-block;
                            @include css-lock(25,36,450,1920);
                            line-height: 1;
                            transform: translateY(-5px)
                        }
                        .color-primary{
                            @include css-lock(32,48,450,1920);
                            line-height: 1;
                        }
                    }
                }
                .ab-coupon__text{
                    flex: 1;
                }
                .ab-coupon__btn{
                    margin: 0;
                    flex: 0 0 auto;
                    width: auto;
                    .btn{
                        padding: 0.6em 1.6em;
                        --mainFz: 16px;
                        width: auto;
                        max-width: 100%;
                    }
                }
            }
        }
        .box-list-numbered.box-list-numbered_full{
            .box{
                padding-left: 125px;
                min-height: 150px;

                &::after{
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 0;
                    background-color: rgba($color-secondary, .1);
                    border-radius: 0 100px 100px 0;
                }
                &::before{
                    left: 20px;
                    font-size: 32px;
                    z-index: 1;
                }
                @include r(767){
                    padding-left: 20px;
                    padding-top: 60px;
                    &::before{
                        top: 23px;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                    }
                    &::after{
                        height: 50px;
                        width: 100%;
                        border-radius: 0 0 40% 40%;
                    }
                }
            }
        }
    }
}