ul.articles-list
    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('decor/covid20','png','','covid19')
            .articles-item__text
                .articles-item__date.color-gray
                    | Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | Meal Kits During Coronavirus Times
                p
                    | Since Coronavirus is highly contagious, the best you can do to avoid it is to stay at home as much as possible. Why go to a restaurant or grocery shopping if you can order one of the best meal delivery kits? It will include all the groceries that you need for several meals plus the easy-to-follow instructions on how to cook a restaurant-quality gourmet meal. You can entertain yourself while cooking or learn a new skill!
                a.simple-link-read(href='#')
                    | read more

    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('index/mk-greener','png','','alt')
            .articles-item__text
                .articles-item__date.color-gray
                    | Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | Are Meal Kits Greener—Creating Less Waste and Emissions?
                p
                    | Like many developed countries, Canada produces a lot of waste, including food waste. Do meal kit delivery services offer us a greener option? Read about the study by Brent Heard and his colleges at the University of Michigan, which compared meal kit delivery to grocery shopping in terms of greenhouse gas emissions and food waste.
                a.simple-link-read(href='#')
                    | read more

    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('index/genetics-health','jpg','','alt')
            .articles-item__text
                .articles-item__date.color-gray
                    | Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | Will Your Health Be Determined by Your Genetics?
                p
                    | What has more influence on your health—nature or nurture? Is food important to your health? Can you prevent diseases by modifying your diet? Which food is best for your genetics? Find our answers to these and other food- and health-related questions in this article.
                a.simple-link-read(href='#')
                    | read more

    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('index/fresh-vs-frozen','jpg','','alt')
            .articles-item__text
                .articles-item__date.color-gray
                    | Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | The Importance of Fresh Foods vs. Canned and Frozen Food
                p
                    | How does processed and preserved food compare to fresh food? Which option is the best for you and your family? Read this article to learn more about canned, frozen, and processed food and how it compares to whole, fresh food.
                a.simple-link-read(href='#')
                    | read more

    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('index/mkc-amazon','jpg','','alt')
            .articles-item__text
                .articles-item__date.color-gray
                    | Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | Will Walmart or Amazon Start a Meal Kit Service in Canada?
                p
                    | The meal kit service industry is growing rapidly in Canada. As more and more Canadians realize the convenience and benefits of ordering the best home delivery meal kits, more and more companies will emerge on the market. Will Amazon or Walmart start a meal delivery service? Are they going to be deal-breakers? Read our article to find out.
                a.simple-link-read(href='#')
                    | read more
    

    // begin item
    li.articles-item
        .row.align-items-center
            .articles-item__img
                a(href="#")
                    +img('index/how-much','jpg','','alt')
            .articles-item__text
                .articles-item__date.color-gray
                    |  Posted: April 6, 2020
                a.articles-item__title(href="#")
                    h3.h3
                        | How Much Do Meal Kits Cost in Canada?
                p
                    | Ordering a meal delivery kit sounds like a great idea, but many people worry whether it will fit their budget and whether it’s worth the price. We have compared the prices in the Big Three meal kit delivery services and looked at how they compared to the cost of grocery shopping and restaurant food. Read this article to find out the results.
                a.simple-link-read(href='#')
                    | read more
    