.row.area__inner
    // box_area 1
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-1.svg', alt='')
                    .text
                        strong Toronto Meal Kits Review 2020
            .box_area__body
                p
                    | Hello Fresh, Goodfood, Chefs Plate, and Fresh City Farms, in addition to several regional companies!
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/toronto-meal-kits-review/') Toronto Meal Kits
    // box_area 2
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-2.svg', alt='')
                    .text
                        strong Calgary and Edmonton Meal Kits Review 2020
            .box_area__body
                p The “Big 3” + two smaller local meal kit delivery firms: Rooted and Spud
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/meal-kits-in-calgary-and-edmonton/') Calgary and Edmonton Meal Kits
    // box_area 3
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-3.svg', alt='')
                    .text
                        strong Montreal and Quebec Meal Kits Review 2020
            .box_area__body
                p All meal kits companies in Canada are available
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/montreal-and-quebec-meal-kits-review/') Montreal and Quebec Meal Kits
    // box_area 4
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-4.svg', alt='')
                    .text
                        strong Vancouver Meal Kits Reviews 2020
            .box_area__body
                p Eat Your Cake, Fresh Prep, FUUD, 2 Guys With Knives and The Good Stuff.
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/vancouver-meal-kits-review/') Vancouver Meal Kits
    // box_area 5
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-5.svg', alt='')
                    .text
                        strong Halifax and the Maritimes Meal Kits Reviews 2020
            .box_area__body
                p Offering the Big 3 with no local competitors.
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/meal-kits-in-halifax-and-the-maritimes-review/') Halifax and the Maritimes Meal Kits
    // box_area 6
    .col-12.col-md-6.col-lg-4.mb-4
        .box.box_area
            .box_area__header
                .iconed-text
                    img(src='/assets/img/index/img-servarea-6.svg', alt='')
                    .text
                        strong Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020
            .box_area__body
                p
                    | To top 3 companies are available together with&nbsp;
                    a(href='https://mealkitscanada.ca/zestykits-canada-review/') ZestyKits
                    |  &nbsp;available partially in the region.
            .box_area__footer
                a.btn.btn_primary(href='https://mealkitscanada.ca/meal-kits-in-winnipeg-regina-and-saskatoon/') Winnipeg, Regina, Saskatoon Meal Kits
