#comments.comments-area
    #respond(style='width: 0;height: 0;clear: both;margin: 0;padding: 0;')
    #wpdcom.wpdiscuz_auth.wpd-default.wpd-layout-1
        .wc_social_plugin_wrapper
        .wpd-form-wrap
            .wpd-form-head
                .wpd-sbs-toggle
                    i.far.fa-envelope
                    span.wpd-sbs-title Subscribe
                    i.fas.fa-caret-down
                .wpd-auth
                    .wpd-login
                        | You are logged in as 
                        a(href='https://mealkitscanada.ca/author/nikolai/') Nikolai
                        |  
                        a(href='https://mealkitscanada.ca/wp-login.php?action=logout&redirect_to=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F&_wpnonce=9bf49fb6cb') Log out
            .wpdiscuz-subscribe-bar.wpdiscuz-hidden
                form#wpdiscuz-subscribe-form(action='https://mealkitscanada.ca/wp-admin/admin-ajax.php?action=wpdAddSubscription', method='post')
                    .wpdiscuz-subscribe-form-intro Notify of 
                    .wpdiscuz-subscribe-form-option(style='width:65%;')
                        select.wpdiscuz_select(name='wpdiscuzSubscriptionType')
                            option(value='post') new follow-up comments
                            option(value='all_comment') new replies to my comments
                    .wpdiscuz-subscribe-form-button
                        input#wpdiscuz_subscription_button.wpd-prim-button(type='submit', value='›', name='wpdiscuz_subscription_button')
                    input#wpdiscuz_subscribe_form_nonce(type='hidden', name='wpdiscuz_subscribe_form_nonce', value='9fb2638b32')
                    input(type='hidden', name='_wp_http_referer', value='/about/')
            #wpd-main-form-wrapper-0_0.wpd-form.wpd-form-wrapper.wpd-main-form-wrapper
                .wpdiscuz-comment-message(style='display: block;')
                form.wpd_comm_form.wpd_main_comm_form(method='post', enctype='multipart/form-data')
                    .wpd-field-comment
                        .wpdiscuz-item.wc-field-textarea
                            .wpdiscuz-textarea-wrap
                                .wpd-avatar
                                    img.avatar.avatar-46.photo(alt='Nikolai', src='https://secure.gravatar.com/avatar/cd64d3a97267bae05eff081aeeed090b?s=46&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/cd64d3a97267bae05eff081aeeed090b?s=92&d=mm&r=g 2x', height='46', width='46')
                                #wpd-editor-wraper-0_0(style='')
                                    #wpd-editor-0_0.ql-container.ql-snow
                                        .ql-editor.ql-blank(data-gramm='false', contenteditable='true', data-placeholder='Join the discussion')
                                            p
                                                br
                                        .ql-clipboard(contenteditable='true', tabindex='-1')
                                        .ql-tooltip.ql-hidden
                                            a.ql-preview(target='_blank', href='about:blank')
                                            input(type='text', data-formula='e=mc^2', data-link='https://example.com', data-video='Embed URL')
                                            a.ql-action
                                            a.ql-remove
                                        .ql-texteditor
                                            textarea#wc-textarea-0_0.wc_comment.wpd-field(required='', name='wc_comment', style='display: none;')
                                    #wpd-editor-toolbar-0_0.ql-toolbar.ql-snow
                                        button.ql-bold(title='Bold', type='button')
                                            svg(viewBox='0 0 18 18')
                                                path.ql-stroke(d='M5,4H9.5A2.5,2.5,0,0,1,12,6.5v0A2.5,2.5,0,0,1,9.5,9H5A0,0,0,0,1,5,9V4A0,0,0,0,1,5,4Z')
                                                path.ql-stroke(d='M5,9h5.5A2.5,2.5,0,0,1,13,11.5v0A2.5,2.5,0,0,1,10.5,14H5a0,0,0,0,1,0,0V9A0,0,0,0,1,5,9Z')
                                        button.ql-italic(title='Italic', type='button')
                                            svg(viewBox='0 0 18 18')
                                                line.ql-stroke(x1='7', x2='13', y1='4', y2='4')
                                                line.ql-stroke(x1='5', x2='11', y1='14', y2='14')
                                                line.ql-stroke(x1='8', x2='10', y1='14', y2='4')
                                        button.ql-underline(title='Underline', type='button')
                                            svg(viewBox='0 0 18 18')
                                                path.ql-stroke(d='M5,3V9a4.012,4.012,0,0,0,4,4H9a4.012,4.012,0,0,0,4-4V3')
                                                rect.ql-fill(height='1', rx='0.5', ry='0.5', width='12', x='3', y='15')
                                        button.ql-strike(title='Strike', type='button')
                                            svg(viewBox='0 0 18 18')
                                                line.ql-stroke.ql-thin(x1='15.5', x2='2.5', y1='8.5', y2='9.5')
                                                path.ql-fill(d='M9.007,8C6.542,7.791,6,7.519,6,6.5,6,5.792,7.283,5,9,5c1.571,0,2.765.679,2.969,1.309a1,1,0,0,0,1.9-.617C13.356,4.106,11.354,3,9,3,6.2,3,4,4.538,4,6.5a3.2,3.2,0,0,0,.5,1.843Z')
                                                path.ql-fill(d='M8.984,10C11.457,10.208,12,10.479,12,11.5c0,0.708-1.283,1.5-3,1.5-1.571,0-2.765-.679-2.969-1.309a1,1,0,1,0-1.9.617C4.644,13.894,6.646,15,9,15c2.8,0,5-1.538,5-3.5a3.2,3.2,0,0,0-.5-1.843Z')
                                        button.ql-list(title='Ordered List', value='ordered', type='button')
                                            svg(viewBox='0 0 18 18')
                                                line.ql-stroke(x1='7', x2='15', y1='4', y2='4')
                                                line.ql-stroke(x1='7', x2='15', y1='9', y2='9')
                                                line.ql-stroke(x1='7', x2='15', y1='14', y2='14')
                                                line.ql-stroke.ql-thin(x1='2.5', x2='4.5', y1='5.5', y2='5.5')
                                                path.ql-fill(d='M3.5,6A0.5,0.5,0,0,1,3,5.5V3.085l-0.276.138A0.5,0.5,0,0,1,2.053,3c-0.124-.247-0.023-0.324.224-0.447l1-.5A0.5,0.5,0,0,1,4,2.5v3A0.5,0.5,0,0,1,3.5,6Z')
                                                path.ql-stroke.ql-thin(d='M4.5,10.5h-2c0-.234,1.85-1.076,1.85-2.234A0.959,0.959,0,0,0,2.5,8.156')
                                                path.ql-stroke.ql-thin(d='M2.5,14.846a0.959,0.959,0,0,0,1.85-.109A0.7,0.7,0,0,0,3.75,14a0.688,0.688,0,0,0,.6-0.736,0.959,0.959,0,0,0-1.85-.109')
                                        button.ql-list(title='Unordered List', value='bullet', type='button')
                                            svg(viewBox='0 0 18 18')
                                                line.ql-stroke(x1='6', x2='15', y1='4', y2='4')
                                                line.ql-stroke(x1='6', x2='15', y1='9', y2='9')
                                                line.ql-stroke(x1='6', x2='15', y1='14', y2='14')
                                                line.ql-stroke(x1='3', x2='3', y1='4', y2='4')
                                                line.ql-stroke(x1='3', x2='3', y1='9', y2='9')
                                                line.ql-stroke(x1='3', x2='3', y1='14', y2='14')
                                        button.ql-blockquote(title='Blockquote', type='button')
                                            svg(viewBox='0 0 18 18')
                                                rect.ql-fill.ql-stroke(height='3', width='3', x='4', y='5')
                                                rect.ql-fill.ql-stroke(height='3', width='3', x='11', y='5')
                                                path.ql-even.ql-fill.ql-stroke(d='M7,8c0,4.031-3,5-3,5')
                                                path.ql-even.ql-fill.ql-stroke(d='M14,8c0,4.031-3,5-3,5')
                                        button.ql-code-block(title='Code Block', type='button')
                                            svg(viewBox='0 0 18 18')
                                                polyline.ql-even.ql-stroke(points='5 7 3 9 5 11')
                                                polyline.ql-even.ql-stroke(points='13 7 15 9 13 11')
                                                line.ql-stroke(x1='10', x2='8', y1='5', y2='13')
                                        button.ql-link(title='Link', type='button')
                                            svg(viewBox='0 0 18 18')
                                                line.ql-stroke(x1='7', x2='11', y1='7', y2='11')
                                                path.ql-even.ql-stroke(d='M8.9,4.577a3.476,3.476,0,0,1,.36,4.679A3.476,3.476,0,0,1,4.577,8.9C3.185,7.5,2.035,6.4,4.217,4.217S7.5,3.185,8.9,4.577Z')
                                                path.ql-even.ql-stroke(d='M13.423,9.1a3.476,3.476,0,0,0-4.679-.36,3.476,3.476,0,0,0,.36,4.679c1.392,1.392,2.5,2.542,4.679.36S14.815,10.5,13.423,9.1Z')
                                        button.ql-sourcecode(title='Source Code', data-wpde_button_name='sourcecode', type='button') {}
                                        button.ql-spoiler(title='Spoiler', data-wpde_button_name='spoiler', type='button') [+]
                                        .wpd-editor-buttons-right
                                            span.wmu-upload-wrap(wpd-tooltip='Attach an image to this comment')
                                                label.wmu-add
                                                    i.far.fa-image
                                                    input.wmu-add-files(style='display:none;', type='file', name='wmu_files[]', accept='image/*')
                                            .wpd-clear
                    .wpd-form-foot(style='display:none;')
                        .wpdiscuz-textarea-foot
                            .wpdiscuz-button-actions
                                .wmu-action-wrap
                                    .wmu-tabs.wmu-images-tab.wmu-hide
                        .wpd-form-row
                            .wpd-form-col-left
                            .wpd-form-col-right
                                .wc-field-submit
                                    label.wpd_label(wpd-tooltip='Stick this comment')
                                        input#wc_sticky_comment.wpd_label__checkbox(value='1', type='checkbox', name='wc_sticky_comment')
                                        span.wpd_label__text
                                            span.wpd_label__check
                                                i.fas.fa-thumbtack.wpdicon.wpdicon-on
                                                i.fas.fa-thumbtack.wpdicon.wpdicon-off
                                    label.wpd_label(wpd-tooltip='Close this thread')
                                        input#wc_closed_comment.wpd_label__checkbox(value='1', type='checkbox', name='wc_closed_comment')
                                        span.wpd_label__text
                                            span.wpd_label__check
                                                i.fas.fa-lock.wpdicon.wpdicon-on
                                                i.fas.fa-unlock-alt.wpdicon.wpdicon-off
                                    label.wpd_label(wpd-tooltip='Notify of new replies to this comment')
                                        input#wc_notification_new_comment-0_0.wc_notification_new_comment-0_0.wpd_label__checkbox(value='comment', type='checkbox', name='wpdiscuz_notification_type')
                                        span.wpd_label__text
                                            span.wpd_label__check
                                                i.fas.fa-bell.wpdicon.wpdicon-on
                                                i.fas.fa-bell-slash.wpdicon.wpdicon-off
                                    input#wpd-field-submit-0_0.wc_comm_submit.wpd_not_clicked.wpd-prim-button(type='submit', name='submit', value='Post Comment')
                            .clearfix
                    input.wpdiscuz_unique_id(type='hidden', value='0_0', name='wpdiscuz_unique_id')
            #wpdiscuz_hidden_secondary_form(style='display: none;')
                #wpd-secondary-form-wrapper-wpdiscuzuniqueid.wpd-form.wpd-form-wrapper.wpd-secondary-form-wrapper(style='display: none;')
                    .wpdiscuz-comment-message(style='display: block;')
                    .wpd-secondary-forms-social-content
                    .clearfix
                    form.wpd_comm_form.wpd-secondary-form-wrapper(method='post', enctype='multipart/form-data')
                        .wpd-field-comment
                            .wpdiscuz-item.wc-field-textarea
                                .wpdiscuz-textarea-wrap
                                    .wpd-avatar
                                        img.avatar.avatar-46.photo(alt='Nikolai', src='https://secure.gravatar.com/avatar/cd64d3a97267bae05eff081aeeed090b?s=46&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/cd64d3a97267bae05eff081aeeed090b?s=92&d=mm&r=g 2x', height='46', width='46')
                                    #wpd-editor-wraper-wpdiscuzuniqueid(style='display: none;')
                                        #wpd-editor-char-counter-wpdiscuzuniqueid.wpd-editor-char-counter
                                        textarea#wc-textarea-wpdiscuzuniqueid.wc_comment.wpd-field(required='', name='wc_comment')
                                        #wpd-editor-wpdiscuzuniqueid
                                        #wpd-editor-toolbar-wpdiscuzuniqueid
                                            button.ql-bold(title='Bold')
                                            button.ql-italic(title='Italic')
                                            button.ql-underline(title='Underline')
                                            button.ql-strike(title='Strike')
                                            button.ql-list(title='Ordered List', value='ordered')
                                            button.ql-list(title='Unordered List', value='bullet')
                                            button.ql-blockquote(title='Blockquote')
                                            button.ql-code-block(title='Code Block')
                                            button.ql-link(title='Link')
                                            button.ql-sourcecode(title='Source Code', data-wpde_button_name='sourcecode') {}
                                            button.ql-spoiler(title='Spoiler', data-wpde_button_name='spoiler') [+]
                                            .wpd-editor-buttons-right
                                                span.wmu-upload-wrap(wpd-tooltip='Attach an image to this comment')
                                                    label.wmu-add
                                                        i.far.fa-image
                                                        input.wmu-add-files(style='display:none;', type='file', name='wmu_files[]', accept='image/*')
                                                .wpd-clear
                        .wpd-form-foot(style='display:none;')
                            .wpdiscuz-textarea-foot
                                .wpdiscuz-button-actions
                                    .wmu-action-wrap
                                        .wmu-tabs.wmu-images-tab.wmu-hide
                            .wpd-form-row
                                .wpd-form-col-left
                                .wpd-form-col-right
                                    .wc-field-submit
                                        label.wpd_label(wpd-tooltip='Notify of new replies to this comment')
                                            input#wc_notification_new_comment-wpdiscuzuniqueid.wc_notification_new_comment-wpdiscuzuniqueid.wpd_label__checkbox(value='comment', type='checkbox', name='wpdiscuz_notification_type')
                                            span.wpd_label__text
                                                span.wpd_label__check
                                                    i.fas.fa-bell.wpdicon.wpdicon-on
                                                    i.fas.fa-bell-slash.wpdicon.wpdicon-off
                                        input#wpd-field-submit-wpdiscuzuniqueid.wc_comm_submit.wpd_not_clicked.wpd-prim-button(type='submit', name='submit', value='Post Comment')
                                .clearfix
                        input.wpdiscuz_unique_id(type='hidden', value='wpdiscuzuniqueid', name='wpdiscuz_unique_id')
        #wpd-threads.wpd-thread-wrapper
            .wpd-thread-head
                .wpd-thread-info
                    span.wpdtc 6
                    |  Comments
                .wpdiscuz-user-settings.wpd-info.wpd-not-clicked(wpd-tooltip='My content and settings')
                    i.fas.fa-user-cog
                .wpd-space
                .wpd-thread-filter
                    .wpd-filter.wpdf-reacted.wpd_not_clicked(wpd-tooltip='Most reacted comment')
                        i.fas.fa-bolt
                    .wpd-filter.wpdf-hottest.wpd_not_clicked(wpd-tooltip='Hottest comment thread')
                        i.fas.fa-fire
                    .wpd-filter.wpdf-sorting
                        span.wpdiscuz-sort-button.wpdiscuz-date-sort-asc.wpdiscuz-sort-button-active(data-sorting='oldest') Oldest
                        i.fas.fa-sort-down
                        .wpdiscuz-sort-buttons
                            span.wpdiscuz-sort-button.wpdiscuz-date-sort-desc(data-sorting='newest') Newest
                            span.wpdiscuz-sort-button.wpdiscuz-vote-sort-up(data-sorting='by_vote') Most Voted
            .wpd-comment-info-bar
                .wpd-current-view
                    i.fas.fa-quote-left
                    |  Inline Feedbacks
                .wpd-filter-view-all View all comments
            .wpd-thread-list
                #wpd-comm-39_0.wpd-comment.wpd_comment_level-1
                    .wpd-comment-wrap.wpd-blog-guest
                        .wpd-comment-left
                            .wpd-avatar
                                img.avatar.avatar-64.photo(alt='Catherine Gelowsky', src='https://secure.gravatar.com/avatar/4059f19b554ae448b81e1c105708b3f7?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/4059f19b554ae448b81e1c105708b3f7?s=128&d=mm&r=g 2x', height='64', width='64')
                            .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                i.fas.fa-rss(aria-hidden='true')
                        #comment-39.wpd-comment-right
                            .wpd-comment-header
                                .wpd-comment-author
                                    | Catherine Gelowsky
                                .wpd-comment-date
                                    i.far.fa-clock(aria-hidden='true')
                                    |     6 months ago
                                .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                    i.fas.fa-share-alt(aria-hidden='true')
                                    .wpd-tooltip-content
                                        a.wc_tw(rel='noreferrer', target='_blank', href='https://twitter.com/intent/tweet?text=Does your Company deliver to Ottawa?  Do you have Keto or Low Carb meals?&url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-39', title='Share On Twitter')
                                            i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                        a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                            i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                        a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                            i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                .wpd-space
                                .wpd-comment-link.wpd-hidden
                                    span(wpd-tooltip='Comment Link')
                                        i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-39')
                            .wpd-comment-text
                                p Does your Company deliver to Ottawa?  Do you have Keto or Low Carb meals?
                            .wpd-comment-footer
                                .wpd-vote
                                    .wpd-vote-up.wpd_not_clicked
                                        svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-vote-result 0
                                    .wpd-vote-down.wpd_not_clicked
                                        svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                .wpd-reply-button
                                    svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                        path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                        path(d='M0 0h24v24H0z', fill='none')
                                    span Reply
                                .wpd-space
                                .wpd-tools.wpd-hidden(title='Manage Comment')
                                    i.fas.fa-cog
                                    .wpd-tools-actions(style='display: none;')
                                        span.wpd_editable_comment.wpd-cta-button Edit
                                        span.wpd_stick_btn.wpd-cta-button Stick
                                        span.wpd_close_btn.wpd-cta-button Close
                                .wpd-sep.wpd-hidden
                                .wpd-toggle.wpd-hidden.wpd_not_clicked(wpd-tooltip='Hide Replies')
                                    i.fas.fa-chevron-up
                    #wpdiscuz_form_anchor-39_0
                    #wpd-comm-40_39.wpd-comment.wpd-reply.wpd_comment_level-2
                        .wpd-comment-wrap.wpd-blog-user.wpd-blog-post_author
                            .wpd-comment-left
                                .wpd-avatar
                                    img.avatar.avatar-64.photo(alt='Alon', src='https://secure.gravatar.com/avatar/4e878950d75b70f9ef13dc17077e74a9?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/4e878950d75b70f9ef13dc17077e74a9?s=128&d=mm&r=g 2x', height='64', width='64')
                                .wpd-comment-label(wpd-tooltip='Author', wpd-tooltip-position='right')
                                    span Author
                                .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                    i.fas.fa-rss(aria-hidden='true')
                            #comment-40.wpd-comment-right
                                .wpd-comment-header
                                    .wpd-comment-author
                                        | Alon
                                    .wpd-comment-date
                                        i.far.fa-clock(aria-hidden='true')
                                        |     6 months ago
                                    .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                        i.fas.fa-share-alt(aria-hidden='true')
                                        .wpd-tooltip-content
                                            a.wc_tw(rel='noreferrer', target='_blank', href="https://twitter.com/intent/tweet?text=We don't deliver meal kits but you can find the best options for your own zip code usin... &url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-40", title='Share On Twitter')
                                                i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                            a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                                i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                            a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                                i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                    .wpd-space
                                    .wpd-comment-link.wpd-hidden
                                        span(wpd-tooltip='Comment Link')
                                            i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-40')
                                .wpd-reply-to
                                    i.far.fa-comments
                                    |     Reply to 
                                    a(href='#comment-39')
                                        | Catherine Gelowsky
                                .wpd-comment-text
                                    p
                                        | We don’t deliver meal kits but you can find the best options for your own zip code using our tool – 
                                        a(href='https://mealkitscanada.ca/meal-kit-delivery/') meal kit finder – here
                                        | .
                                .wpd-comment-footer
                                    .wpd-vote
                                        .wpd-vote-up.wpd_not_clicked
                                            svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                                path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                        .wpd-vote-result 0
                                        .wpd-vote-down.wpd_not_clicked
                                            svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                                path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-reply-button
                                        svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                            path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                            path(d='M0 0h24v24H0z', fill='none')
                                        span Reply
                                    .wpd-space
                                    .wpd-tools.wpd-hidden(title='Manage Comment')
                                        i.fas.fa-cog
                                        .wpd-tools-actions(style='display: none;')
                                            span.wpd_editable_comment.wpd-cta-button Edit
                        #wpdiscuz_form_anchor-40_39
                #wpd-comm-41_0.wpd-comment.wpd_comment_level-1
                    .wpd-comment-wrap.wpd-blog-guest
                        .wpd-comment-left
                            .wpd-avatar
                                img.avatar.avatar-64.photo(alt='Angela Chen', src='https://secure.gravatar.com/avatar/36fd48da2e23da8616f04792edad2c36?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/36fd48da2e23da8616f04792edad2c36?s=128&d=mm&r=g 2x', height='64', width='64')
                            .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                i.fas.fa-rss(aria-hidden='true')
                        #comment-41.wpd-comment-right
                            .wpd-comment-header
                                .wpd-comment-author
                                    | Angela Chen
                                .wpd-comment-date
                                    i.far.fa-clock(aria-hidden='true')
                                    |     5 months ago
                                .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                    i.fas.fa-share-alt(aria-hidden='true')
                                    .wpd-tooltip-content
                                        a.wc_tw(rel='noreferrer', target='_blank', href="https://twitter.com/intent/tweet?text=I don't seem to see the contact information for Kyle Provost - so I hope to share my ex... &url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-41", title='Share On Twitter')
                                            i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                        a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                            i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                        a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                            i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                .wpd-space
                                .wpd-comment-link.wpd-hidden
                                    span(wpd-tooltip='Comment Link')
                                        i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-41')
                            .wpd-comment-text
                                p
                                    | I don’t seem to see the contact information for Kyle Provost – so I hope to share my experience with you about Good Food_ this company has a phone number listed but really it’s only an online contact available.  This is an issue for seniors who may be computer iliterate.  So as a dietitian I cannot be recommending this company to my patients.
                            .wpd-comment-footer
                                .wpd-vote
                                    .wpd-vote-up.wpd_not_clicked
                                        svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-vote-result.wpd-up 1
                                    .wpd-vote-down.wpd_not_clicked
                                        svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                .wpd-reply-button
                                    svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                        path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                        path(d='M0 0h24v24H0z', fill='none')
                                    span Reply
                                .wpd-space
                                .wpd-tools.wpd-hidden(title='Manage Comment')
                                    i.fas.fa-cog
                                    .wpd-tools-actions(style='display: none;')
                                        span.wpd_editable_comment.wpd-cta-button Edit
                                        span.wpd_stick_btn.wpd-cta-button Stick
                                        span.wpd_close_btn.wpd-cta-button Close
                                .wpd-sep.wpd-hidden
                                .wpd-toggle.wpd-hidden.wpd_not_clicked(wpd-tooltip='Hide Replies')
                                    i.fas.fa-chevron-up
                    #wpdiscuz_form_anchor-41_0
                    #wpd-comm-42_41.wpd-comment.wpd-reply.wpd_comment_level-2
                        .wpd-comment-wrap.wpd-blog-user.wpd-blog-post_author
                            .wpd-comment-left
                                .wpd-avatar
                                    img.avatar.avatar-64.photo(alt='Alon', src='https://secure.gravatar.com/avatar/4e878950d75b70f9ef13dc17077e74a9?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/4e878950d75b70f9ef13dc17077e74a9?s=128&d=mm&r=g 2x', height='64', width='64')
                                .wpd-comment-label(wpd-tooltip='Author', wpd-tooltip-position='right')
                                    span Author
                                .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                    i.fas.fa-rss(aria-hidden='true')
                            #comment-42.wpd-comment-right
                                .wpd-comment-header
                                    .wpd-comment-author
                                        | Alon
                                    .wpd-comment-date
                                        i.far.fa-clock(aria-hidden='true')
                                        |     5 months ago
                                    .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                        i.fas.fa-share-alt(aria-hidden='true')
                                        .wpd-tooltip-content
                                            a.wc_tw(rel='noreferrer', target='_blank', href="https://twitter.com/intent/tweet?text=Angela, thank you for sharing. The site's staff, including Kyle, come from a Fintech ba... &url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-42", title='Share On Twitter')
                                                i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                            a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                                i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                            a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                                i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                    .wpd-space
                                    .wpd-comment-link.wpd-hidden
                                        span(wpd-tooltip='Comment Link')
                                            i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-42')
                                .wpd-reply-to
                                    i.far.fa-comments
                                    |     Reply to 
                                    a(href='#comment-41')
                                        | Angela Chen
                                .wpd-comment-text
                                    p
                                        | Angela, thank you for sharing. The site’s staff, including Kyle, come from a Fintech background. We are HUGE believers in moving away from telephone sales to a fully automated process. We do realise there are people who are computer illiterate but this is just where this world is progressing. I think GoodFood are able to offer such a relatively good price for a meal consisting of fresh ingredients by having less overhead costs (as a result of an all-online service). Curious to hear further thoughts on this and thank you.
                                .wpd-comment-footer
                                    .wpd-vote
                                        .wpd-vote-up.wpd_not_clicked
                                            svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                                path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                        .wpd-vote-result 0
                                        .wpd-vote-down.wpd_not_clicked
                                            svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                                path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-reply-button
                                        svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                            path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                            path(d='M0 0h24v24H0z', fill='none')
                                        span Reply
                                    .wpd-space
                                    .wpd-tools.wpd-hidden(title='Manage Comment')
                                        i.fas.fa-cog
                                        .wpd-tools-actions
                                            span.wpd_editable_comment.wpd-cta-button Edit
                        #wpdiscuz_form_anchor-42_41
                #wpd-comm-43_0.wpd-comment.wpd_comment_level-1
                    .wpd-comment-wrap.wpd-blog-guest
                        .wpd-comment-left
                            .wpd-avatar
                                img.avatar.avatar-64.photo(alt='Natasha Cass', src='https://secure.gravatar.com/avatar/43bba18eb1022376cc8e3ba0c31695e6?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/43bba18eb1022376cc8e3ba0c31695e6?s=128&d=mm&r=g 2x', height='64', width='64')
                            .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                i.fas.fa-rss(aria-hidden='true')
                        #comment-43.wpd-comment-right
                            .wpd-comment-header
                                .wpd-comment-author
                                    | Natasha Cass
                                .wpd-comment-date
                                    i.far.fa-clock(aria-hidden='true')
                                    |     4 months ago
                                .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                    i.fas.fa-share-alt(aria-hidden='true')
                                    .wpd-tooltip-content
                                        a.wc_tw(rel='noreferrer', target='_blank', href='https://twitter.com/intent/tweet?text=It would be great if you could take environmental impact into consideration in your reviews.... &url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-43', title='Share On Twitter')
                                            i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                        a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                            i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                        a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                            i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                .wpd-space
                                .wpd-comment-link.wpd-hidden
                                    span(wpd-tooltip='Comment Link')
                                        i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-43')
                            .wpd-comment-text
                                p
                                    | It would be great if you could take environmental impact into consideration in your reviews. I’ve noted, with Good Food at least, that their claims are false. They do not pick up boxes, and the components are not all recyclable in Ontario. It is 2020 — they should figure this out!
                            .wpd-comment-footer
                                .wpd-vote
                                    .wpd-vote-up.wpd_not_clicked
                                        svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-vote-result.wpd-up 2
                                    .wpd-vote-down.wpd_not_clicked
                                        svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                .wpd-reply-button
                                    svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                        path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                        path(d='M0 0h24v24H0z', fill='none')
                                    span Reply
                                .wpd-space
                                .wpd-tools.wpd-hidden(title='Manage Comment')
                                    i.fas.fa-cog
                                    .wpd-tools-actions
                                        span.wpd_editable_comment.wpd-cta-button Edit
                                        span.wpd_stick_btn.wpd-cta-button Stick
                                        span.wpd_close_btn.wpd-cta-button Close
                    #wpdiscuz_form_anchor-43_0
                #wpd-comm-44_0.wpd-comment.wpd_comment_level-1
                    .wpd-comment-wrap.wpd-blog-guest
                        .wpd-comment-left
                            .wpd-avatar
                                img.avatar.avatar-64.photo(alt='Lucrezia', src='https://secure.gravatar.com/avatar/8bd57c44c2ad2cac0928fa062603cb7f?s=64&d=mm&r=g', srcset='https://secure.gravatar.com/avatar/8bd57c44c2ad2cac0928fa062603cb7f?s=128&d=mm&r=g 2x', height='64', width='64')
                            .wpd-follow-link.wpd_not_clicked.wpd-follow(wpd-tooltip='Follow this user', wpd-tooltip-position='right', wpd-tooltip-size='medium')
                                i.fas.fa-rss(aria-hidden='true')
                        #comment-44.wpd-comment-right
                            .wpd-comment-header
                                .wpd-comment-author
                                    | Lucrezia
                                .wpd-comment-date
                                    i.far.fa-clock(aria-hidden='true')
                                    |     2 months ago
                                .wpd-comment-share.wpd-hidden.wpd-tooltip.wpd-top
                                    i.fas.fa-share-alt(aria-hidden='true')
                                    .wpd-tooltip-content
                                        a.wc_tw(rel='noreferrer', target='_blank', href='https://twitter.com/intent/tweet?text=Thanks for the reviews. I noticed that you say delivery is free for most companies, so I tho... &url=https%3A%2F%2Fmealkitscanada.ca%2Fabout%2F%23comment-44', title='Share On Twitter')
                                            i.fab.fa-twitter.wpf-cta(aria-hidden='true')
                                        a.wc_vk(rel='noreferrer', target='_blank', href='https://vk.com/share.php?url=https://mealkitscanada.ca/about/', title='Share On VKontakte')
                                            i.fab.fa-vk.wpf-cta(aria-hidden='true')
                                        a.wc_ok(rel='noreferrer', target='_blank', href='https://connect.ok.ru/offer?url=https://mealkitscanada.ca/about/', title='Share On Odnoklassniki')
                                            i.fab.fa-odnoklassniki.wpf-cta(aria-hidden='true')
                                .wpd-space
                                .wpd-comment-link.wpd-hidden
                                    span(wpd-tooltip='Comment Link')
                                        i.fas.fa-link(aria-hidden='true', data-comment-url='https://mealkitscanada.ca/about/#comment-44')
                            .wpd-comment-text
                                p
                                    | Thanks for the reviews. I noticed that you say delivery is free for most companies, so I thought you might want to update that Hello Fresh is charging $9.99 for delivery (I live in New Westminster). The boxes are coming in at $79.98, so with the delivery it is costing $14.99 per meal.
                            .wpd-comment-footer
                                .wpd-vote
                                    .wpd-vote-up.wpd_not_clicked
                                        svg.svg-inline--fa.fa-plus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='plus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                    .wpd-vote-result 0
                                    .wpd-vote-down.wpd_not_clicked
                                        svg.svg-inline--fa.fa-minus.fa-w-14(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='minus', role='img', xmlns='https://www.w3.org/2000/svg', viewBox='0 0 448 512')
                                            path(d='M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z')
                                .wpd-reply-button
                                    svg(xmlns='https://www.w3.org/2000/svg', viewBox='0 0 24 24')
                                        path(d='M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z')
                                        path(d='M0 0h24v24H0z', fill='none')
                                    span Reply
                                .wpd-space
                                .wpd-tools.wpd-hidden(title='Manage Comment')
                                    i.fas.fa-cog
                                    .wpd-tools-actions
                                        span.wpd_editable_comment.wpd-cta-button Edit
                                        span.wpd_stick_btn.wpd-cta-button Stick
                                        span.wpd_close_btn.wpd-cta-button Close
                    #wpdiscuz_form_anchor-44_0
                .wpdiscuz-comment-pagination
