.companies-table.px-lg-4.py-2
    table.table-simple.table-simple_custom-header.table-simple_custom-footer.table-simple_stripped.sticky-left
        thead
            tr
                th Company
                th
                th Rating
                th Covered Provinces
                th Dishes in menu
                th Price / serving
                th MKC Promo
        tbody
            // tr hello fresh
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_hello-fresh.png, /assets/img/logos/logo_hello-fresh@2x.png 1.5x, /assets/img/logos/logo_hello-fresh@2x.png 2x' src='/assets/img/logos/logo_hello-fresh.png' alt='HelloFresh')
                td
                    a.blue-link(href='https://mealkitscanada.ca/hello-fresh-canada-review/')  HelloFresh Review
                td
                    .color-secondary 98.2
                td
                    | 10
                    .info(data-tooltip-content='#tooltip_content-comTable-0')
                td 22
                td $10.99 - $11.49
                td
                    div
                        a.color-primary(href='/go/hellofresh' target='_blank' rel='noopener noreferrer') [umkey_promo id='2'] OFF
            // tr Chefs Plate
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_chefs-plate.png, /assets/img/logos/logo_chefs-plate@2x.png 1.5x, /assets/img/logos/logo_chefs-plate@2x.png 2x' src='/assets/img/logos/logo_chefs-plate.png' alt='Chefs Plate')
                td
                    a.blue-link(href='https://mealkitscanada.ca/chefs-plate-review/')  Chefs Plate Review
                td
                    .color-secondary 96.2
                td
                    | 8
                    .info(data-tooltip-content='#tooltip_content-comTable-1')
                td 15
                td $7.74 - $8.99
                td
                    div
                        a.color-primary(href='/go/chefsplate' target='_blank' rel='noopener noreferrer') [umkey_promo id='1'] OFF
            // tr Fresh Prep
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_freshprep.png, /assets/img/logos/logo_freshprep@2x.png 1.5x, /assets/img/logos/logo_freshprep@2x.png 2x' src='/assets/img/logos/logo_freshprep.png' alt='Fresh Prep')
                td
                    a.blue-link(href='https://mealkitscanada.ca/fresh-prep-review/')  Fresh Prep Review
                td
                    .color-secondary 98.5
                td BC
                td 10
                td $10.00 - $12.50
                td
                    div
                        a.color-primary(href='go/freshprep' target='_blank' rel='noopener noreferrer') [umkey_promo id='6'] OFF
            // tr goodfood
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_good-food.png, /assets/img/logos/logo_good-food@2x.png 1.5x, /assets/img/logos/logo_good-food@2x.png 2x' src='/assets/img/logos/logo_good-food.png' alt='Good Food')
                td
                    a.blue-link(href='https://mealkitscanada.ca/goodfood-review/')  Good Food Review
                td
                    .color-secondary 90.1
                td
                    | 9
                    .info(data-tooltip-content='#tooltip_content-comTable-2')
                td 23
                td $8.70 - $13.58
                td
                    .color-gray n/a
            // tr zestykits
            tr
                td
                    figure.company-logo
                        img(src='/assets/img/logos/logo_zesty_kits.png' alt='ZestyKits')
                td
                    a.blue-link(href='https://mealkitscanada.ca/zestykits-canada-review/')  ZestyKits Review
                td
                    .color-secondary 98.5
                td SK
                td 9
                td $10.33 – $12.94
                td
                    div
                        a.color-primary(href='/go/zestykits' target='_blank' rel='noopener noreferrer') $20 OFF + gifts
            // tr fresh-city-farms
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_fresh-sity.png, /assets/img/logos/logo_fresh-sity@2x.png 1.5x, /assets/img/logos/logo_fresh-sity@2x.png 2x' src='/assets/img/logos/logo_fresh-sity.png' alt='Fresh City Farms')
                td
                    a.blue-link(href='https://mealkitscanada.ca/fresh-city-farms-review/')  Fresh City Farms Review
                td
                    .color-secondary 85.4
                td ON
                td 20
                td $9.75 - $12.25
                td
                    .color-gray n/a
            // tr cook-it
            tr
                td
                    figure.company-logo
                        img(src='/wp-content/uploads/company/logo/16_logo_cook-it_16_logo_cook-it.svg' alt='Cook It')
                td
                    a.blue-link(href='/cook-it-review/')  Cook It Review
                td
                    .color-secondary 83.5
                td
                    | 5
                    .info(data-tooltip-content='#tooltip_content-comTable-3')

                td 14
                td $7.20 - $9.78
                td
                    .color-gray n/a
            // tr missfresh
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_missfresh.png, /assets/img/logos/logo_missfresh@2x.png 1.5x, /assets/img/logos/logo_missfresh@2x.png 2x' src='/assets/img/logos/logo_missfresh.png' alt='Miss Fresh')
                td
                    a.blue-link(href='https://mealkitscanada.ca/miss-fresh-review/')  Miss Fresh Review
                td
                    .color-secondary 83.2
                td
                    .color-gray 0
                td 12
                td $8.75 - $11.17
                td
                    .color-gray n/a
            // tr plated
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_plated.png, /assets/img/logos/logo_plated@2x.png 1.5x, /assets/img/logos/logo_plated@2x.png 2x' src='/assets/img/logos/logo_plated.png' alt='Plated')
                td
                    a.blue-link(href='https://mealkitscanada.ca/plated-review/')  Plated Review
                td
                    .color-gray n/a
                td: .color-gray 0
                td 6
                td $4.99 - $14.99
                td
                    .color-gray n/a
            // tr home-chef
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_home-chef.png, /assets/img/logos/logo_home-chef@2x.png 1.5x, /assets/img/logos/logo_home-chef@2x.png 2x' src='/assets/img/logos/logo_home-chef.png' alt='Home Chef')
                td
                    a.blue-link(href='https://mealkitscanada.ca/home-chef-canada-review/')  Home Chef Review
                td
                    .color-gray n/a
                td: .color-gray 0
                td 21
                td $6.99 - $9.00
                td
                    .color-gray n/a
            // tr blue-apron
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_blue-apron.png, /assets/img/logos/logo_blue-apron@2x.png 1.5x, /assets/img/logos/logo_blue-apron@2x.png 2x' src='/assets/img/logos/logo_blue-apron.png' alt='Blue Apron')
                td
                    a.blue-link(href='https://mealkitscanada.ca/blue-apron-review-canada/')  Blue Apron Review
                td
                    .color-gray n/a
                td 0
                td 12
                td $7.49 - $9.99
                td
                    .color-gray n/a
            // tr prepd
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_prepd.png, /assets/img/logos/logo_prepd@2x.png 1.5x, /assets/img/logos/logo_prepd@2x.png 2x' src='/assets/img/logos/logo_prepd.png' alt='Prepd')
                td
                    a.blue-link(href='https://mealkitscanada.ca/prepd-meal-kits-review/')  Prepd Review
                td
                    .color-gray n/a
                td: .color-gray 0
                td 2
                td $4.29 - $6.00
                td
                    .color-gray n/a
            // tr longos
            tr
                td
                    figure.company-logo
                        img(srcset='/assets/img/logos/logo_longos.png, /assets/img/logos/logo_longos@2x.png 1.5x, /assets/img/logos/logo_longos@2x.png 2x' src='/assets/img/logos/logo_longos.png' alt='Grocery Chain Longos')
                td
                    a.blue-link(href='https://mealkitscanada.ca/longos-meal-kits/')  Longo’s Meal Kits Review
                td
                    .color-gray n/a
                td ON
                td 2-6
                td $8.00 - $20.00
                td
                    .color-gray n/a

    .tooltip_templates
        #tooltip_content-comTable-0.elem.content-hellofresh
            .review__category-inner
                p
                    | AB, BC, MB, NB, NL, NS, ON, PE, QC, SK
        #tooltip_content-comTable-1.elem.content-chefsplate
            .review__category-inner
                p
                    | AB, BC, MB, NB, NS, ON, PE, SK
        #tooltip_content-comTable-2.elem.content-goodfood
            .review__category-inner
                p
                    | AB, BC, QC, MB, NB, NS, ON, PE, SK
        #tooltip_content-comTable-3.elem.content-cook-it
            .review__category-inner
                p
                    | NB, NS, ON, PE, QC

