-
    var couponsCompany = [
        {
            link: 'hellofresh',
            link2Company: true,
            logoPath: '1_logo_hello-fresh_2021_4_1_hello-fresh',
            ps: '10',
            states: 'AB, BC, MB, NB, NL, NS, ON, PE, QC, SK',
            min: '78',
            max: '165',
            am: '80',
            unit: '$',
            dur: '3 weeks',
            cad: '$ 80.00',
            promo: '<strong class="color-primary">MKC80</strong>',
            btn: true,
            reviewLink: 'HelloFresh Review'
        },
        //- {
        //-     link: 'eatcake',
        //-     link2Company: true,
        //-     logoPath: 'logo_eat-you-cake',
        //-     ps: '1',
        //-     states: 'BC',
        //-     min: '150',
        //-     max: '245',
        //-     am: '15',
        //-     unit: '%',
        //-     dur: '1 weeks',
        //-     cad: '$ 29.63',
        //-     promo: 'automatic',
        //-     //- btn: true,
        //- },
        //- {
        //-     link: 'chefsplate',
        //-     link2Company: true,
        //-     logoPath: 'logo_chefs-plate',
        //-     ps: '8',
        //-     states: 'AB, BC, MB, NB, NS, ON, PE, SK',
        //-     min: '26',
        //-     max: '72',
        //-     am: '50',
        //-     unit: '%',
        //-     dur: '2 weeks',
        //-     cad: '$ 48.95',
        //-     promo: '< class="color-primary">MKC2X50</>',
        //-     btn: true,
        //- },
        //- {
        //-     link: 'missfresh',
        //-     link2Company: true,
        //-     logoPath: 'logo_missfresh',
        //-     ps: '4',
        //-     states: 'BC, NS, ON, QC',
        //-     min: '62',
        //-     max: '149',
        //-     am: '45',
        //-     unit: '$',
        //-     dur: '1 week',
        //-     cad: '$ 45.00',
        //-     promo: '<span>automatic</span>',
        //-     btn: false
        //- },
        //- {
        //-     link: 'zestykits',
        //-     link2Company: true,
        //-     logoPath: 'logo_zesty_kits',
        //-     ps: '1',
        //-     states: 'SK',
        //-     min: '68',
        //-     max: '233',
        //-     am: '20',
        //-     unit: '$',
        //-     dur: '1 week<i class="info" data-tooltip-content="#tooltip_content-zesty"></i>',
        //-     cad: '$ 30.00',
        //-     promo: '<strong class="color-primary">MKC</strong>',
        //-     btn: true
        //- },
        {
            link: '',
            link2Company: false,
            logoPath: 'logo_eat-you-cake',
            ps: '1',
            states: 'BC',
            min: '150',
            max: '245',
            am: '15',
            unit: '%',
            dur: '1 week',
            cad: '$ 29.63',
            promo: '<span>automatic</span>',
            btn: false
        },
        {
            link: '',
            link2Company: false,
            logoPath: 'logo_good-food',
            ps: '9',
            states: 'AB, BC, QC, MB, NB, NS, ON, PE, SK',
            min: '56',
            max: '196',
            am: '3',
            unit: 'meals',
            dur: '1 week',
            cad: '$ 27.89',
            promo: '<span class="ttu">SWD5-092020</span>',
            btn: false,
            reviewLink: 'Good Food Review'
        },
        //- {
        //-     link: '',
        //-     link2Company: false,
        //-     logoPath: 'logo_freshprep',
        //-     ps: '1',
        //-     states: 'BC',
        //-     min: '25',
        //-     max: '136',
        //-     am: '24.5',
        //-     unit: '$',
        //-     dur: '1 week',
        //-     cad: '$ 24.5',
        //-     promo: '<span class="color-gray">n/a</span>',
        //-     btn: false
        //- },
        {
            link: '',
            link2Company: false,
            logoPath: 'logo_cook-it',
            ps: '3',
            states: 'QC, ON, NS',
            min: '62',
            max: '149',
            am: '15',
            unit: '%',
            dur: '1 week',
            cad: '$ 15.83',
            promo: '<span>automatic</span>',
            btn: false,
            reviewLink: 'Cook It Review'
        },
        {
            link: '',
            link2Company: false,
            logoPath: 'logo_fresh-sity',
            ps: '1',
            states: 'ON',
            min: '39',
            max: '49',
            am: '0',
            unit: '<span class="color-gray">n/a<span>',
            dur: '<span class="color-gray">n/a<span>',
            cad: '$ 0.00',
            promo: '<span class="color-gray">n/a<span>',
            btn: false,
            reviewLink: 'Fresh City Farms Review'
        },
        //- {
        //-     link: '',
        //-     link2Company: false,
        //-     logoPath: 'logo_prepd',
        //-     ps: '1',
        //-     states: 'ON',
        //-     min: '27',
        //-     max: '200',
        //-     am: '0',
        //-     unit: '<span class="color-gray">n/a<span>',
        //-     dur: '<span class="color-gray">n/a<span>',
        //-     cad: '$ 0.00',
        //-     promo: '<span class="color-gray">n/a<span>',
        //-     btn: false
        //- },
        //- {
        //-     link: '',
        //-     link2Company: false,
        //-     logoPath: 'logo_food',
        //-     ps: '1',
        //-     states: 'BC',
        //-     min: '48',
        //-     max: '52',
        //-     am: '0',
        //-     unit: '<span class="color-gray">n/a<span>',
        //-     dur: '<span class="color-gray">n/a<span>',
        //-     cad: '$ 0.00',
        //-     promo: '<span class="color-gray">n/a<span>',
        //-     btn: false
        //- },
        //- {
        //-     link: '',
        //-     link2Company: false,
        //-     logoPath: 'logo_rooted',
        //-     ps: '1',
        //-     states: 'AB',
        //-     min: '89',
        //-     max: '149',
        //-     am: '0',
        //-     unit: '<span class="color-gray">n/a<span>',
        //-     dur: '<span class="color-gray">n/a<span>',
        //-     cad: '$ 0.00',
        //-     promo: '<span class="color-gray">n/a<span>',
        //-     btn: false
        //- },
        //- {
        //-     link: '',
        //-     link2Company: false,
        //-     logoPath: 'logo_saute',
        //-     ps: '1',
        //-     states: 'NS',
        //-     min: '47',
        //-     max: '47',
        //-     am: '0',
        //-     unit: '<span class="color-gray">n/a<span>',
        //-     dur: '<span class="color-gray">n/a<span>',
        //-     cad: '$ 0.00',
        //-     promo: '<span class="color-gray">n/a<span>',
        //-     btn: false
        //- },
    ]
// section
section
    .table-responsive#coupons
        table.table_discount
            thead
                tr
                    th.first-column(rowspan="2")
                        .text Company
                    th.first-out-column(rowspan="2")
                        | Provinces <br/>Served

                    th.second-column(colspan="2" rowspan="2")
                        .triplet
                            .th-title
                                | Regular price per week
                            .duplet
                                .half
                                    | Min
                                .half
                                    | Max

                    th.third-column(colspan="4" rowspan="2")
                        .qvintet
                            .th-title
                                | Promotion
                            .quartet
                                .part
                                    | Amount
                                .part
                                    | Unit
                                .part
                                    | Duration
                                .part
                                    | Value $CAD

                    th(colspan="2" rowspan="2")
                        | Promo code
            tbody
                each item, i in couponsCompany
                    tr
                        td.first-column
                            if(item.link2Company)
                                a(href=`/go/${item.link}` target='_blank' rel="noopener")
                                    figure.company-logo
                                        if item.link === 'hellofresh'
                                            img(src=`/assets/img/logos/${item.logoPath}.svg`, alt="")
                                        else
                                            +img(`logos/${item.logoPath}`,'png','','alt')
                                div(style="margin-left: 30px;")
                                    a.blue-link(href="/hello-fresh-canada-review/")!=item.reviewLink
                            else
                                figure.company-logo
                                    +img(`logos/${item.logoPath}`,'png','','alt')
                                div(style="margin-left: 30px;")
                                    a.blue-link(href="/hello-fresh-canada-review/")!=item.reviewLink
                        td
                            span.count-states!= item.ps
                            .info(data-tooltip-content=`#tooltip_content-${i}`)

                        td(colspan="2")
                            .duplet
                                .half
                                    span.cur $&nbsp;&nbsp;
                                    span!= item.min
                                .half
                                    span.cur $&nbsp;&nbsp;
                                    span!= item.max
                        td(colspan="4")
                            .quartet
                                .part
                                    span!= item.am
                                .part
                                    span!= item.unit
                                .part
                                    span!= item.dur
                                .part
                                    span!= item.cad
                        td(colspan="2")
                            .duplet
                                .half
                                    span!= item.promo
                                .half
                                    if(item.btn)
                                        a.btn.btn_primary.btn_noshadow.mob-w-100(href=`/go/${item.link}` target='_blank' rel="noopener")
                                            | Claim now

    .tooltip_templates
        each item, i in couponsCompany
            .elem(id=`tooltip_content-${i}`)
                .review__category-inner
                    p!= item.states
        .elem(id="tooltip_content-zesty")
            .review__category-inner
                .span.color-primary
                    | +free&nbsp;
                | baking kit and local snacks