// begin modal
#video.modal.modal_video.fade(tabindex='-1', role='dialog', aria-labelledby='videoLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modal-lg(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                iframe(width="100%" height="auto" src="https://www.youtube.com/embed/y0J3LoXjpl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")
// end modal

.tooltip_templates
    #tooltip_content
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ipsam libero, ea sapiente iusto obcaecati aperiam natus eum voluptatem ipsum dolore dicta quasi molestias quos? Veniam distinctio esse expedita ducimus.