mixin sortTable()
    // sort table
    .sorting-table.mb-5#sortTable&attributes(attributes)
        .sorting-table__triggers
            .triggers
                .triggers__title
                    | Recipes per week
                .triggers__inner
                    label.trigger
                        input(type="radio", name="week" value="2w" checked)
                        span 2
                    label.trigger
                        input(type="radio", name="week" value="3w")
                        span 3
                    label.trigger
                        input(type="radio", name="week" value="4w")
                        span 4
                    label.trigger
                        input(type="radio", name="week" value="5w")
                        span 5
                    label.trigger
                        input(type="radio", name="week" value="6w")
                        span 6
                    label.trigger
                        input(type="radio", name="week" value="7w")
                        span 7
            .triggers
                .triggers__title
                    | Number of people
                .triggers__inner
                    label.trigger
                        input(type="radio", name="people" value="2p" checked)
                        span 2
                    label.trigger
                        input(type="radio", name="people" value="3p")
                        span 3
                    label.trigger
                        input(type="radio", name="people" value="4p")
                        span 4
        .sorting-table__inner
            .sorting-table__top
                // line 1
                .line
                    .cl
                        |
                    .cl_s
                        figure.company-logo
                            //- | Chefs plate
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/2_logo_chefs-plate_2_chefs-plate.svg", alt="")
                    .cl_s
                        figure.company-logo
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/7_logo_freshprep_7_logo_freshprep.svg", alt="")
                            //- | Fresh Prep
                    .cl_s
                        figure.company-logo
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/1_logo_hello-fresh_2021_4_1_hello-fresh.svg", alt="")
                            //- | HelloFresh
                    .cl_s
                        figure.company-logo
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/21_logo_CookIt_21_logo_CookIt.svg", alt="")
                            //- | Cook it
                    .cl_s
                        figure.company-logo
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/5_logo_fresh-city_1_5_logo_fresh-city.svg", alt="")
                            //- | Fresh City Farms
                    .cl_s
                        figure.company-logo
                            img(src="https://mealkitscanada.ca/wp-content/uploads/company/logo/3_logo_good-food_3_logo_good-food.svg", alt="")
                            //- | GoodFood


                // line 2
                .line
                    .cl
                        | Price per serving
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $9.3-$13.58
                        span(data-filter_week='4w' data-filter_people='2p') $9.42-$12.76
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $9.42-$12.76
                        span(data-filter_week='3w' data-filter_people='4p') $8.85-$12.45
                        span(data-filter_week='4w' data-filter_people='4p') $8.7-$12.24
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $11.49
                        span(data-filter_week='4w' data-filter_people='2p') $11.25
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') n/a
                        span(data-filter_week='3w' data-filter_people='4p') $10.33
                        span(data-filter_week='4w' data-filter_people='4p') $9.69
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $5
                        span(data-filter_week='3w' data-filter_people='2p') $5
                        span(data-filter_week='4w' data-filter_people='2p') $5
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $4.50
                        span(data-filter_week='3w' data-filter_people='4p') $4.50
                        span(data-filter_week='4w' data-filter_people='4p') $4.50
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $10.50-$11.17
                        span(data-filter_week='4w' data-filter_people='2p') $9.88-$10.5
                        span(data-filter_week='5w' data-filter_people='2p') $9.5-$10.1
                        span(data-filter_week='2w' data-filter_people='3p') $10.33-$11
                        span(data-filter_week='3w' data-filter_people='3p') $9.56-$10.22
                        span(data-filter_week='4w' data-filter_people='3p') $9.08-$9.67
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $9.63-$10.25
                        span(data-filter_week='3w' data-filter_people='4p') $9.33-$9.92
                        span(data-filter_week='4w' data-filter_people='4p') $9.75-$9.31
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $10.50-$11.17
                        span(data-filter_week='4w' data-filter_people='2p') $9.88-$10.5
                        span(data-filter_week='5w' data-filter_people='2p') $9.5-$10.1
                        span(data-filter_week='2w' data-filter_people='3p') $10.33-$11
                        span(data-filter_week='3w' data-filter_people='3p') $9.56-$10.22
                        span(data-filter_week='4w' data-filter_people='3p') $9.08-$9.67
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $9.63-$10.25
                        span(data-filter_week='3w' data-filter_people='4p') $9.33-$9.92
                        span(data-filter_week='4w' data-filter_people='4p') $9.75-$9.31
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') n/a
                        span(data-filter_week='4w' data-filter_people='2p') n/a
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $9.75-$12.25
                        span(data-filter_week='3w' data-filter_people='4p') n/a
                        span(data-filter_week='4w' data-filter_people='4p') n/a
                        span(data-filter_week='5w' data-filter_people='4p') n/a

                // line 3
                .line
                    .cl
                        | Shipping
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') 0
                        span(data-filter_week='4w' data-filter_people='2p') 0
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') 0
                        span(data-filter_week='3w' data-filter_people='4p') 0
                        span(data-filter_week='4w' data-filter_people='4p') 0
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $9.99
                        span(data-filter_week='4w' data-filter_people='2p') $9.99
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') n/a
                        span(data-filter_week='3w' data-filter_people='4p') 0
                        span(data-filter_week='4w' data-filter_people='4p') $9.99
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $6
                        span(data-filter_week='3w' data-filter_people='2p') 0
                        span(data-filter_week='4w' data-filter_people='2p') 0
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') 0
                        span(data-filter_week='3w' data-filter_people='4p') 0
                        span(data-filter_week='4w' data-filter_people='4p') 0
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $6
                        span(data-filter_week='3w' data-filter_people='2p') 0
                        span(data-filter_week='4w' data-filter_people='2p') 0
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') 0
                        span(data-filter_week='3w' data-filter_people='4p') 0
                        span(data-filter_week='4w' data-filter_people='4p') 0
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') 0
                        span(data-filter_week='4w' data-filter_people='2p') 0
                        span(data-filter_week='5w' data-filter_people='2p') 0
                        span(data-filter_week='2w' data-filter_people='3p') 0
                        span(data-filter_week='3w' data-filter_people='3p') 0
                        span(data-filter_week='4w' data-filter_people='3p') 0
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') 0
                        span(data-filter_week='3w' data-filter_people='4p') 0
                        span(data-filter_week='4w' data-filter_people='4p') 0
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') n/a
                        span(data-filter_week='4w' data-filter_people='2p') n/a
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $0-$3.50
                        span(data-filter_week='3w' data-filter_people='4p') n/a
                        span(data-filter_week='4w' data-filter_people='4p') n/a
                        span(data-filter_week='5w' data-filter_people='4p') n/a

                // line 4
                .line.line_gray-bg
                    .cl
                        | Weekly Total
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $55.77-$81.46
                        span(data-filter_week='4w' data-filter_people='2p') $75.34-$102.04
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $75.34-$102.04
                        span(data-filter_week='3w' data-filter_people='4p') $106.24-$149.38
                        span(data-filter_week='4w' data-filter_people='4p') $139.2-$195.85
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $78.93
                        span(data-filter_week='4w' data-filter_people='2p') $99.99
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') n/a
                        span(data-filter_week='3w' data-filter_people='4p') $133.95
                        span(data-filter_week='4w' data-filter_people='4p') $165.03
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $25.98
                        span(data-filter_week='3w' data-filter_people='2p') $29.97
                        span(data-filter_week='4w' data-filter_people='2p') $39.96
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $35.96
                        span(data-filter_week='3w' data-filter_people='4p') $53.94
                        span(data-filter_week='4w' data-filter_people='4p') $71.92
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') n/a
                        span(data-filter_week='4w' data-filter_people='2p') n/a
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $39-$49
                        span(data-filter_week='3w' data-filter_people='4p') n/a
                        span(data-filter_week='4w' data-filter_people='4p') n/a
                        span(data-filter_week='5w' data-filter_people='4p') n/a

                // line 5
                .line
                    .cl
                        | First week promo
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $55.77-$81.46
                        span(data-filter_week='4w' data-filter_people='2p') $75.34-$102.04
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $75.34-$102.04
                        span(data-filter_week='3w' data-filter_people='4p') $106.24-$149.38
                        span(data-filter_week='4w' data-filter_people='4p') $139.2-$195.85
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $78.93
                        span(data-filter_week='4w' data-filter_people='2p') $99.99
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') n/a
                        span(data-filter_week='3w' data-filter_people='4p') $133.95
                        span(data-filter_week='4w' data-filter_people='4p') $165.03
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $25.98
                        span(data-filter_week='3w' data-filter_people='2p') $29.97
                        span(data-filter_week='4w' data-filter_people='2p') $39.96
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $35.96
                        span(data-filter_week='3w' data-filter_people='4p') $53.94
                        span(data-filter_week='4w' data-filter_people='4p') $71.92
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') n/a
                        span(data-filter_week='4w' data-filter_people='2p') n/a
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $39-$49
                        span(data-filter_week='3w' data-filter_people='4p') n/a
                        span(data-filter_week='4w' data-filter_people='4p') n/a
                        span(data-filter_week='5w' data-filter_people='4p') n/a

                // line 6
                .line.line_warn-bg
                    .cl
                        | MKC-exclusive weekly total
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $55.77-$81.46
                        span(data-filter_week='4w' data-filter_people='2p') $75.34-$102.04
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $75.34-$102.04
                        span(data-filter_week='3w' data-filter_people='4p') $106.24-$149.38
                        span(data-filter_week='4w' data-filter_people='4p') $139.2-$195.85
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $78.93
                        span(data-filter_week='4w' data-filter_people='2p') $99.99
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') n/a
                        span(data-filter_week='3w' data-filter_people='4p') $133.95
                        span(data-filter_week='4w' data-filter_people='4p') $165.03
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') $25.98
                        span(data-filter_week='3w' data-filter_people='2p') $29.97
                        span(data-filter_week='4w' data-filter_people='2p') $39.96
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $35.96
                        span(data-filter_week='3w' data-filter_people='4p') $53.94
                        span(data-filter_week='4w' data-filter_people='4p') $71.92
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') $63-$67
                        span(data-filter_week='4w' data-filter_people='2p') $79-$84
                        span(data-filter_week='5w' data-filter_people='2p') $95-$101
                        span(data-filter_week='2w' data-filter_people='3p') $62-$66
                        span(data-filter_week='3w' data-filter_people='3p') $86-$116
                        span(data-filter_week='4w' data-filter_people='3p') $109-$116
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $77-$82
                        span(data-filter_week='3w' data-filter_people='4p') $112-$119
                        span(data-filter_week='4w' data-filter_people='4p') $140-$149
                        span(data-filter_week='5w' data-filter_people='4p') n/a
                    .cl_s
                        span(data-filter_week='2w' data-filter_people='2p') n/a
                        span(data-filter_week='3w' data-filter_people='2p') n/a
                        span(data-filter_week='4w' data-filter_people='2p') n/a
                        span(data-filter_week='5w' data-filter_people='2p') n/a
                        span(data-filter_week='2w' data-filter_people='3p') n/a
                        span(data-filter_week='3w' data-filter_people='3p') n/a
                        span(data-filter_week='4w' data-filter_people='3p') n/a
                        span(data-filter_week='5w' data-filter_people='3p') n/a
                        span(data-filter_week='2w' data-filter_people='4p') $39-$49
                        span(data-filter_week='3w' data-filter_people='4p') n/a
                        span(data-filter_week='4w' data-filter_people='4p') n/a
                        span(data-filter_week='5w' data-filter_people='4p') n/a

                // line 7
                .line
                    .cl

                    .cl_s
                        a.btn.btn_primary.btn_noshadow(href="/go/hellofresh" target='_blank' rel="noopener")
                            | Claim
                    .cl_s
                        a.btn.btn_primary.btn_noshadow(href="/go/hellofresh" target='_blank' rel="noopener")
                            | Claim
                    .cl_s
                        a.btn.btn_primary.btn_noshadow(href="/go/hellofresh" target='_blank' rel="noopener")
                            | Claim
                    .cl_s
                        a.btn.btn_primary.btn_noshadow(href="/go/hellofresh" target='_blank' rel="noopener")
                            | Claim
                    .cl_s
                        span -
                    .cl_s
                        span -



