.font-resize
    .font-resize__title
        | Change font size<br/>(now - <span id="currFz">14px</span>)
    .font-resize__inner
        button#fzPlus +
        button#fzMinus -


style.
    .font-resize{
        position: fixed;
        z-index: 9999;
        top: 100px;
        right: 10px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 10px rgba(0,0,0,.06);
    }
    .font-resize__title{
        line-height: 1.3;
        font-size: 15px;
        text-align: center;
    }
    #currFz{
        color: red;
    }
    .font-resize__inner{
        margin-top: 10px;
        display: flex;
        width: 100%;
        height: 35px;
        justify-content: space-between;
    }
    .font-resize__inner button{
        flex: 1 1 49%;
        max-width: 49%;
        font-size: 24px;
        font-weight: 500;
    }
    .font-resize__inner button:hover{
        background-color: #ddd;
    }

script.
    const root = document.documentElement;
    let $fzViewer = $('#currFz');


    function onStart(){
        if (localStorage.getItem("fz") === null) {
            localStorage.setItem('fz', getComputedStyle(root).getPropertyValue('--mainFz'));
            //- console.log('was empty')
        } else {
            root.style.setProperty('--mainFz', localStorage.getItem("fz"));
            //- console.log('was full')

        }

        $fzViewer.text(localStorage.getItem("fz"));
    }

    function changeFz(operand){
        let currentProperty = parseInt((getComputedStyle(root).getPropertyValue('--mainFz')).slice(0,-2));
        let newProperty;
        if (operand === 'plus'){
            newProperty = currentProperty + 1;
        } else {
            newProperty = currentProperty - 1;
        }
        root.style.setProperty('--mainFz', newProperty + 'px');
        localStorage.setItem('fz', newProperty + 'px');
        $fzViewer.text( localStorage.getItem("fz"));
    }

    $(function() {

        onStart();

        $('#fzPlus').on('click', function(){
            changeFz('plus');
        });
        $('#fzMinus').on('click', function(){
            changeFz();
        });

    });