include ../mixins/all
//- include ../utils/mixins
//- include ../utils/includes
include ../partials/sorting-table_fs
include ../partials/sorting-table_type3
- var pathPrefix = '';
- var title = 'MKC';

- var description = 'Description';
- var pageClass = '';
block variables
- function imgPath(path) {return pathPrefix + '/assets/img/'+ path}

doctype html
html
    head
        include _head

    body(class=bodyClass)

        .layout
            .layout__header
                block header
                    +header()
            main.layout__main(class=outClass)
                block content
            .layout__footer
                block footer
                    +footer()
        block modals
            include ../partials/modal


        //LOAD SCRIPTS
        script(
            src="https://code.jquery.com/jquery-2.2.4.min.js",
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=",
            crossorigin="anonymous",
        )
        script(
            src="https://cdn.jsdelivr.net/npm/tooltipster@4.2.8/dist/js/tooltipster.bundle.min.js"
        )
        script(
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"
        )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"
        )
        //- script(type="text/javascript" src="assets/js/app.js")
        script(type="text/javascript" src="assets/js/new-app.js")
        script.
            $(document).ready(function(){
                    // tooltipster
                $('.info').tooltipster({
                    contentCloning: true,
                    interactive: true,
                    theme: 'tooltipster-shadow2',
                    animation: 'grow',
                    maxWidth: 230
                });
                $('.js-info').tooltipster({
                    contentCloning: true,
                    interactive: true,
                    theme: 'tooltipster-shadow2',
                    animation: 'grow',
                    maxWidth: 230
                });
                $('.tooltip-title').tooltipster({
                    interactive: true,
                    theme: 'tooltipster-shadow2',
                    animation: 'grow',
                    maxWidth: 230
                });
                $('.js-tooltipster').tooltipster({
                    interactive: true,
                    theme: 'tooltipster-shadow2',
                    animation: 'grow',
                    maxWidth: 300
                });

            });

        //- include ../helper/font-resizer
        block scripts
