.accordion{
    &__item{
        margin-bottom: 10px;
        position: relative;
        width: 100%;
    }
    &__head{
        padding: 25px;
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 80px;
        background-color: $color-white;
        border-radius: 5px 5px 0px 0px;
        border-bottom: 1px solid transparent;
        font-weight: 700;
        position: relative;
        transition: $transition;
        .accordion__item.active &{
            background-color: $color-secondary_light;
            border-bottom: 1px solid $color-secondary;
        }
        &:hover{
            cursor: pointer;
            background-color: $color-secondary_light2;
            border-bottom: 1px solid lighten($color-secondary, 20%);
        }
        @include r(1023){
            padding: 10px 40px 10px 20px;
        }
        &::after{
            content: '';
            position: absolute;
            top: calc(50% - 6px);
            right: 20px;
            width: 12px;
            height: 12px;
            background-image: url('../img/icons/plus.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            .accordion__item.active &{
                background-image: url('../img/icons/minus.svg');
            }
        }
    }
    &__body{
        padding: 15px 25px;
        background-color: $color-white;
        @include r(767){
            padding: 15px 20px;
            text-align: justify;
        }
    }
}