.articles-list {
    .articles-item {
        margin-bottom: 40px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $color-white;
        border-radius: $radius;
        // &:not(.articles-item_blog) {
        //     &:nth-child(odd) {
        //         svg {
        //             .stroke-color {
        //                 stroke: #2AC74D;
        //             }

        //             .fill-color {
        //                 fill: #2AC74D;
        //             }

        //             .stroke-fill-color {
        //                 stroke: #2AC74D;
        //                 fill: #2AC74D;
        //             }
        //         }
        //     }

        //     &:nth-child(even) {
        //         svg {
        //             .stroke-color {
        //                 stroke: #B1700D;
        //             }

        //             .fill-color {
        //                 fill: #B1700D;
        //             }

        //             .stroke-fill-color {
        //                 stroke: #B1700D;
        //                 fill: #B1700D;
        //             }
        //         }
        //     }
        // }

        &__img {
            @include r(767){
                margin: 0 auto;
            }
            img {
                width: auto;
                height: auto;
                max-height: 300px;
                object-fit: contain;
            }
        }

        &__img,
        &__text {
            padding-left: 15px;
            padding-right: 15px;
        }
        &__text {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__title {
            color: $color-black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        @include rmin(768) {

            &__img {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }

            &__text {
                flex: 1;
            }

            &:nth-child(even) {
                .articles-item__img {
                    order: 2;
                }
            }
        }

        @include r(1023) {
            margin: 40px 0;

        }

        @include r(767) {
            margin: 70px 0;
        }
    }
}


.white-boxes-list{
    list-style: none;
    padding-left: 0;
    li{
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        padding: 7px 15px;
        background-color: $color-white;
    }
}