.ab{
    padding: 10px;
    background-color: $color-secondary_light2;
    border: 1px solid rgba($color-secondary, 0.4);
    border-radius: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @include r(767){
        padding: 20px 10px 15px 15px;
    }
    &__title{
        margin-bottom: 25px;
    }

    //list
    &__list{
        @extend %reset-list;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        li{
            flex: 1 1 33%;
            max-width: 33%;
            margin-bottom: 25px;
            @include r(767){
                flex: 1 1 100%;
                max-width: 100%;
            }
        }
    }
    //end list

    //coupon
    &.ab-coupon{
        margin: 0 auto;
        max-width: 250px;
        padding: 30px;
        font-size: $fz-m1;
        @include r(1023){
            max-width: 100%;
        }
        .ab-coupon__icon{
            margin-right: 20px;
            width: 35px;
        }
        .ab-coupon__title{
            margin-bottom: 10px;
            display: flex;
            width: 100%;
            font-size: 24px;
            line-height: 1;
            align-items: flex-end;
            &__title-inner{
                flex: 1;
                & * {
                    display: inline-block;
                }
            }
            @include r(1023){
                flex: 1 1 100%;
            }
            .title{
                @include font_title;
            }
            .color-primary{
                margin: 0 .3em;
                @include font-700;
            }
        }
        .ab-coupon__btn{
            margin-top: 15px;
            @include r(767){
                width: 100%;
                .btn{
                    width: 100%;
                    max-width: 100%;
                }
            }
            @include rmin(1024){
                width: 100%;
                .btn{
                    width: 100%;
                    max-width: 100%;
                }
            }
            @include r(1023){
                margin-top: 10px;
            }
        }
    }

    &.review-coupon{
        font-size: $fz-m1;
        .review-coupon__icon{
            margin-left: 10px;
            width: 35px;
            @include r(767){
                display: none;
            }
        }
        .review-coupon__save{
            span{
                @include font_title;
                font-size: 24px;
            }
            .color-primary{
                @include font-700;
            }
        }
        .review-coupon__btn{
            @include r(1023){
                margin-top: 10px;
            }
        }
        &:not(.review-coupon_text-biggers){
            .review-coupon__btn{
                @include rIn(1024,1199){
                    margin-top: 10px;
                }
            }
        }
        &_text-biggers{
            position: relative;
            .review-coupon__icon{
                @include r(1023){
                    position: absolute;
                    top: 20px;
                }
                @include r(767){
                    display: block;
                }
            }
            .review-coupon__right{
                padding-left: 20px;
                flex: 1;
                display: flex;
                align-items: center;
                @include r(1023){
                    flex: 1 1 100%;
                    flex-wrap: wrap;
                }
            }
            .review-coupon__save{
                flex: 1 1 auto;
                white-space: nowrap;
                margin-right: 15px;
                @include r(1023){
                    padding-left: 35px;
                    margin: 0;
                }
            }
            .review-coupon__text{
                flex: auto;
                font-size: 1.2em;
                @include r(1023){
                    padding-left: 35px;
                }
            }
            .review-coupon__btn{
                @include r(1023){
                    margin: 10px auto;
                }
            }
        }
    }
    //end coupon

    //t1
    &.ab-t1{
        margin: 40px auto;
        @include r(767){
            overflow: hidden;
            position: relative;
        }
        .left{
            flex: 1;
            @include rIn(768,1023){
                padding-left: 20px;
            }
            @include rmin(1024){
                padding-left: 40px;
            }
            @include r(767){
                position: relative;
                z-index: 1;
            }
        }
        .right{
            flex-shrink: 1;
            margin-bottom: -10px;
            @include rIn(768,1023){
                max-width: 180px;
                margin-left: -40px;
            }
            @include r(767){
                position: absolute;
                z-index: 0;
                width: 100%;
                height: auto;
                left: 50%;
                opacity: .2;
            }
        }
        .ab__list{
            @include rIn(768,1023){
                align-items: flex-start;
            }
        }
        .elem-icon::before{
            top: .3em;
        }
    }
    // end t1


    // discount
    &.ab-discount{
        margin: 30px 0;
        .left{
            flex: 1;
            padding-left: 40px;
            @include r(767){
                padding: 0;
            }
            @include rmin(1024){
                max-width: 600px;
            }
        }
        .right{
            flex-shrink: 1;
            @include rIn(1024,1920){
                max-width: 25vw;
            }
            @include rmin(1921){
                max-width: 37%;
            }
            @include rIn(768,1023){
                max-width: 180px;
            }
            .ab__img-hf{
                width: 430px;
                @include rmin(768){
                    transform: scale(1.2);
                    transform-origin: 100% 100%;
                }
            }
            &.promo_chefs-p-1{
                @include rmin(1024){
                    min-width: 1px;
                    max-width: 270px;
                }
            }
        }
        .ab__title {
            margin-bottom: 15px;
        }
        .btns{
            display: inline-flex;
            flex-flow: row wrap;
            align-items: center;
            .btn{
                margin: 10px;
                margin-left: 0;
                margin-right: 20px;
                min-height: 60px;
            }
            @include r(767){
                .btn,.discount{
                    max-width: 100%;
                    margin: 0 auto 10px;
                }
            }
        }
        .discount{
            padding: 3px 25px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            background-color: $color-white;
            border-radius: $radius;
            min-height: 60px;
            @include r(767){
                min-width: 200px;
            }
            .text{
                padding-left: 10px;
                flex-grow: 1;
                line-height: 1.4;
            }
        }
    }
    // end discount

    &.ab-info{
        padding: 20px;
        &__title{
            margin-top: 0;
            margin-bottom: 0.4em;
            font-weight: 900;
        }
    }

    &-top3{
        margin: 0 auto 15px;
        display: block;
        max-width: 230px;
        border-radius: 15px 5px 0px 0px;
        min-height: 70px;
        height: 70px;
        &:not(.ab-top3_no-promo){
            color: $color-secondary;
        }
        font-weight: bold;
        font-size: $fz-p2;
        line-height: 20px;
        text-align: center;
        &_no-promo{
            border-color: $color-gray_light;
            background-color: $color-gray_light;
            color: $color-gray;
        }
        .btn{
            margin: 0 auto 15px;
            display: flex;
            width: 100%;
            max-width: 230px;
        }
    }

    &-promoutions{
        padding: 30px;
        height: 100%;
        &__title{
            margin-bottom: 10px;
            @include font_title;
            font-size: 24px;
            line-height: 29/24*1em;
        }
        p{
            flex: 1 1 100%;
            max-width: 100%;
        }
        &_white{
            background-color: $color-white;
            border: $color-white;
        }

    }

    &-intext{
        margin: 30px auto;
        padding-left: 30px;
        p:last-child{
            margin-bottom: 0;
        }
    }

    &-disclaimer{
        padding: 20px;
        border-color: rgba(#BCBCBC, .5);
        background-color: rgba(#DDDDDD, .05);
        color: #969696;
        &__title{
            margin-top: 0;
            margin-bottom: 0.4em;
            font-weight: 900;
        }
    }


}

.promoutions.promoutions_column .ab-promoutions{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    & > *{
        flex: 0 0 auto;
    }
    .btn{
        margin-top: auto;
    }
}


