.box{
    padding: 1px;
    background-color: $color-white;
    border-radius: $radius;
    &_vs{
        padding: 20px;
        &__top{
            margin-bottom: 14px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;
            @include r(1023){
                justify-content: center;
            }

            .vs{
                margin: 0 30px;
                font-weight: 800;
                @include r(1023){
                    flex: 1 1 100%;
                    max-width: 100%;
                    text-align: center;
                }
            }
            .company-logo{
                margin: 0;
                max-width: 150px;
                @include r(1023){
                    height: 50px;
                }
            }
        }
    }
    &_area{
        padding: 20px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        &__header{
            margin-bottom: 20px;
        }
        &__footer{
            margin-top: auto;
        }
        .btn{
            width: 100%;
            font-size: $main-font-size;
            @include rIn(991,1199){
                --mainFz: 12px;
            }
        }
    }
    &_iconed{
        padding: 20px;
    }
    &_numbered-list{
        padding: 20px;
        ol{
            list-style: none;
            @include counter('num', '');
            li{
                padding-left: 50px;
                position: relative;
                min-height: 50px;
                display: block;
                @include r(767){
                    padding-left: 25px;
                }
                &:not(:last-child){
                    margin-bottom: 15px;
                }
                &::before{
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: -14px;
                    left: 0;
                    font-size: 24px;
                    font-weight: bold;
                    line-height: 50px;
                    color: $color-secondary;
                    text-align: center;
                    @include r(767){
                        width: 20px;
                    }
                }
            }
        }
    }
    &_h100{
        height: 100%;
    }
    &_what-is-mealkits{
        padding: 1.3em;
        .head{
            display: flex;
            align-items: center;
        }
    }
    &_right{
        @include rmin(768){
            float: right;
            min-width: 30em;
            margin: 0 0 1em 1em;
        }
    }
}
.box-list-numbered{
    list-style: none;
    @include counter('num', '');
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    li{
        margin-bottom: 20px;
        padding: 15px 15px 15px 50px;
        flex: 1 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        flex-basis: calc(50% - 10px);
        position: relative;
        min-height: 50px;
        display: block;
        @include r(767){
            padding-left: 35px;
            flex: 1 1 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
        &::before{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 0;
            font-size: 24px;
            font-weight: bold;
            line-height: 50px;
            color: $color-secondary;
            text-align: center;
            transform: translateY(-50%);
            @include r(767){
                width: 30px;
            }
        }
    }
    &_full{
        li{
            display: flex;
            align-items: center;
            min-height: 70px;
            @include rmin(768){
                flex: 1 1 100%;
                max-width: 100%;
                flex-basis: 100%;
            }
        }
    }
    &_flex-start{
        li{
            &::before{
                top: 5px;
                transform: none;
            }
        }
    }
}