%button{
    @extend %reset-btn;
    display: inline-flex;
    flex: 0 0 auto;
    max-width: 100%;
    font-size: $fz-p2;
    padding: 5px 25px;
    @include font-700;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    transition: $transition;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 0 15px;
    .chevron-right{
        margin-top: -2px;
        display: inline-block;
        vertical-align: middle;
        @include chevron(8,5,currentColor,right);
        &:first-child{
            margin-right: 5px;
        }
        &:last-child{
            margin-left: 5px;
        }
    }
    .arr-right{
        margin-right: 8px;
        @include arr(13,14,$color-primary,r);
    }
}

.btn {
    @extend %button;
    &_primary {
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid $color-primary;

        @include hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }

    &_primary-outline {
        color: $color-primary;
        background-color: rgba($color-primary, .1);
        border: 1px solid $color-primary;

        @include hover {
            color: $color-primary;
            background-color: rgba($color-primary, .3);
        }
    }
    &_secondary {
        color: $color-primary;
        border: 1px solid rgba(0, 168, 82, 0.5);
        background-color: $color-primary_light;

        @include hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    &_yellow {
        color: $color-secondary;
        border: 1px solid ;
        background-color: $color-secondary_light2;

        @include hover {
            color: $color-secondary;
            background-color: $color-secondary_light;
        }
    }
    &_blue {
        color: $color-white;
        background-color: $color-link;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid $color-link;

        @include hover {
            color: $color-link;
            background-color: $color-white;
        }
    }
    &_blue-outline {
        color: $color-link;
        background-color: transparent;
        border: 1px solid $color-link;

        @include hover {
            color: $color-link;
            background-color: rgba($color-link, .3);
        }
    }
    &_red {
        color: $color-white;
        background-color: $color-red;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border: 1px solid $color-red;

        @include hover {
            color: $color-red;
            background-color: $color-white;
        }
    }
    &_gray{
        color: $color-gray;
        background-color: $color-gray_light;
        @include hover {
            color: darken($color-gray,10%);
            background-color: lighten($color-gray_light,10%);
        }
    }
    &[disabled]{
        color: $color-gray !important;
        background-color: $color-gray_light;
        @include hover {
            color: $color-gray;
            background-color: $color-gray_light;
            cursor: default;
        }
    }
    &_lg{
        padding: 12px 35px;
        min-width: 200px;
    }
    &_sm{
        padding: 8px 25px;
        min-width: 150px;
    }
    &_noshadow{
        box-shadow: none !important;
    }
    // &_tertiary {
    //     background-color: transparent;
    //     border: 1px solid ;
    //     color: $color-primary;
    //     transition-duration: 0.4s;
    //     &::before,
    //     &::after{
    //         content: '';
    //         position: absolute;
    //         height: 300%;
    //         width: 50%;
    //         background-color: lighten($color-half-dark,  5%);
    //         transition: $transition-3;
    //         z-index: -1;
    //     }
    //     &::before{
    //         transform: rotate(45deg) translate(-100%,-50%);
    //         top: 0;
    //         left: 0;
    //         transform-origin: 0% 0%;
    //     }
    //     &::after{
    //         transform: rotate(45deg) translate(100%, 50%);
    //         bottom: 0;
    //         right: 0;
    //         transform-origin: 100% 100%;
    //     }

    //     @include hover {
    //         &::before{
    //             transform: rotate(45deg) translate(-5%, -62%);
    //         }
    //         &::after{
    //             transform: rotate(45deg) translate(5%, 62%);
    //         }
    //     }
    // }

    &.supersmalltext-mob-btn{
        @include rIn(350,768){
            --mainFz: 10px;
        }
        @include r(349){
            --mainFz: 8px;
        }
    }

}


.mob-w-100{
    @include r(767){
        width: 100%;
    }
}