.emoji{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @include r(767){
        flex-wrap: nowrap;
    }
    & > span{
        margin-right: 15px;
    }
    &__items{
        display: flex;
        flex-flow: row wrap;

    }
    .emoji-icon{
        margin-right: 5px;
        max-width: 16px;
        max-height: 16px;
        display: flex;
        svg{
            fill: $color-secondary;
            max-width: 100%;
            max-height: 100%;
        }
    }
}