.footer-top{
    background-color: $color-white;
    border-bottom: 1px solid $color-gray_light;
    &__container{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    &__title{
        margin-bottom: 10px;
        font-weight: 700;
        color: $color-gray;
        font-size: $main-font-size;
    }
    a{
        color: $color-text;
        text-decoration: none;
        font-weight: 400;
        font-size: $main-font-size;
        &:hover{
            text-decoration: underline;
        }
    }
    &__menu{
        @include rIn(768,1199){
            flex: 1;
            &:not(:last-child){
                padding-right: 20px;
            }
        }
        @include r(767){
            margin-bottom: 30px;
        }
        li{
            margin-bottom: 6px;
        }
    }
}

.footer-bottom{
    background-color: #fff;
    &__container{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        @include r(767){

        }
    }
}
.footer__disclaymer{
    flex: 1;
    margin: 0 40px;
    font-size: $main-font-size;
    @include r(767){
        flex: 1 1 100%;
        margin: 0 auto 30px;
    }
}
.footer-copy{
    padding: 10px 0;
}

.footer{

    --mainFz: 15px;

}