.header{
    background-color: $color-white;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
    &__container{
        min-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::after{
            content: none !important;
        }
    }

    @include r(1023){
        .logo-link{
            flex: 1 1 150px;
            max-width: 150px;
            min-height: 60px;
            .logo{
                width: 100%;
            }
        }
    }
}
.main-menu{
    @extend %reset-list;
    display: flex;
    align-items: center;

    .menu-item{
        padding: 0 15px;
        @include r(1023){
            margin-bottom: 0.5em;
        }
    }
    @include rIn(1024,1199){
        font-size: $fz-m2;
    }
    @include r(1023){

        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        flex-wrap: wrap;
        background-color: $color-white;
        max-height: 0;
        overflow: hidden;
        transition: $transition;
        .menu-open &{
            padding-bottom: 10px;
            max-height: 300px;
            box-shadow: 0 18px 26px 4px rgba(0,0,0,.05);
        }
        .menu-item{
            flex: 1 1 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    a{
        text-decoration: none;
        font-weight: 400;
        color: $color-text;
        transition: $transition;
        &:hover{
            color: $color-link;
        }
    }
}