.hero{
    &_standart{
        margin-bottom: 50px;
        @include css-lock(25,50,768,1200,padding-top);
        .d-none{
            img:not(.logo-country__flag){
                width: 100%;
            }
        }
    }

}
.whithout-hero{
    @extend .hero_standart;
}