.elem-icon{
    padding-left: 1.4em;
    padding-right: 0.5em;
    position: relative;
    line-height: 1.3;
    &::before{
        content: '';
        position: absolute;
        top: calc(50% - .45em);
        left: 0;
        width: 0.9em;
        height: 0.9em;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &_good{
        &::before{
            background-image: url('/assets/img/icons/check.svg');
        }
    }
    &_bad{
        &::before{
            background-image: url('/assets/img/icons/close.svg');
        }
        color: $color-gray;
    }
    &_dot{
        &::before{
            margin-top: .4em;
            width: .45em;
            height: .45em;
            border-radius: 50%;
            background-color: $color-secondary;
        }
    }
    &_question{
        &::before{
            background-image: url('/assets/img/icons/question.svg');
        }
    }
}

.icon-line{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    .icon{
        width: 30px;
        height: 30px;
        img{
            width: 100%;
        }
    }
    .text{
        padding-left: 15px;
        flex: 1;
    }
}