.medal{
    width: 50/10*1em;
    position: relative;
    @include font-700;
    text-align: center;
    color: $color-white;
    $medal: &;
    &_big{
        width: 160/12*1em;
        #{$medal}__bg{
            @include aspect-ratio(160,122,true);
            background-image: url('/assets/img/icons/medal-big.svg');
        }
        #{$medal}__text{
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            max-width: 10em;
            @include font;
            transform: translateY(calc(-50% - 0.9em));
            line-height: 1.4;
        }
    }
    &__bg{
        @include aspect-ratio(48,32,true);
        background-image: url('/assets/img/icons/medal.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__text{
        text-transform: uppercase;
        position: absolute;
        display: block;
        width: 100%;
        top: .55em;
        left: 0;
    }
}

.table_meal-prep{
    .medal{
        font-size: 10px;
    }
}

.medal-info{
    .col-12{
        &:last-child{
            flex: 1;
        }
    }
}
