.menu-trigger{
    margin-left: auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    @include rmin(1024){
        display: none;
    }
    span{
        display: block;
        width: 100%;
        height: 4px;
        background-color: $color-primary;
        position: relative;
        transition: $transition;
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            background-color: $color-primary;
            transition: inherit;
        }
        &::before{
            top: -10px;
            transform-origin: 0% 0%;
        }
        &::after{
            bottom: -10px;
            transform-origin: 0% 100%;
        }
        .menu-open &{
            background-color: rgba($color-primary, .0);
            &::before,
            &::after{
                background-color: darken($color-primary, 5%);

            }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }
    }
}