.modal{

    .close{
        opacity: .8;
        position: absolute;
        top: -42px;
        right: -32px;
        span{
            font-size: 42px;
            display: block;
            width: 42px;
            height: 42px;
            color: $color-white;
        }
        &:focus{
            outline: 1px dotted $color-white;
        }
    }
    &_video{
        .modal-header{
            height: 0;
            padding: 0;
            width: 100%;
        }
        .modal-content{
            padding: 30px;
            background-color: $color-secondary_light2;
            border: 2px solid rgba($color-secondary, 0.4);
            border-radius: 5px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            border-radius: 0 20px;
        }
        .modal-body{
            display: block;
            width: 100%;
            @include aspect-ratio(560,315, true);
            iframe,
            video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}