.plan-tables{
    padding: 1px 0;
    &__item{
        margin-bottom: 30px;
    }
}
// structure
.pti{
    font-size: var(--mainFz);
    --mainFz: 15px;
    display: flex;
    flex-flow: row wrap;
    &__head{
        &_left{
            flex: 1 1 60%;
            max-width: 60%;
            @include r(1023){
                flex: 1 1 100%;
                max-width: 100%;
                justify-content: space-around;
            }
        }
        &_right{
            flex: 1 1 40%;
            max-width: 40%;
            @include r(1023){
                flex: 1 1 100%;
                max-width: 100%;
                justify-content: space-around;
            }
            @include r(767){
                order: 1;
            }
        }
    }
    &__col{
        flex: 1 1 auto;
        max-width: 30%;
        @include rIn(1024,1199){
            max-width: 25%;
        }
        @include rIn(768,1023){
            max-width: 33.333%;
        }
        @include r(767){
            flex: 1 1 100%;
            max-width: 100%;
        }
        &_1{
            @include r(1023){
                flex: 1 1 100%;
                max-width: 100%;
                text-align: center;
                order: -1;
            }
            @include rmin(1200){
                flex-basis: 30%;
            }
        }
        &_2{
            @include rmin(1200){
                flex: 1 1 25%;
                max-width: 25%;
            }
        }
        &_3{
            @include rmin(1200){
                flex: 1 1 25%;
                max-width: 25%;
            }
        }
        &_4{
            @include rmin(1200){
                flex: 1 1 20%;
                max-width: 20%;
            }
            @include r(767){
                order: 2;
            }
        }
    }


}

//inners

.pti{
    background-color: $color-white;
    border-radius: 5px;
    &__head{
        display: flex;
        align-items: center;
        border-bottom: 1px dashed #E4E4E4;
        .company-logo{
            margin: 0;
            padding: 5px 20px;
            img{
                max-height: 50px;
                width: auto;
            }
        }
        .rating{
            margin-left: 2em;
            font-size: 8px;
            display: flex;
            align-items: center;
            line-height: 1;
            @include rmin(1024){
                margin-right: 3em;
            }
            @include r(767){
                font-size: 5.5px;
            }
            span{
                margin-right: .7em;
                font-size: 2em;
            }
            strong{
                font-size: 3em;
            }
        }
        &_left{
            @include r(1023){
                padding: 10px 0;
            }
            @include r(767){
                padding-right: 15px
            }
        }
        &_right{
            @include rmin(1024){
                justify-content: flex-end;
            }
            @include r(1023){
                background-color: #FFF4E0;
            }
        }
    }
    .company-logo__wrapper{
        @include r(767){
            max-width: 60%;
        }
    }
    &__company-link{
        font-size: $main-font-size;
        &_desktop{
            @include r(767){
                display: none;
            }
        }
        &_mobile{
            @include rmin(768){
                display: none;
            }
        }
    }
    &__promo{
        font-size: $main-font-size;
        @include rmin(1024){
            padding-right: 20px;
        }
        @include r(1023){
            flex: 1 1 50%;
            min-height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_description{
            font-size: $fz-p2;
            .color-primary{
                font-size: 17px;
                font-weight: 900;
            }
            @include r(767){
                padding-left: 10px;
                padding-right: 10px;
                font-size: $main-font-size;
                text-align: center;
                line-height: 1.3;

            }
            @include rmin(1200){
                margin-right: 20px;
            }
            @include r(1023){
                border-right: 1px dashed #E4E4E4;
            }
            @include rIn(1024,1199){
                padding: 0;
                margin-right: 10px;
                --mainFz: 14px;
            }
        }
        &_code{
            span{
                color: $color-gray;
            }
            @include r(767){
                padding-left: 10px;
                padding-right: 10px;
                font-size: $main-font-size;
                text-align: center;
                line-height: 1.3;
            }
        }
    }

    &__col{
        padding: 15px 20px;
        @include rmin(1024){
            &:not(:last-child){
                border-right: 1px dashed #E4E4E4;
            }
        }
        &_1{
            @include r(1023){
                border-bottom: 1px dashed #E4E4E4;
            }
        }
        &_4{
            display: flex;
            align-items: center;
            justify-content: center;
            @include r(767){
                justify-content: space-around;
                padding-left: 0;
                padding-right: 0;
                .btn{
                    padding: 10px 20px;
                    min-width: 1px;
                    font-size: $main-font-size;
                }
            }
        }
        &_2{
            @include r(767){
                padding-bottom: 0;
            }
        }
        &_3{
            @include r(767){
                padding-top: 0;
            }
        }
    }
    &__plan{
        .plan-name{
            font-size: $fz-p1;
            line-height: 1.7;
            text-transform: uppercase;
            color: $color-secondary;
            font-weight: 900;
        }
        .plan-description{
            color: #7E7E7E;
            line-height: 1.43;
        }
    }
    &__table{
        th{
            width: 60%;
            font-weight: 400;
        }
        td{
            width: 40%;
            text-align: right;
        }
        th,td{
            @include r(767){
                height: 30px;
                vertical-align: middle;
            }
        }
        .icon-recipe,
        .icon-man{
            fill: $color-secondary;
            &:not(:first-child){
                margin-left: -.04em;
            }
        }
    }
}
