.graph{
    --color-company: green;
    --color-industry: red;
    --size: 100%;
    font-size: var(--mainFz);
    &.box{
        padding: em(25,16);
        &.graph_positive{
            background-color: #f2fbf6;
            .graph-title__item_name{
                color: #00A852;
            }
        }
        &.graph_negative{
            background-color: #fff4f6;
            .graph-title__item_name{
                color: #F82B50;
            }
        }
    }
    &-title{
        display: flex;
        font-size: em(13,16);
        justify-content: space-between;
        &_center{
            justify-content: center;
        }
        &__item{
            &:not(:last-child){
                margin-right: em(30,13);
            }
            &.graph-title__item_name{
                margin-right: auto;
            }
        }
        &__label{
            display: inline-block;
            width: 0.7em;
            height: 0.7em;
            border-radius: 2px;
            margin-right: 0.7em;
            &_company{
                background-color: var(--color-company);
            }
            &_industry{
                background-color: var(--color-industry);
            }
        }
    }

    &__body{
        display: flex;
        &_around{
            justify-content: space-around;
        }
    }
    &-items{
        display: flex;
        flex-flow: row wrap;
        max-width: 27%;
        &__item{
            flex: 1 1 50%;
            max-width: 50%;
        }
        &__label{
            flex: 1 1 100%;
            max-width: 100%;
            text-align: center;
            font-size: em(14,16);
            color: #7E7E7E;
        }
    }
    &-item{

    }
    &-bar{
        padding: em(10,16);
        padding-bottom: 0.3em;
        display: flex;
        height: 14em;
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        @include rmin(768){
            min-width: 70px;
        }
        @include r(767){
            padding: em(5,16);
            padding-bottom: 0.3em;
        }
        &_company{
            color: var(--color-company);
        }
        &_industry{
            color: var(--color-industry);
        }
        &__data{
            text-align: center;
            font-size: em(11,16);
            color: #262626;
        }
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: var(--size);
            background-color: currentColor;
            border-radius: 5px 5px 0 0;
        }

    }
}
.graph-desc{
    color: #262626;
    padding-top: .5em;
    line-height: 1.5;
}