.lazy-slider-wrapper {
    position: relative;
    @include r(767){
        display: none;
    }
}

.lazy-slider-wrapper .swiper-button_prev {
    top: auto;
    bottom: 20px;
    right: 40px;
}

.lazy-slider-wrapper .swiper-button_next {
    top: auto;
    bottom: 20px;
    right: -20px;
}

.lazy-slider {
    position: relative;
    width: 335px;
    height: 530px;
}

.lazy-slider .slide {
    position: absolute;
    top: 0;
    right: 0;
    width: 272px;
    height: 530px;
    overflow: hidden;
    opacity: 0;
    transition: $transition;
}

.lazy-slider .slide:nth-last-child(1) {
    opacity: 1;
    margin-right: 50px;
    transition: all 0.4s ease 0s;
}

.lazy-slider .slide:nth-last-child(2) {
    opacity: 0.5;
    margin-right: 0px;
    width: 228px;
    height: 443px;
    top: 40px;
    transition: all 0.4s ease 0s;
}
.lazy-slider-wrapper{
    .swiper-button__wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .swiper-button{
        width: 40px;
        height: 40px;
        border: 1px solid;
        color: $color-secondary;
        margin-right: -1px;
        background-color: $color-secondary_light2;
        transition: $transition;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include hover{
            background-color: $color-secondary;
            color: $color-white;
            cursor: pointer;
        }
        &_prev{
            border-bottom-left-radius: 15px;
        }
        &_next{
            border-top-right-radius: 15px;
        }
        .chevron-right{
            @include chevron(10,15,currentColor, right)
        }
        .chevron-left{
            @include chevron(10,15,currentColor, left)
        }
    }
}