.socials{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    a.socials__item{
        margin-right: 8px;
        width: 40px;
        height: 40px;
        border: 1px solid;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
        &:hover{
            background-color: $color-secondary_light;
        }
    }

    .icon{
        width: 16px;
        height: 16px;
        fill: currentColor;
    }

    &_yellow{
        color: $color-secondary;
    }
    &_green{
        color: $color-primary;
    }
}