.sorting-table{
    margin: 30px auto 50px;
    &__triggers{
        display: flex;
        flex-flow: row wrap;
        @include r(767){
            justify-content: space-between;
        }
    }
    &__top,
    &__detail{
        padding: 20px;
        background-color: $color-white;
    }
    &__divider{
        height: 45px;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        background-color: white;
        border-top: 1px solid $color-gray_light;
        border-bottom: 1px solid $color-gray_light;
        position: relative;
        a{
            color: $color-secondary;
            position: static;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                @include arr(10,5,currentColor, b);
            }
        }
    }
    .line {
        display: flex;
        align-items: center;
        @include r(767){
            margin-bottom: 10px;
            position: relative;
        }
    }
    .cl {
        flex: 0 1 400px;
        max-width: 400px;
        & > .icon-check,
        & > .icon-close{
            display: inline-flex;
            margin-left: 15px;
        }
        @include r(767){
            position: absolute;
            font-weight: 800;
            font-size: $main-font-size;
            text-transform: uppercase;
            color: lightgrey;
            bottom: 44%;
        }
    }
    [class^='cl']{
        padding: 8px 0px;
    }
    .cl_s {
        flex: 0 1 auto;
        min-width: 100px;
        @include rmin(1024){
            min-width: 150px;
            text-align: right;
        }

    }
    .line{
        @include rmin(1024){
            .cloned{
                display: none !important;
            }
        }
    }
    &.onMob{
        @include r(1023){
            padding-bottom: 1px;
            .sorting-table__triggers{
                position: sticky;
                top: 50px;
                z-index: 1;
            }
            .sorting-table__top{
                min-width: 1px !important;
            }
            .line{
                flex-flow: row wrap;
                position: relative;
                &:not(:first-child):not(:last-child){
                    margin-bottom: 20px;
                    &::after{
                        content: '';
                        position: absolute;
                        width: calc(100% + 40px);
                        left: -20px;
                        height: 5px;
                        background-color: $color-bg;
                        bottom: -10px;
                    }
                }
                &:first-child{
                    display: none;
                }

            }
            [class^='cl']{
                flex: 1 1 100%;
                max-width: 100%;
                position: static;
                color: inherit;
            }
            .cl{
                font-weight: 700;
                text-transform: uppercase;
            }
            .cl_s{
                display: flex;
                justify-content: space-between;
                max-width: 100% !important;
            }
        }

    }


    &_v2{
        .company-logo{
            margin: 0 auto;
            max-width: 115px;
            text-align: center;
            @include r(1023){
                margin-left: 0;
                img{
                    display: block;
                    width: 100%;
                }
            }
            img{
                max-height: 50px;
            }
        }
        @include rmin(1024){
            .line{
                align-items: stretch;
                &:first-child{
                    border-bottom: 1px dashed #DEDEDE;
                    .cl,
                    .cl_s{
                        padding-top: 1em;
                    }
                }
                &:not(:first-child){
                    .cl,
                    .cl_s{
                        display: flex;
                        align-items: center;
                    }
                }
                &:last-child{
                    .cl,
                    .cl_s{
                        padding-bottom: 1.4em;
                    }
                }
                &_gray-bg{
                    background-color: #FBFBFB;
                }
                &_warn-bg{
                    background-color: #FDF7ED;
                }
            }
            .cl{
                padding-left: 1.4em;
            }
            .cl_s{
                padding-left: 1em;
                padding-right: 1em;
                text-align: left;
                border-left: 1px dashed #DEDEDE;
            }
            .sorting-table__top,
            .sorting-table__detail{
                padding: 0;
            }
        }
        @include r(1023){
            .line{
                &:not(:last-child){
                    .cl_s{
                        border-top: 1px dashed #DEDEDE;
                    }
                }
                &_gray-bg,
                &_warn-bg{
                    position: relative;
                    &::before{
                        content: "";
                        position: absolute;
                        width: calc(100% + 40px);
                        height: calc(100% + 20px);
                        top: -10px;
                        left: -20px;
                        z-index: 0;
                        background-color: transparent;
                    }
                    .cl,
                    .cl_s{
                        position: relative;
                    }
                }
                &_gray-bg::before{
                    background-color: #FBFBFB;
                }
                &_warn-bg::before{
                    background-color: #FDF7ED;
                }
            }
        }
    }
}

.sorting-table-type3{
    margin: 30px auto 50px;
    &__triggers{
        display: flex;
        flex-flow: row wrap;
    }
    &__top,
    &__detail{
        padding: 20px;
        background-color: $color-white;
    }
    &__divider{
        height: 45px;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        background-color: white;
        border-top: 1px solid $color-gray_light;
        border-bottom: 1px solid $color-gray_light;
        position: relative;
        a{
            color: $color-secondary;
            position: static;
            &::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                @include arr(10,5,currentColor, b);
            }
        }
    }
    .line {
        display: flex;
        align-items: stretch;
        &:first-child{
            border-bottom: 1px dashed #DEDEDE;
            .cl,
            .cl_s{
                padding-top: 1em;
            }
        }
        &:not(:first-child){
            .cl,
            .cl_s{
                display: flex;
                align-items: center;
            }
        }
        &:last-child{
            .cl,
            .cl_s{
                padding-bottom: 1.4em;
            }
        }
        &_gray-bg{
            background-color: #FBFBFB;
        }
        &_warn-bg{
            background-color: #FDF7ED;
        }
    }
    [class^='cl']{
        padding: 8px 0px;
    }

    .sorting-table-type3__top,
    .sorting-table-type3__detail{
        padding: 0;
    }
    .cl {
        padding-left: 1.4em;
        flex: 0 1 400px;
        max-width: 400px;
        & > .icon-check,
        & > .icon-close{
            display: inline-flex;
            margin-left: 15px;
        }
    }
    .cl_s{
        padding-left: 1em;
        padding-right: 1em;
        text-align: left;
        border-left: 1px dashed #DEDEDE;
        flex: 0 1 auto;
        min-width: 100px;
        @include rmin(1200){
            min-width: 150px;
            text-align: right;
        }
    }

    .company-logo{
        margin: 0 auto;
        max-width: 115px;
        text-align: center;
        @include r(1023){
            margin-left: 0;
            img{
                display: block;
                width: 100%;
            }
        }
        img{
            max-height: 50px;
        }
    }

    @include r(1199){
        .triggers {
            margin: 0;
            max-width: calc(50% - 10px);
            &:first-child{
                .triggers__inner{
                    width: 120px;
                }
            }
        }
        .sorting-table-type3__inner{
            position: relative;
            @media (max-width: 767px) {
                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    border: 4px solid transparent;
                    transform: rotate(-45deg);
                    transform-origin: center;
                }
                &::before{
                    left: -8px;
                    border-top-color: $color-secondary;
                    border-left-color: $color-secondary;
                }
                &::after{
                    right: -8px;
                    border-bottom-color: $color-secondary;
                    border-right-color: $color-secondary;
                }
            }
        }
        .sorting-table-type3__top{
            display: flex;
            overflow-x: auto;
            padding-bottom: 10px;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background-color: rgba(255, 182, 53, 0.15);
            }

            &::-webkit-scrollbar-track {
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background-color: $color-secondary;
                height: 5px;
                width: 5px;
            }
        }
        .line{
            flex-direction: column;
            [class^='cl']{
                padding-top: 0;
                padding-bottom: 0;
                height: 3em;
                line-height: 3em;
            }
            &:first-child{
                border-bottom: none;
                position: sticky;
                left: 0;
                top: 0;
                z-index: 10;
                background: #FFFFFF;
                box-shadow: 10px 0px 10px rgba(0, 0, 0, .05);
                .cl,
                .cl_s{
                    padding-top: 0;
                    padding-bottom: 0;
                    border-left: none;
                    border-right: none;
                    min-width: 130px;
                }
            }
            &:not(:first-child):not(:last-child){
                // min-width: 200px;
                min-width: min-content;
                .cl_s{
                    max-width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .cl,
            .cl_s{
                border-bottom: 1px dashed #DEDEDE;
            }
            .cl{
                flex: inherit;
                line-height: 1.2;
                height: 4em;
                // white-space: nowrap;
                // max-width: 200px;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
            &:last-child{
                position: sticky;
                right: 0;
                top: 0;
                z-index: 10;
                background: #FFFFFF;
                box-shadow: -10px 0px 10px rgba(0, 0, 0, .05);
                .cl,
                .cl_s{
                    padding-top: 0;
                    padding-bottom: 0;
                    min-width: 30px;
                    .btn{
                        font-size: 0;
                        position: relative;
                        padding: 5px 15px;
                        min-height: 35px;
                        border-radius: 0 10px;
                        &::after{
                            content: 'Buy';
                            font-size: 12px;
                        }
                        // &::after{
                        //     content: '';
                        //     background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35355 4.35355C7.54882 4.15829 7.54882 3.84171 7.35355 3.64645L4.17157 0.464466C3.97631 0.269204 3.65973 0.269204 3.46447 0.464466C3.2692 0.659729 3.2692 0.976311 3.46447 1.17157L6.29289 4L3.46447 6.82843C3.2692 7.02369 3.2692 7.34027 3.46447 7.53553C3.65973 7.7308 3.97631 7.7308 4.17157 7.53553L7.35355 4.35355ZM-4.37114e-08 4.5L7 4.5L7 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='white'/%3E%3C/svg%3E%0A");
                        //     position: absolute;
                        //     width: 13px;
                        //     height: 13px;
                        //     background-size: contain;
                        //     background-repeat: no-repeat;
                        // }
                        // &:hover{
                        //     &::after{
                        //         background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.35355 4.35355C7.54882 4.15829 7.54882 3.84171 7.35355 3.64645L4.17157 0.464466C3.97631 0.269204 3.65973 0.269204 3.46447 0.464466C3.2692 0.659729 3.2692 0.976311 3.46447 1.17157L6.29289 4L3.46447 6.82843C3.2692 7.02369 3.2692 7.34027 3.46447 7.53553C3.65973 7.7308 3.97631 7.7308 4.17157 7.53553L7.35355 4.35355ZM-4.37114e-08 4.5L7 4.5L7 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z' fill='%2300A852'/%3E%3C/svg%3E%0A");
                        //     }
                        // }
                    }
                }
            }

        }
    }
}



.triggers{
    display: inline-flex;
    flex-flow: row wrap;
    margin-right: 40px;
    @include r(767){
        margin: 0;
        max-width: calc(50% - 10px);
    }
    &__title{
        margin-bottom: 12px;
        flex: 1 1 100%;
        max-width: 100%;
        font-size: $fz-p2;
    }
    &__inner{
        display: flex;
        width: 160px;
        height: 40px;
    }
}
.trigger{
    margin: 0;
    flex: 1 1 auto;
    height: 100%;
    @include hover{
        cursor: pointer;
    }
    &:first-child{
        span{
            border-top-left-radius: $radius;
        }
    }
    &:last-child{
        span{
            border-top-right-radius: $radius;
        }
    }
    &:not(:last-child){
        input:not(:checked) ~ span{
            box-shadow: inset -1px 0 rgba(#ddd0b9, .7);
        }
    }
    input{
        display: none;
        &:checked ~ span{
            background-color: $color-secondary;
            color: $color-white;
            font-weight: 700;
        }
    }
    span{
        height: 100%;
        @extend %flex-center;
        background-color: $color-secondary_light;
        transition: $transition;
        &:hover{
            background-color: darken($color-secondary_light, 5%);
        }
    }
}