
.table_two-col-otitle{
    margin: 20px auto -10px 0;
    padding-left: 20px;
    font-weight: 700;
    .table-responsive > &{
        @include r(767){
            position: sticky;
            left: 0;
        }
    }

}

.table_two-col{
    margin: 20px;
    font-size: $fz-p2;
    max-width: calc(100% - 40px);
    .table-responsive > &{
        @include r(767){
            // min-width: 400px;
            margin: 15px 10px 10px;
            width: 100%;
            max-width: calc(100% - 20px);
        }
    }
    tr {
        th,td{
            padding: 5px 0
        }
        & > *:first-child{
            color: $color-gray;
            font-weight: 400;
            @include r(767){
                // padding-right: 15px
                padding-right: 10px;
                width: 50%;
            }

        }
    }

}


.v-table{
    background-color: $color-white;
    font-size: var(--mainFz);
    @include rIn(768,1199){
        --mainFz: 14px;
    }
    &__logo{
        max-width: 200px;
        @include r(767){
            min-width: 130px;
            max-height: 55px;
        }
    }
    thead{
        tr{
            background-color: inherit;
        }
        th{
            padding: 15px 20px;
            @include r(767){
                padding: 15px;
            }
            @include rmin(768){
                width: 33.333%;
            }

            :not(:first-child){
                border-left: 1px solid rgba($color-gray_light, .5);
            }
        }
    }
    &.v-table-4{
        thead{
            th{
                @include rmin(768){
                    width: 21.6666%;
                    &:first-child{
                        width: 35%;
                    }
                }
                img{
                    max-width: 115px;
                    max-height: 40px;
                }
            }
        }

        th:first-child,
        td:first-child{
            position: sticky;
            left: 0;
            z-index: 1;
        }
        tbody{
            tr:nth-child(odd){
                th:first-child,
                td:first-child{
                    background-color: #f9f9f9;
                }
            }
            tr:nth-child(even){
                th:first-child,
                td:first-child{
                    background-color: #ffffff;
                }
            }
        }

    }
    tbody{
        tr{
            &:nth-child(odd){
                background-color: $color-bg;
            }
        }
        th:first-child{
            color: $color-gray;
            font-weight: 400;
        }
        th,
        td{
            padding: 10px 20px;
            @include r(767){
                padding: 10px 15px;
            }
        }
        td:not(:first-child){
            border-left: 1px solid rgba($color-gray_light, .5);
        }
    }
    .btn{
        margin: 15px 0 15px 0;
        display: inline-flex;
    }

}



.table-simple{
    tr{
        td:first-child,
        th:first-child{
            padding-left: 0;
        }
        td:last-child,
        th:last-child{
            padding-right: 0;
        }
    }

    &_custom-header{
        th{
            color: $color-gray;
            border-bottom: 1px dashed $color-gray_light;
            font-weight: 400;
        }
    }
    &_custom-footer{
        tfoot td{
            font-weight: 700;
            border-top: 1px dashed $color-gray_light;
        }
    }
    &.table-simple_f-line-padding{
        th:first-child,
        td:first-child{
            padding-left: 15px;
        }
    }
    &_stripped-2{
        tr:nth-child(odd) th,
        tr:nth-child(odd) td{
            background-color: $color-white;
        }
    }
    &_mobile-sticky{
        &--left{
            tr th,
            tr td{
                background-color: #FBFBFB;
            }
            th:first-child,
            td:first-child{
                position: sticky;
                left: 0;
                z-index: 1;
            }
        }
    }
    &_stripped{
        tbody tr:nth-child(odd):not(:first-child){
            & > *:not(th){
                position: relative;
                background-color: rgba($color-gray_light, .1);
                &:first-child{
                    &::before{
                        content: '';
                        position: absolute;
                        width: 1.5rem;
                        height: 100%;
                        right: 100%;
                        top: 0;
                        background-color: rgba($color-gray_light, .1);
                    }
                }
                &:last-child{
                    &::before{
                        content: '';
                        position: absolute;
                        width: 1.5rem;
                        height: 100%;
                        left: 100%;
                        top: 0;
                        background-color: rgba($color-gray_light, .1);
                    }
                }
            }
        }
        &.sticky-left{
            tr {
                & > *:first-child:not(th){
                    padding-left: 15px;
                    left: 0;
                    position: sticky;
                    background-color: #fcfcfc;
                    z-index: 1;
                }
                th:first-child,
                &:nth-child(even) > *:first-child{
                    padding-left: 15px;
                    left: 0;
                    position: sticky;
                    background-color: #fff;
                    z-index: 1;
                }
            }

            tbody tr:nth-child(odd):not(:first-child){
                & > *:not(th):first-child{
                    padding-left: 15px;
                    position: sticky;
                    background-color: #fcfcfc;
                }
            }
            tbody tr:nth-child(odd):first-child{
                & > *:not(th):first-child{
                    background-color: #fff;
                }
            }
        }
    }
    &_light{
        font-weight: 400;
    }
    th,
    td{
        padding: 10px 20px;
        @include r(767){
            padding: 10px 15px;
        }
    }
    .company-logo{
        max-width: 115px;
        text-align: center;
        img{
            max-height: 50px;
        }
    }
    .blue-link{
        font-weight: 400;
    }
    .color-primary,
    .color-secondary{
        font-weight: 700;
    }
    &.table_meal-prep{
        --mainFz: 14px;
        font-size: $fz-m1;
        line-height: 1.5;
        .stars__list{
            white-space: nowrap;
        }
        .stars__item{
            margin-right: 2px;
            img{
                width: 10px;
                height: 10px;
            }
        }
        .icon-leaf,
        .icon-snowflake{
            width: 1.3em;
            height: 1.3em;
        }

        td:first-child,
        td:last-child{
            white-space: nowrap;
        }
        td,th{
            padding: 10px 15px;
            vertical-align: middle;
            &:nth-child(5){
                width: 100px;
                min-width: 100px;
            }
            &.medal-wrapper{
                padding-left: 5px;
                padding-right: 5px;
                vertical-align: bottom;
            }

        }
        th:nth-child(6),
        th:nth-child(7),
        th:nth-child(8){
            padding-right: 5px;
        }
    }
    &.table_kosher{
        --mainFz: 14px;
        margin-bottom: 5px;
        font-size: $fz-m1;
        line-height: 1.5;
        min-width: 920px;
        th{
            vertical-align: middle;
        }
        td,th{
            padding: 10px 15px;
            &:nth-child(5){
                width: 110px;
            }
            &:nth-child(3){
                width: 120px;
                padding-left: 10px;
                padding-right: 0;
            }
        }
        td:first-child{
            span{
                white-space: nowrap;
            }
        }
        th:nth-child(6),
        th:nth-child(7),
        th:nth-child(8){
            padding-right: 5px;
        }
        .icon-circle-full,
        .icon-circle-part{
            width: 1.7em;
            height: 1.7em;
            fill: $color-secondary;
        }
        .icon-subscription{
            width: 1.8em;
            height: 2.1em;
            fill: $color-secondary;
        }
        .icon-ready-to-eat{
            width: 1.7em;
            height: 1.7em;
            fill: $color-secondary;
        }
        .icon-meal-kits{
            width: 2.8em;
            height: 2.8em;
            fill: $color-secondary;
        }
        .icon-restraurant{
            width: 1.8em;
            height: 2em;
            fill: $color-secondary;
        }
        .icon-delivery-truck2{
            width: 2.3em;
            height: 1.4em;
            fill: $color-secondary;
        }
        td{
            &:nth-child(3){
                .js-tooltipster{
                    &:not(:last-child){
                        margin-right: 0.4em;
                    }
                }
            }
        }
    }
    &.table_meat-diets{
        @include r(767){
            min-width: 600px;
        }
        thead{
            tr{
                th{
                    font-weight: 400;
                    color: $color-gray;
                }
            }
        }
        td,th{
            padding-top: 18px;
            padding-bottom: 18px;
            @include r(767){
                &:first-child{
                    width: 120px;
                    font-size: $fz-m1;
                    border-right: 1px dashed rgba($color-gray_light, .3);
                }
            }
        }
    }
}


