.top-rating {
    margin: 30px auto 40px;
    --mainFz: 14px;
    font-size: var(--mainFz);
    .company-logo {
        min-height: 45px;
        @include r(767){
            margin-top: 20px;
            width: 200px;
        }
        img {
            height: auto;
        }

        // @include r(767) {
        //     max-width: 6.875em;
        // }
    }

    &__item {
        margin-bottom: 3.25em;
        display: flex;
        flex-flow: row wrap;
        background: $color-white;
        border-radius: $radius;

        @include rmin(1200) {
            min-height: 12.5em;
        }

        @include r(767) {
            margin-left: -15px;
            margin-bottom: 30px;
            width: calc(100% + 30px);
        }
    }

    &__column {
        padding: 1em 1.25em;
        flex: 1 1 20%;
        max-width: 20%;
        position: relative;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        justify-content: flex-start;
        &:nth-child(2){
            @include r(767){
                border-right: 1px dashed $color-gray_light;
            }
        }
        &:nth-child(2),
        &:nth-child(3){
            @include rmin(1024){
                flex: 1 1 15%;
                max-width: 15%;
            }
            @include r(767){
                flex: 1 1 50%;
                max-width: 50%;
            }
        }
        &:nth-child(4){
            @include rmin(1024){
                flex: 1 1 30%;
                max-width: 30%;
            }
        }
        @include rmin(768) {
            &:not(:last-child) {
                border-right: 1px dashed $color-gray_light;
            }
        }
        @include rmin(1200) {
            &:last-child {
                padding: 1.25em 1.25em .25em;

                .button{
                    display: block;
                    width: auto;
                    min-width: 12.5em;
                }
            }
        }

        @include rIn(1200, 1230) {
            &:last-child {
                min-width: 15em;
            }

            &:nth-last-child(2) {
                max-width: calc(20% - 18px);
            }
        }

        @include rIn(1024, 1199) {
            &:not(:last-child) {
                flex: 1 1 25%;
                max-width: 25%;
                min-height: 12.5em;
            }
            &:nth-child(4) {
                border-right: none;
            }
            &:last-child {
                flex-flow: row wrap;
                flex: 1 1 100%;
                max-width: 100%;
            }

        }
        @include rIn(768, 1023) {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3){
                flex: 1 1 33.3333%;
                max-width: 33.3333%;
                min-height: 12.5em;
            }
            &:nth-child(3){
                border-right: none;
            }
            &:nth-child(4){
                flex: 1 1 50%;
                max-width: 50%;
                border-top: 1px dashed $color-gray_light;
            }
            &:nth-child(5){
                flex: 1 1 50%;
                max-width: 50%;
                justify-content: space-around;
                border-top: 1px dashed $color-gray_light;
            }
        }
        @include rIn(1024, 1199) {
            &:last-child {
                border-top: 1px dashed $color-gray_light;
                justify-content: space-between;
            }
        }



        @include r(767) {
            flex: 1 1 100%;
            max-width: 100%;
            padding: 1.14em;

            &:first-child {
                text-align: center;
                justify-content: center;
                align-items: center;
            }

            // &:nth-child(2) {
            //     flex: 1 1 calc(100% - 12.15em);
            //     max-width: calc(100% - 12.15em);
            //     padding-left: 0;
            // }

            &:not(:first-child) {
                border-top: 1px solid $color-gray_light;
            }
        }
    }
    &__stars{
        margin-bottom: .7em;
        font-size: 125%;
        .num{
            font-weight: 700;
            font-size: 125%;
        }
    }
    &__title{
        margin-bottom: .2em;
        font-weight: bold;
        font-size: 1.2em;
        line-height: 25/16*1em;
        @include font-title;
    }
    &__buttons-item-1 {
        @include rIn(768, 1199) {
            order: 3;
        }

        @include r(767) {
            order: 3;
        }
    }

    &__buttons-item-2 {
        @include rIn(768, 1199) {
            order: 1;
            margin-right: auto;
        }

        @include r(767) {
            order: 1;

            &.button.hollow {
                border: none;
            }
        }
    }

    &__buttons-item-3 {
        @include rIn(768, 1199) {
            order: 2;
            margin-right: .9375em;
        }

        @include r(767) {
            order: 2;

        }
    }

    &__label {
        width: 2.865em;
        height: 2.865em;
        position: absolute;
        top: -20px;
        left: -20px;
        background-color: $color-secondary;
        color: $color-white;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        @include font-700;
        border-radius: 50%;
        @include r(767){
            left: 0;
            top: 0;
            border-radius: 5px;
            font-size: .8em;
        }
        .top-rating__item:first-child &{
            background-color: darken($color-secondary, 5%);
        }

    }

    &__list {
        margin-bottom: 0;
        display: inline-block;
        width: auto;
        @include font;
        line-height: 1.4;
        li{
            margin-bottom: .5em;
            min-height: 1.7em;
        }
        &_pros,
        &_cons{
            li{
                padding-left: 30px;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0.2em;
                    width: 1.2em;
                    height: 1.2em;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        &_pros{
            li::before{
                background-image: url('../img/icons/thumbs-up.svg');
            }
        }
        &_cons{
            li::before{
                background-image: url('../img/icons/thumbs-down.svg');
            }
            color: $color-gray;
        }
    }

    .btn{
        margin-bottom: .9em;
        min-width: 1px;
        width: 100%;

        @include rIn(1024, 1199) {
            width: auto;
        }
    }

    &__coupon{
        width: 100%;
        display: block;
        border-radius: 0px 5px 15px 0px;
        @include r(767){
            padding: 5px;
            margin-bottom: 20px;
        }
        @include rIn(1023, 1199) {
            width: auto;
        }
        .review-coupon__save{
            @include rIn(768, 1199) {
                display: flex;
                align-items: center;
            }
        }
        .review-coupon__top{
            padding: 0 0 5px;
            font-size: 120%;
            border-bottom: 1px dashed $color-secondary;
            @include rIn(768, 1199) {
                padding: 0;
                border: none;
            }
            .color-primary{
                font-size: 110%;
                font-weight: 800;
            }
        }
        .review-coupon__code{
            padding: 5px 0 0;
            font-size: 85%;
            @include rIn(768, 1199) {
                padding: 0 0 0 20px;
            }
            .code{
                font-size: 110%;
            }
        }
    }


}
