.top-3{
    @extend .row;
    @include r(1023){
        justify-content: center;
    }
    .ptp-col{
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-12;
        margin-bottom: 30px;
        display: flex;
        flex-flow: column nowrap;
    }

    .ptp-item-container{
        padding-bottom: 1px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-white;
        }
    }
    .ptp-plan{
        border-bottom: 1px dashed #DEDEDE;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        height: 100px;
        min-height: 100px;
        &-bg{
            position: relative;
            &::after{
                content: '';
                position: absolute;
                margin: 0 auto;
                max-width: 180px;
                height: 60px;
                display: block;
                width: 80%;
                background-color: $color-white;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            // &-chef::after{
            //     background-image: url('/assets/img/logos/logo_chefs-plate.png');
            // }
            // &-hf::after{
            //     background-image: url('/assets/img/logos/logo_hello-fresh.png');
            // }
            // &-gf::after{
            //     background-image: url('/assets/img/logos/logo_good-food.png');
            // }
        }

    }
    .ptp-price{
        padding: 15px;
        border-bottom: 1px dashed #DEDEDE;
        text-align: center;
        font-weight: bold;
        font-size: 21px;
        line-height: 26/21*1em;
        color: $color-primary;
    }
    .ptp-bullet-item{
        margin: 10px auto;
        padding-left: 1.4em;
        padding-right: 0.5em;
        max-width: 230px;
        width: 90%;
        display: block;
        font-size: $main-font-size;
        position: relative;
        line-height: 1.3;
        &:not(.tt-ptp-empty-row){
            &::before{
                content: '';
                position: absolute;
                top: calc(50% - .45em);
                left: 0;
                width: 0.9em;
                height: 0.9em;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('/assets/img/icons/check.svg');
            }
        }

        &.ptp-row-id-0{
            margin-top: 15px;
        }
        &:nth-last-child(2){
            margin-bottom: 30px;
        }
        &_bad:not(.tt-ptp-empty-row)::before{
            background-image: url(/assets/img/icons/close.svg);
        }
    }
    .ptp-cta{
        margin-top: auto;
        padding-bottom: 30px;
        text-align: center;
        &_with-promo{
            .ptp-button{
                margin-top: 80px;
                position: relative;
                overflow: visible;
                &::before{
                    position: absolute;
                    width: 100%;
                    height: 70px;
                    border: 1px solid transparent;
                    bottom: calc(100% + 10px);
                    border-radius: 15px 5px 0 0;
                    font-size: $fz-p2;
                    font-weight: 700;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    white-space: pre;
                    background-color: $color-secondary_light2;
                    border-color: rgba($color-secondary, 0.4);
                    color: #63450f;
                    @include rIn(768,1199){
                        --mainFz: 14px;
                    }
                }
            }
            // &_chefs,
            // &_ct,
            // &_hf{
            //     .ptp-button::before{
            //         background-color: $color-secondary_light2;
            //         border-color: rgba($color-secondary, 0.4);
            //         color: #63450f;
            //     }
            // }
            // &_gf{
            //     .ptp-button::before{
            //         background-color: #E5E5E5;
            //         border-color: #E5E5E5;
            //         color: $color-gray;
            //     }
            // }
        }
    }
    .ptp-button{
        @extend .btn;
        @extend .btn_primary;
        @extend .btn_lg;
    }
    .btn{
        margin: 0 auto auto;
        margin-bottom: 0;
        display: flex;
        width: 100%;
        max-width: 230px;
    }
}

// .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_chefs .ptp-button::before{
//     content: '50% OFF Today!';
// }
// .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_hf .ptp-button::before{
//     content: 'Get $65 Off across \0a your first 3 Orders';
// }
// .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_gf .ptp-button::before{
//     content: 'No exclusive promo  \0a available';
// }

