mixin blockIconText(icon)
    -
        var icon = icon || 'bread'

    li.box&attributes(attributes)
        .iconed-text
            +icon(icon, 'icon_fill-secondary icon_md')
            .text
                p
                    block