mixin emoji(values,name)
    // begin emoji
    - var n = 0;
    div.emoji
        span!= values
        div.emoji__items
            while n < values
                .emoji-icon
                    +icon(name)
                    - n++
    // end emoji