mixin footer(data)
    //BEGIN footer
    footer.footer
        .footer-top
            .container.footer-top__container
                .footer-top__menu
                    .footer-top__title
                        | Meal Kit Companies We Cover
                    ul
                        li
                            a(href="#")
                                | Hello Fresh Canada Review
                        li
                            a(href="#")
                                | Chef’s Plate Review
                        li
                            a(href="#")
                                | Goodfood Canada Review
                        li
                            a(href="#")
                                | Fresh City Farms Review
                        li
                            a(href="#")
                                | Miss Fresh Meal Kits Review
                        li
                            a(href="#")
                                | Prepd Meal Kits Review
                        li
                            a(href="#")
                                | Plated Review
                        li
                            a(href="#")
                                | Home Chef Canada Review
                        li
                            a(href="#")
                                | Blue Apron Canada Review

                .footer-top__menu
                    .footer-top__title
                        | Region-specific Guides
                    ul
                        li
                            a(href="#")
                                | Winnipeg, Regina, and Saskatoon Meal Kits Reviews 2020
                        li
                            a(href="#")
                                | Halifax and the Maritimes Meal Kits Reviews 2020
                        li
                            a(href="#")
                                | Meal Kits Deliveries by Areas in Canada
                        li
                            a(href="#")
                                | Calgary and Edmonton Meal Kits Review 2020
                        li
                            a(href="#")
                                | Montreal and Quebec Meal Kits Review 2020
                        li
                            a(href="#")
                                | Vancouver Meal Kits Reviews 2020
                        li
                            a(href="#")
                                | Toronto Meal Kits Review 2020

                .footer-top__menu
                    .footer-top__title
                        | Additional Health Articles
                    ul
                        li
                            a(href="#")
                                | The Importance of Fresh Foods Vs. Canned and Frozen Food
                        li
                            a(href="#")
                                | Are Meal Kits Greener – Creating Less Waste and Emissions?
                        li
                            a(href="#")
                                | Will your health be determined by your genetics?




        .footer-bottom
            .container.footer-bottom__container
                a.logo-link(href="#")
                    img.logo(src=imgPath('logos/logo.png') srcset=imgPath('logos/log@2x.png') + ' 2x' alt="")
                .footer__disclaymer
                    span.color-primary Site Disclaimer:
                    | Do not use nutrition information and recommendations on this website if you suffer from a serious condition.
                    p
                        | Some of the links on this website are referral links. We get paid to refer clients to certain companies (but our rating is ours and you cannot pay to be listed higher).
                .footer__socials
                    b
                        | Follow Us!
                    .socials.socials_yellow
                        a.socials__item(href="#")
                            +icon('fb')
                        a.socials__item(href="#")
                            +icon('inst')
                        a.socials__item(href="#")
                            +icon('tw')
                        //- a.socials__item(href="#")
                        //-     +icon('youtube')
                        //- a.socials__item(href="#")
                        //-     +icon('pinterest')
        .footer-copy
            .container
                small
                    | © 2020 Meal Kits Canada
    //END footer



