mixin graph(data)
    -
        var demo = {
            company: 'Chefs Plate',
            colorCompany: '#FFB635',
            colorIndustry: '#DEDEDE',
            label: '',
            compare: [
                {
                    label: 'Positive, %',
                    data: [
                        {
                            size: 52,
                            data: 52
                        },
                        {
                            size: 57,
                            data: 57
                        },
                    ]
                },
                {
                    label: 'Negative, %',
                    data: [
                        {
                            size: 27,
                            data: 27
                        },
                        {
                            size: 27,
                            data: 27
                        },
                    ]
                },
                {
                    label: 'Mixed, %',
                    data: [
                        {
                            size: 21,
                            data: 21
                        },
                        {
                            size: 16,
                            data: 16
                        },
                    ]
                },
            ]
        }
        var data = data || demo

    .box.box_graph.graph.graph_simple-y(style=`--color-company: ${data.colorCompany}; --color-industry: ${data.colorIndustry};`, class={'graph_positive': data.label === 'Positive', 'graph_negative': data.label === 'Negative'}, class!=data.addClass)
        .graph__title.graph-title(class={'graph-title_center': data.label === ''})
            if(data.label !== '')
                .graph-title__item.graph-title__item_name
                    span.graph-title__text!=data.label
            .graph-title__item
                span.graph-title__label.graph-title__label_company
                span.graph-title__text!=data.company
            .graph-title__item
                span.graph-title__label.graph-title__label_industry
                span.graph-title__text Industry Average
        .graph__body.graph__body_around
            each item in data.compare
                .graph__items.graph-items.graph-items_duo
                    each bar, i in item.data
                        .graph-items__item.graph-item
                            .graph-item__bar.graph-bar(style=`--size:${bar.size}%;`, class= (i%2 == 0) ? 'graph-bar_company' : 'graph-bar_industry' )
                                span.graph-bar__data!=bar.data
                    .graph-items__label!=item.label
