mixin header(data)
    //BEGIN header
    header.header
        .container.header__container
            a.logo-link(href="#")
                img.logo(src=imgPath('logos/logo.png') srcset=imgPath('logos/logo@2x.png') + ' 2x' alt="")
                //- img.logo(src="/assets/img/logo.png" alt="Review Home Warranties" srcset="/review3/img/logo.png 308w, review3/img/logo-200x32.png 200w, review3/img/logo-300x49.png 300w" sizes="(max-width: 308px) 100vw, 308px")
            ul.main-menu
                li.menu-item
                    a.is-current(href="#")
                        | Best Meal Kits
                li.menu-item
                    a(href="#")
                        | Best Food Subscription Boxes
                li.menu-item
                    a(href="#")
                        |  Meal Kits Delivery by Area
                li.menu-item
                    a(href="#")
                        | Meal Kits Costs
                li.menu-item
                    a(href="#")
                        | About Us
            .menu-trigger
                span
    //END header
