- function imgP() {return pathPrefix + '/assets/img/'}

mixin img(name, ext, className, alt)
  img(class=`${className}` srcset=`${imgP()}${name}.${ext}, ${imgP()}${name}@2x.${ext} 1.5x, ${imgP()}${name}@2x.${ext} 2x`, src=`${imgP()}${name}.${ext}`, alt=`${alt}`)

mixin newImg(name, options)
  - options = options || {};
  - extension = options.ext || 'png';
  - alternative = options.alt || '';
  picture
    source(type="image/webp" srcset=`${imgP()}${name}.webp`)
    if options.retina
      source(type=`image/${extension}` srcset=`${imgP()}${name}@2x.${extension} 2x`)
      source(type="image/webp" srcset=`${imgP()}${name}@2x.webp 2x`)
    if options.lazy
      if options.w && options.h
        img(class!=(options.cls !== '') ? options.cls : '', src=`${imgP()}${name}.${extension}`, alt!=alternative, draggable="false", loading="lazy", width!=options.w, height!=options.h)
      else
        img(class!=(options.cls !== '') ? options.cls : '', src=`${imgP()}${name}.${extension}`, alt!=alternative, draggable="false", loading="lazy")

    else
      if options.w && options.h
        img(class!=(options.cls !== '') ? options.cls : '', src=`${imgP()}${name}.${extension}`, alt!=alternative, draggable="false", width!=options.w, height!=options.h)
      else
        img(class!=(options.cls !== '') ? options.cls : '', src=`${imgP()}${name}.${extension}`, alt!=alternative, draggable="false")