mixin top3(data)
    -
        var data = data || ''
    .top-3.ptp-pricing-table#ptp-39
        //item1
        .ptp-col.ptp-three-col.ptp-col-id-0.dh-ptp-col-id-0
            .ptp-not-most-popular  
            .ptp-item-container
                .ptp-plan.ptp-plan-bg.ptp-plan-bg-chef Chefs Plate
                .ptp-price $4.50-$5.00
                .ptp-bullet-item.ptp-row-id-0
                    | Cheapest price per serving
                .ptp-bullet-item.ptp-row-id-1
                    | Great promotional offers
                .ptp-bullet-item.ptp-row-id-2
                    | Well packaged
                .ptp-bullet-item.ptp-row-id-3 16 recipes every week
                .ptp-bullet-item.ptp-row-id-4.tt-ptp-empty-row  
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_chefs
                    a#ptp-39-cta-0.ptp-button.ptp-checkout-button(href='/go/chefsplate') Visit Official Website

        .ptp-col.ptp-three-col.ptp-col-id-1.dh-ptp-col-id-1
            .ptp-not-most-popular  
            .ptp-item-container
                .ptp-plan.ptp-plan-bg.ptp-plan-bg-hf Hello Fresh
                .ptp-price $9.69-$11.49
                .ptp-bullet-item.ptp-row-id-0
                    | Largest and most recognized
                .ptp-bullet-item.ptp-row-id-1
                    | Nationwide delivery
                .ptp-bullet-item.ptp-row-id-2
                    | Tastiest meals
                .ptp-bullet-item.ptp-row-id-3
                    | Most environmentally friendly
                .ptp-bullet-item.ptp-row-id-4 Get $65 Off across your first 3 Orders
                .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_hf
                    a#ptp-39-cta-1.ptp-button.ptp-checkout-button(href='/go/hellofresh') Visit Official Website

        if data === 'cookit'
            .ptp-col.ptp-three-col.ptp-col-id-2.dh-ptp-col-id-2
                .ptp-not-most-popular  
                .ptp-item-container
                    .ptp-plan.ptp-plan-bg.ptp-plan-bg-ct Cook It
                    .ptp-price $8.70-$13.58
                    .ptp-bullet-item.ptp-row-id-0
                        | Wide reach
                    .ptp-bullet-item.ptp-row-id-1
                        | Up to 5 weekly meals
                    .ptp-bullet-item.ptp-row-id-2
                        | Easiest to sign up with
                    .ptp-bullet-item.ptp-row-id-3 Great support
                    .ptp-bullet-item.ptp-row-id-4.tt-ptp-empty-row  
                    .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_ct
                        a#ptp-39-cta-2.ptp-button.ptp-checkout-button(href='/go/cookit') Visit Official Website
        else
            .ptp-col.ptp-three-col.ptp-col-id-2.dh-ptp-col-id-2
                .ptp-not-most-popular  
                .ptp-item-container
                    .ptp-plan.ptp-plan-bg.ptp-plan-bg-gf Goodfood
                    .ptp-price $8.70-$13.58
                    .ptp-bullet-item.ptp-row-id-0
                        | Own independent delivery system
                    .ptp-bullet-item.ptp-row-id-1
                        | Solid cooler bag construction
                    .ptp-bullet-item.ptp-row-id-2
                        | Produce sourced from Vancouver area
                    .ptp-bullet-item.ptp-row-id-3.ptp-bullet-item_bad Only works in British Columbia
                    .ptp-bullet-item.ptp-row-id-4.tt-ptp-empty-row  
                    .ptp-cta.ptp-cta_with-promo.ptp-cta_with-promo_gf
                        a#ptp-39-cta-2.ptp-button.ptp-checkout-button(href='/go/freshprep') Visit Official Website

