mixin top-rating(data)
    .top-rating
        if data > 1
            // begin item
            .top-rating__item
                // begin column
                .top-rating__column
                    .top-rating__label #1
                    a(href="/go/hellofresh" target='_blank' rel="noopener")
                        figure.company-logo.top-rating__logo
                            +img('logos/logo_hello-fresh','png','','alt')
                    .top-rating__stars
                        span
                            | Overall rating&nbsp;
                        span.num.color-secondary
                            | 98.2%
                        +stars('4.5')
                    a.blue-link(href="https://mealkitscanada.ca/hello-fresh-canada-review/")
                        | Hello Fresh Review

                // begin column
                .top-rating__column
                    .top-rating__title
                        | Plans for
                    ul.top-rating__list.top-rating__list_1
                        li
                            .elem-icon.elem-icon_good
                                | Singles
                                //- i.info(data-tooltip-content="#tooltip_content")
                        li
                            .elem-icon.elem-icon_good
                                | Vegetarians
                        li
                            .elem-icon.elem-icon_good
                                | Novice cooks
                        li
                            .elem-icon.elem-icon_good
                                | Picky eaters
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Price range/ week
                    .strike.color-gray
                        | $78  - $165
                    div
                        | $39 – $125
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Pros and cons
                    ul.top-rating__list.top-rating__list_2.top-rating__list_pros
                        li Large variety of meals
                        li Wide delivery service area
                        li Easily skip weeks as needed
                    ul.top-rating__list.top-rating__list_cons
                        li Individual packaging – environmental concern
                // begin column
                .top-rating__column
                    a.btn.btn_primary.btn_lg.top-rating__btn.top-rating__buttons-item-1(href="/go/hellofresh" target='_blank' rel="noopener")
                        | Visit website
                    .ab.top-rating__coupon
                        .review-coupon__save
                            .review-coupon__top
                                strong
                                    span.text-title Promotion&nbsp;
                                    span.color-primary
                                        | 80%
                                    span.color-primary
                                        | off
                            .review-coupon__code
                                span.color-gray
                                    | Promo code:&nbsp;
                                span.code MKC80
            // end item

        if data >= 2
            // begin item
            .top-rating__item
                // begin column
                .top-rating__column
                    .top-rating__label #2
                    a(href="/go/chefsplate" target='_blank' rel="noopener")
                        figure.company-logo.top-rating__logo
                            +img('logos/logo_chefs-plate','png','','alt')
                    .top-rating__stars
                        span
                            | Overall rating&nbsp;
                        span.num.color-secondary
                            | 96.2%
                        +stars('4.5')
                    a.blue-link(href="https://mealkitscanada.ca/chefs-plate-review/")
                        | Chefs Plate Review

                // begin column
                .top-rating__column
                    .top-rating__title
                        | Plans for
                    ul.top-rating__list.top-rating__list_1
                        li
                            .elem-icon.elem-icon_good
                                | Singles
                                //- i.info(data-tooltip-content="#tooltip_content").
                        li
                            .elem-icon.elem-icon_good
                                | Vegetarians
                        li
                            .elem-icon.elem-icon_good
                                | Novice cooks
                        li
                            .elem-icon.elem-icon_bad
                                | Picky eaters
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Price range/ week
                    .strike.color-gray
                        | $46 – $144
                    div
                        | $11 – $109
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Pros and cons
                    ul.top-rating__list.top-rating__list_2.top-rating__list_pros
                        li Lowest priced meal kit
                        li Wide variety of meals
                        li Super easy meal organization
                    ul.top-rating__list.top-rating__list_cons
                        li Portion size and veggie / meat balance
                // begin column
                .top-rating__column
                    a.btn.btn_primary.btn_lg.top-rating__btn.top-rating__buttons-item-1(href='/go/chefsplate' target='_blank' rel="noopener")
                        | Visit website
                    .ab.top-rating__coupon
                        .review-coupon__save
                            .review-coupon__top
                                strong
                                    span.text-title Promotion&nbsp;
                                    span.color-primary
                                        | 50%
                                    span.color-primary
                                        | off
                            .review-coupon__code
                                span.color-gray
                                    | Promo code:&nbsp;
                                span.code MKC2X50
            // end item

        if data >= 3
            // begin item
            .top-rating__item
                // begin column
                .top-rating__column
                    .top-rating__label #3
                    a(href='#' disabled="disabled")
                        figure.company-logo.top-rating__logo
                            +img('logos/logo_good-food','png','','alt')
                    .top-rating__stars
                        span
                            | Overall rating&nbsp;
                        span.num.color-secondary
                            | 90.1%
                        +stars('4.5')
                    a.blue-link(href="#")
                        | Good Food Review

                // begin column
                .top-rating__column
                    .top-rating__title
                        | Plans for
                    ul.top-rating__list.top-rating__list_1
                        li
                            .elem-icon.elem-icon_bad
                                | Singles
                                //- i.info(data-tooltip-content="#tooltip_content")
                        li
                            .elem-icon.elem-icon_good
                                | Vegetarians
                        li
                            .elem-icon.elem-icon_good
                                | Novice cooks
                        li
                            .elem-icon.elem-icon_good
                                | Picky eaters
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Price range/ week
                    .color-gray
                        | $56 – $196
                // begin column
                .top-rating__column
                    .top-rating__title
                        | Pros and cons
                    ul.top-rating__list.top-rating__list_2.top-rating__list_pros
                        li Low prices
                        li Largest company in Canada
                        li Wide range of calorie- and
                    ul.top-rating__list.top-rating__list_cons
                        li Limited vegetable portions
                // begin column
                .top-rating__column
                    a.btn.btn_lg.top-rating__btn.top-rating__buttons-item-1(disabled)
                        | Not available via MKC
                    .ab.top-rating__coupon
                        .review-coupon__save
                            .review-coupon__top
                                strong
                                    span.text-title Promotion&nbsp;
                                    span.color-primary
                                        | - &nbsp;
                                    span.color-primary
                                        |  n/a
                            .review-coupon__code
                                span.color-gray
                                    | Promo code:&nbsp;
                                span.code n/a
            // end item