.icon-2users {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-3users {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-4users {
  width: 2.64em;
  height: 1em;
  fill: initial;
}
.icon-beef {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-bell {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-bell_disable {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-care {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-carrot {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-chat-option {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-cheese {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-chicken-2 {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-chicken-3 {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-chicken {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-circle-full {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-circle-part {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-coronavirus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delivery-truck {
  width: 1.41em;
  height: 1em;
  fill: initial;
}
.icon-delivery-truck2 {
  width: 1.55em;
  height: 1em;
  fill: initial;
}
.icon-delivery-truck2_inverted {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-diet_kosher {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diet_meat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diet_organic {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diet_vegan {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diet_vegetarian {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-diet_weight-loss {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-dish-service {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-dish {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-dough {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-fish {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-grocery-prices {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-infinite {
  width: 2.1em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-leaf {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-libra {
  width: 1.16em;
  height: 1em;
  fill: initial;
}
.icon-light {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-link {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.38em;
  height: 1em;
  fill: initial;
}
.icon-man {
  width: 0.73em;
  height: 1em;
  fill: initial;
}
.icon-meal-kits {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-meat {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-money {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-mushroom {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-omar {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-pan {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-path {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-picture {
  width: 1.42em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-pork {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-profits {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-question {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-ready-to-eat {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-recipe {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-restraurant {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-seafood {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-sheep {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-smoke {
  width: 1.09em;
  height: 1em;
  fill: initial;
}
.icon-snowflake {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-soup {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-subscription {
  width: 0.76em;
  height: 1em;
  fill: initial;
}
.icon-thumbs-down {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-thumbs-up {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tray {
  width: 1.47em;
  height: 1em;
  fill: initial;
}
.icon-turkey {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-vegetables {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs {
  width: 1.66em;
  height: 1em;
  fill: initial;
}
.icon-vs_cp1 {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-vs_cp2 {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-vs_cp3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_cp4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_fp1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_fp2 {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-vs_gf1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_gf2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_gf3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf2 {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf3 {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf5 {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.icon-vs_hf6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-wallet {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-waste {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-windmill {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-youtube {
  width: 1.5em;
  height: 1em;
  fill: initial;
}
